
@{
    ViewBag.Title = "SMT生产信息";
}
<style>
    .gotoDetail {
        color: #1449b7;
        cursor: pointer;
    }
    /*.table > tbody > tr:nth-child(n+3):hover {
        background-color: rgba(77, 72, 72, 0.15);
    }*/
    .modal-header, .modal-body {
        padding: 10px;
    }

    .showBtn {
        position: relative;
        color: #14830d;
        cursor: pointer;
    }

    .showDiv {
        position: absolute;
        width: 88px;
        height: 100%;
        top: 0px;
        left: -22px;
        visibility: hidden;
        opacity: 0;
        transition: opacity 1s;
    }

    .btnSty {
        position: absolute;
        width: 44px;
        height: 100%;
        padding: 0;
    }

    .showBtn:hover .showDiv {
        visibility: visible;
        opacity: 1;
    }

    .body-content, .container {
        padding: 0;
    }

    .table > thead > tr > th, .table-bordered > tbody > tr > td {
        text-align: center;
        vertical-align: middle;
        font-size: 12px;
        padding: 3px;
        border-color: rgba(35, 35, 35, 0.9);
    }

    .table-bordered > thead > tr > th {
        border-bottom-width: 1px;
    }

    .table > thead:first-child > tr:first-child > th {
        border-top: 1px solid rgba(35, 35, 35, 0.9);
    }


    #fixedTableDiv > table {
        margin: 0;
    }

    #fixedTableDiv {
        box-shadow: 0px 3px 5px #888888;
        display: none;
        z-index: 999;
    }

    #fixed_table #fixedHead {
        background: #FFFFFF;
    }

    #fixed_table {
        position: absolute;
        top: 0px;
        left: 0px;
    }
</style>
<h2 class="text-center">SMT生产信息</h2>
<div id="app" style="position:relative;">
    <div style="position:absolute;top:-23px;right:23px;">{{nowtime}}</div>
    <div id="scrollDiv" class="form-group" style="overflow:auto;">
        <div id="fixedTableDiv" style="width:1153px;">
            <div id="fixed_table_wrap">
                <table id="fixed_table" class="table table-bordered">
                    <thead id="fixedHead">
                        <tr>
                            <th rowspan="2">序号</th>
                            <th colspan="8">PC</th>
                            <th rowspan="2" style="width:44px">小样<br />进度</th>
                            <th rowspan="2">线别</th>
                            <th colspan="4">今天产量</th>
                            <th colspan="2">订单在对应线别</th>
                            <th colspan="2">订单在对应工作内容</th>
                            <th colspan="5">统计</th>
                        </tr>
                        <tr>
                            <th>订单号</th>
                            <th>平台</th>
                            <th>制程要求</th>
                            <th>标准要求</th>
                            <th>模块数</th>
                            <th>工作内容</th>
                            <th>今天计划数</th>
                            <th>产能</th>
                            <th>良品(PCS)</th>
                            <th>不良品(PCS)</th>
                            <th>完成率</th>
                            <th>合格率</th>
                            <th>良品总数</th>
                            <th>不良品总数</th>
                            <th>良品总数</th>
                            <th>不良品总数</th>
                            <th>总完成率</th>
                            <th>总合格率</th>
                            <th>开始时间</th>
                            <th>结束时间</th>
                            <th>生产用时</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div style="width:1153px;height:660px;">
            <table id="top_fix_table" class="table table-bordered">
                <thead id="contentHead">
                    <tr>
                        <th rowspan="2">序号</th>
                        <th colspan="8">PC</th>
                        <th rowspan="2" style="width:44px">小样<br />进度</th>
                        <th rowspan="2">线别</th>
                        <th colspan="4">今天产量</th>
                        <th colspan="2">订单在对应线别</th>
                        <th colspan="2">订单在对应工作内容</th>
                        <th colspan="5">统计</th>
                    </tr>
                    <tr>
                        <th>订单号</th>
                        <th>平台</th>
                        <th>制程要求</th>
                        <th>标准要求</th>
                        <th>模块数</th>
                        <th>工作内容</th>
                        <th>今天计划数</th>
                        <th>产能</th>
                        <th>良品(PCS)</th>
                        <th>不良品(PCS)</th>
                        <th>完成率</th>
                        <th>合格率</th>
                        <th>良品总数</th>
                        <th>不良品总数</th>
                        <th>良品总数</th>
                        <th>不良品总数</th>
                        <th>总完成率</th>
                        <th>总合格率</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>生产用时</th>
                    </tr>
                </thead>
                <tbody>
                    <template v-for="(val,index) in smtLineData_new">
                        <template v-for="(v,i) in val">
                            <tr v-if="i==0">
                                <td v-bind:rowspan="val.length">{{index+1}}</td>
                                <td v-bind:rowspan="val.length" v-on:click="orderDetail(v[0].OrderNum,v[0].Id)" class="gotoDetail">{{v[0].OrderNum}}</td>
                                <td v-bind:rowspan="val.length">{{v[0].PlatformType}}</td>
                                <td v-bind:rowspan="val.length">{{v[0].ProcessingRequire}}</td>
                                <td v-bind:rowspan="val.length">{{v[0].StandardRequire}}</td>
                                <td>{{v[0].Models}}</td>
                                <td>{{v[0].JobContent}}</td>
                                <td>{{v[0].PlanQuantity}}</td>
                                <td>{{v[0].Capacity}}</td>
                                <td v-bind:rowspan="val.length"
                                    v-bind:class="(v[0].HandSampleScedule=='未开始')?'':'showBtn'"
                                    v-on:click="(v[0].HandSampleScedule=='未开始')?'':clickBtn($event)">
                                    {{v[0].HandSampleScedule}}
                                    <div v-if="(v[0].HandSampleScedule!='未开始')" class="showDiv">
                                        <button v-on:click.stop="imgModal(v[0].OrderNum)" class="btn btn-info btnSty" style="right: 44px;">IMG</button>
                                        <button v-on:click.stop="pdfModal(v[0].OrderNum)" class="btn btn-warning btnSty" style="left: 44px;">PDF</button>
                                    </div>
                                </td>
                                <td>{{v[0].LineNum}}</td>
                                <td>{{v[0].NormalCount}}</td>
                                <td>{{v[0].AbnormalCount}}</td>
                                <td>{{v[0].TodayFinishRate==""?0:v[0].TodayFinishRate}}%</td>
                                <td>{{v[0].TodayPassRate==""?0:v[0].TodayPassRate}}%</td>
                                <td>{{v[0].LineAllNomalCount}}</td>
                                <td>{{v[0].LineAllAbnomalCount}}</td>
                                <td>{{v[0].AllNormalCount}}</td>
                                <td>{{v[0].AllAbnormalCount}}</td>
                                <td>{{v[0].OrderFinishRate==""?0:v[0].OrderFinishRate}}%</td>
                                <td>{{v[0].OrderPassRate==""?0:v[0].OrderPassRate}}%</td>
                                <td>{{v[0].BeginTime}}</td>
                                <td>{{v[0].EndTime}}</td>
                                <td>{{v[0].TotalTime}}</td>
                            </tr>
                            <tr v-else>
                                <td>{{v[0].Models}}</td>
                                <td>{{v[0].JobContent}}</td>
                                <td>{{v[0].PlanQuantity}}</td>
                                <td>{{v[0].Capacity}}</td>
                                <td>{{v[0].LineNum}}</td>
                                <td>{{v[0].NormalCount}}</td>
                                <td>{{v[0].AbnormalCount}}</td>
                                <td>{{v[0].TodayFinishRate==""?0:v[0].TodayFinishRate}}%</td>
                                <td>{{v[0].TodayPassRate==""?0:v[0].TodayPassRate}}%</td>
                                <td>{{v[0].LineAllNomalCount}}</td>
                                <td>{{v[0].LineAllAbnomalCount}}</td>
                                <td>{{v[0].AllNormalCount}}</td>
                                <td>{{v[0].AllAbnormalCount}}</td>
                                <td>{{v[0].OrderFinishRate==""?0:v[0].OrderFinishRate}}%</td>
                                <td>{{v[0].OrderPassRate==""?0:v[0].OrderPassRate}}%</td>
                                <td>{{v[0].BeginTime}}</td>
                                <td>{{v[0].EndTime}}</td>
                                <td>{{v[0].TotalTime}}</td>
                            </tr>
                        </template>
                    </template>
                </tbody>
            </table>
            <div id="test_width"></div>
        </div>
        <div class="row">
            <!-- 小样图片 -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="width: 100%;height: auto;max-width: 900px;margin: 10px auto;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title text-center" id="myModalLabel">
                                小样订单
                            </h4>
                        </div>
                        <div id="contentModal" class="modal-body text-center">
                            <iframe id="pdfIframe" name="pdfIframe" src="" style="width:100%;"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <button id="showModal" class="form-control" style="display:inline;width:60px;display:none" data-toggle="modal" data-target="#myModal">选择</button>
        </div>
    </div>
</div>

<div id="setPdf"></div>
<div id="setForm"></div>
<script>
    var isHoverNum = "true";
    var app = new Vue({
        el: "#app",
        data: {
            smtLineData: [],
            smtLineData_new: [],
            nowtime: ""
        },
        created: function () {
            //this.$options.methods.smtProductionInfo();
            setInterval(function () {
                app.nowtime = new Date().Format("yyyy-MM-dd hh:mm:ss");
            }, 1000);
        },
        mounted: function () {
            if (isMobile()) {
                $(document).mousedown(function (e) {
                    if ($(e.target).parent(".showDiv").length == 0) {
                        cancelHover();
                    };
                });
            };
        },
        methods: {
            orderDetail: function (val, station) {
                this.$options.methods.postForm("/OrderMgms/Details/" + station, val);
            },
            postForm: function (url, params) {
                var newForm = $("<form action=" + url + " target='_blank' method='post' style='display:none' ><input name='OrderNum' value=" + params + " ></form>");
                $("#setForm").append(newForm);
                newForm.submit();
                newForm.remove();
            },
            clickBtn: function (event) {
                $(event.target).children(".showDiv").css({ "visibility": "visible", "opacity": "1" })
            },
            imgModal: function (OrderNumVal) {
                $(".imgModalc").remove();
                $("#pdfIframe").hide();
                $.ajax({
                    url: "/OrderMgms/GetSmallSampleImg",
                    type: "post",
                    data: {
                        ordernum: OrderNumVal,
                    },
                    success: function (returnVal) {
                        if (returnVal == "图片文档未上传或不存在！") {
                            alert(returnVal)
                        } else {
                            var json = JSON.parse(returnVal);
                            for (var img in json) {
                                $("#contentModal").append('<img class="imgModalc" src="/SmallSample_Files/' + OrderNumVal + '/' + json[img] + '" style="width:100%;" alt="该小样订单照片尚未上传！" />')
                            }
                            $("#showModal").click();
                        }
                    },
                    error: function (err) {
                        alert("小样订单图片尝未上传！", err);
                    }
                });
                //this.imgSrc = "/OrderMgms/GetImg?ordernum=" + ordernum;
            },
            pdfModal: function (OrderNumVal) {
                $(".imgModalc").remove();
                $("#pdfIframe").show();
                $.ajax({
                    url: "/OrderMgms/preview_SmallSample_pdf",
                    type: "post",
                    cache: false,
                    data: {
                        ordernum: OrderNumVal,
                    },
                    success: function (address) {
                        if (address == "pdf文档未上传或不存在！") {
                            alert(address)
                        } else {
                            $("#setPdf").append('<a id="temporary" href="../../Scripts/pdf.js/web/viewer.html?file=\\SmallSample_Files\\' + OrderNumVal + '\\' + OrderNumVal + '_SmallSample.pdf?' + Math.random() + '" target="pdfIframe" style="display:none"></a>');
                            document.getElementById("temporary").click();
                            $("#temporary").remove();
                            if (isMobile()) {
                                $("#pdfIframe").css({ "height": $(window).height() })//.attr("src", "");
                            } else {
                                $("#pdfIframe").css({ "height": $(window).height() - 93 })//.attr("src", "");
                            }
                            $("#showModal").click();
                        };
                    },
                    error: function (err) {
                        alert("查看PDF失败", err);
                    }
                });
            },
        },
        updated: function () {
            this.$nextTick(function () {
                $("#contentHead th").each(function (index, value) {
                    var tempWidth = $(value)[0].getBoundingClientRect().width;
                    var tempHeight = $(value)[0].getBoundingClientRect().height;
                    $("#fixedHead th").eq(index).css({ 'width': tempWidth + "px", 'height': tempHeight + "px" });
                });
                $("#fixedTableDiv").css('height', $("#contentHead").height());

                if (isHoverNum == "true") {
                    if (isMobile()) {
                        cancelHover();
                        isHoverNum = "false";
                    };
                };
            });
        }
    });
    Date.prototype.Format = function (fmt) {
        var o = {
            "M+": this.getMonth() + 1,
            "d+": this.getDate(),
            "h+": this.getHours(),
            "m+": this.getMinutes(),
            "s+": this.getSeconds(),
            "q+": Math.floor((this.getMonth() + 3) / 3),
            "S": this.getMilliseconds()
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt))
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    };

    function isMobile() {
        var judge = (navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i));
        return judge;
    };
    function cancelHover() {
        $(".showDiv").each(function () {
            $(this).css({ "visibility": "hidden", "opacity": "0" })
        });
    };
</script>
@section scripts {
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var mypush2 = $.connection.SMT;
            mypush2.client.sendSMT_ProductionInfo = function (SMT_ProductionInfo) {
                //console.log(SMT_ProductionInfo)
                app.smtLineData_new = [];
                var linedata = SMT_ProductionInfo;
                for (var ordernum in linedata) {
                    var ordernumdata = JSON.parse(linedata[ordernum]);
                    var lineArr = [];
                    var oneline = [];
                    for (var order in ordernumdata) {
                        oneline = []
                        var itemdata = JSON.parse(ordernumdata[order]);
                        //console.log(itemdata);
                        oneline.push({
                            OrderNum: ordernum,
                            Id: itemdata.Id,
                            PlatformType: itemdata.PlatformType,
                            Models: itemdata.Models,
                            ProcessingRequire: itemdata.ProcessingRequire,
                            JobContent: itemdata.JobContent,
                            StandardRequire: itemdata.StandardRequire,
                            PlanQuantity: itemdata.PlanQuantity,
                            Capacity: itemdata.Capacity,
                            HandSampleScedule: itemdata.HandSampleScedule,
                            LineNum: itemdata.LineNum,
                            NormalCount: itemdata.NormalCount,
                            AbnormalCount: itemdata.AbnormalCount,
                            TodayFinishRate: itemdata.TodayFinishRate,
                            TodayPassRate: itemdata.TodayPassRate,
                            LineAllNomalCount: itemdata.LineAllNomalCount,
                            LineAllAbnomalCount: itemdata.LineAllAbnomalCount,
                            AllNormalCount: itemdata.AllNormalCount,
                            AllAbnormalCount: itemdata.AllAbnormalCount,
                            OrderFinishRate: itemdata.OrderFinishRate,
                            OrderPassRate: itemdata.OrderPassRate,
                            BeginTime: itemdata.BeginTime,
                            EndTime: itemdata.EndTime,
                            TotalTime: itemdata.TotalTime,
                        });
                        lineArr.push(oneline);
                    };
                    app.smtLineData_new.push(lineArr);
                    //app.smtLineData_new[app.smtLineData_new.length - 1][0].push(((normal + abnormal) * 100 / count).toFixed(2) + "%");
                }
                //console.log(app.smtLineData_new);
            };
            //启动
            $.connection.hub.start();
        });
    </script>
    <script>
        $(function () {
            var sourceTable = $("#top_fix_table");//table id
            var sourceTableHeight = sourceTable.height();
            var sourceTableHead = $("#contentHead");//table thead tr id
            var headHeight = sourceTableHead.height();//table thead tr height
            var sourceTableWidth = sourceTable.outerWidth(); //get source table width
            var testDiv = $("#test_width"); //測試獲取內容寬度
            var wrapDiv = $("#scrollDiv"); //滾動條外層div，用於獲取div距離頭部的距離
            var tempTop = wrapDiv.offset().top - $(window).scrollTop(); //滾動頭部距離網頁頂部的距離
            var tempLeft = wrapDiv.offset().left;
            var fixTopDiv = $("#fixedTableDiv");
            fixTopDiv.hide();
            fixTopDiv.css({
                'height': headHeight,
                'position': 'fixed',
                'top': tempTop + "px",
                'left': tempLeft + 'px',
                'width': testDiv.width() + "px",
                'overflow': 'hidden'
            });

            $("#fixed_table_wrap,#fixed_table").css({ 'width': sourceTableWidth + "px" });

            //Div中內容滾動
            wrapDiv.scroll(function () {
                var sl = -Math.max(wrapDiv.scrollLeft(), $('document').scrollLeft());
                if (isNaN(sl)) {
                    sl = -wrapDiv.scrollLeft();
                }
                fixTopDiv.css("left", sl + wrapDiv.offset().left + 'px');
                var scroll_top = wrapDiv.scrollTop() + $(window).scrollTop();
                tempTop = wrapDiv.offset().top - $(window).scrollTop();
                if (tempTop <= 0) {
                    tempTop = 0;
                }
                var baseWidth = testDiv.width() + wrapDiv.scrollLeft();
                if (scroll_top > 0) {
                    fixTopDiv.css({ 'top': tempTop + "px", 'width': baseWidth + "px" });
                    if (!fixTopDiv.is(':visible')) {
                        fixTopDiv.show();
                    }
                } else {
                    if (fixTopDiv.is(':visible')) {
                        fixTopDiv.hide();
                    }
                }
            });
        });
    </script>
}
