@{
    ViewBag.Title = "物料看板";
}
@* css放置处 *@
@section cssStyle {
    <link rel="stylesheet/less" type="text/css" href="~/Content/styleFile/warehouseMaterial/warehouse.less" />
    <style>
        .el-table th > .cell, .el-table td > .cell {
            padding: 0;
        }

        .miniBtn {
            padding: 7px;
            margin-left: 0 !important;
        }
    </style>
}
<div id="app" v-cloak>
    <el-container>
        <el-header class="text-center">
            @*菜单*@
            <module-menu-component name="QueryData" title="@ViewBag.Title"></module-menu-component>
        </el-header>
        <el-main v-loading="loading" style="min-height:600px">
            <el-row class="text-center main">
                <el-form :inline="true" :model="queryTable" size="small" @@submit.native.prevent>
                    <el-form-item label="输入物料编号">
                        <el-input placeholder="请输入物料编号"
                                  v-model.trim="queryTable.materialNumber"
                                  v-on:keyup.native.enter="getdata"
                                  size="medium"
                                  clearable>
                        </el-input>
                    </el-form-item>
                    <el-form-item label="">
                        <el-button type="primary" @@click="getdata">查询</el-button>
                    </el-form-item>
                </el-form>
            </el-row>
            <el-row class="text-center">
                <el-table :data="tableList"
                          max-height="600"
                          size="small"
                          align="center"
                          class="wareQueryTable"
                          cell-class-name="cellParent"
                          stripe
                          border>
                    <el-table-column type="index" label="序号" align="center" width="40">
                        <template slot-scope="scope">
                            <span>{{scope.$index+1}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column prop="MaterialNumber" label="物料编号" align="center" min-width="80">
                    </el-table-column>
                    <el-table-column prop="Batch" label="批次" align="center">
                    </el-table-column>
                    <el-table-column prop="MaterialNum" label="MES物料数量" align="center">
                    </el-table-column>
                    <el-table-column prop="img10" label="ERP物料数量" align="center">
                    </el-table-column>
                    <el-table-column prop="LeaveFactoryTime" label="生产日期" align="center" min-width="80">
                    </el-table-column>
                    <el-table-column prop="EffectiveDay" label="有效期" align="center">
                        <template slot-scope="scope">
                            <input-edit datatype="num"
                                        v-on:input="scope.row.EffectiveDay = $event"
                                        :nametext="scope.row.EffectiveDay"
                                        :isedit="scope.row.edit"></input-edit>
                        </template>
                    </el-table-column>
                    <el-table-column prop="AddEffectiveDay" label="追加有效期" align="center">
                        <template slot-scope="scope">
                            <input-edit datatype="num"
                                        v-on:input="scope.row.AddEffectiveDay = $event"
                                        :nametext="scope.row.AddEffectiveDay"
                                        :isedit="scope.row.edit"></input-edit>
                        </template>
                    </el-table-column>
                    <el-table-column prop="ima02" label="物料品名" align="center">
                        <template slot-scope="scope">
                            <input-edit datatype="string"
                                        v-on:input="scope.row.ima02 = $event"
                                        :nametext="scope.row.ima02"
                                        :isedit="scope.row.edit"></input-edit>
                        </template>
                    </el-table-column>
                    <el-table-column prop="newWarehouse" label="MES仓库编号" align="center">
                        <template slot-scope="scope">
                            <input-edit datatype="string"
                                        v-on:input="scope.row.newWarehouse = $event"
                                        :nametext="scope.row.newWarehouse"
                                        :isedit="scope.row.edit"></input-edit>
                        </template>
                    </el-table-column>
                    <el-table-column prop="newWarehouseNum" label="MES储位(库位号)" align="center">
                        <template slot-scope="scope">
                            <input-edit datatype="string"
                                        v-on:input="scope.row.newWarehouseNum = $event"
                                        :nametext="scope.row.newWarehouseNum"
                                        :isedit="scope.row.edit"></input-edit>
                        </template>
                    </el-table-column>

                    <el-table-column prop="Img02" label="ERP仓库编号" align="center">
                        <template slot-scope="scope">
                            <input-edit datatype="string"
                                        v-on:input="scope.row.Img02 = $event"
                                        :nametext="scope.row.Img02"
                                        :isedit="scope.row.edit"></input-edit>
                        </template>
                    </el-table-column>
                    <el-table-column prop="Img03" label="ERP储位(库位号)" align="center">
                        <template slot-scope="scope">
                            <input-edit datatype="string"
                                        v-on:input="scope.row.Img03 = $event"
                                        :nametext="scope.row.Img03"
                                        :isedit="scope.row.edit"></input-edit>
                        </template>
                    </el-table-column>
                    <el-table-column prop="Unit" label="物料单位" align="center">
                        <template slot-scope="scope">
                            <input-edit datatype="string"
                                        v-on:input="scope.row.Unit = $event"
                                        :nametext="scope.row.Unit"
                                        :isedit="scope.row.edit"></input-edit>
                        </template>
                    </el-table-column>
                    <el-table-column prop="Supplier" label="供应商" align="center">
                        <template slot-scope="scope">
                            <input-edit datatype="string"
                                        v-on:input="scope.row.Supplier = $event"
                                        :nametext="scope.row.Supplier"
                                        :isedit="scope.row.edit"></input-edit>
                        </template>
                    </el-table-column>
                    <el-table-column prop="MaterialType" label="物料类型" align="center">
                        <template slot-scope="scope">
                            <input-edit datatype="string"
                                        v-on:input="scope.row.MaterialType = $event"
                                        :nametext="scope.row.MaterialType"
                                        :isedit="scope.row.edit"></input-edit>
                        </template>
                    </el-table-column>
                    <el-table-column prop="MaterialDiscription" label="物料规格描述" align="center" min-width="120">
                        <template slot-scope="scope">
                            <input-edit datatype="textarea"
                                        v-on:input="scope.row.MaterialDiscription = $event"
                                        :nametext="scope.row.MaterialDiscription"
                                        :isedit="scope.row.edit"></input-edit>
                        </template>
                    </el-table-column>
                    <el-table-column label="操作" align="center" width="90">
                        <template slot-scope="scope">
                            <el-button @@click="editClick(scope.row)" v-show="!scope.row.edit" size="mini" class="miniBtn">编辑</el-button>
                            <el-button @@click="cancelClick(scope.row)" v-show="scope.row.edit" size="mini" class="miniBtn">取消</el-button>
                            <el-button @@click="saveClick(scope.row)" v-show="scope.row.edit" size="mini" class="miniBtn" type="primary" plain>保存</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-row>
        </el-main>
    </el-container>
</div>
@* 分部页放置处 *@
@section renderPage {
    @RenderPage("_warehouseMenu.cshtml")
    @RenderPage("_wareEdit.cshtml")
}
@* js放置处 *@
@section jsScript {
    <script src="~/Content/styleFile/warehouseMaterial/warehouse.js"></script>
    <script>
        const app = {
            data: function () {
                return {
                    loading: false,//控制页面loading等待状态
                    tableList: [],//存储表格总数据
                    queryTable: {
                        materialNumber: "",
                    },
                    initialData: {}
                }
            },
            mixins: [warehouse],
            methods: {
                getdata: function () {
                    if (this.materialNumber == "") {
                        return;
                    };
                    this.loading = true;
                    axios.post("/Warehouse_Material/QueryData", {
                        materialNumber: this.queryTable.materialNumber,
                    }).then(res => {
                        if (Object.keys(res.data).length > 0) {
                            this.tableList = [];
                            res.data['edit'] = false;
                            this.tableList.push(res.data);
                            this.$message.success("查询成功");
                        } else {
                            this.$message.success("此物料号无数据");
                        };
                        this.loading = false;
                    }).catch(err => {
                        console.warn(err);
                        this.loading = false;
                    });
                },
                //验证条码，录入信息，打印条码，
                Modify_material(row) {
                    //录入数据
                    axios.post('/Warehouse_Material/Modify_material', {
                        warehouse_Material: row,
                    }).then(res => {
                        if (res.data.tally) {
                            this.$message.success('保存成功');
                            console.log(res.data.warehouse_Material);
                            row.edit = false;
                            this.initialData = {};
                        } else {
                            this.$message.error('保存失败');
                            this.cancelClick(row);
                        };
                    }).catch(err => {
                        this.$message.error('保存出错');
                        console.warn("post失败")
                    });
                },
                //启动编辑
                editClick(row) {
                    for (let i of this.tableList) {
                        if (i.edit) {
                            this.$message.warning('存在正在编辑的行');
                            return;
                        };
                    };
                    this.initialData = {};
                    this.initialData = { ...row };
                    row.edit = true;
                },
                //取消编辑
                cancelClick(row) {
                    let item = row, ini = this.initialData;
                    for (let i in ini) {
                        item[i] = ini[i];
                    };
                    this.initialData = {};
                },
                //保存编辑
                saveClick(row) {
                    this.Modify_material(row);
                },
            }
        };
    </script>
}