.el-header {
    text-align: center
}

.title {
    width: 100%;
}

.card {
    width: 180px;
    margin: 0 auto;
    border: none;

    .el-card__header, .el-card__body {
        padding: 0;
        border: none;
        text-align: center;
    }

    .card-header {
        font-size: 18px;
        color: #C0875B;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;

        .mcnum {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            height: 70px;
            border-radius: 35px;
            font-weight: 700;
            font-size: 40px;
            background-color: #FFFFFF;
            position: relative;
            z-index: 10;
        }
    }

    .card-content {
        display: flex;
        flex-flow: column nowrap;

        .img {
            height: 140px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .info {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            color: #FFFFFF;
            background-color: #ff8590;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            font-size: 16px;
            font-weight: 700;
            height: 80px;

            span {
                font-weight: 400;
            }
        }
    }
}

.card-one {
    width: 240px;

    .card-header {
        font-size: 24px;
        color: #EEC31F;
        height: 45px;

        .mcnum {
            width: 90px;
            height: 90px;
            border-radius: 45px;
            font-size: 55px;
        }
    }

    .card-content {
        .img {
            height: 180px;
        }
    }
}
