@*@{
    ViewBag.Title = "健和光电MES";
}*@
<style type="text/css">
    .container .jumbotron{
        padding:20px;
        padding-left:30px;
        padding-right:30px;
    }
    .jumbotron p{
        font-size:16px;
        text-indent: 2em;
        margin-bottom:10px;
    }
</style>
@*<div>
    惠州市健和光电有限公司是深圳市联建光电集团公司在惠州的全资子公司，总公司深圳市联建光电股份有限公司成立于2003年，2011年成功在深圳交易所创业板上市，股票代码300269。十余年间，公司已发展成一个员工超3000人、注册资本61368.8411万元、合并年收入超28亿元、净资产53.56亿元的国家级高新技术企业，现拥有已授权的国家专利200项。
    近年来，公司在原有主营业务的基础上，基于先进的LED显示屏制造技术以及与下游媒体主的业务合作关系，积极向广告传媒行业进行纵向拓展，为成为“数字传播集团”积极布局。2012年6月，公司设立联动文化（北京）有限公司，致力于打造全国城市地标户外LED广告联播网，完成从“设备”向“媒体”跨界的第一步。2013年12月，公司公告收购中国最大的户外广告媒体代理商——四川分时广告传媒有限公司100%股权，成功构筑户外媒体资源平台，完成了从“媒体”向“服务”跨界的第二步。2014年9月，公司公告收购新三板挂牌公司深圳市易事达电子股份有限公司，继续夯实领先的LED传播设备技术研发能力，力争成为国内最大的LED传播设备制造商；同时收购上海友拓公关顾问有限公司100%股权，进入广告链上游公关传播以及数字服务行业，打开数字传播通道，形成线上线下整合传播格局，实现 “媒体”向“公关”跨界的第三步。 2015年4月，公司公告收购移动营销综合服务的领先提供商——深圳市精准分众传媒有限公司28.4%股权，2016年1月，继续收购其余71.6%股权，为公司“数字传播集团”产业链增加移动互动营销、移动广告投放服务及强大的客户资源。2015年11月，公司公告收购上海励唐营销管理有限公司、山西华瀚文化传播有限公司、北京远洋林格文化传媒有限公司100%股份、收购深圳市力玛网络科技有限公司88.88%股份，完善了“数字传播集团”的构架，丰富公司在营销领域的服务内容，增强公司在营销领域内的服务能力和市场竞争力。2016年6月，公司公告收购上海成光广告和西安绿一传媒100%股权，同时公告投资杭州树熊网络，进一步提升联建集团线上线下数字传播集团的核心竞争力。
    公司成为由数字营销(友拓公关、励唐营销、深圳力玛、精准分众、树熊网络)、数字户外（分时传媒、联动文化、远洋传媒、华瀚文化、成光广告、绿一传媒）、数字设备（联建有限、易事达）三轮驱动的数字传播集团，可为客户提供涵盖品牌公关、互动活动、互联网广告、户外广告、数字广告设备等线上线下综合营销解决方案和效果营销方案。
    目前，联建光电集团总部兼LED数字设备运营部位于深圳,位于惠州大亚湾的联建光电（惠州）科技园则是公司的制造基地，建筑面积达80000㎡，拥有行业内规模最大、自动化程度最高、检测设备最先进的LED显示屏生产线之一，向全球上百个国家（地区）提供专业的LED数字显示服务，公司在2013年收购深圳易事达后，LED数字设备的国内外市场竞争力显著增强！
    未来，公司将发挥技术、资金和规模优势，以持续并购、融合发展的方式快速推进成为“数字传播集团”的战略布局，以数字营销、数字户外、数字设备作为核心模块，打破公司边界，形成软件硬件一体、数字化线上线下整合传播平台，为客户提供最优线上线下全新数字整合营销方案。
</div>*@
<div class="jumbotron">
    <p>惠州市健和光电有限公司是深圳市联建光电集团公司在惠州的全资子公司，总公司深圳市联建光电股份有限公司成立于2003年，2011年成功在深圳交易所创业板上市，股票代码300269。</p>
    <p>十余年间，公司已发展成一个员工超3000人、注册资本61368.8411万元、合并年收入超28亿元、净资产53.56亿元的国家级高新技术企业，现拥有已授权的国家专利200项。</p>
    <p>近年来，公司在原有主营业务的基础上，基于先进的LED显示屏制造技术以及与下游媒体主的业务合作关系，积极向广告传媒行业进行纵向拓展，为成为“数字传播集团”积极布局。</p>
    <p>2012年6月，公司设立联动文化（北京）有限公司，致力于打造全国城市地标户外LED广告联播网，完成从“设备”向“媒体”跨界的第一步。</p>
    <p>2013年12月，公司公告收购中国最大的户外广告媒体代理商——四川分时广告传媒有限公司100%股权，成功构筑户外媒体资源平台，完成了从“媒体”向“服务”跨界的第二步。</p>
    <p>2014年9月，公司公告收购新三板挂牌公司深圳市易事达电子股份有限公司，继续夯实领先的LED传播设备技术研发能力，力争成为国内最大的LED传播设备制造商；同时收购上海友拓公关顾问有限公司100%股权，进入广告链上游公关传播以及数字服务行业，打开数字传播通道，形成线上线下整合传播格局，实现 “媒体”向“公关”跨界的第三步。</p>
    <p>2015年4月，公司公告收购移动营销综合服务的领先提供商——深圳市精准分众传媒有限公司28.4%股权，2016年1月，继续收购其余71.6%股权，为公司“数字传播集团”产业链增加移动互动营销、移动广告投放服务及强大的客户资源。2015年11月，公司公告收购上海励唐营销管理有限公司、山西华瀚文化传播有限公司、北京远洋林格文化传媒有限公司100%股份、收购深圳市力玛网络科技有限公司88.88%股份，完善了“数字传播集团”的构架，丰富公司在营销领域的服务内容，增强公司在营销领域内的服务能力和市场竞争力。</p>
    <p>2016年6月，公司公告收购上海成光广告和西安绿一传媒100%股权，同时公告投资杭州树熊网络，进一步提升联建集团线上线下数字传播集团的核心竞争力。</p>
    <p>公司成为由数字营销(友拓公关、励唐营销、深圳力玛、精准分众、树熊网络)、数字户外（分时传媒、联动文化、远洋传媒、华瀚文化、成光广告、绿一传媒）、数字设备（联建有限、易事达）三轮驱动的数字传播集团，可为客户提供涵盖品牌公关、互动活动、互联网广告、户外广告、数字广告设备等线上线下综合营销解决方案和效果营销方案。</p>
    <p>目前，联建光电集团总部兼LED数字设备运营部位于深圳,位于惠州大亚湾的联建光电（惠州）科技园则是公司的制造基地，建筑面积达80000㎡，拥有行业内规模最大、自动化程度最高、检测设备最先进的LED显示屏生产线之一，向全球上百个国家（地区）提供专业的LED数字显示服务，公司在2013年收购深圳易事达后，LED数字设备的国内外市场竞争力显著增强！</p>
    <p>未来，公司将发挥技术、资金和规模优势，以持续并购、融合发展的方式快速推进成为“数字传播集团”的战略布局，以数字营销、数字户外、数字设备作为核心模块，打破公司边界，形成软件硬件一体、数字化线上线下整合传播平台，为客户提供最优线上线下全新数字整合营销方案。</p>
</div>
