@model IEnumerable<JianHeMES.Models.Personnel_of_Contrast>

@{
    ViewBag.Title = "月度数据对比";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    h3, h5 {
        margin: 5px;
    }

    .col-md-6 {
        padding: 1px;
    }

    .table {
        margin-bottom: 15px;
    }

        .table > tbody > tr > td, .table > tbody > tr > th {
            padding: 0;
            font-size: 11px;
            text-align: center;
            vertical-align: middle;
        }

        .table > tbody > tr > th {
            padding: 2px;
            font-size: 12px;
        }

            .table > tbody > tr > td:hover, .table > tbody > tr > th :hover {
                background-color: #f0da35;
            }

    .left, .right {
        border-top: 1px solid #555;
    }

    .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td {
        border: 1px solid #555;
    }

    .weekHead {
        background-color: #f0da35;
    }

    .monthHead {
        background-color: orange;
    }

    .emptyRecord {
        height: 30px;
    }

    @@media screen and (min-width:992px) {
        .fr {
            float: right;
        }

        .left {
            border-right: 1px solid #555;
        }
    }

    @@media screen and (min-width: 992px) {
        .container {
            width: 1500px;
        }

        .col-md-6 {
            padding: 1px 3px;
        }
    }
</style>
<h3 class="text-center">月度数据对比</h3>
<div class="text-right">
    @Html.ActionLink("返回", "Contrast")
</div>

<div id="app">
    <div class="col-md-6 left">
        <div style="width:0;height:0;border:10px solid white;border-top-color:red;border-bottom:none;float:left"></div>
        <h5 class="text-center">
            <span>
                <select v-model="leftYear">
                    <option></option>
                    <option>2019</option>
                    <option>2020</option>
                    <option>2021</option>
                    <option>2022</option>
                    <option>2023</option>
                    <option>2024</option>
                    <option>2025</option>
                </select>
            </span>&nbsp;年
            <span>
                <select v-model="leftMonth">
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
            </span>&nbsp;月
        </h5>
        <div class="col-md-6">
            <table class="table table-bordered text-center">
                <colgroup>
                    <col width="52 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                </colgroup>
                <tr>
                    <th colspan="8" class="weekHead">第<span> 1 </span>周各部门汇总</th>
                </tr>
                <tr>
                    <td>部门</td>
                    <td>人数</td>
                    <td>正班工时</td>
                    <td>正班工资</td>
                    <td>人员加班总值（H)</td>
                    <td>加班工资合计</td>
                    <td>工资合计</td>
                    <td>日人均工资</td>
                </tr>
                <tr v-for="(val,index) in leftFirstWeek">
                    <td>{{val.Department}}</td>
                    <td>{{val.Number}}</td>
                    <td>{{val.Zhang_WorkingHour}}</td>
                    <td>{{val.Zhang_Pay}}</td>
                    <td>{{val.Total_Staff}}</td>
                    <td>{{val.Overtime_Total}}</td>
                    <td>{{val.Pay_Total}}</td>
                    <td>{{val.Daily_Pay}}</td>
                </tr>
                <tr v-if="leftFirstWeek==''" class="emptyRecord">
                    <td colspan="8">本周无数据</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered text-center">
                <colgroup>
                    <col width="52 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                </colgroup>
                <tr>
                    <th colspan="8" class="weekHead">第<span> 2 </span>周各部门汇总</th>
                </tr>
                <tr>
                    <td>部门</td>
                    <td>人数</td>
                    <td>正班工时</td>
                    <td>正班工资</td>
                    <td>人员加班总值（H)</td>
                    <td>加班工资合计</td>
                    <td>工资合计</td>
                    <td>日人均工资</td>
                </tr>
                <tr v-for="(val,index) in leftSecondWeek">
                    <td>{{val.Department}}</td>
                    <td>{{val.Number}}</td>
                    <td>{{val.Zhang_WorkingHour}}</td>
                    <td>{{val.Zhang_Pay}}</td>
                    <td>{{val.Total_Staff}}</td>
                    <td>{{val.Overtime_Total}}</td>
                    <td>{{val.Pay_Total}}</td>
                    <td>{{val.Daily_Pay}}</td>
                </tr>
                <tr v-if="leftSecondWeek==''" class="emptyRecord">
                    <td colspan="8">本周无数据</td>
                </tr>
            </table>
        </div>

        <div class="col-md-12"></div>
        <div class="col-md-6">
            <table class="table table-bordered text-center">
                <colgroup>
                    <col width="52 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                </colgroup>
                <tr>
                    <th colspan="8" class="weekHead">第<span> 3 </span>周各部门汇总</th>
                </tr>
                <tr>
                    <td>部门</td>
                    <td>人数</td>
                    <td>正班工时</td>
                    <td>正班工资</td>
                    <td>人员加班总值（H)</td>
                    <td>加班工资合计</td>
                    <td>工资合计</td>
                    <td>日人均工资</td>
                </tr>
                <tr v-for="(val,index) in leftThirdWeek">
                    <td>{{val.Department}}</td>
                    <td>{{val.Number}}</td>
                    <td>{{val.Zhang_WorkingHour}}</td>
                    <td>{{val.Zhang_Pay}}</td>
                    <td>{{val.Total_Staff}}</td>
                    <td>{{val.Overtime_Total}}</td>
                    <td>{{val.Pay_Total}}</td>
                    <td>{{val.Daily_Pay}}</td>
                </tr>
                <tr v-if="leftThirdWeek==''" class="emptyRecord">
                    <td colspan="8">本周无数据</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered text-center">
                <colgroup>
                    <col width="52 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                </colgroup>
                <tr>
                    <th colspan="8" class="weekHead">第<span> 4 </span>周各部门汇总</th>
                </tr>
                <tr>
                    <td>部门</td>
                    <td>人数</td>
                    <td>正班工时</td>
                    <td>正班工资</td>
                    <td>人员加班总值（H)</td>
                    <td>加班工资合计</td>
                    <td>工资合计</td>
                    <td>日人均工资</td>
                </tr>
                <tr v-for="(val,index) in leftFourthWeek">
                    <td>{{val.Department}}</td>
                    <td>{{val.Number}}</td>
                    <td>{{val.Zhang_WorkingHour}}</td>
                    <td>{{val.Zhang_Pay}}</td>
                    <td>{{val.Total_Staff}}</td>
                    <td>{{val.Overtime_Total}}</td>
                    <td>{{val.Pay_Total}}</td>
                    <td>{{val.Daily_Pay}}</td>
                </tr>
                <tr v-if="leftFourthWeek==''" class="emptyRecord">
                    <td colspan="8">本周无数据</td>
                </tr>
            </table>
        </div>

        <div class="col-md-12"></div>
        <div class="col-md-6">
            <table class="table table-bordered text-center">
                <colgroup>
                    <col width="52 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                </colgroup>
                <tr>
                    <th colspan="8" class="weekHead">第<span> 5 </span>周各部门汇总</th>
                </tr>
                <tr>
                    <td>部门</td>
                    <td>人数</td>
                    <td>正班工时</td>
                    <td>正班工资</td>
                    <td>人员加班总值（H)</td>
                    <td>加班工资合计</td>
                    <td>工资合计</td>
                    <td>日人均工资</td>
                </tr>
                <tr v-for="(val,index) in leftFifthWeek">
                    <td>{{val.Department}}</td>
                    <td>{{val.Number}}</td>
                    <td>{{val.Zhang_WorkingHour}}</td>
                    <td>{{val.Zhang_Pay}}</td>
                    <td>{{val.Total_Staff}}</td>
                    <td>{{val.Overtime_Total}}</td>
                    <td>{{val.Pay_Total}}</td>
                    <td>{{val.Daily_Pay}}</td>
                </tr>
                <tr v-if="leftFifthWeek==''" class="emptyRecord">
                    <td colspan="8">本周无数据</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered text-center">
                <colgroup>
                    <col width="52 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                </colgroup>
                <tr>
                    <th colspan="8" class="monthHead">本月各部门汇总</th>
                </tr>
                <tr>
                    <td>部门</td>
                    <td>人数</td>
                    <td>正班工时</td>
                    <td>正班工资</td>
                    <td>人员加班总值（H)</td>
                    <td>加班工资合计</td>
                    <td>工资合计</td>
                    <td>日人均工资</td>
                </tr>
                <tr v-for="(val,index) in leftTotalWeek">
                    <td>{{val.Department}}</td>
                    <td>{{val.Number}}</td>
                    <td>{{val.Zhang_WorkingHour}}</td>
                    <td>{{val.Zhang_Pay}}</td>
                    <td>{{val.Total_Staff}}</td>
                    <td>{{val.Overtime_Total}}</td>
                    <td>{{val.Pay_Total}}</td>
                    <td>{{val.Daily_Pay}}</td>
                </tr>
                <tr v-if="leftFirstWeek==''&&leftSecondWeek==''&&leftThirdWeek==''&&leftFourthWeek==''&&leftFifthWeek==''&&leftTotalWeek==''" class="emptyRecord">
                    <td colspan="8">本月无汇总</td>
                </tr>
            </table>
        </div>

    </div>
    <div class="col-md-6 right">
        <div style="width:0;height:0;border:10px solid white;border-top-color:red;border-bottom:none;float:right"></div>
        <h5 class="text-center">
            <span>
                <select v-model="rightYear">
                    <option></option>
                    <option>2019</option>
                    <option>2020</option>
                    <option>2021</option>
                    <option>2022</option>
                    <option>2023</option>
                    <option>2024</option>
                    <option>2025</option>
                </select>
            </span>&nbsp;年
            <span>
                <select v-model="rightMonth">
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
            </span>&nbsp;月
        </h5>
        <div class="col-md-6">
            <table class="table table-bordered text-center">
                <colgroup>
                    <col width="52 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                </colgroup>
                <tr>
                    <th colspan="8" class="weekHead">第<span> 1 </span>周各部门汇总</th>
                </tr>
                <tr>
                    <td>部门</td>
                    <td>人数</td>
                    <td>正班工时</td>
                    <td>正班工资</td>
                    <td>人员加班总值（H)</td>
                    <td>加班工资合计</td>
                    <td>工资合计</td>
                    <td>日人均工资</td>
                </tr>
                <tr v-for="(val,index) in rightFirstWeek">
                    <td>{{val.Department}}</td>
                    <td>{{val.Number}}</td>
                    <td>{{val.Zhang_WorkingHour}}</td>
                    <td>{{val.Zhang_Pay}}</td>
                    <td>{{val.Total_Staff}}</td>
                    <td>{{val.Overtime_Total}}</td>
                    <td>{{val.Pay_Total}}</td>
                    <td>{{val.Daily_Pay}}</td>
                </tr>
                <tr v-if="rightFirstWeek==''" class="emptyRecord">
                    <td colspan="8">本周无数据</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered text-center">
                <colgroup>
                    <col width="52 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                </colgroup>
                <tr>
                    <th colspan="8" class="weekHead">第<span> 2 </span>周各部门汇总</th>
                </tr>
                <tr>
                    <td>部门</td>
                    <td>人数</td>
                    <td>正班工时</td>
                    <td>正班工资</td>
                    <td>人员加班总值（H)</td>
                    <td>加班工资合计</td>
                    <td>工资合计</td>
                    <td>日人均工资</td>
                </tr>
                <tr v-for="(val,index) in rightSecondWeek">
                    <td>{{val.Department}}</td>
                    <td>{{val.Number}}</td>
                    <td>{{val.Zhang_WorkingHour}}</td>
                    <td>{{val.Zhang_Pay}}</td>
                    <td>{{val.Total_Staff}}</td>
                    <td>{{val.Overtime_Total}}</td>
                    <td>{{val.Pay_Total}}</td>
                    <td>{{val.Daily_Pay}}</td>
                </tr>
                <tr v-if="rightSecondWeek==''" class="emptyRecord">
                    <td colspan="8">本周无数据</td>
                </tr>
            </table>
        </div>

        <div class="col-md-12"></div>
        <div class="col-md-6">
            <table class="table table-bordered text-center">
                <colgroup>
                    <col width="52 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                </colgroup>
                <tr>
                    <th colspan="8" class="weekHead">第<span> 3 </span>周各部门汇总</th>
                </tr>
                <tr>
                    <td>部门</td>
                    <td>人数</td>
                    <td>正班工时</td>
                    <td>正班工资</td>
                    <td>人员加班总值（H)</td>
                    <td>加班工资合计</td>
                    <td>工资合计</td>
                    <td>日人均工资</td>
                </tr>
                <tr v-for="(val,index) in rightThirdWeek">
                    <td>{{val.Department}}</td>
                    <td>{{val.Number}}</td>
                    <td>{{val.Zhang_WorkingHour}}</td>
                    <td>{{val.Zhang_Pay}}</td>
                    <td>{{val.Total_Staff}}</td>
                    <td>{{val.Overtime_Total}}</td>
                    <td>{{val.Pay_Total}}</td>
                    <td>{{val.Daily_Pay}}</td>
                </tr>
                <tr v-if="rightThirdWeek==''" class="emptyRecord">
                    <td colspan="8">本周无数据</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered text-center">
                <colgroup>
                    <col width="52 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                </colgroup>
                <tr>
                    <th colspan="8" class="weekHead">第<span> 4 </span>周各部门汇总</th>
                </tr>
                <tr>
                    <td>部门</td>
                    <td>人数</td>
                    <td>正班工时</td>
                    <td>正班工资</td>
                    <td>人员加班总值（H)</td>
                    <td>加班工资合计</td>
                    <td>工资合计</td>
                    <td>日人均工资</td>
                </tr>
                <tr v-for="(val,index) in rightFourthWeek">
                    <td>{{val.Department}}</td>
                    <td>{{val.Number}}</td>
                    <td>{{val.Zhang_WorkingHour}}</td>
                    <td>{{val.Zhang_Pay}}</td>
                    <td>{{val.Total_Staff}}</td>
                    <td>{{val.Overtime_Total}}</td>
                    <td>{{val.Pay_Total}}</td>
                    <td>{{val.Daily_Pay}}</td>
                </tr>
                <tr v-if="rightFourthWeek==''" class="emptyRecord">
                    <td colspan="8">本周无数据</td>
                </tr>
            </table>
        </div>

        <div class="col-md-12"></div>
        <div class="col-md-6 fr">
            <table class="table table-bordered text-center">
                <colgroup>
                    <col width="52 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                </colgroup>
                <tr>
                    <th colspan="8" class="weekHead">第<span> 5 </span>周各部门汇总</th>
                </tr>
                <tr>
                    <td>部门</td>
                    <td>人数</td>
                    <td>正班工时</td>
                    <td>正班工资</td>
                    <td>人员加班总值（H)</td>
                    <td>加班工资合计</td>
                    <td>工资合计</td>
                    <td>日人均工资</td>
                </tr>
                <tr v-for="(val,index) in rightFifthWeek">
                    <td>{{val.Department}}</td>
                    <td>{{val.Number}}</td>
                    <td>{{val.Zhang_WorkingHour}}</td>
                    <td>{{val.Zhang_Pay}}</td>
                    <td>{{val.Total_Staff}}</td>
                    <td>{{val.Overtime_Total}}</td>
                    <td>{{val.Pay_Total}}</td>
                    <td>{{val.Daily_Pay}}</td>
                </tr>
                <tr v-if="rightFifthWeek==''" class="emptyRecord">
                    <td colspan="8">本周无数据</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered text-center">
                <colgroup>
                    <col width="52 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                    <col width="30 ">
                </colgroup>
                <tr>
                    <th colspan="8" class="monthHead">本月各部门汇总</th>
                </tr>
                <tr>
                    <td>部门</td>
                    <td>人数</td>
                    <td>正班工时</td>
                    <td>正班工资</td>
                    <td>人员加班总值（H)</td>
                    <td>加班工资合计</td>
                    <td>工资合计</td>
                    <td>日人均工资</td>
                </tr>
                <tr v-for="(val,index) in rightTotalWeek">
                    <td>{{val.Department}}</td>
                    <td>{{val.Number}}</td>
                    <td>{{val.Zhang_WorkingHour}}</td>
                    <td>{{val.Zhang_Pay}}</td>
                    <td>{{val.Total_Staff}}</td>
                    <td>{{val.Overtime_Total}}</td>
                    <td>{{val.Pay_Total}}</td>
                    <td>{{val.Daily_Pay}}</td>
                </tr>
                <tr v-if="rightFirstWeek==''&&rightSecondWeek==''&&rightThirdWeek==''&&rightFourthWeek==''&&rightFifthWeek==''&&rightTotalWeek==''" class="emptyRecord">
                    <td colspan="8">本月无汇总</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            leftYear: "",
            leftMonth: "",
            rightYear: "",
            rightMonth: "",
            leftFirstWeek: [],
            leftSecondWeek: [],
            leftThirdWeek: [],
            leftFourthWeek: [],
            leftFifthWeek: [],
            leftTotalWeek: [],
            rightFirstWeek: [],
            rightSecondWeek: [],
            rightThirdWeek: [],
            rightFourthWeek: [],
            rightFifthWeek: [],
            rightTotalWeek: [],
        },
        watch: {
            leftYear: function (val) {
                this.$options.methods.gotoPost(this.leftYear, this.leftMonth, "left");
            },
            leftMonth: function (val) {
                this.$options.methods.gotoPost(this.leftYear, this.leftMonth, "left");
            },
            rightYear: function (val) {
                this.$options.methods.gotoPost(this.rightYear, this.rightMonth, "right");
            },
            rightMonth: function (val) {
                this.$options.methods.gotoPost(this.rightYear, this.rightMonth, "right");
            }
        },
        methods: {
            gotoPost: function (year, month, location) {
                if (location == "left") {
                    app.leftFirstWeek = [];
                    app.leftSecondWeek = [];
                    app.leftThirdWeek = [];
                    app.leftFourthWeek = [];
                    app.leftFifthWeek = [];
                    app.leftTotalWeek = [];
                };
                if (location == "right") {
                    app.rightFirstWeek = [];
                    app.rightSecondWeek = [];
                    app.rightThirdWeek = [];
                    app.rightFourthWeek = [];
                    app.rightFifthWeek = [];
                    app.rightTotalWeek = [];
                };
                if (year != "" && month != "") {
                    app.$options.methods.postJson(year, month, location);
                }
            },
            postJson: function (Y, M, L) {
                $.ajax({
                    url: "/Personnel_of_Contrast/ContrastMonthGetData",
                    type: "post",
                    data: {
                        Year: Y,
                        Month: M,
                    },
                    success: function (data) {
                        var returnData = JSON.parse(data);
                        //console.log(returnData);
                        for (var val in returnData) {
                            var totalVal;
                            switch (val) {
                                case "1": totalVal = returnData.weektotal1; break;
                                case "2": totalVal = returnData.weektotal2; break;
                                case "3": totalVal = returnData.weektotal3; break;
                                case "4": totalVal = returnData.weektotal4; break;
                                case "5": totalVal = returnData.weektotal5; break;
                                case "month_total": totalVal = returnData.month_total_total; break;
                                default: totalVal = "";
                            };
                            var numVal = app.$options.methods.replaceNum(val);
                            if (numVal != "" && totalVal != "") {
                                app.$options.methods.assignmentData(returnData[val], L, numVal, totalVal);
                            };
                        };
                    },
                    error: function (err) {
                        console.log("该月无记录");
                    }
                });
            },
            assignmentData: function (val, lacation, num, total) {
                var arrayName = lacation + num + "Week";
                total.Department = "总计";
                if (num == "Total") {
                    var totalVal = [];
                    for (var v in val) {
                        totalVal.push({
                            Department: v,
                            Number: val[v].Number,
                            Zhang_WorkingHour: val[v].Zhang_WorkingHour,
                            Zhang_Pay: val[v].Zhang_Pay,
                            Total_Staff: val[v].Total_Staff,
                            Overtime_Total: val[v].Overtime_Total,
                            Pay_Total: val[v].Pay_Total,
                            Daily_Pay: val[v].Daily_Pay,
                        });
                    };
                    totalVal.push(total);
                } else {
                    var weekVal = JSON.parse(val)
                    weekVal.push(total);
                }
                switch (arrayName) {
                    case "leftFirstWeek": app.leftFirstWeek = weekVal; break;
                    case "leftSecondWeek": app.leftSecondWeek = weekVal; break;
                    case "leftThirdWeek": app.leftThirdWeek = weekVal; break;
                    case "leftFourthWeek": app.leftFourthWeek = weekVal; break;
                    case "leftFifthWeek": app.leftFifthWeek = weekVal; break;
                    case "leftTotalWeek": app.leftTotalWeek = totalVal; break;
                    case "rightFirstWeek": app.rightFirstWeek = weekVal; break;
                    case "rightSecondWeek": app.rightSecondWeek = weekVal; break;
                    case "rightThirdWeek": app.rightThirdWeek = weekVal; break;
                    case "rightFourthWeek": app.rightFourthWeek = weekVal; break;
                    case "rightFifthWeek": app.rightFifthWeek = weekVal; break;
                    case "rightTotalWeek": app.rightTotalWeek = totalVal;
                    default: break;;
                };
            },
            replaceNum: function (key) {
                switch (key) {
                    case "1": key = "First"; break;
                    case "2": key = "Second"; break;
                    case "3": key = "Third"; break;
                    case "4": key = "Fourth"; break;
                    case "5": key = "Fifth"; break;
                    case "month_total": key = "Total"; break;
                    default: key = "";
                };
                return key;
            }
        }
    });
</script>
