<script type="text/template" id="leftMenuComponent">
    <div class="leftMenuComponent">
        <el-menu mode="vertical"
                 @@select="handleSelect"
                 :default-active="activeindex"
                 :default-openeds="openedsarr"
                 unique-opened
                 background-color="#2f4056"
                 text-color="#fff"
                 active-text-color="#ffd04b">
            <template v-for="obj in menulist">
                <menu-item :item="obj" v-if="obj.show"></menu-item>
            </template>
            @*<el-menu-item-group title="分组名称">
                    <el-menu-item index="1-1">分组项</el-menu-item>
                </el-menu-item-group>*@
        </el-menu>
    </div>
</script>
<script type="text/template" id="menuItemComponent">
    <div class="menuItemComponent">
        <template v-if="'children' in item">
            <el-submenu :index="item.url">
                <span slot="title">{{item.title}}</span>
                <template v-for="o in item.children">
                    <menu-item :item="o" v-if="o.show"></menu-item>
                </template>
            </el-submenu>
        </template>
        <template v-else>
            <a :href="item.url.split('→')[1]">
                <el-menu-item :index="item.url">
                    <span slot="title">{{item.title}}</span>
                </el-menu-item>
            </a>
        </template>
    </div>
</script>
<script>
    Vue.component('left-menu', {
        props: ['menulist', 'openedsarr', 'activeindex'],
        template: document.getElementById("leftMenuComponent"),
        methods: {
            handleSelect(key, keyPath) {
                //console.log(key, keyPath)
                localStorage.setItem('menuIndexKey', key);
                localStorage.setItem('menuIndexKeyPath', JSON.stringify(keyPath));
            },
        }
    });
    Vue.component('menu-item', {
        props: ['item'],
        template: document.getElementById("menuItemComponent"),
    });
</script>
