//定义全局颜色变量
@layout-sider-background: #fff;
@primary-color : #409eff;
@info-color : #d5dae0;
@success-color : #2bcfaa;
@processing-color : @primary-color;
@warning-color : #e6a23c;
@stop-color : #f7c73a;
@error-color : #ff8590;
@normal-color : #e6ebf1;
@link-color : #409eff;
@link-hover-color : tint(@link-color, 20%);
@link-active-color : shade(@link-color, 5%);
@selected-color : fade(@primary-color, 90%);
@tooltip-color : #fff;

// Base
@font-size-base : 14px;

// Background color
@menu-light-title: #409eff;
@menu-light-active-bg: #2f3f56;
@menu-dark-title : #2f3f56;
@menu-dark-active-bg : #2f3f56;
@menu-dark-subsidiary-color : rgba(255, 255, 255, .7);
@menu-dark-group-title-color : rgba(255, 255, 255, .36);
@date-picker-cell-hover-bg : #e1f0fe;
