@{
    ViewBag.Title = "打印测试";
}
<script src="~/Scripts/Bootstraps/Element-ui.js"></script>
<link href="~/Scripts/Bootstraps/Element-ui.css" rel="stylesheet" />
<script src="~/Scripts/printJS/JsBarcode.all.min.js"></script>
<script src="~/Scripts/printJS/html2canvas.min.js"></script>
<script src="~/Scripts/axios.min.js"></script>
@*<link href="~/Content/styleFile/printStyle.css" rel="stylesheet" />*@
<style>
    /*全局样式*/
    *, body {
        margin: 0;
        padding: 0;
    }

    #app {
        padding: 50px 0 0;
    }

    .el-input {
        max-width: 280px;
    }

    [v-cloak] {
        display: none;
    }

    .textCenter {
        text-align: center;
        background-color: #ffffff;
    }

    #dd {
        width: 480px;
        height: 230px;
        border: 1px solid red;
    }

    .mozhu {
        font-size: 120px;
        line-height: 105px;
        color: #000000;
        position: relative;
        top: 10px;
        right: 10px;
    }

    #innerCarton, #innerCarton2 {
        margin: 10px auto;
        background-color: #ffffff;
        width: 480px;
        height: 230px;
    }

    #innerBarcode > .textCenter, #innerBarcode > .textCenter2 {
        background-color: #ffffff;
        position: relative;
        border: 1px solid #f5da55;
    }

    .container, .body-content {
        width: 1300px !important;
    }
</style>
<div id="app" v-cloak>
    <el-container>
        <el-main>
            <el-col :span="24">
                <div class="grid-content textCenter">
                    <el-row>
                        <span>模组：</span>
                        <el-input placeholder="请输入模组号"
                                  v-model.trim="printMozhu"
                                  style="text-align:right;display:inline-block;"
                                  clearable>
                        </el-input>
                    </el-row>
                    <el-row>
                        <span>条码：</span>
                        <el-input placeholder="请输入条码号"
                                  v-model.trim="innerVal"
                                  style="text-align:right;display:inline-block;"
                                  onKeyUp="value=value.replace(/[^A-Za-z0-9]/g, '')"
                                  clearable>
                        </el-input>
                    </el-row>
                    <el-row>
                        <div id="innerCarton">
                            <div class="textCenter">
                                <b class="mozhu">{{printMozhu}}</b>
                                <div class="innerBarDiv">
                                    <canvas id="innerBarcode"></canvas>
                                </div>
                                @*<svg id="innerBarcode"></svg>
                                    <canvas id="innerBarcode"></canvas>
                                    <img id="innerBarcode" />*@
                            </div>
                        </div>
                    </el-row>
                    <el-row>
                        <el-button v-on:click="innerImg" type="primary">上传img截图</el-button>
                        <el-button v-on:click="innerText" type="primary">发送条码模组号</el-button>
                    </el-row>
                </div>
            </el-col>
            <el-col :span="12" class="text-center">
                <el-row>
                    <div style="padding:5px; background: #f5da55">
                        <h3 style="color: #000; ">截图区</h3>
                    </div>
                    <div>
                        <img id="dd" />
                    </div>
                </el-row>
            </el-col>
            <el-col :span="12" class="text-center">
                <el-row>
                    <div style="padding:5px; background: #f5da55">
                        <h3 style="color: #000; ">后台返回显示</h3>
                    </div>
                    <div>
                        <img id="cc" />
                    </div>
                </el-row>
            </el-col>
        </el-main>
    </el-container>
</div>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            innerVal: "18AA77701A00008",
            printMozhu: "1-A08",
        },
        watch: {
            innerVal: (val) => {
                if (val != "") {
                    app.setinnerBarDiv(val);
                } else {
                    $(".innerBarDiv").html('<svg id="innerBarcode"></svg>');
                };
            },
        },
        mounted: function () {
            this.setinnerBarDiv(this.innerVal);
        },
        methods: {
            setinnerBarDiv: (v) => {
                JsBarcode("#innerBarcode", v.toUpperCase(), {
                    height: 80, //条形码的高度
                    fontOptions: "bold",//使文字加粗体或变斜体
                    format: "CODE128",
                    font: "OCR-B",
                    textAlign: "center",
                    textMargin: 0,//设置条形码和文本之间的间距
                    fontSize: 35,//设置文本的大小
                    lineColor: "#000000",//条形码颜色
                    margin: 0,//设置条形码周围的空白边距
                    marginTop: 0
                });
            },
            innerImg: () => {
                html2canvas(document.getElementById("innerCarton"), {
                    onrendered: function (canvas) {
                        let url = canvas.toDataURL();//图片地址
                        document.getElementById("dd").setAttribute("src", url);
                        //显示
                        axios.post('/Appearances/InsideBoxLablePrint', { bitmap: url }, {
                            responseType: "arraybuffer",
                        }).then(function (response) {
                            //将从后台获取的图片流进行转换
                            return 'data:image/png;base64,' + btoa(
                                new Uint8Array(response.data).reduce((data, byte) => data + String.fromCharCode(byte), '')
                            );
                        }).then(function (data) {
                            //接收转换后的Base64图片
                            console.log(data);
                            document.getElementById("cc").setAttribute("src", data)
                        }).catch(err => {
                            console.warn("获取选择列表失败")
                        });
                    },
                    allowTaint: true,
                    useCORS: true,
                    //width: 600,
                    //height: 300
                });
            },
            innerText: () => {
                axios.post('/Test/printTest', {
                    barcode: app.innerVal,
                    modulenum: app.printMozhu
                }).then(res => {
                    console.log(res)
                }).catch(err => {
                    console.warn("获取选择列表失败")
                });
            },
        },
    });
</script>