/*全局样式*/
*, body {
    margin: 0;
    padding: 0;
}

#app {
    padding: 50px 0 0;
}

.el-input {
    max-width: 280px;
}

[v-cloak] {
    display: none;
}

.textCenter {
    text-align: center;
}

/*内箱条码样式*/
#innerBarcode, .innerBarDiv {
    width: 180px;
    text-align: center;
    margin: 0 auto;
    height: 66px;
}

.mozhu {
    font-size: 50px;
    line-height: 42px;
}

#innerCarton {
    margin-top: 0px;
}




/*外箱条码样式*/
#masterCarton {
    margin: 0;
    padding: 0;
}

#masterBarcode {
    width: 240px;
    height: 70px;
}

.mcFrame {
    margin: 5px auto;
    width: 324px;
    height: 434px;
    border: 1px solid #000;
}

.mcFrame_top, .mcFrame_bottom {
    height: 217px;
}

    .mcFrame_top > div {
        height: 71px;
    }


.mcFrame_top_1 {
    position: relative;
}

.imgicon {
    position: absolute;
    width: 98px;
    top: 5px;
    left: 5px;
}

.mcFrame_top_1_h {
    margin: 0;
    padding-top: 24px;
    text-align: center;
    font-size: 30px;
}

.mcFrame_top_1_h_noimg {
    margin: 0;
    padding-top: 16px;
    text-align: center;
    font-size: 32px;
}

.mcFrame_top_3_1_1, .mcFrame_top_3_1_2 {
    display: inline-block;
    line-height: 35px;
    height: 35px;
    text-align: center;
}

.mcFrame_top_3_1_1 {
    width: 76px;
    font-size: 15px;
}

    .mcFrame_top_3_1_1 > span {
        font-weight: 600;
    }

.mcFrame_top_3_1_2 {
    width: 240px;
    font-size: 18px;
    line-height: 35px;
}

.mcFrame_top_3_1_1:not(:last-child) {
    border-right: 1px solid #000;
}

.borderTop {
    border-top: 1px solid #000;
}

.mcFrame_bottom_1 {
    margin: 10px 0;
    text-align: left;
}

.mcFrame_top_2 {
    position: relative;
}

.masterBarDiv {
    width: 100%;
    /*position: absolute;
    top: 0px;*/
}

.boxspan {
    display: inline-block;
    padding: 5px 8px;
}

.font20md {
    font-size: 20px;
}

.font20xs {
    font-size: 27px;
    padding: 0px 8px;
}
