@{
    ViewBag.Title = "打印测试";
}
<link href="~/Content/styleFile/printStyle.css?v=" +Math.random() rel="stylesheet" />
<link href="~/Scripts/Bootstraps/Element-ui.css" rel="stylesheet" />
<script src="~/Scripts/Bootstraps/Element-ui.js"></script>
<script src="~/Scripts/printJS/JsBarcode.all.min.js"></script>
<script src="~/Scripts/printJS/html2canvas.min.js"></script>
<script src="~/Scripts/axios.min.js"></script>
<div id="app" v-cloak>
    <el-container>
        <el-main>
            <el-row class="text-center">
                <el-button v-on:click="innerImg" @*class="printBtn"*@ type="primary">上传img(内箱)</el-button>
                <el-button v-on:click="innerText" @*class="printBtn"*@ type="primary">发送条码模组号</el-button>
                <el-button v-on:click="masterImg" @*class="printBtn"*@ type="primary">上传img(外箱)</el-button>
                <el-button v-on:click="masterImg2" @*class="printBtn"*@ type="primary">上传订单号</el-button>
            </el-row>
            <el-col :span="24">
                <div class="grid-content textCenter">
                    <el-row>
                        <div id="innerCarton" style="display:none">
                            <div class="textCenter">
                                <b class="mozhu">{{printMozhu}}</b>
                                <div class="innerBarDiv">
                                    <canvas id="innerBarcode"></canvas>
                                </div>
                                @*<svg id="innerBarcode"></svg>
                                    <canvas id="innerBarcode"></canvas>
                                    <img id="innerBarcode" />*@
                            </div>
                        </div>
                    </el-row>
                </div>
            </el-col>
            <el-col :span="24">
                <div class="grid-content textCenter">
                    <el-row>
                        <div id="masterCarton" style="display:none">
                            <div class="mcFrame">
                                <div class="mcFrame_top">
                                    <div class="mcFrame_top_1">
                                        <img v-show="imgShow" class="imgicon" src="~/Images/LOGO_black.png" />
                                        <h1 v-show="imgShow" class="mcFrame_top_1_h h1order">{{selectVal}}</h1>
                                        <h1 v-show="!imgShow" class="mcFrame_top_1_h_noimg h1order">{{selectVal}}</h1>
                                    </div>
                                    <div class="borderTop mcFrame_top_2">
                                        <div class="masterBarDiv textCenter">
                                            <canvas id="masterBarcode"></canvas>
                                            @*<svg id="masterBarcode"></svg>
                                                <canvas id="masterBarcode"></canvas>
                                                <img id="masterBarcode" />*@
                                        </div>
                                    </div>
                                    <div class="borderTop mcFrame_top_3">
                                        <div class="mcFrame_top_3_1">
                                            <div class="mcFrame_top_3_1_1">物料描述</div>
                                            <div class="mcFrame_top_3_1_2">{{wuliao}}</div>
                                        </div>
                                        <div class="borderTop mcFrame_top_3_1">
                                            <div class="mcFrame_top_3_1_1"><span>(SN/TN)</span></div>
                                            <div class="mcFrame_top_3_1_1" style="border-right:none;"><span>{{sntn}}</span></div>
                                            <div class="mcFrame_top_3_1_1" style="border-left:1px solid #000;">数量 <span>QTY</span></div>
                                            <div class="mcFrame_top_3_1_1"><span>{{shuliang}}&nbsp;PCS</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mcFrame_bottom borderTop">
                                    <div class="mcFrame_bottom_1">
                                        <template v-for="item in mozutable">
                                            <span class="boxspan" v-bind:class="mozutable>20?'font20md':'font20xs'">A-<span v-if="item<10">0</span>{{item}}</span>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </el-row>
                </div>
            </el-col>
            @*<el-col :span="8" class="text-center">
                    <el-row>
                        <div style="padding:5px; background: #f5da55">
                            <h3 style="color: #000; ">截图区</h3>
                        </div>
                        <div>
                            <img id="dd" />
                        </div>
                    </el-row>
                </el-col>*@
            @*<el-col :span="24" class="text-center">
                <el-row>
                    <div style="padding:5px; background: #f5da55">
                        <h3 style="color: #000; ">截图区</h3>
                    </div>
                    <div>
                        <img id="cc" />
                    </div>
                </el-row>
            </el-col>
            <el-col :span="24"></el-col>*@
            @*<el-col :span="8" class="text-center">
                    <el-row>
                        <div style="padding:5px; background: #f5da55">
                            <h3 style="color: #000; ">后台返回显示</h3>
                        </div>
                        <div>
                            <img id="qq" />
                        </div>
                    </el-row>
                </el-col>*@
            <el-col :span="24" class="text-center">
                    <el-row>
                        <div style="padding:1px; background: #f5da55">
                            <h3 style="color: #000;margin:10px 0; ">后台返回显示</h3>
                        </div>
                        <div @*style="border:1px solid #000000;width:600px;height:800px;margin:auto"*@>
                            <img id="ww" style="margin:auto" />
                        </div>
                    </el-row>
                </el-col>
        </el-main>
    </el-container>
</div>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            innerVal: "18AA77701A00008",
            masterVal: "19YA2091-001",
            printMozhu: "1-A08",
            printOrder: "2019-YY012-01",
            selectVal: '2019-YA209-1',
            imgShow: true,
            mozutable: 20,
            wuliao: "LED模组",
            sntn: "1/12",
            shuliang: "12",
        },
        mounted: function () {
            this.setinnerBarDiv(this.innerVal);
            this.setmasterBarDiv(this.masterVal);
        },
        methods: {
            setinnerBarDiv: (v) => {
                JsBarcode("#innerBarcode", v.toUpperCase(), {
                    height: 70, //条形码的高度
                    fontOptions: "bold",//使文字加粗体或变斜体
                    format: "CODE128",
                    font: "OCR-B",
                    textAlign: "center",
                    textMargin: 0,//设置条形码和文本之间的间距
                    fontSize: 35,//设置文本的大小
                    lineColor: "#000000",//条形码颜色
                    margin: 0,//设置条形码周围的空白边距
                    marginTop: 0
                });
            },
            setmasterBarDiv: (v) => {
                JsBarcode("#masterBarcode", v.toUpperCase(), {
                    height: 58, //条形码的高度
                    fontOptions: "bold",//使文字加粗体或变斜体
                    format: "CODE128",
                    font: "OCR-B",
                    textAlign: "center",
                    textMargin: 0,//设置条形码和文本之间的间距
                    fontSize: 26,//设置文本的大小
                    lineColor: "#000",//条形码颜色
                    margin: 0,//设置条形码周围的空白边距
                    marginTop: 0
                });
            },
            innerImg: () => {
                $("#innerCarton").show();
                html2canvas(document.getElementById("innerCarton"), {
                    onrendered: function (canvas) {
                        let url = canvas.toDataURL();//图片地址
                        //document.getElementById("dd").setAttribute("src", url);
                        //显示
                        axios.post('/Appearances/InsideBoxLablePrint', {
                            bitmap: url,
                            //pagecount: 2
                        }).then(function (data) {
                            console.log(data);
                        }).catch(err => {
                            console.warn("打印出错")
                        });


                        //显示
                        axios.post('/Packagings/OutsideBoxLableRetrun', { bitmap: url }, {
                            responseType: "arraybuffer",
                        }).then(function (response) {
                            //console.log(response.data)
                            //将从后台获取的图片流进行转换
                            return 'data:image/png;base64,' + btoa(
                                new Uint8Array(response.data).reduce((data, byte) => data + String.fromCharCode(byte), '')
                            );
                        }).then(function (data) {
                            //接收转换后的Base64图片
                            //console.log(data);
                            //document.getElementById("qq").setAttribute("src", data)
                        }).catch(err => {
                            console.warn("打印出错")
                        });
                    },
                    allowTaint: true,
                    useCORS: true,
                    //width: 600,
                    //height: 300
                });
                $("#innerCarton").hide();
            },
            //打印成功
            //打印失败
            masterImg: () => {
                $("#masterCarton").show();
                html2canvas(document.getElementById("masterCarton"), {
                    onrendered: function (canvas) {
                        let url = canvas.toDataURL();//图片地址
                        //document.getElementById("cc").setAttribute("src", url);
                        axios.post('/Packagings/OutsideBoxLablePrint', {
                            bitmap: url,
                            //pagecount: 2
                        }).then(function (data) {
                            console.log(data);
                        }).catch(err => {
                            console.warn("打印出错")
                        });
                        //显示
                        axios.post('/Packagings/OutsideBoxLableRetrun', { bitmap: url }, {
                            responseType: "arraybuffer",
                        }).then(function (response) {
                            //console.log(response.data)
                            //将从后台获取的图片流进行转换
                            return 'data:image/png;base64,' + btoa(
                                new Uint8Array(response.data).reduce((data, byte) => data + String.fromCharCode(byte), '')
                            );
                        }).then(function (data) {
                            //接收转换后的Base64图片
                            //console.log(data);
                            //document.getElementById("ww").setAttribute("src", data)
                        }).catch(err => {
                            console.warn("打印出错")
                        });
                    },
                    allowTaint: true,
                    useCORS: true,
                    //width: 600,
                    //height: 300
                });
                $("#masterCarton").hide();
            },
            masterImg2: () => {
                axios.post('/Packagings/OutsideBoxLablePrint2', { ordernum: "2017-TEST-1" }, {
                    responseType: "arraybuffer",
                }).then(function (response) {
                    //console.log(response.data)
                    //将从后台获取的图片流进行转换
                    return 'data:image/png;base64,' + btoa(
                        new Uint8Array(response.data).reduce((data, byte) => data + String.fromCharCode(byte), '')
                    );
                }).then(function (data) {
                    //接收转换后的Base64图片
                    //console.log(data);
                    document.getElementById("ww").setAttribute("src", data)
                }).catch(err => {
                    console.warn("打印出错")
                });
            },
            innerText: () => {
                axios.post('/Appearances/InsideBoxLablePrint', {
                    barcode: app.innerVal,
                    modulenum: app.printMozhu,
                    //pagecount:2,
                }).then(res => {
                    console.log(res)
                }).catch(err => {
                    console.warn("获取选择列表失败")
                });
            },
        },
    });
</script>