@model IEnumerable<JianHeMES.Models.Personnel_of_Contrast>

@{
    ViewBag.Title = "周对比表";
}
<link href="~/Scripts/easyui/easyui.css" rel="stylesheet" />
<link href="~/Scripts/easyui/icon.css" rel="stylesheet" />
<script src="~/Scripts/easyui/jquery.easyui.min.js"></script>
<style>
    .datagrid-header td, .datagrid-body td, .datagrid-footer td {
    border-color: #555;
    }
    .panel-body-noheader{
        border: 1px solid #555;
        border-top-width: 0px;
        border-left-width: 0.2px;
        border-right-width: 0.2px;
    }
    .datagrid-header-row>td:nth-child(1),.datagrid-header-row>td:nth-child(8),.datagrid-header-row>td:nth-child(15){
        border-right: 1px solid #555;
    }
    #datagrid-row-r2-2-12{
        border-bottom: 1px solid;
    }
     .datagrid-body tr:last-child, .datagrid-footer tr:last-child{
        border-bottom: 1px solid;
        border-right: 1px solid;
        border-top: 0.1px solid;
    }
    .datagrid-row:nth-child(14){
        border-top: 1px #555;
        background-color: #f0da35;
        opacity: .8;
    }
    .datagrid-row:nth-child(14) > td:hover{
        background-color: azure;
    }
    .datagrid-btable > tbody > tr >td:hover{
        background-color: #f0da35;
        opacity: .8;
    }
    .datagrid-header-row{
        border-bottom: 1px solid #555;
    }
    .datagrid-toolbar{
        padding: 0px;
    }
    .body-content {
        width: 1300px;
        /* margin-right: 13% */
    }

    .datagrid-row > td:nth-child(1),.datagrid-row > td:nth-child(8),.datagrid-row > td:nth-child(15){
        border-right: 1px solid #555;
    }
    
    .datagrid-row {
        height: 35px;
    }

    .datagrid-body {
        height: auto;
    }

    .toolbar-title {
        float: left;
        font-size: 16px;
        height: 50px;
        margin: 0;
        padding: 0;
        text-align: center;
        padding: 12px 45px;
    }

    .datagrid-header-row >td:nth-child(1),.datagrid-header-row >td::nth-child(8),.datagrid-header-row >td:nth-child(15){
        border-right:1px solid #555;
    }
        .toolbar-title:nth-child(1) {
            border-right: 1px solid #555;
            border-top : 1px solid #555;
             border-bottom: 1px solid #555;
            width: 456px;
        }

        .toolbar-title:nth-child(2) {
            /* border-left: 1px solid #555; */
            border-right: 1px solid #555;
            border-bottom: 1px solid #555;
            border-top: 1px solid #555;
            width: 411px;
        }

        .toolbar-title:nth-child(3) {
            /* border-left: 1px solid #555; */
            border-top: 1px solid #555;
             border-bottom: 1px solid #555;
            width: 392px;
        }

    h4 {
        margin-top: 25px;
    }

    .datagrid-header-inner {
        background-color: #f0da35;
        
    }

    .datagrid-cell {
        font-size: 12px;
    }

    .datagrid-header .datagrid-cell span {
        font-size: 13px;
    }
</style>
<h4 class="text-center">周对比表</h4>
<div class="text-right">
    @if (((JianHeMES.Models.Users)Session["User"]) != null)
    {
        if (((JianHeMES.Models.Users)Session["User"]).Role == "系统管理员" || ((JianHeMES.Models.Users)Session["User"]).Department == "人力资源部")
        {
            @Html.ActionLink("输入周报", "ContrastInput");@Html.Raw("&nbsp;&nbsp;&nbsp;");
            @Html.ActionLink("月对比表", "ContrastMonth")
        }
    }
    else
    {
        @Html.ActionLink("月对比表", "ContrastMonth") ;@Html.Raw("&nbsp;&nbsp;&nbsp;");
        @Html.ActionLink("月对比表", "ContrastMonth")
    }
</div>

<div class="container-fliud" style="margin-top:25px;">
    <div id="app">
        <div id="title">
            <div class="toolbar-title">
                <select id="yearone" v-model="year">
                    <option></option>
                    <option>2019</option>
                    <option>2020</option>
                    <option>2021</option>
                    <option>2022</option>
                </select>
                年
                <select id="monthone" v-model="month">
                    <option></option>
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                    <option>04</option>
                    <option>05</option>
                    <option>06</option>
                    <option>07</option>
                    <option>08</option>
                    <option>09</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
                月第
                <select id="weekone" v-model="week">
                    <option></option>
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                    <option>04</option>
                    <option>05</option>
                </select>
                周各部门汇总
            </div>
            <div class="toolbar-title">
                <select id="yeartwo" v-model="YearTwo">
                    <option></option>
                    <option>2019</option>
                    <option>2020</option>
                    <option>2021</option>
                    <option>2022</option>
                </select>
                年
                <select id="monthtwo" v-model="MonthTwo">
                    <option></option>
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                    <option>04</option>
                    <option>05</option>
                    <option>06</option>
                    <option>07</option>
                    <option>08</option>
                    <option>09</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
                月第
                <select id="weektwo" v-model="WeekTwo">
                    <option></option>
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                    <option>04</option>
                    <option>05</option>
                </select>
                周各部门汇总
            </div>
            <div class="toolbar-title">上周对比</div>
        </div>
        <table id="tableData" class="easyui-datagrid" toolbar="#title" style="width:1264px;height:576px;"></table>
    </div>
</div>
<script>
    $(document).ready(function () {
        var da_ta=[]; 
        var data12=[];                //接收左表数据
         var da_ta2=[];              //接收右表数据
        var vm = new Vue({      //Vue监听，双向绑定
            el: "#app",
            data: {
                year: $("#yearone").val(),
                month: $("#monthone").val(),
                week: $("#weekone").val(),
                YearTwo:$("#yeartwo").val(),
                MonthTwo:$("#monthtwo").val(),
                WeekTwo: $("#weektwo").val(),
            },
            watch: {
                year: function () {
                    if(vm.year!=""&&vm.month!=""&&vm.week!=""){
                        PostX(vm.year, vm.month, vm.week, "first");
                    }
                },
                month: function () {
                    if(vm.year!=""&&vm.month!=""&&vm.week!=""){
                        PostX(vm.year, vm.month, vm.week, "first");
                    }
                },
                week: function () {
                    if(vm.year!=""&&vm.month!=""&&vm.week!=""){
                        PostX(vm.year, vm.month, vm.week, "first");
                    }
                },
                YearTwo: function () {
                    if(vm.YearTwo!=""&&vm.MonthTwo!=""&&vm.WeekTwo!=""){
                        PostX(vm.YearTwo, vm.MonthTwo, vm.WeekTwo, "last");
                    }
                },
                MonthTwo: function () {
                    if(vm.YearTwo!=""&&vm.MonthTwo!=""&&vm.WeekTwo!=""){
                        PostX(vm.YearTwo, vm.MonthTwo, vm.WeekTwo, "last");
                    }
                },
                WeekTwo: function () {
                    if(vm.YearTwo!=""&&vm.MonthTwo!=""&&vm.WeekTwo!=""){
                        PostX(vm.YearTwo, vm.MonthTwo, vm.WeekTwo, "last");
                    }
                },
            }
        });
        function PostX(Y, M, W, C) {      //Post:请求数据函数，三个参数：年、月、周
            $.ajax({
                url: "/Personnel_of_Contrast/ContrastGetData",
                type: "post",
                data: {
                    Year: Y,
                    Month: M,
                    Week: W
                },
                success: function (dat) {
                    if (C == "first") {
                        da_ta = JSON.parse(dat);
                    } else {
                        da_ta2 = JSON.parse(dat);
                    };
                    datagridData();
                },
                error: function (dat) {
                    alert("连接失败！")
                }
            });
        }
        function datagridData() {        //为了ajax函数结束返回时不仅仅渲染单个表格，需要在ajax判断语句外部设置表格的键（vue监听post函数时其初始值自动补全另外一个表格的数据）
            var data12 = {
                rows: []
            };
            if(da_ta2=="" && da_ta !=""){
                
                for (var i = 0; i < 13; i++) {
                data12.rows.push({
                    Department1: da_ta[i].Department,
                    Number1: da_ta[i].Number,
                    Zhang_WorkingHour1: da_ta[i].Zhang_WorkingHour,
                    Zhang_Pay1: da_ta[i].Zhang_Pay,
                    Total_Staff1: da_ta[i].Total_Staff,
                    Overtime_Total1: da_ta[i].Overtime_Total,
                    Pay_Total1: da_ta[i].Pay_Total,
                    Daily_Pay1: da_ta[i].Daily_Pay,
                });
            };
            }else if(da_ta == "" &&da_ta2!=""){
                for(var i=0;i<13;i++){
                    data12.rows.push({
                        Department1: da_ta2[i].Department,
                        Number2: da_ta2[i].Number,
                        Zhang_WorkingHour2: da_ta2[i].Zhang_WorkingHour,
                        Zhang_Pay2: da_ta2[i].Zhang_Pay,
                        Total_Staff2: da_ta2[i].Total_Staff,
                        Overtime_Total2: da_ta2[i].Overtime_Total,
                        Pay_Total2: da_ta2[i].Pay_Total,
                        Daily_Pay2: da_ta2[i].Daily_Pay, 
                    });
                };
            }else{
               for (var i = 0; i < 13; i++) {
                data12.rows.push({
                    Department1: da_ta[i].Department,
                    Number1: da_ta[i].Number,
                    Zhang_WorkingHour1: da_ta[i].Zhang_WorkingHour,
                    Zhang_Pay1: da_ta[i].Zhang_Pay,
                    Total_Staff1: da_ta[i].Total_Staff,
                    Overtime_Total1: da_ta[i].Overtime_Total,
                    Pay_Total1: da_ta[i].Pay_Total,
                    Daily_Pay1: da_ta[i].Daily_Pay,
                    
                    Number2: da_ta2[i].Number,
                    Zhang_WorkingHour2: da_ta2[i].Zhang_WorkingHour,
                    Zhang_Pay2: da_ta2[i].Zhang_Pay,
                    Total_Staff2: da_ta2[i].Total_Staff,
                    Overtime_Total2: da_ta2[i].Overtime_Total,
                    Pay_Total2: da_ta2[i].Pay_Total,
                    Daily_Pay2: da_ta2[i].Daily_Pay,
                });
            }; 
            }
            $("#tableData").datagrid("loadData", data12);
        };
        $("#tableData").datagrid({   //js绘制表格部分
            url: "",
            loading:"正在加载...",
            striped: true,
            columns: [[
                { field: 'Department1', title: '部门', align: 'center', width: 75 },
                { field: 'Number1', title: '人数', align: 'center', width: 35 },
                { field: 'Zhang_WorkingHour1', title: '正班<br />工时', align: 'center', width: 40 },
                { field: 'Zhang_Pay1', title: '正班工资', align: 'center', width: 65 },
                { field: 'Total_Staff1', title: '人员加<br />班总值', align: 'center', width: 60 },
                { field: 'Overtime_Total1', title: '加班工<br />资合计', align: 'center', width: 60 },
                { field: 'Pay_Total1', title: '工资合计', align: 'center', width: 61 },
                { field: 'Daily_Pay1', title: '日人均<br />工资', align: 'center', width: 60 },

                { field: 'Number2', title: '人数', align: 'center', width: 35 },
                { field: 'Zhang_WorkingHour2', title: '正班<br />工时', align: 'center', width: 40 },
                { field: 'Zhang_Pay2', title: '正班工资', align: 'center', width: 70 },
                { field: 'Total_Staff2', title: '人员加<br />班总值', align: 'center', width: 70 },
                { field: 'Overtime_Total2', title: '加班工<br />资合计', align: 'center', width: 70 },
                { field: 'Pay_Total2', title: '工资合计', align: 'center', width: 61 },
                { field: 'Daily_Pay2', title: '日人均<br />工资', align: 'center', width: 65},

                {
                    field: 'Number', title: '人数', align: 'center', width: 35,
                    formatter: function (val, row, index) {
                        if (da_ta =="" || da_ta2 ==""){
                            return "";
                        }else{
                        var i = row.Number2 - row.Number1;
                        var st = i.toString();
                            if (st.search(/\./) == -1) {
                                return i;
                            } else if (i == 0) {
                                return null;
                            } else {
                                return i.toFixed(2);
                            }
                        }
                    }
                },
                {
                    field: 'Zhang_WorkingHour', title: '正班<br />工时', align: 'center', width: 40,
                    formatter: function (val, row, index) {
                        if (da_ta =="" || da_ta2 ==""){
                            return "";
                        }else{
                        var i = row.Zhang_WorkingHour2 - row.Zhang_WorkingHour1;
                        var st = i.toString();
                            if (st.search(/\./) == -1) {
                                return i;
                            } else if (i == 0) {
                                return null;
                            } else {
                                return i.toFixed(2);
                            }
                        }
                    }
                },
                {
                    field: 'Zhang_Pay', title: '正班工资', align: 'center', width: 65,
                    formatter: function (val, row, index) {
                        if (da_ta =="" || da_ta2 ==""){
                            return "";
                        }else{
                        var i = row.Zhang_Pay2 - row.Zhang_Pay1;
                        var st = i.toString();
                            if (st.search(/\./) == -1) {
                                return i;
                            } else if (i == 0) {
                                return null;
                            } else {
                                return i.toFixed(2);
                            }
                        }
                    }
                },
                {
                    field: 'Total_Staff', title: '人员加<br />班总值', align: 'center', width: 65,
                    formatter: function (val, row, index) {
                        if (da_ta =="" || da_ta2 ==""){
                            return "";
                        }else{
                        var i = row.Total_Staff2 - row.Total_Staff1;
                        var st = i.toString();
                            if (st.search(/\./) == -1) {
                                return i;
                            } else if (i == 0) {
                                return null;
                            } else {
                                return i.toFixed(2);
                            }
                        }
                    }
                },
                {
                    field: 'Overtime_Total', title: '加班工<br />资合计', align: 'center', width: 65,
                    formatter: function (val, row, index) {
                        if (da_ta =="" || da_ta2 ==""){
                            return "";
                        }else{
                        var i = row.Overtime_Total2 - row.Overtime_Total1;
                        var st = i.toString();
                            if (st.search(/\./) == -1) {
                                return i;
                            } else if (i == 0) {
                                return null;
                            } else {
                                return i.toFixed(2);
                            }
                        }
                    }
                },
                {
                    field: 'Pay_Total', title: '工资合计', align: 'center', width: 61,
                    formatter: function (val, row, index) {
                        if (da_ta =="" || da_ta2 ==""){
                            return "";
                        }else{
                        var i = row.Pay_Total2 - row.Pay_Total1;
                        var st = i.toString();
                            if (st.search(/\./) == -1) {
                                return i;
                            } else if (i == 0) {
                                return null;
                            } else {
                                return i.toFixed(2);
                            }
                        }
                    }
                },
                {
                    field: 'Daily_Pay', title: '日人均<br />工资', align: 'center', width: 65,
                    formatter: function (val, row, index) {
                        if (da_ta =="" || da_ta2 ==""){
                            return "";
                        }else{
                        var i = row.Daily_Pay2 - row.Daily_Pay1;
                        var st = i.toString();
                            if (st.search(/\./) == -1) {
                                return i;
                            } else if (i == 0) {
                                return null;
                            } else {
                                return i.toFixed(2);
                            }
                        }
                    }
                }

            ]],
            onLoadSuccess: function (data) {
                if(da_ta == ""){
                    $("#tableData").datagrid("appendRow", {
                    Department1: "总计",
                    Number1: "暂",
                    Zhang_WorkingHour1: "无",
                    Zhang_Pay1: "记",
                    Total_Staff1:"录",
                    Overtime_Total1:"！",
                    Pay_Total1:"",
                    Daily_Pay1: "",

                    Number2: compute("Number2"),
                    Zhang_WorkingHour2: compute("Zhang_WorkingHour2"),
                    Zhang_Pay2: compute("Zhang_Pay2"),
                    Total_Staff2: compute("Total_Staff2"),
                    Overtime_Total2: compute("Overtime_Total2"),
                    Pay_Total2: compute("Pay_Total2"),
                    Daily_Pay2: compute("Daily_Pay2"),

                    Number:"",
                    Zhang_WorkingHour:"",
                    Zhang_Pay:"",
                    Total_Staff: "",
                    Overtime_Total:"",
                    Pay_Total: "",
                    Daily_Pay: "",
                });

                }else if(da_ta2 == ""){
                    $("#tableData").datagrid("appendRow", {
                    Department1: "总计",
                    Number1: compute("Number1"),
                    Zhang_WorkingHour1: compute("Zhang_WorkingHour1"),
                    Zhang_Pay1: compute("Zhang_Pay1"),
                    Total_Staff1: compute("Total_Staff1"),
                    Overtime_Total1: compute("Overtime_Total1"),
                    Pay_Total1: compute("Pay_Total1"),
                    Daily_Pay1: compute("Daily_Pay1"),

                    Number2: "暂",
                    Zhang_WorkingHour2:"无",
                    Zhang_Pay2: "记",
                    Total_Staff2: "录",
                    Overtime_Total2: "！",
                    Pay_Total2: "",
                    Daily_Pay2: "",

                    Number:"",
                    Zhang_WorkingHour:"",
                    Zhang_Pay:"",
                    Total_Staff: "",
                    Overtime_Total:"",
                    Pay_Total: "",
                    Daily_Pay: "",
                });
                }
                else {
                 $("#tableData").datagrid("appendRow", {
                    Department1: "总计",
                    Number1: compute("Number1"),
                    Zhang_WorkingHour1: compute("Zhang_WorkingHour1"),
                    Zhang_Pay1: compute("Zhang_Pay1"),
                    Total_Staff1: compute("Total_Staff1"),
                    Overtime_Total1: compute("Overtime_Total1"),
                    Pay_Total1: compute("Pay_Total1"),
                    Daily_Pay1: compute("Daily_Pay1"),

                    Number2: compute("Number2"),
                    Zhang_WorkingHour2: compute("Zhang_WorkingHour2"),
                    Zhang_Pay2: compute("Zhang_Pay2"),
                    Total_Staff2: compute("Total_Staff2"),
                    Overtime_Total2: compute("Overtime_Total2"),
                    Pay_Total2: compute("Pay_Total2"),
                    Daily_Pay2: compute("Daily_Pay2"),

                    Number: compute("Number"),
                    Zhang_WorkingHour: compute("Zhang_WorkingHour"),
                    Zhang_Pay: compute("Zhang_Pay"),
                    Total_Staff: compute("Total_Staff"),
                    Overtime_Total: compute("Overtime_Total"),
                    Pay_Total: compute("Pay_Total"),
                    Daily_Pay: compute("Daily_Pay"),
                });
                }
            }
        });
        function compute(colName) {
            var myRows = $("#tableData").datagrid("getRows");
            var total = 0;
            for (var i = 0; i < myRows.length; i++) {
                total += (parseFloat(myRows[i][colName]) <= 0 ? 0 : parseFloat(myRows[i][colName]));
            };
           return total;
        };
    })
</script>

