@model IEnumerable<JianHeMES.Models.Personnel_Recruitment>

@{
    ViewBag.Title = "招聘周报输入";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <style>
    .hide{
        display: none;
    }
    .myTable{
        width: 100%;
        text-align: center;
    }
    .myTable thead tr th {
        text-align: center;
    }
    .myTable tbody tr td input{
        width: 100%;
    }
    .myTable tbody tr td input:hover{
        background-color:azure;
    }
    #replace{
        width: 42%;
        float: left;
        margin-left: 5%
    }
    #delete{
        width: 42%;
        float: left;
        margin-left: 8%
    }
    .delete{
        display: none;
    }
    .color{
    /* background-color: rgba(255, 0, 0, 0.466);
    opacity: .8; */
    /* box-shadow: 1px solid  red inset; */
    border: 1px solid red;
    }
    .getval-input{
        width: 220px;
        height: 35px;
        margin-top: 25px;
        border-radius: 5px;
    }
    .fuckyou{
        height: 27px;
        width: 220px;
        float: left;
        
    }
    table thead{
        background-color: rgba(255, 255, 0, 0.712);
    }
    .spanone{
        margin-right: 580px;
        display: inline-block;
        height: 27px;
    }
    </style>
<h4 class="text-center" style="margin-top:20px;font-size:22px;" >招聘周报输入</h4>
    <a id="junp" href="/Personnel_Recruitment/Recruitment" style=""></a>
    <div id="app" class="container text-center" style="margin-top:25px;">
        <textarea class="fuckyou" id="getval" v-model="getValue" placeholder="表格粘贴处..."></textarea>
        <span class="spanone">
            <select v-model="year">
                <option></option>
                <option>2018</option>
                <option>2019</option>
                <option>2020</option>
                <option>2021</option>
            </select>
            年
            <select v-model="month">
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
            </select>
            月第
            <select v-model="week">
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            周招聘周报
        </span>
        <table id="tabletop" border="1" class="myTable">
            <!-- 表头部分开始 -->
            <thead>
                <tr>
                    <th rowspan="2" style="width:100px;">部门</th>
                    <th rowspan="2" style="width:140px;">需求岗位</th>
                    <th rowspan="2">编制</th>
                    <th rowspan="2">需求人数</th>
                    <th rowspan="2">录用人数</th>
                    <th rowspan="2">需求未完<br>成人数</th>
                    <th rowspan="2">申请日期</th>
                    <th rowspan="2">到岗日期</th>
                    <th colspan="2">招聘周期（天）</th>
                    <th rowspan="2" style="width:80px;">招聘达成率</th>
                    <th rowspan="2" style="width:110px;">操作</th>
                </tr>
                <tr>
                    <th>计划</th>
                    <th>实际</th>
                </tr>
            </thead>
            <!-- 表头结束 -->
            <tbody>
                <tr id="forClone" class="rowNum">
                    <td><input type="text" value=""></td>    
                    <td><input type="text" value=""></td>
                    <td><input type="text" value=""></td>
                    <td><input class="one" type="text" value=""></td>
                    <td><input class="two" type="text" value=""></td>
                    <td><input type="text" value=""></td>
                    <td><input type="text" value=""></td>
                    <td><input type="text" value=""></td>
                    <td><input type="text" value=""></td>
                    <td><input type="text" value=""></td>
                    <td><input type="text" value="" disabled="disabled"></td>
                    <td>
                        <input type="button" value="清空" id="replace" onclick="clearTr(this)">
                        <input class="delete" type="button" value="移除" id="delete" onclick="removeTr(this)">
                    </td>
                </tr>
                <tr class="rowNum">
                    <td><input type="text" value=""></td>    
                    <td><input type="text" value=""></td>
                    <td><input type="text" value=""></td>
                    <td><input class="one" type="text" value=""></td>
                    <td><input class="two" type="text" value=""></td>
                    <td><input type="text" value=""></td>
                    <td><input type="text" value=""></td>
                    <td><input type="text" value=""></td>
                    <td><input type="text" value=""></td>
                    <td><input type="text" value=""></td>
                    <td><input type="text" value="" disabled="disabled"></td>
                    <td>
                        <input type="button" value="清空" id="replace" onclick="clearTr(this)">
                        <!-- <input type="button" value="移除" id="delete" onclick="removeTr(this)"> -->
                    </td>
                </tr>
                <!-- <tr class="rowNum">
                    <td><input type="text" value=""></td>    
                    <td><input type="text" value=""></td>
                    <td><input type="text" value=""></td>
                    <td><input class="one" type="text" value=""></td>
                    <td><input class="two" type="text" value=""></td>
                    <td><input type="text" value=""></td>
                    <td><input type="text" value=""></td>
                    <td><input type="text" value=""></td>
                    <td><input type="text" value=""></td>
                    <td><input type="text" value=""></td>
                    <td><input type="text" value="" disabled="disabled"></td>
                    <td>
                        <input type="button" value="清空" id="replace" onclick="clearTr(this)">
                    </td>
                </tr>
                <tr class="rowNum">
                    <td><input type="text" value=""></td>    
                    <td><input type="text" value=""></td>
                    <td><input type="text" value=""></td>
                    <td><input class="one" type="text" value=""></td>
                    <td><input class="two" type="text" value=""></td>
                    <td><input type="text" value=""></td>
                    <td><input type="text" value=""></td>
                    <td><input type="text" value=""></td>
                    <td><input type="text" value=""></td>
                    <td><input type="text" value=""></td>
                    <td><input type="text" value="" disabled="disabled"></td>
                    <td>
                        <input type="button" value="清空" id="replace" onclick="clearTr(this)">
                    </td>
                </tr> -->
            </tbody>
        </table>
        <input id="add" type="button" value="新增一行" onclick="cloneTr()">
        <input id="comfirm" type="button" value="确认" >
        <input id="showtj" class="hide" type="submit" value="提交" onclick="postVal()">
        <button id="btn1" onclick="countRate()">计算完成率</button>
    </div>
<!-- <p>Tips:除到岗日期栏外，其他栏目若无请填“0”！</p> -->
    <script>
       
        function cloneTr(){    //采用克隆的方法实现增加一行功能；只clone默认出现的第一行以控制克隆数量；
            var tr = $("#forClone");
            var newTr = tr.clone(true);
            var tabletop = $("#tabletop");
            tabletop.append(newTr);
            newTr.find(".delete").show(); 
            newTr.find("#replace").click();
        }
        function removeTr(tdobj){    //移除功能；
            var td = $(tdobj);
                td.parents("tr").remove();
        }
        function clearTr(tdobject) {    //清空功能
        var td = $(tdobject);
        td.parents("tr").children("td")[0].children[0].value = "";
        td.parents("tr").children("td")[1].children[0].value = "";
        td.parents("tr").children("td")[2].children[0].value = "";
        td.parents("tr").children("td")[3].children[0].value = "";
        td.parents("tr").children("td")[4].children[0].value = "";
        td.parents("tr").children("td")[5].children[0].value = "";
        td.parents("tr").children("td")[6].children[0].value = "";
        td.parents("tr").children("td")[7].children[0].value = "";
        td.parents("tr").children("td")[8].children[0].value = "";
        td.parents("tr").children("td")[9].children[0].value = "";
        td.parents("tr").children("td")[10].children[0].value = "";
        //console.log(td.parents("tr").children("td")[0])
    };
        function countRate(){           //计算完成率功能
            var rows = $(".rowNum");
            var target_one ;
            var target_two ;
            for(var i=0;i<rows.length;i++){
                target_one = rows[i].children[3].children[0].value;
                target_two = rows[i].children[4].children[0].value;
                result = rows[i].children[10].children[0];
                if(target_one !="" && target_one !=0){
                    var test = (target_two / target_one) * 100;
                    result.value = test.toFixed(2) + "%";
                }
            };
        }
            var vm = new Vue({     //Vue实例
                el:"#app",
                data:{
                    msg:"test",
                    getValue:"",
                    rate:"100%",
                    year:"",
                    month:"",
                    week:""
                },
                methods:{
                    
                },
                watch:{       //实现粘贴功能
                        getValue: function(val){
                            var pasteQuantity = val.split("\n");
                                pasteQuantity.pop();
                            pasteQuantity.forEach(function (value, index){
                            var cutPasteQuantity = value.split("\t")
                            pasteQuantity[index] = cutPasteQuantity;
                            });
                            var tableLength = $(".rowNum").length;    //现有行数
                            var pasteLength = pasteQuantity.length;   //数据所占行数
                            if(tableLength < pasteLength) {    //当数据条数大于现有行数时：遍历自动添加相应行数；
                                for(var i=0;i<(pasteLength - tableLength);i++){
                                    cloneTr();                               
                                }
                            }
                            var totalRows = $("#tabletop tbody .rowNum");   //循环输出对应数据列跟表哥列；
                            for(var i=0;i < pasteLength;i++){  //遍历输出每一行数据
                                    //console.log(totalRows[i].children);
                                    //console.log(pasteQuantity[i][0]);
                                    //console.log(totalRows[i].children[5].children[0]);
                                    totalRows[i].children[0].children[0].value = pasteQuantity[i][0];
                                    totalRows[i].children[1].children[0].value = pasteQuantity[i][1];
                                    totalRows[i].children[2].children[0].value = pasteQuantity[i][2];
                                    totalRows[i].children[3].children[0].value = pasteQuantity[i][3];
                                    totalRows[i].children[4].children[0].value = pasteQuantity[i][4];
                                    totalRows[i].children[5].children[0].value = pasteQuantity[i][5];
                                    totalRows[i].children[6].children[0].value = pasteQuantity[i][6];
                                    totalRows[i].children[7].children[0].value = pasteQuantity[i][7];
                                    totalRows[i].children[8].children[0].value = pasteQuantity[i][8];
                                    totalRows[i].children[9].children[0].value = pasteQuantity[i][9];
                            };
                            this.getValue ="";   //完成赋值操作后清空文本域；
                        },
                    },
                });
        function postVal() {  //逻辑：1全空（默认前四行）不提交；2非全空就提取有数据的行进行提交；
            var trlength = $(".rowNum").length;
            //console.log(trlength);
            var trData = $(".rowNum");
            var rowone = trData[0].children[0].children[0].value;
            //var rowone1 = trData[0].children.children.value;
            //console.log(rowone);
            var rowtwo = trData[1].children[0].children[0].value;
            // var rowthree = trData[2].children[0].children[0].value;
            // var rowfour = trData[3].children[0].children[0].value;
            if((rowone =="0" && rowtwo =="0") || (rowone =="" && rowtwo =="")){
                alert("请粘贴或填写数据！");
                return false;
            }else if(vm.year =="" || vm.month =="" || vm.week ==""){
                alert("请选择时间日期！");
                return false;
            }
            else{
                var someArr = [];
                for(var i=0;i<trlength;i++){
                    var needPost = trData[i].children[0].children[0].value;  //部门
                    var needPost1 = trData[i].children[1].children[0].value;
                    var needPost2 = trData[i].children[2].children[0].value;
                    var needPost3 = trData[i].children[3].children[0].value;
                    var needPost4 = trData[i].children[4].children[0].value;
                    var needPost5 = trData[i].children[5].children[0].value;
                    var needPost6 = trData[i].children[6].children[0].value;
                    var needPost7 = trData[i].children[7].children[0].value;
                    var needPost8 = trData[i].children[8].children[0].value;
                    var needPost9 = trData[i].children[9].children[0].value;
                    //var needPost10 = trData[i].children[10].children[0].value;  //招聘达成率
                    var postArr =      //后台接受的数据格式：数组对象
                    {"Department_weekly":needPost,"Demand_jobs":needPost1,"Compile":needPost2,
                    "Demand_number":needPost3,"Employed":needPost4,"Unfinished_nember":needPost5,
                    "Application_date":needPost6,"Work_date":needPost7,"Invite_Plan_Cycle":needPost8,"Invite_Actaul_Cycle":needPost9,
                    "Year":vm.year,"Month":vm.month,"Week":vm.week};
                    someArr.push(postArr);
                };
                console.log(someArr);

                $.ajax({
                        type: 'post',
                        url: "/Personnel_Recruitment/RecruitmentInput",
                        data: JSON.stringify(someArr),
                        contentType: 'application/json;charset=utf-8', //上传后直接是List，不需要反序列化，直接向后台传对象集合
                        async: false,
                        datatype: 'json',
                        cache: false,
                        success: function (data) {
                            if(data ==="保存成功"){
                                alert(data);
                                //document.getElementById("junp").click();;
                                window.location.href = "/Personnel_Recruitment/Recruitment"
                            }else{
                                alert(data);
                            }
                            },
                        error: function (err) {
                            alert(err);
                            }
                });
            }
        }
         $("#comfirm").click(function(){    //除到岗日期外的输入区域，为空或者为负值则添加样式并提示
            var tsss = $("#tabletop input:not(#tabletop tbody tr td:nth-child(8) input)");
            var tsval = tsss.val();
            tsss.each(function(){
                if ($(this).val() < 0){
                    $(this).addClass("color");
                    var thhh = $("#showtj");
                    thhh.addClass("hide")
                    //alert("除到岗日期栏外，所填数据不可为空或负数！")
                }else if($(this).val() ==""){
                    $(this).val("0");
                }else{
                    $(this).removeClass("color");
                    var thhh = $("#showtj");
                    thhh.removeClass("hide")
                }
            })

        });
    </script>

<div class="text-right">
    @Html.ActionLink("返回", "Recruitment")
</div>
