@model IEnumerable<JianHeMES.Models.Personnel_Recruitment>

@{
    ViewBag.Title = "招聘周报";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .positions{
        width:50px;
        float: right;
    }
    #tabletop{
        
    }
    .color{
        color:red;
        font-weight: 600px;
        font-size:18px;
        font-style: italic;
    }
 table thead{
        background-color: rgba(255, 255, 0, 0.712);
    }
    .myTable tbody td{
        display:inline-block;
        padding:5px;
        /* border:1px solid black;
        border-collapse:collapse; */
    }
    .myTable{
        border-collapse:collapse;
    }
    th{
        text-align: center;
    }
    [v-cloak]{
        display: none;
    }
    h4{
       
        text-align: center;
    }
    .spanone{
        display:inline-block;
        margin-left:420px;
        margin-bottom:18px;
        font-size:19px;
    }
    .forsize{
        width:1157.1px;
        max-height:650px;
        text-align:center;
        overflow-y: auto;
        overflow-x: hidden;

    }
    .myTable tbody td{
        display: inline-block;
        float:left;
        border-left: 1px solid black;
        /* border:0.54px solid black; */
        height:35px;
    }
    .myTable tbody td:last-child{
        border-right: 1px solid black;
    }
    .myTable tbody tr{
        border-bottom: 1px solid black;
    }
</style>
<!-- <h4>招聘周报</h4> -->


    <div id="app" style="margin-top: 29px;">
        <span class="spanone">
            <select v-model="year">
                <option></option>
                <option>2019</option>
                <option>2020</option>
                <option>2021</option>
            </select>
            年
            <select v-model="month">
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
            </select>
            月第
            <select v-model="week">
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            周招聘周报
        </span>
        <p class="text-right positions">
            @Html.ActionLink("输入", "RecruitmentInput")
        </p>
    <table border="1" style="width:1140px;">
        <thead>
            <tr>
                <th rowspan="2" style="width:100px;">部门</th>
                <th rowspan="2" style="width:135px;">需求岗位</th>
                <th rowspan="2" style="width:85px;">编制</th>
                <th rowspan="2" style="width:85px;">需求人数</th>
                <th rowspan="2" style="width:85px;">录用人数</th>
                <th rowspan="2" style="width:85px;">需求未完<br>成人数</th>
                <th rowspan="2" style="width:105px;">申请日期</th>
                <th rowspan="2" style="width:105px;">到岗日期</th>
                <th colspan="2" style="width:180px;">招聘周期（天）</th>
                <th rowspan="2" style="width:65px;">招聘达<br/>成率</th>
                <th rowspan="2" style="width:140px;">操作</th>
            </tr>
            <tr>
                <th>计划</th>
                <th>实际</th>
            </tr>
        </thead>
    </table>
    <div class="forsize">
    <table id="tabletop" class="myTable" style="width:1140px;">
            <!-- 固定表头方法：新建表格作为头部。body表格宽度超出宽度等于滚动条宽度；设置内联块；body表格使用左浮解决间隔问题 -->
            <tbody>
                <tr id="forClone" class="rowNum" v-cloak v-for="(item,index) in list" :key="item.id">
                    <td style="width:100px;">{{item.Department_weekly}}</td>
                    <td style="width:135px;">{{item.Demand_jobs}}</td>
                    <td style="width:85px;">{{item.Compile}}</td>
                    <td style="width:85px;">{{item.Demand_number}}</td>
                    <td style="width:85px;">{{item.Employed}}</td>
                    <td style="width:85px;">{{item.Unfinished_nember}}</td>
                    <td style="width:105px;">{{item.Application_date | timeFormat}}</td>
                    <td style="width:105px;">{{item.Work_date | timeFormat}}</td>
                    <td style="width:74.5px;">{{item.Invite_Plan_Cycle}}</td>
                    <td style="width:74.5px;" :class="(item.Invite_Actaul_Cycle > item.Invite_Plan_Cycle)?'color':''">{{item.Invite_Actaul_Cycle}}</td>
					<td style="width:65px;" v-text="((item.Employed / item.Demand_number)*100).toFixed(2) + '%'"></td>
                    <td style="width:141px;">
                    <a :href="'/Personnel_Recruitment/Edit/' + item.Id" >编辑</a>
                    <!-- <a :href="'/Personnel_Recruitment/Details/' + item.Id" >详细</a> -->
                    <a :href="'/Personnel_Recruitment/Delete/' + item.Id" style="margin-left:15px;">删除</a>
                    </td>
                </tr>
                
            </tbody>
    </table>
    </div>
    <table border="1">
            <tbody>
                <tr style="height:35px;text-align:center;">
                    <td style="width:934px;">平均值：</td>
                    <td id="averged" style="width:206px;">{{avergeds}}</td>
                </tr>
            </tbody>
    </table>
</div>




    <script>
    Vue.filter("timeFormat",function(val){    //时间格式过滤器
        var mydata = new Date(val);
        var startYear = mydata.getFullYear();
        var startMonth = (mydata.getMonth() + 1).toString().padStart(2,"0");
        var startDay = mydata.getDate().toString().padStart(2,"0");
        return startYear + "-" + startMonth + "-" + startDay 

    })
    var vm = new Vue({
        el:"#app",
        data:{
            year:"",
            finishRate:"",
            month:"",
            week:"",
            list:""
        },
        methods:{   //事件触发

        },
        watch:{  //改变触发
            year:function(){
                if(this.year !="" && this.month !="" && this.week !=""){
                    postTime(this.year,this.month,this.week);
                }
            },
            month:function(){
                if(this.year !="" && this.month !="" && this.week !=""){
                    postTime(this.year,this.month,this.week);
                }
            },
            week:function(){
                if(this.year !="" && this.month !="" && this.week !=""){
                    postTime(this.year,this.month,this.week);
                }
            },
        },
        computed:{ //自动触发
            avergeds:function(){   //计算平均值
                var lists = this.list;
               if(lists ==""){

               }else{
                    var count =0;
                for(var i in lists){
                    count += lists[i].Employed / lists[i].Demand_number; 
                }
                return  ((count/lists.length)*100).toFixed(2)+"%";
               }
            }
        }
     })

     function postTime(y,m,w){
         $.ajax({
             url: "/Personnel_Recruitment/Recruitment",
            type: "post",
            data: {
                Year: y,
                Month: m,
                Week: w
            },
            success:function(dat){
                targetdata = JSON.parse(dat);
             if(targetdata.length > 0){
                vm.list = targetdata;
             }else{
                vm.list = "";
                alert("本周无数据记录！"); 
             }
                console.log(targetdata);
            },
            error:function(dat){
                alert("查询失败！")
            }
         })
     }
    </script>