@{
    ViewBag.Title = "生产管控信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<style>
    .table > thead > tr > th, .table > tbody > tr > td {
        text-align: center;
        vertical-align: middle;
    }

    .table > colgroup + thead > tr:first-child > th:nth-child(-n+5), .table > thead:first-child > tr:first-child > th:nth-child(-n+5) {
        border-top: 1px solid red;
    }

    .table > colgroup + thead > tr:first-child > th:nth-child(n+6), .table > thead:first-child > tr:first-child > th:nth-child(n+6) {
        border: 1px solid blue;
    }

    .rowTitle1 > th:nth-child(-n+5), .rowTitle2 > th:nth-child(-n+3), .table > tbody > tr > td:nth-child(-n+6) {
        border: 1px solid red;
    }

    .rowTitle1 > th:nth-child(n+6), .rowTitle2 > th:nth-child(n+3), .table > tbody > tr > td:nth-child(n+7) {
        border: 1px solid blue;
    }

    .rowTitle1 > th:nth-child(5), .rowTitle2 > th:nth-child(2), .table > tbody > tr > td:nth-child(6) {
        border-right: 1px solid blue;
    }

    .table > tbody > tr > td:nth-child(n+8), .table > tbody > tr > td:nth-child(2) {
        cursor: pointer;
    }

    .table > tbody > tr > td:nth-child(n+18) {
        cursor: auto;
    }

    .table > tbody > tr:nth-child(n+1):hover {
        background-color: rgba(77, 72, 72, 0.15);
    }

    .table > tbody > tr > td, .table > thead > tr > th {
        padding: 2px 1px;
    }

    @@media screen and (min-width: 1200px) {
        .container {
            width: 1400px;
        }

        .titleul {
            width: 1200px;
        }
    }

    #shelter {
        box-shadow: 0px 3px 5px #888888;
        display: none;
    }

    #fixed_table #fix_head {
        background: #FFFFFF;
    }

    #fixed_table {
        position: absolute;
        top: 0px;
        left: 0px;
        table-layout: fixed;
    }

    .scroll_table_content {
        width: 100%;
        height: 720px;
        overflow: auto;
    }

    #app {
        font-size: 13px;
    }

    .bgcolor100 {
        background-color: rgba(62, 215, 0, 0.4);
    }

    .bgcolor90 {
        background-color: rgba(233, 230, 0, 0.6);
    }

    .bgcolor80 {
        background-color: rgba(233, 32, 32, 0.8);
        color: white;
    }

    .overTimeNeverJoin {
        display: block;
        position: absolute;
        width: 15px;
        height: 15px;
        right: 1px;
        top: 1px;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
        color: white;
        background: red;
        /*animation: blink 1s infinite;*/
        transition: width 2s, height 2s, line-height 2s,font-size 2s,transform 2s;
        line-height: 15px;
        font-size: 9px;
    }

        /*@@keyframes blink {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0.2;
        }

        100% {
            opacity: 1;
        }
    }*/

        .overTimeNeverJoin:hover {
            width: 30px;
            height: 30px;
            animation: none;
            line-height: 30px;
            font-size: 13px;
        }
</style>
<div id="ieShow" class="row" style="display:none;padding:200px 0">
    <h2 class="text-center">当前浏览器版本过低，建议升级浏览器</h2>
    <h4 class="text-center">建议使用Firefox浏览器，下载地址：<a href="http://www.firefox.com.cn/" target="_blank">Firefox官网</a></h4>
</div>
<div id="content" style="display:none">
    <div class="row text-center" style="padding:15px 20px 0;">
        <span class="text-center" style="font-size:24px;font-family: inherit;font-weight: 500;margin-left:5%">生产管控信息</span>
        <div class="row form-group" style="float:right;margin:0">
            <span class="pull-right btn btn-default">
                @Html.ActionLink("历史记录", "ProductionControlHistory", new { id = "" }, new { target = "_blank" })
            </span><br />
            <span id="nowtime" style="width:140px"></span>
        </div>
    </div>

    <div id="app" class="form-group scroll_table_content">
        <div id="shelter">
            <div id="fixed_table_wrap">
                <table id="fixed_table" class="table table-bordered">
                    <thead id="fix_head">
                        <tr class="rowTitle1">
                            <th rowspan="2">序号</th>
                            <th rowspan="2">订单号</th>
                            <th rowspan="2">订单<br />数量</th>
                            <th rowspan="2">平台型号</th>
                            <th colspan="2">生产排期</th>
                            <th rowspan="2">实际开始生产时间</th>
                            <th colspan="2">组装工序</th>
                            <th colspan="2">FQC</th>
                            <th colspan="2">调试老化</th>
                            <th colspan="2">校正</th>
                            <th colspan="2">包装</th>
                            <th rowspan="2">完成时间</th>
                            <th rowspan="2">生产时长</th>
                            <th rowspan="2">特采描述</th>
                        </tr>
                        <tr class="rowTitle2">
                            <th>起始日期</th>
                            <th>出货时间</th>
                            <th>完成率</th>
                            <th>合格率</th>
                            <th style="font-size:12px">抽检率</th>
                            <th style="font-size:12px">抽检<br />合格率</th>
                            @*<th>老化数</th>*@
                            <th>老化数</th>
                            <th>合格率</th>
                            <th>完成率</th>
                            <th>合格率</th>
                            <th>完成率</th>
                            <th>合格率</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <table id="top_fix_table" class="table table-bordered">
            <colgroup>
                <col width="35 ">
                <col width="70 ">
                <col width="45 ">
                <col width="50 ">
                <col width="60 ">
                <col width="60 ">
                <col width="60 ">
                <col width="65 ">
                <col width="65 ">
                <col width="65 ">
                <col width="65 ">

                @*<col width="65 ">*@
                <col width="65 ">
                <col width="65 ">
                <col width="65 ">
                <col width="65 ">
                <col width="65 ">
                <col width="65 ">
                <col width="70 ">
                <col width="70 ">
                <col width="90 ">
            </colgroup>
            <thead id="table_head">
                <tr class="rowTitle1">
                    <th rowspan="2">序号</th>
                    <th rowspan="2">订单号</th>
                    <th rowspan="2">订单<br />数量</th>
                    <th rowspan="2">平台型号</th>
                    <th colspan="2">生产排期</th>
                    <th rowspan="2">实际开始生产时间</th>
                    <th colspan="2">组装工序</th>
                    <th colspan="2">FQC</th>
                    <th colspan="2">调试老化</th>
                    <th colspan="2">校正</th>
                    <th colspan="2">包装</th>
                    <th rowspan="2">完成时间</th>
                    <th rowspan="2">生产时长</th>
                    <th rowspan="2">特采描述</th>
                </tr>
                <tr class="rowTitle2">
                    <th>起始日期</th>
                    <th>出货时间</th>
                    <th>完成率</th>
                    <th>合格率</th>
                    <th style="font-size:12px">抽检率</th>
                    <th style="font-size:12px">抽检<br />合格率</th>
                    @*<th>老化数</th>*@
                    <th>老化数</th>
                    <th>合格率</th>
                    <th>完成率</th>
                    <th>合格率</th>
                    <th>完成率</th>
                    <th>合格率</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in sortmarqueeList">
                    <td>{{index+1}}</td>
                    <td v-on:click="orderDetail(item.OrderNum,item.Id)">{{item.OrderNum}}</td>
                    <td>{{item.Quantity}}个</td>
                    <td>{{item.PlatformType}}</td>
                    <td>{{item.PlanInputTime.split(" ")[0]}}</td>
                    <td>{{item.PlanCompleteTime.split(" ")[0]}}</td>
                    <td>{{item.ActualProductionTime}}</td>
                    @*组装*@
                    @*完成且24h未进入老化*@
                    <td v-on:click="Detail(item.OrderNum,'Assemble')"
                        v-bind:class="(item.Assemble_Finish_Rate.split('%')[0])>=100?'bgcolor100':''" style="position: relative;">
                        {{item.Assemble_Finish_Rate}}
                        <span v-show="item.AssembleRecord_Count"><br />({{item.Assemble_Finish}}/{{item.Quantity}})</span>
                        <span class="overTimeNeverJoin" v-if="item.Overtime_never_join_burn_in!=''" v-on:click.stop="overTimeForm(item.OrderNum,'PQCNormal','/Assembles/AssembleIndex')">{{item.Overtime_never_join_burn_in}}</span>
                    </td>
                    @*---*@
                    <td v-on:click="Detail(item.OrderNum,'Assemble')"
                        v-bind:class="(item.Assemble_Pass_Rate.split('%')[0])>=100?'bgcolor100':(item.Assemble_Pass_Rate.split('%')[0])<80?'bgcolor80':(item.Assemble_Pass_Rate.split('%')[0])<90?'bgcolor90':''">
                        {{item.Assemble_Pass_Rate}}
                        <span v-show="item.AssembleRecord_Count"><br />({{item.Assemble_Finish}}/{{item.AssembleRecord_Count}})</span>
                    </td>

                    @*FQC*@
                    <td v-on:click="Detail(item.OrderNum,'FinalQC')"
                        v-bind:class="(item.FinalQC_Finish_Rate.split('%')[0])>=100?'bgcolor100':''">
                        {{item.FinalQC_Finish_Rate}}
                        <span v-show="item.FinalQC_Record_Count"><br />({{item.FinalQC_Finish}}/{{item.Quantity}})</span>
                    </td>
                    <td v-on:click="Detail(item.OrderNum,'FinalQC')"
                        v-bind:class="(item.FinalQC_Pass_Rate.split('%')[0])>=100?'bgcolor100':(item.FinalQC_Pass_Rate.split('%')[0])<80?'bgcolor80':(item.FinalQC_Pass_Rate.split('%')[0])<90?'bgcolor90':''">
                        {{item.FinalQC_Pass_Rate}}
                        <span v-show="item.FinalQC_Record_Count"><br />({{item.FinalQC_Finish}}/{{item.FinalQC_Record_Count}})</span>
                    </td>

                    @*老化*@
                    @*<td v-on:click="Detail(item.OrderNum,'Burn_in')" >{{item.Burn_in_Doing_Count}}</td>*@
                    @*完成且72h未结束包装*@
                    <td v-on:click="Detail(item.OrderNum,'Burn_in')"
                        v-bind:class="(item.Burn_in_Finish_Rate.split('%')[0])>=100?'bgcolor100':''" style="position: relative;">
                        {{item.Burn_in_Finish_Rate}}
                        <span v-show="item.Burn_in_Count"><br />({{item.Burn_in_Record_Count}}/{{item.Quantity}})</span>
                        <span class="overTimeNeverJoin" v-if="item.Overtime_never_join_appearances!=''" v-on:click.stop="overTimeForm(item.OrderNum,'OQCNormal','/Burn_in/Index')">{{item.Overtime_never_join_appearances}}</span>
                    </td>
                    @*---*@
                    <td v-on:click="Detail(item.OrderNum,'Burn_in')"
                        v-bind:class="(item.Burn_in_Pass_Rate.split('%')[0])>=100?'bgcolor100':(item.Burn_in_Pass_Rate.split('%')[0])<80?'bgcolor80':(item.Burn_in_Pass_Rate.split('%')[0])<90?'bgcolor90':''">
                        {{item.Burn_in_Pass_Rate}}
                        <span v-show="item.Burn_in_Count"><br />({{item.Burn_in_Finish}}/{{item.Burn_in_Record_Count}})</span>
                    </td>
                    @*校正*@
                    <td v-on:click="Detail(item.OrderNum,'Calibration')"
                        v-bind:class="(item.Calibration_Finish_Rate.split('%')[0])>=100?'bgcolor100':''">
                        {{item.Calibration_Finish_Rate}}
                        <span v-show="item.Calibration_Count"><br />({{item.Calibration_Finish}}/{{item.Quantity}})</span>
                    </td>
                    <td v-on:click="Detail(item.OrderNum,'Calibration')"
                        v-bind:class="(item.Calibration_Pass_Rate.split('%')[0])>=100?'bgcolor100':(item.Calibration_Pass_Rate.split('%')[0])<80?'bgcolor80':(item.Calibration_Pass_Rate.split('%')[0])<90?'bgcolor90':''">
                        {{item.Calibration_Pass_Rate}}
                        <span v-show="item.Calibration_Count"><br />({{item.Calibration_Finish}}/{{item.Calibration_Record_Count}})</span>
                    </td>
                    @*包装*@
                    <td v-on:click="Detail(item.OrderNum,'Appearance')"
                        v-bind:class="(item.Appearances_Finish_Rate.split('%')[0])>=100?'bgcolor100':''">
                        {{item.Appearances_Finish_Rate}}
                        <span v-show="item.Appearances_Count"><br />({{item.Appearances_Finish}}/{{item.Quantity}})</span>
                    </td>
                    <td v-on:click="Detail(item.OrderNum,'Appearance')"
                        v-bind:class="(item.Appearances_Pass_Rate.split('%')[0])>=100?'bgcolor100':(item.Appearances_Pass_Rate.split('%')[0])<80?'bgcolor80':(item.Appearances_Pass_Rate.split('%')[0])<90?'bgcolor90':''">
                        {{item.Appearances_Pass_Rate}}
                        <span v-show="item.Appearances_Count"><br />({{item.Appearances_Finish}}/{{item.Appearances_Record_Count}})</span>
                    </td>
                    <td>{{item.ActualFinishTime}}</td>
                    <td style="white-space:nowrap;" v-if="item.TotalTime.length==4">{{item.TotalTime[0]+"天"+item.TotalTime[1]+"时"}}<br />{{item.TotalTime[2]+"分"+item.TotalTime[3]+"秒"}}</td>
                    <td style="white-space:nowrap;" v-else-if="item.TotalTime.length==3">{{item.TotalTime[0]+"时"}}<br />{{item.TotalTime[1]+"分"+item.TotalTime[2]+"秒"}}</td>
                    <td style="white-space:nowrap;" v-else></td>
                    <td v-bind:style="(item.AOD_Description)?'text-align :left;font-size:11px;padding:0;line-height:1.2;cursor:pointer':''" v-on:click="(item.AOD_Description)?imgModal(item.OrderNum):''"><span style="display:block;width:100%; height:45px;overflow:auto;">{{item.AOD_Description}}</span></td>
                </tr>
            </tbody>
        </table>
        <div id="test_width"></div>
        <div class="row">
            <!-- 特采图片 -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="width: 100%;height: 100%;max-width: 900px;margin: 30px auto;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title text-center" id="myModalLabel">
                                特采订单
                            </h4>
                        </div>
                        <div id="imgModal" class="modal-body text-center">
                            @*<img v-bind:src="imgSrc" alt="该特采订单照片尚未上传！" style="width:100%;height:100%;" />*@
                        </div>
                    </div>
                </div>
            </div>
            <button id="showModal" class="form-control" style="display:inline;width:60px;display:none" data-toggle="modal" data-target="#myModal">选择</button>
        </div>
    </div>
    <div id="setForm"></div>
    <form id="overTimeForm" action="" method="post" target="_blank" style="display:none">
            @Html.AntiForgeryToken()
            <input type="text" id="Order" name="orderNum" value="" />
            <input type="text" name="BoxBarCode" value="" />
            <input type="text" id="Normal" name="" value="" />
            <input type="text" name="FinishStatus" value="" />
            <input type="text" name="Remark" value="" />
            <input type="text" name="SearchString" value="" />
        </form>
</div>
<script>
    $(function () {
        if (isIE()) {
            $("#ieShow").show();
        } else {
            $("#content").show()
        };
        function isIE() {
            if (!!window.ActiveXObject || "ActiveXObject" in window) {
                return true;
            }
            else {
                return false;
            }
        };
    });
</script>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            marqueeList: [],
            //imgSrc: "",
        },
        computed: {
            sortmarqueeList() {
                var initialList = this.marqueeList;
                var firstSort = sortByActualProductionTime(initialList, "ActualProductionTime");
                var secondSort = sortByActualFinishTime(firstSort, "ActualFinishTime");
                var thirdSort = sortByPlanInputTime(secondSort, "PlanInputTime");
                return secondSort;
            }
        },
        created: function () {
            setInterval(function () {
                $("#nowtime").text(new Date().Format("yyyy-MM-dd hh:mm:ss"));
            }, 1000);
        },
        methods: {
            Detail: function (val, station) {
                this.$options.methods.postForm("/ProductionControl/" + station, val);
            },
            orderDetail: function (val, station) {
                this.$options.methods.postForm("/OrderMgms/Details/" + station, val);
            },
            postForm: function (url, params) {
                var newForm = $("<form action=" + url + " target='_blank' method='post' style='display:none' ><input name='OrderNum' value=" + params + " ></form>");
                $("#setForm").append(newForm);
                newForm.submit();
                newForm.remove();
            },
            overTimeForm: function (Order, Normal, url) {
                if ("@Session["User"]" == "") {
                    $("#login").modal();
                    return false;
                } else {
                    $("#overTimeForm").attr("action", url);
                    $("#Normal").attr("name", Normal);
                    $("#Order").val(Order);
                    $("#overTimeForm").submit();
                    //清除
                    $("#overTimeForm").attr("action", "");
                    $("#Normal").attr("name", "");
                    $("#Order").val("");
                }
            },
            imgModal: function (OrderNumVal) {
                $("#imgModal").children().remove();
                $.ajax({
                    url: "/OrderMgms/GetImg",
                    type: "post",
                    data: {
                        ordernum: OrderNumVal,
                    },
                    success: function (returnVal) {
                        var json = JSON.parse(returnVal);
                        for (var img in json) {
                            $("#imgModal").append('<img src="/AOD_Files/' + OrderNumVal + '/' + json[img] + '" style="width:100%;" alt="该特采订单照片尚未上传！" /><br /><br />')
                        }
                        $("#showModal").click();
                    },
                    error: function (err) {
                        alert("查看特采订单失败", err);
                    }
                })
                //this.imgSrc = "/OrderMgms/GetImg?ordernum=" + ordernum;
            }
        },
        mounted: function () {
            //this.$nextTick(function () {
            //    $("#content").show();
            //})
        },
        updated: function () {
            this.$nextTick(function () {
                //此处填每次渲染完后执行的代码
                $("#table_head th").each(function (index, value) {
                    var tempWidth = $(value)[0].getBoundingClientRect().width;
                    var tempHeight = $(value)[0].getBoundingClientRect().height;
                    $("#fixed_table th").eq(index).css({ 'width': tempWidth + "px", 'height': tempHeight + "px" });
                });
                $("#shelter").css('height', $("#table_head").height());
            });
        }
    });
    //根据实际开始时间排序
    function sortByActualProductionTime(array, key) {
        return array.sort(function (a, b) {
            var x = a[key];
            var y = b[key];
            return ((x < y) ? -1 : ((x > y) ? 1 : 0))
        })
    };
    //根据完成时间进行二次排序
    function sortByActualFinishTime(array, key) {
        return array.sort(function (a, b) {
            var x = a[key];
            var y = b[key];
            return ((x > y) ? -1 : ((x < y) ? 1 : 0))
        })
    };
    //根据生产排期起始日期，进行三次排序未开始部分订单
    function sortByPlanInputTime(array, key) {
        return array.sort(function (a, b) {
            if (a["ActualProductionTime"] == "未开始" && b["ActualProductionTime"] == "未开始") {
                var x = a[key];
                var y = b[key];
                return ((x < y) ? -1 : ((x > y) ? 1 : 0))
            };
        });
    };

    Date.prototype.Format = function (fmt) {
        var o = {
            "M+": this.getMonth() + 1,
            "d+": this.getDate(),
            "h+": this.getHours(),
            "m+": this.getMinutes(),
            "s+": this.getSeconds(),
            "q+": Math.floor((this.getMonth() + 3) / 3),
            "S": this.getMilliseconds()
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt))
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
</script>


@section scripts {
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var mypush = $.connection.ProductionControlIndex;
            mypush.client.sendProductionControlIndex = function (ProductionControlIndex) {
                console.log(ProductionControlIndex)
                app.marqueeList = [];
                //console.log(Object.keys(ProductionControlIndex).length)
                for (index in ProductionControlIndex) {
                    var totalTimeList = [];
                    if (ProductionControlIndex[index].TotalTime == "") {
                        var totalTime = "";
                    } else {
                        var totalTime = ProductionControlIndex[index].TotalTime.split(".");
                    };
                    if (totalTime.length == 3) {
                        var totalTimenday = totalTime[1].split(":");
                        totalTimeList.push(totalTime[0]);
                        for (item in totalTimenday) {
                            totalTimeList.push(totalTimenday[item]);
                        };
                    } else if (totalTime.length == 2) {
                        var totalTimenday = totalTime[0].split(":");
                        var totalTimenday1 = totalTime[1].split(":");
                        if (totalTimenday.length == 3) {
                            for (item in totalTimenday) {
                                totalTimeList.push(totalTimenday[item]);
                            };
                        } else if (totalTimenday1.length == 3) {
                            for (item in totalTimenday1) {
                                totalTimeList.push(totalTimenday1[item]);
                            };
                        }
                    } else {
                        totalTimeList.push(totalTime);
                    };
                    app.marqueeList.push({
                        Id: ProductionControlIndex[index].Id,
                        OrderNum: ProductionControlIndex[index].OrderNum,
                        Quantity: ProductionControlIndex[index].Quantity,
                        PlatformType: ProductionControlIndex[index].PlatformType,
                        PlanInputTime: ProductionControlIndex[index].PlanInputTime,
                        PlanCompleteTime: ProductionControlIndex[index].PlanCompleteTime,
                        ActualFinishTime: ProductionControlIndex[index].ActualFinishTime,
                        TotalTime: totalTimeList,
                        ActualProductionTime: ProductionControlIndex[index].ActualProductionTime,
                        Assemble_Finish_Rate: ProductionControlIndex[index].Assemble_Finish_Rate,
                        Assemble_Pass_Rate: ProductionControlIndex[index].Assemble_Pass_Rate,
                        Burn_in_Finish_Rate: ProductionControlIndex[index].Burn_in_Finish_Rate,
                        Burn_in_Pass_Rate: ProductionControlIndex[index].Burn_in_Pass_Rate,
                        Calibration_Finish_Rate: ProductionControlIndex[index].Calibration_Finish_Rate,
                        Calibration_Pass_Rate: ProductionControlIndex[index].Calibration_Pass_Rate,
                        Appearances_Finish_Rate: ProductionControlIndex[index].Appearances_Finish_Rate,
                        Appearances_Pass_Rate: ProductionControlIndex[index].Appearances_Pass_Rate,
                        Assemble_Finish: ProductionControlIndex[index].Assemble_Finish,
                        AssembleRecord_Count: ProductionControlIndex[index].AssembleRecord_Count,
                        //FQC
                        FinalQC_Finish_Rate: ProductionControlIndex[index].FinalQC_Finish_Rate,
                        FinalQC_Pass_Rate: ProductionControlIndex[index].FinalQC_Pass_Rate,
                        FinalQC_Finish: ProductionControlIndex[index].FinalQC_Finish,
                        FinalQC_Record_Count: ProductionControlIndex[index].FinalQC_Record_Count,
                        FinalQC_Spot_Count: ProductionControlIndex[index].FinalQC_Spot_Count,

                        //Burn_in_Doing_Count: ProductionControlIndex[index].Burn_in_Doing_Count,
                        Burn_in_Finish: ProductionControlIndex[index].Burn_in_Finish,
                        Burn_in_Count: ProductionControlIndex[index].Burn_in_Count,
                        Burn_in_Record_Count: ProductionControlIndex[index].Burn_in_Record_Count,
                        Calibration_Finish: ProductionControlIndex[index].Calibration_Finish,
                        Calibration_Count: ProductionControlIndex[index].Calibration_Count,
                        Calibration_Record_Count: ProductionControlIndex[index].Calibration_Record_Count,
                        Appearances_Finish: ProductionControlIndex[index].Appearances_Finish,
                        Appearances_Count: ProductionControlIndex[index].Appearances_Count,
                        Appearances_Record_Count: ProductionControlIndex[index].Appearances_Record_Count,
                        AOD_Description: ProductionControlIndex[index].AOD_Description,

                        Overtime_never_join_burn_in: ProductionControlIndex[index].Overtime_never_join_burn_in,
                        Overtime_never_join_appearances: ProductionControlIndex[index].Overtime_never_join_appearances,
                    });
                };
            };
            //启动
            $.connection.hub.start();
        });
    </script>
    <script>
        $(function () {
            var sourceTable = $("#top_fix_table");//table id
            var sourceTableHeight = sourceTable.height();
            var sourceTableHead = $("#table_head");//table thead tr id
            var headHeight = sourceTableHead.height();//table thead tr height
            var sourceTableWidth = sourceTable.outerWidth(); //get source table width
            var testDiv = $("#test_width"); //測試獲取內容寬度
            var wrapDiv = $("#app"); //滾動條外層div，用於獲取div距離頭部的距離
            var tempTop = wrapDiv.offset().top - $(window).scrollTop(); //滾動頭部距離網頁頂部的距離
            var tempLeft = wrapDiv.offset().left;
            //copy table and thead html tag from source table,
            //$('body').append('<div id="shelter"><div id="fixed_table_wrap"><table id="fixed_table"  border="0" cellpadding="4" cellspacing="0" class="table table-hover"><thead></thead></table></div></div>');
            var fixTopDiv = $("#shelter");
            fixTopDiv.hide();
            //only set top and left,beacuse i need the top bar can scroll left
            fixTopDiv.css({
                'height': headHeight,
                'position': 'fixed',
                'top': tempTop + "px",
                'left': tempLeft + 'px',
                'width': testDiv.width() + "px",
                'overflow': 'hidden'
            });
            //set target table width equal source table width

            $("#fixed_table_wrap,#fixed_table").css({ 'width': sourceTableWidth + "px" });
            //only clone tr html and change thead tr id attr
            //var targetHead = sourceTableHead.clone().attr('id', 'fix_head');
            //targetHead.appendTo('#fixed_table thead');
            //mark target table thead td width,height equal source table thead td width,height
            /*$("#table_head th").each(function (index, value) {
                //var tempWidth = $(value).outerWidth();//不能小数
                //var tempHeight = $(value).outerHeight();
                var tempWidth = $(value)[0].getBoundingClientRect().width;
                var tempHeight = $(value)[0].getBoundingClientRect().height;
                $("#fixed_table th").eq(index).css({ 'width': tempWidth + "px", 'height': tempHeight + "px" });
            });*/
            //Div中內容滾動
            wrapDiv.scroll(function () {
                //scroll left method
                var sl = -Math.max(wrapDiv.scrollLeft(), $('document').scrollLeft());
                if (isNaN(sl)) {
                    sl = -wrapDiv.scrollLeft();
                }
                fixTopDiv.css("left", sl + wrapDiv.offset().left + 'px');
                //var scroll_top = wrapDiv.scrollTop() - headHeight + $(window).scrollTop();
                var scroll_top = wrapDiv.scrollTop() + $(window).scrollTop();
                tempTop = wrapDiv.offset().top - $(window).scrollTop();
                if (tempTop <= 0) {
                    tempTop = 0;
                }
                var baseWidth = testDiv.width() + wrapDiv.scrollLeft();
                //control show or hide
                if (scroll_top > 0) {
                    fixTopDiv.css({ 'top': tempTop + "px", 'width': baseWidth + "px" });
                    if (!fixTopDiv.is(':visible')) {
                        fixTopDiv.show();
                    }
                } else {
                    if (fixTopDiv.is(':visible')) {
                        fixTopDiv.hide();
                    }
                }
            });
            //瀏覽器srcoll
            $(window).on('scroll', function () {
                tempTop = wrapDiv.offset().top - $(window).scrollTop();
                //var scroll_top = wrapDiv.scrollTop() - headHeight + $(window).scrollTop();
                var scroll_top = wrapDiv.scrollTop() + $(window).scrollTop();
                var baseWidth = testDiv.width() + wrapDiv.scrollLeft();
                if (tempTop <= 0) {
                    tempTop = 0;
                }
                fixTopDiv.css({ 'top': tempTop + "px", 'width': baseWidth + "px" });
                //control show or hide
                if (scroll_top > 0) {
                    if (!fixTopDiv.is(':visible')) {
                        fixTopDiv.show();
                    }
                } else {
                    if (fixTopDiv.is(':visible')) {
                        fixTopDiv.hide();
                    }
                }
            });
        });
    </script>
}
