@{
    ViewBag.Title = "甘特";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@* css放置处 *@
@section cssStyle {
    <link href="~/Scripts/gantt/dhtmlxgantt.css" rel="stylesheet" />
    <link href="~/Scripts/gantt/mygantt.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <style>
        #app {
            padding: 20px 20px 0 20px;
            font-family: '微软雅黑';
        }

        .title {
            font-weight: 400;
            font-size: 24px;
        }

        .top_action {
            padding: 10px 0;
            display: flex;
            align-items: center;
        }

            .top_action .el-select, .top_action .el-range-editor {
                margin-right: 10px;
            }
    </style>
}

<el-row id="app">
    <div class="title">
        甘特图-添加计划
    </div>
    <div class="top_action">
        <el-date-picker v-model="date_period"
                        size="small"
                        type="daterange"
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期" style="width:270px;">
        </el-date-picker>
        <el-button type="primary" size="small">查询</el-button>
    </div>

    <div id="gantt_add" style='width:100%; height:75vh;'></div>
</el-row>
@* 分部页放置处 *@
@section renderPage {
}
@* js放置处 *@
@section jsScript {
    <script src="~/Scripts/gantt/dhtmlxgantt.js"></script>
    <script src="~/Scripts/gantt/data_baselines.js"></script>
    <script src="~/Scripts/gantt/locale_cn.js" charset="utf-8"></script>
    <script src="~/Scripts/gantt/mygantt-add.js"></script>
    <script>
        const app = {
            data: function () {
                return {
                    task: {}, //甘特数据
                    date_period: ''   //时间段

                }
            },
            created: function () {
            },
            mounted: function () {
                //axios.post("/api/API/GetOrderNumGunter/?ordernum=2017-TEST-1").then(res => {
                //    //console.log(res);
                //    if (res.status == 200) {
                //        this.task = res.data;
                        my_gantt();
                        gantt.init("gantt_add");
                        //gantt.parse(this.task);
                        gantt.parse(taskData);
                //    }

                //})

            },
            methods: {

            }
        };
    </script>
}
