@{
    ViewBag.Title = "光荣榜";
}
@* css放置处 *@
@section cssStyle {
    <style>
    </style>
}

<div id="app" v-cloak>
    <h3>光荣榜</h3>
</div>
@* 分部页放置处 *@
@section renderPage {
}
@* js放置处 *@
@section jsScript {
    <script>
        const app = {
            data: function () {
                return {


                }
            },
            created: function () {
            },
            mounted: function () {
            },

            methods: {

            },
            watch: {

            }
        };
    </script>
}
