<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>-Vue-</title>
		<link href="css.css" rel="stylesheet">
		<link rel="stylesheet" href="bootstrap.min.css" />
		<script src="jquery"></script>
		<script type="text/javascript" src="vue-dragging.es5.js"></script>
		<script type="text/javascript" src="vue.js"></script>
		<script src="bootstrap.js"></script>
		<style>
			/*style 控制li条码显示样式 */
			.color-show {
				display: flex;
				flex-wrap: wrap;
			}
			.color-box {
				width: 20%;
				text-align: center;
				transition: transform .3s;
			}
			/*.color-box {
				white-space: nowrap;
			}*/
		</style>
		<script>
			
		</script>
	</head>

	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="http://172.16.6.118/">健和光电MES</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li>
							<a href="http://172.16.6.118/">主页</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								温湿度监测
								<b class="caret"></b>
							</a>
							<ul id="drop" class="dropdown-menu collapse " style="text-align: center; min-width: 114px;">
								<li>
									<a href="#">三楼温度湿度监测管理</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="#">四楼温度湿度监测管理</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="#">五楼温度湿度监测管理</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="#">六楼温度湿度监测管理</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="#">空压机房实时状况管理</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="http://172.16.6.118/OrderMgms">订单</a>
						</li>
						<li>
							<a href="http://172.16.6.118/Users">用户</a>
						</li>
						<li>
							<a href="http://172.16.6.118/BarCodes">条码</a>
						</li>
						<li>
							<a href="http://172.16.6.118/OrderInformations">订单信息</a>
						</li>
						<li>
							<a href="http://172.16.6.118/CalibrationRecords">模组校正信息</a>
						</li>
						<li>
							<a href="http://172.16.6.118/Home/About">关于</a>
						</li>
						<li>
							<a href="http://172.16.6.118/Home/Contact">技术支持</a>
						</li>
					</ul>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar navbar-nav navbar-right">
							<li>
								<a href="#"></a>
							</li>
							<li>
								<a href="http://172.16.6.118/Users/Login">登录</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container body-content">
			<h2>Edit</h2>
			<form action="/Assembles/AssembleStationF/1059" method="post">
				<input name="__RequestVerificationToken" value="apDb3-ziPy--eMaf8GiNAFPp1BJwOffNxYQe5UA2qe5kRDGAqNblwepkx3_E4uBD5Dzt9AV7HKygouhsHcZb4imju6sU5C09EljJSi_AbD81" type="hidden">
				<div class="form-horizontal">
					<h4>Assemble</h4>
					<hr>
					<div class="form-group">
						<label class="control-label col-md-2" for="BoxBarCode">框体条码</label>
						<div class="col-md-10">
							<input class="form-control text-box single-line" id="BoxBarCode" name="BoxBarCode" readonly="readonly" value="H2A17A002-2-0006" type="text">
							<span class="field-validation-valid text-danger" data-valmsg-for="BoxBarCode" data-valmsg-replace="true"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2" for="AssembleBT">开始时间</label>
						<div class="col-md-10">
							<input class="form-control text-box single-line" id="AssembleBT" name="AssembleBT" readonly="readonly" value="2018/5/17 15:44:02" type="datetime">
							<span class="field-validation-valid text-danger" data-valmsg-for="AssembleBT" data-valmsg-replace="true"></span>
						</div>
					</div>

					<div id="app" class="container" v-cloak>
						<form>
							<div class="form-group">
								<label class="control-label col-md-2" for="ModelCollection">输入模块条码</label>
								<div class="col-md-10">

									<div class="form-group">
										<input type="text" class="form-control" placeholder="请输入模块条码" v-model.trim="newTask" ref="content" style="display: inline-block;">
										<button class="btn btn-default" v-on:click="addTask">添加</button>
										<button class="btn btn-default" v-on:click="clearTask">清空清单</button>
										<br /><span v-show="prompt" style="color: red;">不能输入相同条码</span>
									</div>
								</div>
							</div>
							<div class="form-group ">
								<label class="control-label col-md-2" for="ModelCollection">模块条码清单</label>
								<div class="col-md-6">
									<div class="form-group color-show">
										<template v-for="(task,index) in tasks">
											<li v-if="tasks.length>0" readonly="readonly" class="color-box form-control" style=" border: none;box-shadow: none;" v-dragging="{ list: tasks, item: task, group: 'task' }" :key="task.BarCodesNum">
												<span>{{task.BarCodesNum}}</span>
												<button type="button" v-on:click="removeTask(task)" title="移除任务" style="border: none; float: right;">✗</button>
											</li>
										</template>
									</div>
								</div>
							</div>
						</form>
					</div>

					<div class="form-group">
						<div class="col-md-offset-2 col-md-10">
							<input value="完成组装" class="btn btn-default" type="submit">
						</div>
					</div>
				</div>
			</form>
			<div>
				<a href="http://172.16.6.118/Assembles">返回</a>
			</div>
			<hr>
			<footer>
				<p>© 2018 - 健和光电MES</p>
			</footer>
		</div>

		<script type="text/javascript">
			Vue.use(VueDragging); //使用拖拽
			var app = new Vue({ //创建Vue对象实例
				el: "#app", //挂载DOM元素的ID
				data: {
					tasks: JSON.parse(localStorage.getItem('key') || '[]'),
					newTask: "", //input默认值
					same: true,
					prompt: false
				},
				methods: {
					//添加条码，判断是否为空，判断字符前后空格，焦点回到input，判断是否有重复数据，序号排列，保持本地存储
					addTask: function(event) {
						event.preventDefault();
						addtasks = this.tasks;
						sames = this.same;
						this.prompt = false;
						if(this.newTask != "") {
							addtasks.forEach(function(item, index) {
								item.StationId = index + 2;
								if(app.newTask == item.BarCodesNum) {
									console.log(index);
									console.log('不能输入相同条码');
									app.prompt = true;
									sames = false;
								}
							});
							if(sames) { //没有相同数据才允许添加
								addtasks.unshift({
									StationId: 1,
									BarCodesNum: this.newTask
									
								});
								//localStorage.setItem('key', JSON.stringify(listTask));    无效
								localStorage.setItem('key', JSON.stringify(app.tasks));
								this.newTask = "";
								this.$refs.content.focus();
								//console.log(JSON.stringify(app.tasks)); //数组
								console.log(JSON.parse(localStorage.getItem('key'))); //object，JavaScript对象
							}

						}
					},
					removeTask: function(task) { //删除条码，重新排序数组，焦点回到input，保存删除后的数据
						//指向Vue实例中的tasks
						removetasks = this.tasks;
						//remove
						removetasks.forEach(function(item, index) {
							if(item.BarCodesNum == task.BarCodesNum) {
								removetasks.splice(index, 1);
							}
						});
						removetasks.forEach(function(item, index) {
							item.StationId = index + 1;
						});

						localStorage.setItem('key', JSON.stringify(app.tasks));
						app.prompt = false;
						console.log(JSON.parse(localStorage.getItem('key'))); //输出删除后的排序
						this.$refs.content.focus();
					},
					clearTask: function(event) { //清空本地存储表单
						event.preventDefault();
						localStorage.removeItem('key');
						this.tasks = [];
					}
				},
				mounted: function() {
					this.$dragging.$on('dragged', function(data) { //拖拽过程中响应
						//console.log('dragged', JSON.stringify(data))  
					})
					this.$dragging.$on('dragend', function(data) { //拖拽结束后响应，排序拖拽后数据，存储本地
						//console.log('dragend', data);
						app.tasks.forEach(function(item, index) {
							item.StationId = index + 1;
						});
						localStorage.setItem('key', JSON.stringify(app.tasks));
						console.log(JSON.parse(localStorage.getItem('key'))); //object，JavaScript对象
					})
				}

			});
		</script>

	</body>

</html>