@{
    ViewBag.Title = "工序平衡卡";
}
<link href="~/Content/styleFile/packaging/index.css" rel="stylesheet" />
<link href="~/Content/styleFile/processCapacity/ProcessCapacity.css" rel="stylesheet" />
<script src="~/Content/styleFile/packaging/index.js"></script>
<style>
    .el-upload__input {
        display: none !important;
    }

    .el-upload-dragger .el-icon-upload {
        margin: 0;
    }

    .el-upload-dragger {
        width: auto;
        height: auto;
    }

    .titleDiv {
        border-right: 1px solid #EBEEF5;
    }

    .titleFlex {
        display: flex !important;
        padding: 0 !important;
        min-height: 60px;
        align-items: center;
    }

    .showBtn {
        margin-left: 15px;
    }

    .el-dialog__body {
        text-align: center !important;
        padding: 10px !important;
    }

    .el-dialog__header {
        padding: 10px 0 5px;
    }

    .dialogTitle {
        font-size: 3vmin;
    }

    .editDiv {
        position: relative;
    }

    .editBtn {
        position: absolute;
        top: 3px;
        left: 10px;
        padding: 0;
    }

    .tableNewHeader > .el-table__body-wrapper {
        display: none;
    }
</style>
<div id="app" v-cloak>
    <el-container>
        <el-header class="text-center">
            <h2>@ViewBag.Title</h2>
            @*<a href="/Process_Capacity/Index"><el-button size="small">工序产能首页</el-button></a>
                <a href="/Process_Capacity/StandardCapacity"><el-button size="small">标准产能</el-button></a>
                <a href="/Process_Capacity/ProcessBalanceCard"><el-button size="small">工序平衡卡</el-button></a>*@
        </el-header>
        <el-main v-loading="loading">
            @*<el-row style="margin: 0 0 5px;">
                    <a href="/Process_Capacity/Index"><el-button size="small">返回</el-button></a>
                </el-row>*@
            <el-row class="text-center">
                <el-table v-if="tableObj.version=='old'"
                          v-bind:data="tableObj.List"
                          max-height="500"
                          size="mini"
                          align="center"
                          :span-method="objectSpanMethod"
                          border>
                    <div slot="empty">暂无数据</div>
                    @*表格开始*@
                    <el-table-column label="编号">
                        <el-table-column label="标题">
                            <el-table-column type="index" label="序号" width="45">
                            </el-table-column>
                        </el-table-column>
                    </el-table-column>
                    <el-table-column label-class-name="titleFlex">
                        <template slot="header" slot-scope="scope">
                            <span class="titleDiv" style="width:55%;padding:0 5px;">
                                @*{{tableObj.number}}*@
                                <el-select v-if="Object.keys(tableObj)!=''" v-model="tableObj.number" placeholder="版本号" size="mini">
                                    <el-option :disabled="true">
                                        <span style="float: left" class="green">{{ tableObj.number }}</span>
                                        <span style="float: right; color: #8492a6; font-size: 9px">当前编号</span>
                                    </el-option>
                                    <el-option-group label="历史编号：">
                                        <el-option v-for="item in numOptions"
                                                   :key="item.value"
                                                   :label="item.value"
                                                   :value="item.value">
                                        </el-option>
                                    </el-option-group>
                                </el-select>
                            </span>
                            <span class="titleDiv" style="width:20%">工段</span>
                            <span class="titleDiv" style="width:25%">{{tableObj.Section}}</span>
                        </template>
                        <el-table-column>
                            <template slot="header" slot-scope="scope">
                                <div>{{tableObj.Title}}</div>
                            </template>
                            <el-table-column prop="ProcessName" label="工序名称">
                            </el-table-column>
                        </el-table-column>
                    </el-table-column>

                    <el-table-column label="标准总人数">
                        <el-table-column label="">
                            <template slot="header" slot-scope="scope">
                                <div>{{tableObj.StandardTotal}}</div>
                            </template>
                            <el-table-column prop="StandarPersondNumber" label="标准人数(人)" width="100">
                            </el-table-column>
                        </el-table-column>
                    </el-table-column>
                    <el-table-column label="平衡率(%)">
                        <el-table-column label="">
                            <template slot="header" slot-scope="scope">
                                <div>{{tableObj.BalanceRate}}</div>
                            </template>
                            <el-table-column prop="StandardNumber" label="标准工时(秒)" width="100">
                            </el-table-column>
                        </el-table-column>
                    </el-table-column>
                    <el-table-column label="瓶颈(秒)">
                        <el-table-column label="">
                            <template slot="header" slot-scope="scope">
                                <div>{{tableObj.Bottleneck}}</div>
                            </template>
                            <el-table-column prop="UnioTime" label="单位工时(秒)" width="100">
                            </el-table-column>
                        </el-table-column>
                    </el-table-column>
                    <el-table-column label="标准产量(PCS/H)">
                        <el-table-column label="">
                            <template slot="header" slot-scope="scope">
                                <div>{{tableObj.StandardOutput}}</div>
                            </template>
                            <el-table-column prop="JigName" label="机器/夹具名称" width="100">
                            </el-table-column>
                        </el-table-column>
                    </el-table-column>
                    <el-table-column label="标准人均时产量(PCS/H/R)">
                        <el-table-column label="">
                            <template slot="header" slot-scope="scope">
                                <div>{{tableObj.StandardHourlyOutputPerCapita}}</div>
                            </template>
                            <el-table-column prop="MachineTime" label="机器时间(秒)" width="100">
                            </el-table-column>
                            <el-table-column prop="MachineNumber" label="机器数量(台)" width="100">
                            </el-table-column>
                        </el-table-column>
                    </el-table-column>
                    <el-table-column label="产品工时(分钟/PCS)">
                        <el-table-column label="">
                            <template slot="header" slot-scope="scope">
                                <div>{{tableObj.ProductWorkingHours}}</div>
                            </template>
                            <el-table-column prop="JigNum" label="夹具/工具(个)" width="100">
                            </el-table-column>
                            <el-table-column prop="Remark" label="备注" width="100">
                            </el-table-column>
                        </el-table-column>
                    </el-table-column>
                </el-table>
                <el-table v-if="tableObj.version=='new'"
                          class="tableNewHeader"
                          v-bind:data="tableNewHeader"
                          size="mini"
                          align="center"
                          border>
                    @*表格开始*@
                    <el-table-column label="编号">
                        <el-table-column label="标题" width="45">
                        </el-table-column>
                    </el-table-column>
                    <el-table-column label-class-name="titleFlex">
                        <template slot="header" slot-scope="scope">
                            <span class="titleDiv" style="width:55%;padding:0 5px;">
                                @*{{tableObj.number}}*@
                                <el-select v-if="Object.keys(tableObj)!=''" v-model="tableObj.number" placeholder="版本号" size="mini">
                                    <el-option :disabled="true">
                                        <span style="float: left" class="green">{{ tableObj.number }}</span>
                                        <span style="float: right; color: #8492a6; font-size: 9px">当前编号</span>
                                    </el-option>
                                    <el-option-group label="历史编号：">
                                        <el-option v-for="item in numOptions"
                                                   :key="item.value"
                                                   :label="item.value"
                                                   :value="item.value">
                                        </el-option>
                                    </el-option-group>
                                </el-select>
                            </span>
                            <span class="titleDiv" style="width:20%">工段</span>
                            <span class="titleDiv" style="width:25%">{{tableObj.Section}}</span>
                        </template>
                        <el-table-column>
                            <template slot="header" slot-scope="scope">
                                <div>{{tableObj.Title}}</div>
                            </template>
                        </el-table-column>
                    </el-table-column>
                    <el-table-column label="标准总人数">
                        <el-table-column label="" width="100">
                            <template slot="header" slot-scope="scope">
                                <div>{{tableObj.StandardTotal}}</div>
                            </template>
                        </el-table-column>
                    </el-table-column>
                    <el-table-column label="手工作业平衡率(%)">
                        <el-table-column label="" width="110">
                            <template slot="header" slot-scope="scope">
                                <div>{{tableObj.ManualBalanceRate}}</div>
                            </template>
                        </el-table-column>
                    </el-table-column>
                    <el-table-column label="设备作业平衡率(%)">
                        <el-table-column label="" width="110">
                            <template slot="header" slot-scope="scope">
                                <div>{{tableObj.EquipmentBalanceRate}}</div>
                            </template>
                        </el-table-column>
                    </el-table-column>
                    <el-table-column label="总体平衡率(%)">
                        <el-table-column label="" width="100">
                            <template slot="header" slot-scope="scope">
                                <div>{{tableObj.BalanceRate}}</div>
                            </template>
                        </el-table-column>
                    </el-table-column>
                    <el-table-column label="瓶颈(秒)">
                        <el-table-column label="" width="100">
                            <template slot="header" slot-scope="scope">
                                <div>{{tableObj.Bottleneck}}</div>
                            </template>
                        </el-table-column>
                    </el-table-column>
                    <el-table-column label="标准产量(PCS/H)">
                        <el-table-column label="" width="100">
                            <template slot="header" slot-scope="scope">
                                <div>{{tableObj.StandardOutput}}</div>
                            </template>
                        </el-table-column>
                    </el-table-column>
                    <el-table-column label="标准人均时产量(PCS/H/R)">
                        <el-table-column label="" width="200">
                            <template slot="header" slot-scope="scope">
                                <div>{{tableObj.StandardHourlyOutputPerCapita}}</div>
                            </template>
                        </el-table-column>
                    </el-table-column>
                    <el-table-column label="产品工时(分钟/PCS)">
                        <el-table-column label="" width="200">
                            <template slot="header" slot-scope="scope">
                                <div>{{tableObj.ProductWorkingHours}}</div>
                            </template>
                        </el-table-column>
                    </el-table-column>
                </el-table>
                <el-table v-if="tableObj.version=='new'"
                          v-bind:data="tableObj.List"
                          max-height="500"
                          size="mini"
                          align="center"
                          @*:span-method="objectSpanMethod"*@
                          border>
                    <div slot="empty">暂无数据</div>
                    @*表格开始*@
                    <el-table-column type="index" label="序号" width="45">
                    </el-table-column>
                    <el-table-column prop="ProcessName" label="工序名称">
                    </el-table-column>
                    <el-table-column label="手工作业">
                        <el-table-column prop="StandarPersondNumber" label="手工作业人数(人)" width="100">
                        </el-table-column>
                        <el-table-column prop="StandardNumber" label="作业时间(秒)" width="110">
                        </el-table-column>
                        <el-table-column prop="UnioTime" label="单位工时(秒)" width="110">
                        </el-table-column>
                        <el-table-column prop="JigName" label="治/夹具名称" width="100">
                        </el-table-column>
                        <el-table-column prop="MachineTime" label="治/夹具数量" width="100">
                        </el-table-column>
                    </el-table-column>
                    <el-table-column label="设备作业">
                        <el-table-column prop="MachineNumber" label="设备名称" width="100">
                        </el-table-column>
                        <el-table-column prop="JigNum" label="设备作业时间(秒)" width="100">
                        </el-table-column>
                        <el-table-column prop="EquipmentNum" label="设备数量(台)" width="100">
                        </el-table-column>
                        <el-table-column prop="EquipmentTime" label="单位工时(秒)" width="100">
                        </el-table-column>
                        <el-table-column prop="Peropel" label="人员配置(人)" width="100">
                        </el-table-column>
                    </el-table-column>
                </el-table>
                <el-table size="mini"
                          align="center"
                          :data="tableLine"
                          border
                          stripe>
                    <el-table-column>

                        <el-table-column type="index" label="修订" width="80">
                        </el-table-column>

                        <el-table-column prop="RevisionContent" label="修订内容">
                            <template slot-scope="scope">
                                {{tableObj.RevisionContent}}
                            </template>
                        </el-table-column>

                        <el-table-column label="制定或修订/日期" width="150">
                            <template slot-scope="scope">
                                {{tableObj.MakingPeople}}
                                <br />
                                {{tableObj.MakingTime}}
                            </template>
                        </el-table-column>

                        <el-table-column label="审核/日期" width="170">
                            <template slot-scope="scope">
                                <div class="editDiv">
                                    <el-button v-show="limitsRole[5] && editExaminan && tableObj.IsPassApprover==false" class="editBtn" @@click="editExaminan=false" type="text" icon="el-icon-edit" size="mini">修改</el-button>
                                    <el-button v-show="limitsRole[5] && !editExaminan && tableObj.IsPassApprover==false" class="editBtn" @@click="editExaminan=true" type="text" icon="el-icon-edit" size="mini" style="margin-left:0">取消</el-button>
                                    <br v-if="limitsRole[5] && !editExaminan && tableObj.IsPassApprover==false" />
                                    <template v-if="editExaminan && (tableObj.ExaminanPeople!='' && tableObj.ExaminanTime!='')">
                                        <span :class="{green:tableObj.IsPassExaminan,red:!tableObj.IsPassExaminan}">
                                            {{tableObj.IsPassExaminan==true?"通过":tableObj.IsPassExaminan==false?"不通过":""}}
                                        </span>
                                        <br />
                                        {{tableObj.ExaminanPeople}}
                                        <br />
                                        {{tableObj.ExaminanTime}}
                                    </template>
                                    <template v-else>
                                        <el-select v-model="selectExaminan" :disabled="!limitsRole[5]" placeholder="请选择" clearable size="mini" style="width:100px;">
                                            <el-option value="true" label="通过"></el-option>
                                            <el-option value="false" label="不通过"></el-option>
                                        </el-select>
                                        <el-button @@click="Autograph(tableObj.Section,tableObj.number,'审核',selectExaminan)" :disabled="!limitsRole[5] || selectExaminan==''" size="mini" type="primary" plain>确认</el-button>
                                    </template>
                                </div>
                            </template>
                        </el-table-column>

                        <el-table-column label="批准/日期" width="170">
                            <template slot-scope="scope">
                                <div class="editDiv">
                                    <el-button v-show="limitsRole[6] && editApprover && tableObj.IsPassControlled==false" class="editBtn" @@click="editApprover=false" type="text" icon="el-icon-edit" size="mini">修改</el-button>
                                    <el-button v-show="limitsRole[6] && !editApprover && tableObj.IsPassControlled==false" class="editBtn" @@click="editApprover=true" type="text" icon="el-icon-edit" size="mini" style="margin-left:0">取消</el-button>
                                    <br v-if="limitsRole[6] && !editApprover && tableObj.IsPassControlled==false" />
                                    <template v-if="editApprover && (tableObj.ApproverPeople!='' && tableObj.ApproverTime!='')">
                                        <span :class="{green:tableObj.IsPassApprover,red:!tableObj.IsPassApprover}">
                                            {{tableObj.IsPassApprover==true?"通过":tableObj.IsPassApprover==false?"不通过":""}}
                                        </span>
                                        <br />
                                        {{tableObj.ApproverPeople}}
                                        <br />
                                        {{tableObj.ApproverTime}}
                                    </template>
                                    <template v-else>
                                        <el-select v-model="selectApprover" :disabled="!limitsRole[6] || tableObj.IsPassExaminan!=true" placeholder="请选择" clearable size="mini" style="width:100px;">
                                            <el-option value="true" label="通过"></el-option>
                                            <el-option value="false" label="不通过"></el-option>
                                        </el-select>
                                        <el-button @@click="Autograph(tableObj.Section,tableObj.number,'批准',selectApprover)" :disabled="!limitsRole[6] || selectApprover==''" size="mini" type="primary" plain>确认</el-button>
                                    </template>
                                </div>
                            </template>
                        </el-table-column>

                        <el-table-column label="受控/日期" width="170">
                            <template slot-scope="scope">
                                <div class="editDiv">
                                    <el-button v-show="limitsRole[7] && editControlled " class="editBtn" @@click="editControlled=false" type="text" icon="el-icon-edit" size="mini">修改</el-button>
                                    <el-button v-show="limitsRole[7] && !editControlled " class="editBtn" @@click="editControlled=true" type="text" icon="el-icon-edit" size="mini" style="margin-left:0">取消</el-button>
                                    <br v-if="limitsRole[7] && !editControlled " />
                                    <template v-if="editControlled && (tableObj.ControlledPeople!='' && tableObj.ControlledTime!='')">
                                        <span :class="{green:tableObj.IsPassControlled,red:!tableObj.IsPassControlled}">
                                            {{tableObj.IsPassControlled==true?"通过":tableObj.IsPassControlled==false?"不通过":""}}
                                        </span>
                                        <br />
                                        {{tableObj.ControlledPeople}}
                                        <br />
                                        {{tableObj.ControlledTime}}
                                    </template>
                                    <template v-else>
                                        <el-select v-model="selectControlled" :disabled="!limitsRole[7] || tableObj.IsPassApprover!=true" placeholder="请选择" clearable size="mini" style="width:100px;">
                                            <el-option value="true" label="通过"></el-option>
                                            <el-option value="false" label="不通过"></el-option>
                                        </el-select>
                                        <el-button @@click="Autograph(tableObj.Section,tableObj.number,'受控',selectControlled)" :disabled="!limitsRole[7] || selectControlled==''" size="mini" type="primary" plain>确认</el-button>
                                    </template>
                                </div>
                            </template>
                        </el-table-column>
                    </el-table-column>
                </el-table>
            </el-row>
            <el-row style="margin-top:10px;display:flex">
                <upload-img-pdf v-if="limitsRole[4]" :obj="urlObj" class="uploadBtn"></upload-img-pdf>
                <show-img-pdf :obj="urlObj" class="showBtn"></show-img-pdf>
            </el-row>
            @*<el-row>
                    <a href="/MES_Data/Process_Capacity/21/打底壳/VH三代 模块1.xls">测试</a>
                </el-row>*@
            <el-row style="margin-top:10px;">
                <el-image v-for="url in imgSrcList"
                          :key="url"
                          :src="url"
                          :preview-src-list="imgSrcList"
                          lazy></el-image>
            </el-row>
        </el-main>
    </el-container>
</div>
@*img、pdf显示和上传*@
@RenderPage("_showImgPdf.cshtml")
<script>
    var app = new Vue({
        el: "#app",
        data: {
            loading: false,
            tableObj: {},
            tableNewHeader: [],
            tableLine: [{}],
            urlObj: {},
            selectExaminan: "",
            selectApprover: "",
            selectControlled: "",
            editExaminan: true,
            editApprover: true,
            editControlled: true,
            allDataList: [],
            numOptions: [],
            imgSrcList: [],
            //权限列表 和 是否拥有权限
            limitsList: {},
            limitsRole: {}
        },
        created: function () {
            this.loading = true;
            try {
                this.urlObj = this.GetUrlPara();
                this.getImg();
                axios.post('/Process_Capacity/DisplayALL_ProcessBalance', this.urlObj).then(res => {
                    this.allDataList = res.data.reverse();
                    console.log(JSON.parse(JSON.stringify(res.data)));
                    for (let item of this.allDataList) {
                        this.numOptions.push({
                            value: item.number
                        });
                    };
                    this.tableObj = JSON.parse(JSON.stringify(this.allDataList[0]));
                    this.loading = false;
                }).catch(err => {
                    console.warn("获取数据失败");
                    this.$message.warning("获取数据失败");
                    this.loading = false;
                });
            } catch (err) {
                this.$alert("页面信息已丢失，请从工序产能首页重新打开页面！");
                this.$notify.error({
                    title: '提示',
                    message: '页面信息已丢失，请从工序产能首页重新打开页面！',
                    duration: 0,
                    showClose: false,
                    offset: 50
                });
                this.loading = false;
            };

            //获取权限
            //1、新建平台 ，2、上传文件和编辑 ， 3、查看附表 ， 4、上传PDF和图片 ， 5、审核附表 ，6、批准附表 ，7、受控附表
            this.limitsList = JSON.parse(localStorage.getItem("rigths"));
            this.limitsRole = {
                1: this.checkRoles("新建平台"),
                2: this.checkRoles("上传文件和编辑"),
                3: this.checkRoles("查看附表"),
                4: this.checkRoles("上传PDF和图片"),
                5: this.checkRoles("审核附表"),
                6: this.checkRoles("批准附表"),
                7: this.checkRoles("受控附表"),
            };
        },
        watch: {
            "tableObj.number"(v) {
                for (let item of this.allDataList) {
                    if (v == item.number) {
                        this.tableObj = JSON.parse(JSON.stringify(item));
                    };
                };
            }
        },
        methods: {
            //返回地址对象
            GetUrlPara() {
                let urlParaArr = document.location.toString().split("?")[1].split("&"), rt = {};
                for (let i of urlParaArr) {
                    let objArr = i.split("=");
                    rt[objArr[0]] = decodeURI(objArr[1]);
                };
                return rt;
            },
            //合并逻辑
            objectSpanMethod({ row, column, rowIndex, columnIndex }) {
                //console.log("row");
                //console.log(row);
                //console.log("column");
                //console.log(column);
                //console.log("rowIndex");
                //console.log(rowIndex);
                //console.log("columnIndex");
                //console.log(columnIndex);
                let List = this.tableObj.List;
                if (columnIndex === 2) {
                    if (List[rowIndex].StandarPersondNumber != null) {
                        return {
                            rowspan: this.digui(rowIndex, "StandarPersondNumber"),
                            colspan: 1
                        };
                    } else {
                        return {
                            rowspan: 0,
                            colspan: 0
                        };
                    }
                }
                if (columnIndex === 4) {
                    if (List[rowIndex].UnioTime != null) {
                        return {
                            rowspan: this.digui(rowIndex, "UnioTime"),
                            colspan: 1
                        };
                    } else {
                        return {
                            rowspan: 0,
                            colspan: 0
                        };
                    }
                }
                if (columnIndex === 5) {
                    if (List[rowIndex].JigName != null) {
                        return {
                            rowspan: this.digui(rowIndex, "JigName"),
                            colspan: 1
                        };
                    } else {
                        return {
                            rowspan: 0,
                            colspan: 0
                        };
                    }
                }
                if (columnIndex === 8) {
                    if (List[rowIndex].JigNum != null) {
                        return {
                            rowspan: this.digui(rowIndex, "JigNum"),
                            colspan: 1
                        };
                    } else {
                        return {
                            rowspan: 0,
                            colspan: 0
                        };
                    }
                }
            },
            digui: function (rowIndex, name) {
                let tableList = this.tableObj.List;
                let num = rowIndex + 1, rowspan = 1;
                for (let i = 1; i < tableList.length; i++) {
                    if (num < tableList.length && tableList[num][name] == null) {
                        rowspan++;
                        num++;
                    };
                };
                return rowspan;
            },
            //签名
            Autograph(Section, number, status, isPass) {
                this.urlObj.Section = Section;
                this.urlObj.number = number;
                this.urlObj.status = status;
                this.urlObj.isPass = JSON.parse(isPass);

                console.log(this.urlObj);
                axios.post('/Process_Capacity/Autograph_ProcessBalance', this.urlObj).then(res => {
                    console.log(res.data);
                    if (res.data == "True") {
                        location.reload();
                    } else {
                        this.$message.warning(status + "不成功！")
                    };
                }).catch(err => {
                    console.warn("获取数据失败");
                });
            },
            //权限筛选
            checkRoles(roleName) {   //检测权限
                list = this.limitsList;
                if (list && roleName) {
                    for (let item in list) {
                        if (list[item] == roleName) {
                            return true;
                        };
                    };
                };
                return false;
            },
            //获取图片
            getImg() {
                axios.post('/Process_Capacity/DisplayImg', {
                    id: this.urlObj.id,
                    seaction: this.urlObj.Section,
                    processName: this.urlObj.title
                }).then(res => {
                    //console.log(res.data);
                    if (res.data.have == true) {
                        this.imgSrcList = res.data.path.reverse();
                    };
                }).catch(err => {
                    console.warn("获取数据失败");
                });
            },
        },
    });
</script>