* {
    margin: 0;
    padding: 0;
}

body {
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.bigbox {
    width: 1920px;
    height: 1080px;
    margin: 51px;
    background-image: url('/Images/login_background_PC.jpg');
    background: no-repeat;
    background-color: #ff6a00;
    background-position: center;
    line-height: 1080px;
}


.download_exp {
    width: 500px;
    height: 300px;
    align-content: center;
}
