@{
    ViewBag.Title = "权限查看";
}
<link href="~/Content/styleFile/packaging/index.css" rel="stylesheet" />
<script src="~/Content/styleFile/packaging/index.js"></script>

<style>
    [v-cloak] {
        display: none;
    }

    .body-content, .container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .el-main {
        padding: 0;
    }

    .el-header {
        height: auto !important;
        padding: 0;
    }

    .el-table th {
        background-color: #f4df42;
        color: #000;
    }

    .el-table td {
        padding: 4px 0;
    }

    .el-table th {
        font-size: 13px;
        text-align: center;
    }

    .red {
        color: #FF9999;
    }

    .textCenter {
        text-align: center !important;
    }

    .el-tag {
        margin: 2px;
    }

    h2, h3 {
        margin-top: 10px;
    }
</style>

<div id="app" v-cloak>
    <el-container>
        <el-header class="text-center">
            <div v-show="screenSize>=768">
                <h2 class="text-center">@ViewBag.Title</h2>
            </div>
            <div v-show="screenSize<768">
                <h3>@ViewBag.Title</h3>
            </div>
        </el-header>
        <el-main v-loading="loading">
            <el-row>
                <div class="text-center">
                    <span class="el-tag el-tag--success"><i class="el-icon-star-on red"></i> 拥有此项权限</span>
                    <span class="el-tag el-tag--info">未拥有此权限</span>
                </div>
                <el-table :data="dataList" max-height="600" border stripe>
                    <el-table-column prop="groupName"
                                     label="权限所属"
                                     class-name="textCenter"
                                     width="200">
                    </el-table-column>
                    <el-table-column prop="role"
                                     label="权限名称"
                                     min-width="300">
                        <template slot-scope="scope">
                            <template v-for="i in scope.row.role">
                                <el-tag :type="i.ishaving==true?'success':'info'"><i :class="i.ishaving==true?'red el-icon-star-on':''"></i>{{i.name}}</el-tag>
                            </template>
                        </template>
                    </el-table-column>
                </el-table>
            </el-row>
        </el-main>
    </el-container>
</div>

@{var UserID = Session["User"] == null ? string.Empty : ((JianHeMES.Models.Users)Session["User"]).UserNum.ToString(); }
<script>
    var app = new Vue({
        el: "#app",
        data: {
            loading: false,
            screenSize: document.body.clientWidth,
            dataList: [],
        },
        created: function () {
            window.onresize = function () {
                app.screenSize = document.body.clientWidth;
            };
        },
        mounted: function () {
            this.huoqu();
        },
        methods: {
            //获取已存在信息
            huoqu: function () {
                this.loading = true;
                axios.post("/Users/DisplayRoleList", { userid:@UserID}).then(res => {
                    console.log(res.data);
                    this.dataList = res.data;
                    this.loading = false;
                }).catch(err => {
                    console.warn(err);
                    this.loading = false;
                });
            }
        }
    });
</script>