@model IEnumerable<JianHeMES.Models.Personnel_Turnoverrate>
@{
    ViewBag.Title = "月流失率查看";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/echarts.js"></script>
<style>
    [v-cloak] {
        display: none;
    }
    .table > tbody > tr > th {
        background-color: #f0da35;
    }
    .table > tbody > tr > th,.footTr{
        height:30px;
    }
    .table-bordered > tbody > tr > th,.table-bordered > tbody > tr > td {
        border: 1px solid #555;
        text-align:center;
        vertical-align:middle;
        padding:1px;
    }
    .table > tbody > tr > td:hover, .table > tbody > tr > th :hover {
                background-color: #f0da35;
            }
</style>
<h3 class="text-center">月流失率查看</h3>
<p>@Html.ActionLink("月流失率输入页面", "TurnoverrateInput")</p>
<div id="app" class="form-group text-center">
    <div class="row">
        <div class="col-md-5">
            <div style="margin-bottom:5px;">
                    <select v-model="year">
                        <option></option>
                        <option>2019</option>
                        <option>2020</option>
                        <option>2021</option>
                        <option>2022</option>
                        <option>2023</option>
                    </select>
                    年
                    <select v-model="month">
                        <option></option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                    </select>
                    月流失率
            </div>
            <div>
                <table class="table table-bordered">
                    <colgroup>
                        <col width="100" />
                        <col width="80" />
                        <col width="80" />
                        <col width="80" />
                        <col width="80" />
                        <col width="90" />
                    </colgroup>
                        <tr>
                            <th>部门</th>
                            <th>月初人数</th>
                            <th>月末人数</th>
                            <th>平均人数</th>
                            <th>离职人数</th>
                            <th>流失率</th>
                        </tr>
                        <tr v-for="(item,index) in list" v-cloak>
                            <td>{{item.Department}}</td>
                            <td>{{item.Month_Beginning}}</td>
                            <td>{{item.Month_End}}</td>
                            <td>{{item.Average_Number}}</td>
                            <td>{{item.Departure}}</td>
                            <td>{{item.Turnover_Rate.toFixed(2)}}%</td>
                            @*[Display(Name = "平均数值")]
                                public decimal Average_Value { get; set; }*@
                        </tr>
                        <tr class="footTr">
                            <td v-if="list==''" colspan="6">暂无数据</td>
                            <td v-else colspan="5">平均数值</td>
                            <td v-if="list!=''" style="font-weight:bold;">{{list[0].Average_Value.toFixed(2)}}%</td>
                        </tr>
                </table>
            </div>
        </div>
        <div class="col-md-7">
            <div id="echartMain" style="width: 700px;height:350px;"></div>
        </div>
    </div>
    <hr />
    <div class="row">
        <table class="table table-bordered">
            <colgroup>
                <col width="100" />
                <col width="100" />
                <col width="80" />
                <col width="80" />
                <col width="80" />
                <col width="80" />
                <col width="80" />
                <col width="80" />
                <col width="80" />
                <col width="80" />
                <col width="80" />
                <col width="80" />
                <col width="80" />
                <col width="80" />
                <col width="100" />
            </colgroup>
            <tr>
                <th colspan="2">月份</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th rowspan="5">平均数值</th>
            </tr>
            <tr>
                <td rowspan="5">部门</td>
                <td>月初人数</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>月末人数</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>平均人数</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>离职人数</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>流失率</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>100.00%</td>
            </tr>
        </table>
    </div>
</div>

<script>
    var app = new Vue({
        el: "#app",
        data: {
            year: "",
            month: "",
            list: [],
        },
        methods: {
            postTime: function (y, m) {
                $.ajax({
                    url: "/Personnel_Turnoverrate/Turnoverrate",
                    type: "post",
                    data: {
                        Year: y,
                        Month: m,
                    },
                    success: function (data) {
                        console.log(data);
                        let targetdata = JSON.parse(data);
                        if (targetdata.length > 0) {
                            app.list = targetdata;
                        } else {
                            app.list = [];
                            alert(y + "年" + m + "月没有记录或尚未输入数据！");
                        };
                    },
                    error: function (dat) {
                        alert("查询失败！")
                    }
                });
            },
        },
        watch: {
            year: function () {
                if (this.year != "" && this.month != "") {
                    this.$options.methods.postTime(this.year, this.month);
                } else {
                    app.list = [];
                };
            },
            month: function () {
                if (this.year != "" && this.month != "") {
                    this.$options.methods.postTime(this.year, this.month);
                } else {
                    app.list = [];
                };
            },
        }
    });

    var myChart = echarts.init(document.getElementById('echartMain'));
    var option = {
        xAxis: {
            type: 'category',
            data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            data: [820, 932, 901, 934, 1290, 1330, 1320,820, 932, 901, 934, 1290, 1330, 1320],
            type: 'line'
        }]
    };
    myChart.setOption(option);
</script>