
@{
    /**/

    ViewBag.Title = "b_a_list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>b_a_list</h2>

@using (Html.BeginForm("b_a_list", "Test", FormMethod.Post, new { id = "searchForm", @class = "text-center" }))
{
    @Html.AntiForgeryToken()
    <span>订单号：<input type="text" name="ordernum" v-model="SearchDate" /></span>
    <input type="submit" id="searchButton" class="hidden" value="查找" />
}

@*老化完成条码清单
@foreach (var item in @ViewBag.burn_in_neverfinish)
{
    <li>
        @item
    </li>
}
<br /><hr /><br />
校正条码清单
@foreach (var item in @ViewBag.calibrationlist)
{
    <li>
        @item
    </li>
}*@
<br /><hr /><br />
老化未完成，校正已完成条码清单
@foreach (var item in @ViewBag.resultlist)
{
    <li>
        @item
    </li>
}

