
@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    *{
        background-color:dodgerblue;
        color:white;
    }
    html,body,.SMT{
        height:100%;
        margin:0;
        padding:0;
    }
    .SMTLineTitle{
        width:100%;
        height:20%;
    }
    .SMTLineTitle>div{
        float:left;
        width:33.3%;
        height:100%;
    }
    .Line,.Line>span{
        color:yellow;
        font-size:80px;
        margin:30px 0 0 0;
        text-align:center;
    }
    .lineInfo{
        height:80px;
        width:200px;
        margin-left:200px;
        margin-top:100px;
        z-index:-1;
    }
    .SMTContent{
        border-top:2px solid red;
        width:100%;
        height:79%;
    }
    .leftContent{
        float:left;
        border-right:2px solid red;
        width:39%;
        height:100%;
    }
    .leftContent>ul{
        margin:10% 10%;
        list-style:none;
    }
    .leftContent>ul>li{
        line-height:45px;
        font-size:20px;
    }
    .rightContent{
        float:left;
        width:60%;
        height:100%;
    }
    .rightContent>div{
        margin:5% 10%;
    }
    .colorG{
        color:#31ec31;
    }
    .colorR{
        color:red;
    }
    .colorY{
        color:yellow;
    }
    
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SMT</title>
</head>
<body>
    <div id="app" class="SMT container"> 
        <div class="SMTLineTitle form-group">
            <div></div>
            <div><p class="Line">SMT-<span>1</span>线</p></div>
            <div>
                <div class="lineInfo">
                    <p>日期：2018-9-27</p>
                    <p>班组：白班   组长：张三</p>
                </div>
            </div>
        </div>
        <div class="SMTContent form-group">
            <div class="leftContent">
                <ul>
                    <li>今天计划生产订单：</li>
                    <li>2018-YA363-1   1000个   LY   中国</li>
                    <li>2018-YA363-1   1000个   LY   中国</li>
                    <li>2018-YA363-1   1000个   LY   中国</li>
                    <li>2018-YA363-1   1000个   LY   中国</li>
                </ul>
            </div>
            <div class="rightContent">
                <div>
                    <h1 class="colorG">正在生产订单：<span>2018-YA363-1</span></h1>
                    <h1 class="colorY">今天生产数量汇总：50个</h1>
                    <h3 class="colorG">合格品：47个</h3>
                    <p class="colorR">不良品：3个</p>
                    <p class="colorR">不良率：5.45%</p>
                    <p>订单累计生产数量：234个</p>
                    <p>订单完成率：23.40%</p>
                    <br />
                    <p>产线状态：<span  class="colorR">待料中。。。</span></p>
                </div>
            </div>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: "#app",
            data: {

            },
            methods: {

            },
            watch: {

            },
            computed: {

            }
        })
    </script>
</body>
</html>
