@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body, .container, .body-content {
        width: 336px;
        height: 1008px;
        margin: 0;
        padding: 0;
        border: 1px solid #555;
        background-color: #000;
        color: #fff;
    }

    #app {
        margin: 0px 3px;
    }

    .navbar, footer {
        display: none;
    }

    h3 {
        margin: 10px 0;
    }

    hr {
        display: none;
    }

    .table > tbody > tr > th, .table > tbody > tr > td {
        text-align: center;
        vertical-align: middle;
        font-size: 10px;
        padding: 3px 1px;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        white-space: nowrap;
    }
</style>
<img src="~/Images/LOGO.jpg" style="width:100%" />
<div id="app" class="form-group">
    <br />
    <div v-for="(item,index) in smtLineData">
        <div v-if="index==lineNum">
            <p style="font-size:18px;float:left">SMT生产信息</p><span style="float:right">{{nowtime}}</span>
            <template v-for="(val,i) in item">
                <table v-if="i==0" class="table table-bordered">
                    <tr>
                        <td>生产线:</td>
                        <td>SMT{{val[0]}}线</td>
                        <td>班组长:</td>
                        <td>{{val[15]}}</td>
                        <td>生产状态:</td>
                        <td>{{val[17]}}</td>
                    </tr>
                </table>

                <span v-if="i==0" style="width:100px;height:15px">正在生产订单：</span>
                <span v-if="i>0" style="display:inline-block;width:100px;height:15px"></span>
                <li v-if="val[17]=='生产中'" style="display:inline">{{val[1]}}<br /></li>
            </template>
            <br />
            <table class="table table-bordered">
                <tr>
                    <td colspan="5" class="text-center">今天生产订单</td>
                </tr>
                <template v-for="(val,i) in item">
                    <tr>
                        <td rowspan="3">{{val[1]}}</td>
                        <td>订单总数量:</td>
                        <td>{{val[3]}}</td>
                        <td>累计完成数量:</td>
                        <td>{{val[13]}}</td>
                    </tr>
                    <tr>
                        <td>日计划生产数量:</td>
                        <td>{{val[4]}}</td>
                        <td>日生产完成数量:</td>
                        <td>{{val[5]}}</td>
                    </tr>
                    <tr>
                        <td>日生产完成率:</td>
                        <td>{{val[6]}}</td>
                        <td>订单完成率:</td>
                        <td>{{val[14]}}</td>
                    </tr>
                </template>
            </table>
        </div>
    </div>
</div>

<script>
    var app = new Vue({
        el: "#app",
        data: {
            smtLineData: [],
            lineNum: 0,
            nowtime: ""
        },
        created: function () {
            setInterval(function () {
                app.nowtime = new Date().Format("yyyy-MM-dd hh:mm:ss");
            }, 1000);
        },
        watch: {
        },
        methods: {
        }
    });
    Date.prototype.Format = function (fmt) {
        var o = {
            "M+": this.getMonth() + 1,
            "d+": this.getDate(),
            "h+": this.getHours(),
            "m+": this.getMinutes(),
            "s+": this.getSeconds(),
            "q+": Math.floor((this.getMonth() + 3) / 3),
            "S": this.getMilliseconds()
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt))
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
</script>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var mypush = $.connection.SMT;
            mypush.client.sendSMT_ProductionInfo = function (SMT_ProductionInfo) {
                //console.log(SMT_ProductionInfo);
                app.smtLineData = [];
                var linedata = SMT_ProductionInfo;
                for (var line in linedata) {
                    var ordernumdata = JSON.parse(linedata[line]);
                    var lineArr = [];
                    var oneline = [];
                    for (var order in ordernumdata) {
                        oneline = []
                        oneline.push(line);
                        var itemdata = JSON.parse(ordernumdata[order])
                        oneline.push(order);
                        for (var item in itemdata) {
                            oneline.push(itemdata[item]);
                        }
                        lineArr.push(oneline);
                    };
                    app.smtLineData.push(lineArr);
                };
                console.log(app.smtLineData);
            };
            //启动
            $.connection.hub.start();
        });
    </script>
}
