
@{
    ViewBag.Title = "温湿度实时数据显示";
}
<style>
    h5 {
        margin: 5px 0;
        font-weight: 500;
        color: #4859da;
    }

    table {
        font-size: 12px;
    }

    hr {
        border-color: #9D9D9D;
        margin: 10px 0;
    }

    .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td {
        border-color: #9D9D9D;
        line-height: 10px;
        padding: 5px;
    }

    .row div {
        width: 165px;
        height: 140px;
        float: left;
        margin: 0px 10px 15px 10px;
    }

    #GJB1, #GJB2 {
        color: red;
    }

    a, a:hover, a:link, a:active, a:visited {
        text-decoration: none;
        color: #111;
    }

    a {
        padding-left: 0 !important;
    }
</style>
<h3 style="text-align:center;margin:15px 0 0px">@ViewBag.Title</h3>


@*
    这里的HTML代码，是采用浮动的方式按楼层分层，层内顺序排列数据方框，
    迁移建议：每一个方框做成组件，因为显示形式是相同的，此页面需要重做，数据渲染不要继续采用jquery获取dom的方式，而是组件渲染方式
*@
<div class="container">
    <hr />
    <div class="row">
        <div>
            @*<div style="margin-right:195px">*@
            <h5>一楼温湿度</h5>
            <a href="~/KongYaHT/KongYa/HTCharts?point=一楼配套加工(2)" title="点击查看温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>一楼配套加工(2)</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="1F_temprature2">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="1F_humidity2">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="1F_time2">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="1F_state2">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5>&nbsp;</h5>
            <a href="~/KongYaHT/KongYa/HTCharts?point=一楼配套加工(3)" title="点击查看温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>一楼配套加工(3)</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="1F_temprature1">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="1F_humidity1">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="1F_time1">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="1F_state1">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5> &nbsp;</h5>
            <a href="~/KongYaHT/KongYa/HTCharts?point=一楼配套加工(4)" title="点击查看温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>一楼配套加工(4)</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="1F_temprature4">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="1F_humidity4">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="1F_time4">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="1F_state4">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5> &nbsp;</h5>
            <a href="~/KongYaHT/KongYa/HTCharts?point=一楼配套加工(5)" title="点击查看温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>一楼配套加工(5)</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="1F_temprature5">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="1F_humidity5">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="1F_time5">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="1F_state5">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5> &nbsp;</h5>
            <a href="~/KongYaHT/KongYa/HTCharts?point=一楼配套加工(6)" title="点击查看温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>一楼配套加工(6)</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="1F_temprature3">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="1F_humidity3">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="1F_time3">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="1F_state3">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            @*<div style="margin-right:195px">*@
            <h5>&nbsp;</h5>
            <a href="~/KongYaHT/KongYa/HTCharts?point=高精度尺寸测量室" title="点击查看温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>高精度尺寸测量室</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="1F_temprature7">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="1F_humidity7">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="1F_time7">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="1F_state7">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5>&nbsp;</h5>
            <a href="~/KongYaHT/KongYa/HTCharts?point=来料检验室1号" title="点击查看温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>来料检验室1号</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="1F_temprature8">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="1F_humidity8">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="1F_time8">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="1F_state8">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5> &nbsp;</h5>
            <a href="~/KongYaHT/KongYa/HTCharts?point=寿命实验室" title="点击查看温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>寿命实验室</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="1F_temprature9">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="1F_humidity9">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="1F_time9">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="1F_state9">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5> &nbsp;</h5>
            <a href="~/KongYaHT/KongYa/HTCharts?point=环境实验室" title="点击查看温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>环境实验室</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="1F_temprature10">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="1F_humidity10">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="1F_time10">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="1F_state10">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5> &nbsp;</h5>
            <a href="~/KongYaHT/KongYa/HTCharts?point=来料检验室2号" title="点击查看温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>来料检验室2号</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="1F_temprature11">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="1F_humidity11">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="1F_time11">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="1F_state11">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5> &nbsp;</h5>
            <a href="~/KongYaHT/KongYa/HTCharts?point=一楼篮球场" title="点击查看温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>一楼篮球场</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="1F_temprature6">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="1F_humidity6">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="1F_time6">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="1F_state6">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            @*<div style="margin-right:195px">*@
            <h5>二楼温湿度</h5>
            <a href="~/KongYaHT/KongYa/HTCharts?point=二楼老化" title="点击查看温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>二楼老化车间</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="2F_temprature1">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="2F_humidity1">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="2F_time1">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="2F_state1">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
    </div>

    <hr />
    <div class="row">
        <div>
            <h5>三楼温湿度</h5>
            <a href="~/KongYaHT/KongYa/HTCharts?point=三楼插件" title="点击查看温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>三楼插件车间</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="3F_temprature1">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="3F_humidity1">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="3F_time1">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="3F_state1">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5> &nbsp;</h5>
            <a href="~/KongYaHT/KongYa/HTCharts?point=三楼面罩" title="点击查看温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>三楼面罩2线</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="3F_temprature10">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="3F_humidity10">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="3F_time10">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="3F_state10">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5> &nbsp;</h5>
            <a href="~/KongYaHT/KongYa/HTCharts?point=三楼仓库" title="点击查看温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>三楼结构仓库</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="3F_temprature2">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="3F_humidity2">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="3F_time2">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="3F_state2">#</span></td>
                    </tr>
                </table>
            </a>
        </div>

        <div>
            <h5>四楼温湿度</h5>
            <a href="~/KongYaHT/KongYa/HTCharts?point=四楼喷墨房1号" title="点击查看温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>四楼喷墨房1号</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="4F_temprature2">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="4F_humidity2">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="4F_time2">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="4F_state2">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5> &nbsp;</h5>
            <a href="~/KongYaHT/KongYa/HTCharts?point=四楼喷墨房2号" title="点击查看温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>四楼喷墨房2号</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="4F_temprature3">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="4F_humidity3">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="4F_time3">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="4F_state3">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5> &nbsp;</h5>
            <a href="~/KongYaHT/KongYa/HTCharts?point=四楼喷墨房老化间" title="点击查看温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>四楼喷墨房老化间</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="4F_temprature13">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="4F_humidity13">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="4F_time13">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="4F_state13">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5> &nbsp;</h5>
            <a href="~/KongYaHT/KongYa/HTCharts?point=四楼线材" title="点击查看温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>四楼线材车间</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="4F_temprature4">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="4F_humidity4">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="4F_time4">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="4F_state4">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5> &nbsp;</h5>
            <a href="~/KongYaHT/KongYa/HTCharts?point=四楼老化调试" title="点击查看温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>四楼模组老化区</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="4F_temprature5">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="4F_humidity5">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="4F_time5">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="4F_state5">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5> &nbsp;</h5>
            <a href="~/KongYaHT/KongYa/HTCharts?point=四楼老化调试2号" title="点击查看温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>四楼模组老化区2号</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="4F_temprature6">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="4F_humidity6">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="4F_time6">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="4F_state6">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5> &nbsp;</h5>
            <a href="~/KongYaHT/KongYa/HTCharts?point=四楼老化调试3号" title="点击查看温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>四楼模组老化区3号</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="4F_temprature7">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="4F_humidity7">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="4F_time7">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="4F_state7">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5> &nbsp;</h5>
            <a href="~/KongYaHT/KongYa/HTCharts?point=四楼仓库" title="点击查看温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>四楼结构仓库</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="4F_temprature8">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="4F_humidity8">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="4F_time8">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="4F_state8">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5> &nbsp;</h5>
            <a href="~/KongYaHT/KongYa/HTCharts?point=四楼组装线1号" title="点击查看温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>四楼组装线1号</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="4F_temprature9">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="4F_humidity9">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="4F_time9">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="4F_state9">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5> &nbsp;</h5>
            <a href="~/KongYaHT/KongYa/HTCharts?point=四楼组装线2号" title="点击查看温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>四楼组装线2号</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="4F_temprature10">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="4F_humidity10">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="4F_time10">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="4F_state10">#</span></td>
                    </tr>
                </table>
            </a>
        </div>

        <div>
            <h5> &nbsp;</h5>
            <a href="~/KongYaHT/KongYa/HTCharts?point=四楼小样房" title="点击查看温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>四楼小样房</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="4F_temprature11">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="4F_humidity11">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="4F_time11">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="4F_state11">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5> &nbsp;</h5>
            <a href="~/KongYaHT/KongYa/HTCharts?point=四楼首样房" title="点击查看温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>四楼首样房</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="4F_temprature12">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="4F_humidity12">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="4F_time12">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="4F_state12">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div>
            <h5>五楼温湿度</h5>
            <a href="~/KongYaHT/KongYa/HTCharts?point=五楼SMT产线1" title="点击查看温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>五楼SMT产线1</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="5F_temprature4">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="5F_humidity4">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="5F_time4">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="5F_state4">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5> &nbsp;</h5>
            <a href="~/KongYaHT/KongYa/HTCharts?point=五楼SMT产线2" title="点击查看温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>五楼SMT产线2</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="5F_temprature5">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="5F_humidity5">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="5F_time5">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="5F_state5">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5> &nbsp;</h5>
            <a href="~/KongYaHT/KongYa/HTCharts?point=五楼SMT物料暂存" title="点击查看温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>五楼SMT物料暂存区</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="5F_temprature6">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="5F_humidity6">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="5F_time6">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="5F_state6">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5> &nbsp;</h5>
            <a href="~/KongYaHT/KongYa/HTCharts?point=五楼电子仓7" title="点击查看温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>五楼电子仓采集点#7</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="5F_temprature7">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="5F_humidity7">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="5F_time7">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="5F_state7">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5> &nbsp;</h5>
            <a href="~/KongYaHT/KongYa/HTCharts?point=五楼电子仓8" title="点击查看温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>五楼电子仓采集点#8</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="5F_temprature8">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="5F_humidity8">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="5F_time8">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="5F_state8">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5> &nbsp;</h5>
            <a href="~/KongYaHT/KongYa/HTCharts?point=五楼电子仓9" title="点击查看温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>五楼电子仓采集点#9</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="5F_temprature9">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="5F_humidity9">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="5F_time9">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="5F_state9">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5> &nbsp;</h5>
            <a href="~/KongYaHT/KongYa/HTCharts?point=五楼电子仓10" title="点击查看温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>五楼电子仓采集点#10</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="5F_temprature10">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="5F_humidity10">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="5F_time10">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="5F_state10">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5> &nbsp;</h5>
            <a href="~/KongYaHT/KongYa/HTCharts?point=五楼电子仓11" title="点击查看温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>五楼电子仓采集点#11</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="5F_temprature11">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="5F_humidity11">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="5F_time11">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="5F_state11">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5> &nbsp;</h5>
            <a href="~/KongYaHT/KongYa/HTCharts?point=五楼电子仓12" title="点击查看温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>五楼电子仓采集点#12</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="5F_temprature12">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="5F_humidity12">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="5F_time12">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="5F_state12">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5>六楼温湿度</h5>
            <table class="table table-bordered">
                <tr>
                    <th></th>
                    <th>实时数据</th>
                </tr>
                <tr>
                    <th>位置</th>
                    <td>六楼空压机房</td>
                </tr>
                <tr>
                    <th>温度</th>
                    <td><span id="6F_temprature">#</span> °C</td>
                </tr>
                <tr>
                    <th>湿度</th>
                    <td><span id="6F_humidity">#</span> %RH</td>
                </tr>
                <tr>
                    <th>时间</th>
                    <td><span id="6F_time">#</span></td>
                </tr>
                <tr>
                    <th>状态</th>
                    <td><span id="6F_state">#</span></td>
                </tr>
            </table>
        </div>
        <div style="font-size:15px;width:auto;height:auto;margin-bottom:0;">
            根据中华人民共和国国家军用标准GJB 3007A-2009规定，防静电工作区环境条件要求：<br> 1.室温一般维持在
            <span id="GJB1">16℃～28℃</span>范围内，温度变化率小于5℃/h；<br> 2.室内相对湿度保持在
            <span id="GJB2">45%～70%</span>范围内，并不得结露。<br />
            @*<p class="text-success text-center btn btn-default">
                    @Html.ActionLink("导出湿湿度数据", "OutputTHDataToExcel")<br />
                </p>*@
        </div>
    </div>
    <hr />
    <div class="row">
        <div>
            <h5>其它</h5>
            <a href="~/KongYaHT/KongYa/NoiseCharts?point=一楼打磨车间噪声" title="点击查看噪声详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>一楼打磨车间</td>
                    </tr>
                    <tr>
                        <th>分贝</th>
                        <td><span id="1F_noise1">#</span> dB</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="1F_noiseTime1">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="1F_noiseState1">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5> &nbsp;</h5>
            <a href="~/KongYaHT/KongYa/TVOCCharts?point=四楼喷墨房TVOC" title="点击查看空气品质详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>四楼喷墨房TVOC</td>
                    </tr>
                    <tr>
                        <th>单位</th>
                        <td><span id="4F_tvoc1">#</span> ppb</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="4F_tvocTime1">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="4F_tvocState1">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var mypush1 = $.connection.Hub1;
            var mypush3 = $.connection.Hub3;
            var mypush4 = $.connection.Hub4;
            var mypush5 = $.connection.Hub5;
            var mypush6 = $.connection.Hub6;
                    //以下为数据显示方法，目前是用id定位节点赋值，改为vue方式用data显示数据即可，
                    //css控制可以写在html上，用vue的方式判断显示颜色和描述，
                    //判断逻辑为：
                    //温度：16℃～28℃ 是正常、绿色，非范围内报警
                    //湿度：45%～70% 是正常、绿色，非范围内报警
            mypush1.client.sendTH1 = function (TH1_json) {
                var TH_40004493_1 = JSON.parse(TH1_json.TH_40004493_1);
                var TH_40004518_1 = JSON.parse(TH1_json.TH_40004518_1);
                var TH_40004518_2 = JSON.parse(TH1_json.TH_40004518_2);
                var TH_40004518_3 = JSON.parse(TH1_json.TH_40004518_3);
                var TH_40004518_6 = JSON.parse(TH1_json.TH_40004518_6);
                var TH_40004518_4 = JSON.parse(TH1_json.TH_40004518_4);
                var TH_40004518_5 = JSON.parse(TH1_json.TH_40004518_5);

                var TH_40004557_1 = JSON.parse(TH1_json.TH_40004557_1);
                var TH_40004557_2 = JSON.parse(TH1_json.TH_40004557_2);
                var TH_40004557_3 = JSON.parse(TH1_json.TH_40004557_3);
                var TH_40004557_4 = JSON.parse(TH1_json.TH_40004557_4);
                var TH_40004557_5 = JSON.parse(TH1_json.TH_40004557_5);
                //噪声
                var Noise = JSON.parse(TH1_json.Noise);

                //1F_点1
                $("#1F_temprature1").html(TH_40004518_3.Tem);
                $("#1F_humidity1").html(TH_40004518_3.Hum);
                $("#1F_time1").html(TH_40004518_3.RecordTime.split('T').join(" "));
                if (TH_40004518_3.Tem > 16 && TH_40004518_3.Tem < 28) {
                    if (TH_40004518_3.Hum > 45 && TH_40004518_3.Hum < 70) {
                        $("#1F_state1").html("正常").css("color", "green");
                    } else { $("#1F_state1").html("湿度警报").css("color", "red"); }
                } else {
                    if (TH_40004518_3.Hum > 45 && TH_40004518_3.Hum < 70) {
                        $("#1F_state1").html("温度警报").css("color", "red");
                    } else { $("#1F_state1").html("温湿度警报").css("color", "red"); }
                }

                //1F_点2 暂改2楼编带房
                $("#1F_temprature2").html(TH_40004518_2.Tem);
                $("#1F_humidity2").html(TH_40004518_2.Hum);
                $("#1F_time2").html(TH_40004518_2.RecordTime.split('T').join(" "));
                if (TH_40004518_2.Tem > 16 && TH_40004518_2.Tem < 28) {
                    if (TH_40004518_2.Hum > 45 && TH_40004518_2.Hum < 70) {
                        $("#1F_state2").html("正常").css("color", "green");
                    } else { $("#1F_state2").html("湿度警报").css("color", "red"); }
                } else {
                    if (TH_40004518_2.Hum > 45 && TH_40004518_2.Hum < 70) {
                        $("#1F_state2").html("温度警报").css("color", "red");
                    } else { $("#1F_state2").html("温湿度警报").css("color", "red"); }
                }

                //1F_点3
                $("#1F_temprature3").html(TH_40004518_6.Tem);
                $("#1F_humidity3").html(TH_40004518_6.Hum);
                $("#1F_time3").html(TH_40004518_6.RecordTime.split('T').join(" "));
                if (TH_40004518_6.Tem > 16 && TH_40004518_6.Tem < 28) {
                    if (TH_40004518_6.Hum > 45 && TH_40004518_6.Hum < 70) {
                        $("#1F_state3").html("正常").css("color", "green");
                    } else { $("#1F_state3").html("湿度警报").css("color", "red"); }
                } else {
                    if (TH_40004518_6.Hum > 45 && TH_40004518_6.Hum < 70) {
                        $("#1F_state3").html("温度警报").css("color", "red");
                    } else { $("#1F_state3").html("温湿度警报").css("color", "red"); }
                }

                //1F_点4 暂改2楼校正房
                $("#1F_temprature4").html(TH_40004518_4.Tem);
                $("#1F_humidity4").html(TH_40004518_4.Hum);
                $("#1F_time4").html(TH_40004518_4.RecordTime.split('T').join(" "));
                if (TH_40004518_4.Tem > 16 && TH_40004518_4.Tem < 28) {
                    if (TH_40004518_4.Hum > 45 && TH_40004518_4.Hum < 70) {
                        $("#1F_state4").html("正常").css("color", "green");
                    } else { $("#1F_state4").html("湿度警报").css("color", "red"); }
                } else {
                    if (TH_40004518_4.Hum > 45 && TH_40004518_4.Hum < 70) {
                        $("#1F_state4").html("温度警报").css("color", "red");
                    } else { $("#1F_state4").html("温湿度警报").css("color", "red"); }
                }

                //1F_点5
                $("#1F_temprature5").html(TH_40004518_5.Tem);
                $("#1F_humidity5").html(TH_40004518_5.Hum);
                $("#1F_time5").html(TH_40004518_5.RecordTime.split('T').join(" "));
                if (TH_40004518_5.Tem > 16 && TH_40004518_5.Tem < 28) {
                    if (TH_40004518_5.Hum > 45 && TH_40004518_5.Hum < 70) {
                        $("#1F_state5").html("正常").css("color", "green");
                    } else { $("#1F_state5").html("湿度警报").css("color", "red"); }
                } else {
                    if (TH_40004518_5.Hum > 45 && TH_40004518_5.Hum < 70) {
                        $("#1F_state5").html("温度警报").css("color", "red");
                    } else { $("#1F_state5").html("温湿度警报").css("color", "red"); }
                }

                //1F_点6
                $("#1F_temprature6").html(TH_40004493_1.Tem);
                $("#1F_humidity6").html(TH_40004493_1.Hum);
                $("#1F_time6").html(TH_40004493_1.RecordTime.split('T').join(" "));
                if (TH_40004493_1.Tem > 16 && TH_40004493_1.Tem < 28) {
                    if (TH_40004493_1.Hum > 45 && TH_40004493_1.Hum < 70) {
                        $("#1F_state6").html("正常").css("color", "green");
                    } else { $("#1F_state6").html("湿度警报").css("color", "red"); }
                } else {
                    if (TH_40004493_1.Hum > 45 && TH_40004493_1.Hum < 70) {
                        $("#1F_state6").html("温度警报").css("color", "red");
                    } else { $("#1F_state6").html("温湿度警报").css("color", "red"); }
                }

                //1F_点7
                $("#1F_temprature7").html(TH_40004557_1.Tem);
                $("#1F_humidity7").html(TH_40004557_1.Hum);
                $("#1F_time7").html(TH_40004557_1.RecordTime.split('T').join(" "));
                if (TH_40004557_1.Tem > 16 && TH_40004557_1.Tem < 28) {
                    if (TH_40004557_1.Hum > 45 && TH_40004557_1.Hum < 70) {
                        $("#1F_state7").html("正常").css("color", "green");
                    } else { $("#1F_state7").html("湿度警报").css("color", "red"); }
                } else {
                    if (TH_40004557_1.Hum > 45 && TH_40004557_1.Hum < 70) {
                        $("#1F_state7").html("温度警报").css("color", "red");
                    } else { $("#1F_state7").html("温湿度警报").css("color", "red"); }
                }

                //1F_点8
                $("#1F_temprature8").html(TH_40004557_2.Tem);
                $("#1F_humidity8").html(TH_40004557_2.Hum);
                $("#1F_time8").html(TH_40004557_2.RecordTime.split('T').join(" "));
                if (TH_40004557_2.Tem > 16 && TH_40004557_2.Tem < 28) {
                    if (TH_40004557_2.Hum > 45 && TH_40004557_2.Hum < 70) {
                        $("#1F_state8").html("正常").css("color", "green");
                    } else { $("#1F_state8").html("湿度警报").css("color", "red"); }
                } else {
                    if (TH_40004557_2.Hum > 45 && TH_40004557_2.Hum < 70) {
                        $("#1F_state8").html("温度警报").css("color", "red");
                    } else { $("#1F_state8").html("温湿度警报").css("color", "red"); }
                }

                //1F_点9
                $("#1F_temprature9").html(TH_40004557_3.Tem);
                $("#1F_humidity9").html(TH_40004557_3.Hum);
                $("#1F_time9").html(TH_40004557_3.RecordTime.split('T').join(" "));
                if (TH_40004557_3.Tem > 16 && TH_40004557_3.Tem < 28) {
                    if (TH_40004557_3.Hum > 45 && TH_40004557_3.Hum < 70) {
                        $("#1F_state9").html("正常").css("color", "green");
                    } else { $("#1F_state9").html("湿度警报").css("color", "red"); }
                } else {
                    if (TH_40004557_3.Hum > 45 && TH_40004557_3.Hum < 70) {
                        $("#1F_state9").html("温度警报").css("color", "red");
                    } else { $("#1F_state9").html("温湿度警报").css("color", "red"); }
                }

                //1F_点10
                $("#1F_temprature10").html(TH_40004557_4.Tem);
                $("#1F_humidity10").html(TH_40004557_4.Hum);
                $("#1F_time10").html(TH_40004557_4.RecordTime.split('T').join(" "));
                if (TH_40004557_4.Tem > 16 && TH_40004557_4.Tem < 28) {
                    if (TH_40004557_4.Hum > 45 && TH_40004557_4.Hum < 70) {
                        $("#1F_state10").html("正常").css("color", "green");
                    } else { $("#1F_state10").html("湿度警报").css("color", "red"); }
                } else {
                    if (TH_40004557_4.Hum > 45 && TH_40004557_4.Hum < 70) {
                        $("#1F_state10").html("温度警报").css("color", "red");
                    } else { $("#1F_state10").html("温湿度警报").css("color", "red"); }
                }

                //1F_点11
                $("#1F_temprature11").html(TH_40004557_5.Tem);
                $("#1F_humidity11").html(TH_40004557_5.Hum);
                $("#1F_time11").html(TH_40004557_5.RecordTime.split('T').join(" "));
                if (TH_40004557_5.Tem > 16 && TH_40004557_5.Tem < 28) {
                    if (TH_40004557_5.Hum > 45 && TH_40004557_5.Hum < 70) {
                        $("#1F_state11").html("正常").css("color", "green");
                    } else { $("#1F_state11").html("湿度警报").css("color", "red"); }
                } else {
                    if (TH_40004557_5.Hum > 45 && TH_40004557_5.Hum < 70) {
                        $("#1F_state11").html("温度警报").css("color", "red");
                    } else { $("#1F_state11").html("温湿度警报").css("color", "red"); }
                }

                //1F_点12
                $("#1F_noise1").html(Noise.Hum);
                $("#1F_noiseTime1").html(Noise.RecordTime.split('T').join(" "));
                if (Noise.Hum <= 85) {
                    $("#1F_noiseState1").html("正常").css("color", "green");
                } else {
                    $("#1F_noiseState1").html("超标").css("color", "red");
                };



                //2F_点1
                $("#2F_temprature1").html(TH_40004518_1.Tem);
                $("#2F_humidity1").html(TH_40004518_1.Hum);
                $("#2F_time1").html(TH_40004518_1.RecordTime.split('T').join(" "));
                if (TH_40004518_1.Tem > 16 && TH_40004518_1.Tem < 28) {
                    if (TH_40004518_1.Hum > 45 && TH_40004518_1.Hum < 70) {
                        $("#2F_state1").html("正常").css("color", "green");
                    } else { $("#2F_state1").html("湿度警报").css("color", "red"); }
                } else {
                    if (TH_40004518_1.Hum > 45 && TH_40004518_1.Hum < 70) {
                        $("#2F_state1").html("温度警报").css("color", "red");
                    } else { $("#2F_state1").html("温湿度警报").css("color", "red"); }
                }
            };

            mypush3.client.sendTH3 = function (TH3_json) {

                var TH_40021211_1 = JSON.parse(TH3_json.TH_40021211_1);
                var TH_40004493_2 = JSON.parse(TH3_json.TH_40004493_2);
                //三楼面罩改动
                var TH_40021209_1 = JSON.parse(TH3_json.TH_40021209_1);

                //3F_点9

                $("#3F_temprature1").html(TH_40021211_1.Tem);
                $("#3F_humidity1").html(TH_40021211_1.Hum);
                $("#3F_time1").html(TH_40021211_1.RecordTime.split('T').join(" "));
                if (TH_40021211_1.Tem > 16 && TH_40021211_1.Tem < 28) {
                    if (TH_40021211_1.Hum > 45 && TH_40021211_1.Hum < 70) {
                        $("#3F_state1").html("正常").css("color", "green");
                    } else { $("#3F_state1").html("湿度警报").css("color", "red"); }
                } else {
                    if (TH_40021211_1.Hum > 45 && TH_40021211_1.Hum < 70) {
                        $("#3F_state1").html("温度警报").css("color", "red");
                    } else { $("#3F_state1").html("温湿度警报").css("color", "red"); }
                }
                //3F_点10
                $("#3F_temprature10").html(TH_40021209_1.Tem);
                $("#3F_humidity10").html(TH_40021209_1.Hum);
                $("#3F_time10").html(TH_40021209_1.RecordTime.split('T').join(" "));
                if (TH_40021209_1.Tem > 16 && TH_40021209_1.Tem < 28) {
                    if (TH_40021209_1.Hum > 45 && TH_40021209_1.Hum < 70) {
                        $("#3F_state10").html("正常").css("color", "green");
                    } else { $("#3F_state10").html("湿度警报").css("color", "red"); }
                } else {
                    if (TH_40021209_1.Hum > 45 && TH_40021209_1.Hum < 70) {
                        $("#3F_state10").html("温度警报").css("color", "red");
                    } else { $("#3F_state10").html("温湿度警报").css("color", "red"); }
                }
                //3F_点2
                $("#3F_temprature2").html(TH_40004493_2.Tem);
                $("#3F_humidity2").html(TH_40004493_2.Hum);
                $("#3F_time2").html(TH_40004493_2.RecordTime.split('T').join(" "));
                if (TH_40004493_2.Tem > 16 && TH_40004493_2.Tem < 28) {
                    if (TH_40004493_2.Hum > 45 && TH_40004493_2.Hum < 70) {
                        $("#3F_state2").html("正常").css("color", "green");
                    } else { $("#3F_state2").html("湿度警报").css("color", "red"); }
                } else {
                    if (TH_40004493_2.Hum > 45 && TH_40004493_2.Hum < 70) {
                        $("#3F_state2").html("温度警报").css("color", "red");
                    } else { $("#3F_state2").html("温湿度警报").css("color", "red"); }
                }
            };

            mypush4.client.sendTH4 = function (TH4_json) {
                var TH_40001676_4 = JSON.parse(TH4_json.TH_40001676_4);
                var TH_40004493_3 = JSON.parse(TH4_json.TH_40004493_3);
                var TH_40004493_4 = JSON.parse(TH4_json.TH_40004493_4);
                var TH_40004493_5 = JSON.parse(TH4_json.TH_40004493_5);
                var TH_40004493_6 = JSON.parse(TH4_json.TH_40004493_6);
                var TH_40004493_7 = JSON.parse(TH4_json.TH_40004493_7);
                var TH_40004493_8 = JSON.parse(TH4_json.TH_40004493_8);
                //新增组装线点
                var TH_40021216_1 = JSON.parse(TH4_json.TH_40021216_1);
                var TH_40021216_2 = JSON.parse(TH4_json.TH_40021216_2);
                //四楼喷墨房改动
                var TH_40021216_3 = JSON.parse(TH4_json.TH_40021216_3);
                var TH_40021216_4 = JSON.parse(TH4_json.TH_40021216_4);

                var TH_40021216_5 = JSON.parse(TH4_json.TH_40021216_5);
                //总挥发性有机物TVOC
                var TVOC1 = JSON.parse(TH4_json.TVOC1);

                //4F_点2
                $("#4F_temprature2").html(TH_40021216_3.Tem);
                $("#4F_humidity2").html(TH_40021216_3.Hum);
                $("#4F_time2").html(TH_40021216_3.RecordTime.split('T').join(" "));
                if (TH_40021216_3.Tem > 16 && TH_40021216_3.Tem < 28) {
                    if (TH_40021216_3.Hum > 45 && TH_40021216_3.Hum < 70) {
                        $("#4F_state2").html("正常").css("color", "green");
                    } else { $("#4F_state2").html("湿度警报").css("color", "red"); }
                } else {
                    if (TH_40021216_3.Hum > 45 && TH_40021216_3.Hum < 70) {
                        $("#4F_state2").html("温度警报").css("color", "red");
                    } else { $("#4F_state2").html("温湿度警报").css("color", "red"); }
                }
                //4F_点3
                $("#4F_temprature3").html(TH_40021216_4.Tem);
                $("#4F_humidity3").html(TH_40021216_4.Hum);
                $("#4F_time3").html(TH_40021216_4.RecordTime.split('T').join(" "));
                if (TH_40021216_4.Tem > 16 && TH_40021216_4.Tem < 28) {
                    if (TH_40021216_4.Hum > 45 && TH_40021216_4.Hum < 70) {
                        $("#4F_state3").html("正常").css("color", "green");
                    } else { $("#4F_state3").html("湿度警报").css("color", "red"); }
                } else {
                    if (TH_40021216_4.Hum > 45 && TH_40021216_4.Hum < 70) {
                        $("#4F_state3").html("温度警报").css("color", "red");
                    } else { $("#4F_state3").html("温湿度警报").css("color", "red"); }
                }
                //4F_点4
                $("#4F_temprature4").html(TH_40001676_4.Tem);
                $("#4F_humidity4").html(TH_40001676_4.Hum);
                $("#4F_time4").html(TH_40001676_4.RecordTime.split('T').join(" "));
                if (TH_40001676_4.Tem > 16 && TH_40001676_4.Tem < 28) {
                    if (TH_40001676_4.Hum > 45 && TH_40001676_4.Hum < 70) {
                        $("#4F_state4").html("正常").css("color", "green");
                    } else { $("#4F_state4").html("湿度警报").css("color", "red"); }
                } else {
                    if (TH_40001676_4.Hum > 45 && TH_40001676_4.Hum < 70) {
                        $("#4F_state4").html("温度警报").css("color", "red");
                    } else { $("#4F_state4").html("温湿度警报").css("color", "red"); }
                }
                //4F_点5
                $("#4F_temprature5").html(TH_40004493_6.Tem);
                $("#4F_humidity5").html(TH_40004493_6.Hum);
                $("#4F_time5").html(TH_40004493_6.RecordTime.split('T').join(" "));
                if (TH_40004493_6.Tem > 16 && TH_40004493_6.Tem < 28) {
                    if (TH_40004493_6.Hum > 45 && TH_40004493_6.Hum < 70) {
                        $("#4F_state5").html("正常").css("color", "green");
                    } else { $("#4F_state5").html("湿度警报").css("color", "red"); }
                } else {
                    if (TH_40004493_6.Hum > 45 && TH_40004493_6.Hum < 70) {
                        $("#4F_state5").html("温度警报").css("color", "red");
                    } else { $("#4F_state5").html("温湿度警报").css("color", "red"); }
                }
                //4F_点6
                $("#4F_temprature6").html(TH_40004493_4.Tem);
                $("#4F_humidity6").html(TH_40004493_4.Hum);
                $("#4F_time6").html(TH_40004493_4.RecordTime.split('T').join(" "));
                if (TH_40004493_4.Tem > 16 && TH_40004493_4.Tem < 28) {
                    if (TH_40004493_4.Hum > 45 && TH_40004493_4.Hum < 70) {
                        $("#4F_state6").html("正常").css("color", "green");
                    } else { $("#4F_state6").html("湿度警报").css("color", "red"); }
                } else {
                    if (TH_40004493_4.Hum > 45 && TH_40004493_4.Hum < 70) {
                        $("#4F_state6").html("温度警报").css("color", "red");
                    } else { $("#4F_state6").html("温湿度警报").css("color", "red"); }
                }
                //4F_点7
                $("#4F_temprature7").html(TH_40004493_5.Tem);
                $("#4F_humidity7").html(TH_40004493_5.Hum);
                $("#4F_time7").html(TH_40004493_5.RecordTime.split('T').join(" "));
                if (TH_40004493_5.Tem > 16 && TH_40004493_5.Tem < 28) {
                    if (TH_40004493_5.Hum > 45 && TH_40004493_5.Hum < 70) {
                        $("#4F_state7").html("正常").css("color", "green");
                    } else { $("#4F_state7").html("湿度警报").css("color", "red"); }
                } else {
                    if (TH_40004493_5.Hum > 45 && TH_40004493_5.Hum < 70) {
                        $("#4F_state7").html("温度警报").css("color", "red");
                    } else { $("#4F_state7").html("温湿度警报").css("color", "red"); }
                }
                //4F_点8
                $("#4F_temprature8").html(TH_40004493_3.Tem);
                $("#4F_humidity8").html(TH_40004493_3.Hum);
                $("#4F_time8").html(TH_40004493_3.RecordTime.split('T').join(" "));
                if (TH_40004493_3.Tem > 16 && TH_40004493_3.Tem < 28) {
                    if (TH_40004493_3.Hum > 45 && TH_40004493_3.Hum < 70) {
                        $("#4F_state8").html("正常").css("color", "green");
                    } else { $("#4F_state8").html("湿度警报").css("color", "red"); }
                } else {
                    if (TH_40004493_3.Hum > 45 && TH_40004493_3.Hum < 70) {
                        $("#4F_state8").html("温度警报").css("color", "red");
                    } else { $("#4F_state8").html("温湿度警报").css("color", "red"); }
                }

                //4F_点9
                $("#4F_temprature9").html(TH_40021216_1.Tem);
                $("#4F_humidity9").html(TH_40021216_1.Hum);
                $("#4F_time9").html(TH_40021216_1.RecordTime.split('T').join(" "));
                if (TH_40021216_1.Tem > 16 && TH_40021216_1.Tem < 28) {
                    if (TH_40021216_1.Hum > 45 && TH_40021216_1.Hum < 70) {
                        $("#4F_state9").html("正常").css("color", "green");
                    } else { $("#4F_state9").html("湿度警报").css("color", "red"); }
                } else {
                    if (TH_40021216_1.Hum > 45 && TH_40021216_1.Hum < 70) {
                        $("#4F_state9").html("温度警报").css("color", "red");
                    } else { $("#4F_state9").html("温湿度警报").css("color", "red"); }
                }
                //4F_点10
                $("#4F_temprature10").html(TH_40021216_2.Tem);
                $("#4F_humidity10").html(TH_40021216_2.Hum);
                $("#4F_time10").html(TH_40021216_2.RecordTime.split('T').join(" "));
                if (TH_40021216_2.Tem > 16 && TH_40021216_2.Tem < 28) {
                    if (TH_40021216_2.Hum > 45 && TH_40021216_2.Hum < 70) {
                        $("#4F_state10").html("正常").css("color", "green");
                    } else { $("#4F_state10").html("湿度警报").css("color", "red"); }
                } else {
                    if (TH_40021216_2.Hum > 45 && TH_40021216_2.Hum < 70) {
                        $("#4F_state10").html("温度警报").css("color", "red");
                    } else { $("#4F_state10").html("温湿度警报").css("color", "red"); }
                }

                //4F_点11
                $("#4F_temprature11").html(TH_40004493_7.Tem);
                $("#4F_humidity11").html(TH_40004493_7.Hum);
                $("#4F_time11").html(TH_40004493_7.RecordTime.split('T').join(" "));
                if (TH_40004493_7.Tem > 16 && TH_40004493_7.Tem < 28) {
                    if (TH_40004493_7.Hum > 45 && TH_40004493_7.Hum < 70) {
                        $("#4F_state11").html("正常").css("color", "green");
                    } else { $("#4F_state11").html("湿度警报").css("color", "red"); }
                } else {
                    if (TH_40004493_7.Hum > 45 && TH_40004493_7.Hum < 70) {
                        $("#4F_state11").html("温度警报").css("color", "red");
                    } else { $("#4F_state11").html("温湿度警报").css("color", "red"); }
                }
                //4F_点12
                $("#4F_temprature12").html(TH_40004493_8.Tem);
                $("#4F_humidity12").html(TH_40004493_8.Hum);
                $("#4F_time12").html(TH_40004493_8.RecordTime.split('T').join(" "));
                if (TH_40004493_8.Tem > 16 && TH_40004493_8.Tem < 28) {
                    if (TH_40004493_8.Hum > 45 && TH_40004493_8.Hum < 70) {
                        $("#4F_state12").html("正常").css("color", "green");
                    } else { $("#4F_state12").html("湿度警报").css("color", "red"); }
                } else {
                    if (TH_40004493_8.Hum > 45 && TH_40004493_8.Hum < 70) {
                        $("#4F_state12").html("温度警报").css("color", "red");
                    } else { $("#4F_state12").html("温湿度警报").css("color", "red"); }
                }


                //4F_点13 四楼喷墨房老化
                $("#4F_temprature13").html(TH_40021216_5.Tem);
                $("#4F_humidity13").html(TH_40021216_5.Hum);
                $("#4F_time13").html(TH_40021216_5.RecordTime.split('T').join(" "));
                if (TH_40021216_5.Tem > 16 && TH_40021216_5.Tem < 28) {
                    if (TH_40021216_5.Hum > 45 && TH_40021216_5.Hum < 70) {
                        $("#4F_state13").html("正常").css("color", "green");
                    } else { $("#4F_state13").html("湿度警报").css("color", "red"); }
                } else {
                    if (TH_40021216_5.Hum > 45 && TH_40021216_5.Hum < 70) {
                        $("#4F_state13").html("温度警报").css("color", "red");
                    } else { $("#4F_state13").html("温湿度警报").css("color", "red"); }
                }

                //4F_点14
                $("#4F_tvoc1").html(TVOC1.Hum);
                $("#4F_tvocTime1").html(TH_40021216_5.RecordTime.split('T').join(" "));
                if (TVOC1.Hum <= 441.5) {
                    $("#4F_tvocState1").html("正常").css("color", "green");
                } else {
                    $("#4F_tvocState1").html("超标").css("color", "red");
                };
            };

            mypush5.client.sendTH5 = function (TH5_json) {
                var TH_40021210_1 = JSON.parse(TH5_json.TH_40021210_1);
                var TH_40021210_2 = JSON.parse(TH5_json.TH_40021210_2);

                var TH_40000938_6 = JSON.parse(TH5_json.TH_40000938_6);
                var TH_40000938_7 = JSON.parse(TH5_json.TH_40000938_7);
                var TH_40000938_8 = JSON.parse(TH5_json.TH_40000938_8);
                var TH_40000938_9 = JSON.parse(TH5_json.TH_40000938_9);
                var TH_40000938_10 = JSON.parse(TH5_json.TH_40000938_10);
                var TH_40000938_11 = JSON.parse(TH5_json.TH_40000938_11);
                var TH_40000938_12 = JSON.parse(TH5_json.TH_40000938_12);
                //4F_点4
                $("#5F_temprature4").html(TH_40021210_1.Tem);
                $("#5F_humidity4").html(TH_40021210_1.Hum);
                $("#5F_time4").html(TH_40021210_1.RecordTime.split('T').join(" "));
                if (TH_40021210_1.Tem > 16 && TH_40021210_1.Tem < 28) {
                    if (TH_40021210_1.Hum > 45 && TH_40021210_1.Hum < 70) {
                        $("#5F_state4").html("正常").css("color", "green");
                    } else { $("#5F_state4").html("湿度警报").css("color", "red"); }
                } else {
                    if (TH_40021210_1.Hum > 45 && TH_40021210_1.Hum < 70) {
                        $("#5F_state4").html("温度警报").css("color", "red");
                    } else { $("#5F_state4").html("温湿度警报").css("color", "red"); }
                }
                //4F_点5
                $("#5F_temprature5").html(TH_40021210_2.Tem);
                $("#5F_humidity5").html(TH_40021210_2.Hum);
                $("#5F_time5").html(TH_40021210_2.RecordTime.split('T').join(" "));
                if (TH_40021210_2.Tem > 16 && TH_40021210_2.Tem < 28) {
                    if (TH_40021210_2.Hum > 45 && TH_40021210_2.Hum < 70) {
                        $("#5F_state5").html("正常").css("color", "green");
                    } else { $("#5F_state5").html("湿度警报").css("color", "red"); }
                } else {
                    if (TH_40021210_2.Hum > 45 && TH_40021210_2.Hum < 70) {
                        $("#5F_state5").html("温度警报").css("color", "red");
                    } else { $("#5F_state5").html("温湿度警报").css("color", "red"); }
                }
                //4F_点6
                $("#5F_temprature6").html(TH_40000938_6.Tem);
                $("#5F_humidity6").html(TH_40000938_6.Hum);
                $("#5F_time6").html(TH_40000938_6.RecordTime.split('T').join(" "));
                if (TH_40000938_6.Tem > 16 && TH_40000938_6.Tem < 28) {
                    if (TH_40000938_6.Hum > 45 && TH_40000938_6.Hum < 70) {
                        $("#5F_state6").html("正常").css("color", "green");
                    } else { $("#5F_state6").html("湿度警报").css("color", "red"); }
                } else {
                    if (TH_40000938_6.Hum > 45 && TH_40000938_6.Hum < 70) {
                        $("#5F_state6").html("温度警报").css("color", "red");
                    } else { $("#5F_state6").html("温湿度警报").css("color", "red"); }
                }
                //5F_点7
                $("#5F_temprature7").html(TH_40000938_7.Tem);
                $("#5F_humidity7").html(TH_40000938_7.Hum);
                $("#5F_time7").html(TH_40000938_7.RecordTime.split('T').join(" "));
                if (TH_40000938_7.Tem > 16 && TH_40000938_7.Tem < 28) {
                    if (TH_40000938_7.Hum > 45 && TH_40000938_7.Hum < 70) {
                        $("#5F_state7").html("正常").css("color", "green");
                    } else { $("#5F_state7").html("湿度警报").css("color", "red"); }
                } else {
                    if (TH_40000938_7.Hum > 45 && TH_40000938_7.Hum < 70) {
                        $("#5F_state7").html("温度警报").css("color", "red");
                    } else { $("#5F_state7").html("温湿度警报").css("color", "red"); }
                }
                //5F_点8
                $("#5F_temprature8").html(TH_40000938_8.Tem);
                $("#5F_humidity8").html(TH_40000938_8.Hum);
                $("#5F_time8").html(TH_40000938_8.RecordTime.split('T').join(" "));
                if (TH_40000938_8.Tem > 16 && TH_40000938_8.Tem < 28) {
                    if (TH_40000938_8.Hum > 45 && TH_40000938_8.Hum < 70) {
                        $("#5F_state8").html("正常").css("color", "green");
                    } else { $("#5F_state8").html("湿度警报").css("color", "red"); }
                } else {
                    if (TH_40000938_8.Hum > 45 && TH_40000938_8.Hum < 70) {
                        $("#5F_state8").html("温度警报").css("color", "red");
                    } else { $("#5F_state8").html("温湿度警报").css("color", "red"); }
                }
                //5F_点9
                $("#5F_temprature9").html(TH_40000938_9.Tem);
                $("#5F_humidity9").html(TH_40000938_9.Hum);
                $("#5F_time9").html(TH_40000938_9.RecordTime.split('T').join(" "));
                if (TH_40000938_9.Tem > 16 && TH_40000938_9.Tem < 28) {
                    if (TH_40000938_9.Hum > 45 && TH_40000938_9.Hum < 70) {
                        $("#5F_state9").html("正常").css("color", "green");
                    } else { $("#5F_state9").html("湿度警报").css("color", "red"); }
                } else {
                    if (TH_40000938_9.Hum > 45 && TH_40000938_9.Hum < 70) {
                        $("#5F_state9").html("温度警报").css("color", "red");
                    } else { $("#5F_state9").html("温湿度警报").css("color", "red"); }
                }
                //5F_点10
                $("#5F_temprature10").html(TH_40000938_10.Tem);
                $("#5F_humidity10").html(TH_40000938_10.Hum);
                $("#5F_time10").html(TH_40000938_10.RecordTime.split('T').join(" "));
                if (TH_40000938_10.Tem > 16 && TH_40000938_10.Tem < 28) {
                    if (TH_40000938_10.Hum > 45 && TH_40000938_10.Hum < 70) {
                        $("#5F_state10").html("正常").css("color", "green");
                    } else { $("#5F_state10").html("湿度警报").css("color", "red"); }
                } else {
                    if (TH_40000938_10.Hum > 45 && TH_40000938_10.Hum < 70) {
                        $("#5F_state10").html("温度警报").css("color", "red");
                    } else { $("#5F_state10").html("温湿度警报").css("color", "red"); }
                }
                //5F_点11
                $("#5F_temprature11").html(TH_40000938_11.Tem);
                $("#5F_humidity11").html(TH_40000938_11.Hum);
                $("#5F_time11").html(TH_40000938_11.RecordTime.split('T').join(" "));
                if (TH_40000938_11.Tem > 16 && TH_40000938_11.Tem < 28) {
                    if (TH_40000938_11.Hum > 45 && TH_40000938_11.Hum < 70) {
                        $("#5F_state11").html("正常").css("color", "green");
                    } else { $("#5F_state11").html("湿度警报").css("color", "red"); }
                } else {
                    if (TH_40000938_11.Hum > 45 && TH_40000938_11.Hum < 70) {
                        $("#5F_state11").html("温度警报").css("color", "red");
                    } else { $("#5F_state11").html("温湿度警报").css("color", "red"); }
                }
                //5F_点12
                $("#5F_temprature12").html(TH_40000938_12.Tem);
                $("#5F_humidity12").html(TH_40000938_12.Hum);
                $("#5F_time12").html(TH_40000938_12.RecordTime.split('T').join(" "));
                if (TH_40000938_12.Tem > 16 && TH_40000938_12.Tem < 28) {
                    if (TH_40000938_12.Hum > 45 && TH_40000938_12.Hum < 70) {
                        $("#5F_state12").html("正常").css("color", "green");
                    } else { $("#5F_state12").html("湿度警报").css("color", "red"); }
                } else {
                    if (TH_40000938_12.Hum > 45 && TH_40000938_12.Hum < 70) {
                        $("#5F_state12").html("温度警报").css("color", "red");
                    } else { $("#5F_state12").html("温湿度警报").css("color", "red"); }
                }

            };

            mypush6.client.sendTH6 = function (TH6_json) {
                var room6 = JSON.parse(TH6_json.room6);
                //6F_点位
                $("#6F_temprature").html(room6.temperature);
                $("#6F_humidity").html(room6.humidity);
                $("#6F_time").html(room6.recordingTime.split('T').join(" "));
                if (room6.temperature > 16 && room6.temperature < 28) {
                    if (room6.humidity > 45 && room6.humidity < 70) {
                        $("#6F_state").html("正常").css("color", "green");
                    } else { $("#6F_state").html("湿度警报").css("color", "red"); }
                } else {
                    if (room6.humidity > 45 && room6.humidity < 70) {
                        $("#6F_state").html("温度警报").css("color", "red");
                    } else { $("#6F_state").html("温湿度警报").css("color", "red"); }
                }

            };

            //启动
            $.connection.hub.start();
        });
    </script>
}