@{
    ViewBag.Title = "空压房实时数据显示";
}
@*
    此页面已重做为供气系统，不再需要此版
*@
<style>
    h5 {
        margin: 5px 0;
        font-weight: 500;
    }

    table {
        font-size: 12px;
    }

    hr {
        border-color: #9D9D9D;
        margin: 10px 0;
    }

    .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td {
        border-color: #9D9D9D;
        line-height: 10px;
        padding: 5px;
    }

    .row div {
        width: 165px;
        height: 160px;
        float: left;
        margin: 0px 10px 15px 10px;
    }

    .row2 div {
        height: 110px;
    }

    .row3 div {
        height: 160px;
    }

    a, a:hover, a:link, a:active, a:visited {
        text-decoration: none;
        color: #111;
    }
</style>
<h3 style="text-align:center">@ViewBag.Title</h3>

@*
    此页面已重做为供气系统，不再需要此版
*@
<div class="container">
    <hr />
    <div id="app">
        <input type="text" v-model="postData" />
        <input type="button" v-on:click="sendData" value="发送内容" />
    </div>
    <div class="row">
        <div>
            <h5>空压机</h5>
            <a href="~/KongYaHT/KongYa/KY_COMP_Charts?point=空压机1" title="点击查看空压机1详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>1#空压机</td>
                    </tr>
                    <tr>
                        <th>压力</th>
                        <td><span id="airPressure1">#</span> Mpa</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="airTem1">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>电流</th>
                        <td><span id="airElectricity1">#</span> A</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="airTime1">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="airStatus1">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5> &nbsp;</h5>
            <a href="~/KongYaHT/KongYa/KY_COMP_Charts?point=空压机2" title="点击查看空压机2详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>2#空压机</td>
                    </tr>
                    <tr>
                        <th>压力</th>
                        <td><span id="airPressure2">#</span> Mpa</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="airTem2">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>电流</th>
                        <td><span id="airElectricity2">#</span> A</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="airTime2">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="airStatus2">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5> &nbsp;</h5>
            <a href="~/KongYaHT/KongYa/KY_COMP_Charts?point=空压机3" title="点击查看空压机3详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>3#空压机</td>
                    </tr>
                    <tr>
                        <th>压力</th>
                        <td><span id="airPressure3">#</span> Mpa</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="airTem3">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>电流</th>
                        <td><span id="airElectricity3">#</span> A</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="airTime3">#</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td><span id="airStatus3">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5>空压机房温湿度</h5>
            <a href="~/KongYaHT/KongYa/KY_Charts?point=空压房内温湿度" title="点击查看空压房内温湿度详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>空压机房</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="airTem4">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="airHum4">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="airTime4">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
    </div>

    <hr />
    <h5>气罐</h5>
    <div class="row row2">
        <div>
            <a href="~/KongYaHT/KongYa/KY_Charts?point=气罐1" title="点击查看气罐1详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>1#气罐</td>
                    </tr>
                    <tr>
                        <th>压力</th>
                        <td><span id="bottlePre1">#</span> Mpa</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="bottleTem1">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="bottleTime1">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <a href="~/KongYaHT/KongYa/KY_Charts?point=气罐2" title="点击查看气罐2详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>2#气罐</td>
                    </tr>
                    <tr>
                        <th>压力</th>
                        <td><span id="bottlePre2">#</span> Mpa</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="bottleTem2">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="bottleTime2">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <a href="~/KongYaHT/KongYa/KY_Charts?point=气罐3" title="点击查看气罐3详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>3#气罐</td>
                    </tr>
                    <tr>
                        <th>压力</th>
                        <td><span id="bottlePre3">#</span> Mpa</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="bottleTem3">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="bottleTime3">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
    </div>

    <hr />

    <div class="row row3">
        <div>
            <h5>冷干机</h5>
            <a href="~/KongYaHT/KongYa/KY_Charts?point=冷干机1" title="点击查看冷干机1详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>1#冷干机出口</td>
                    </tr>
                    <tr>
                        <th>压力</th>
                        <td><span id="dryerPre1">#</span> Mpa</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="dryerTem1">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="dryerHum1">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="dryerTime1">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5> &nbsp;</h5>
            <a href="~/KongYaHT/KongYa/KY_Charts?point=冷干机2" title="点击查看冷干机2详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>2#冷干机出口</td>
                    </tr>
                    <tr>
                        <th>压力</th>
                        <td><span id="dryerPre2">#</span> Mpa</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="dryerTem2">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="dryerHum2">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="dryerTime2">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5>气管出口</h5>
            <a href="~/KongYaHT/KongYa/KY_Charts?point=3寸气管出口" title="点击查看3寸气管出口详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>3寸气管出口</td>
                    </tr>
                    <tr>
                        <th>压力</th>
                        <td><span id="pipePre3">#</span> Mpa</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="pipeTem3">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="pipeHum3">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="pipeTime3">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
        <div>
            <h5> &nbsp;</h5>
            <a href="~/KongYaHT/KongYa/KY_Charts?point=4寸气管出口" title="点击查看4寸气管出口详情" target="_blank">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>实时数据</th>
                    </tr>
                    <tr>
                        <th>位置</th>
                        <td>4寸气管出口</td>
                    </tr>
                    <tr>
                        <th>压力</th>
                        <td><span id="pipePre4">#</span> Mpa</td>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <td><span id="pipeTem4">#</span> °C</td>
                    </tr>
                    <tr>
                        <th>湿度</th>
                        <td><span id="pipeHum4">#</span> %RH</td>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <td><span id="pipeTime4">#</span></td>
                    </tr>
                </table>
            </a>
        </div>
    </div>
</div>

@section scripts {
    @*<script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.min.js"></script>*@
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            function air(id, pre, tem, ele) {
                if (ele > 40) {
                    return $(id).html("运行中").css("color", "green");
                } else if (pre == 0 && tem == 0 && ele == 0) {
                    return $(id).html("断电").css("color", "red");
                } else { return $(id).html("停机").css("color", "blue"); }
            };

            var mypush = $.connection.myHubCheck;
            mypush.client.sendKYCheck = function (KY_json) {
                var aircomp1 = JSON.parse(KY_json.aircomp1);
                var aircomp2 = JSON.parse(KY_json.aircomp2);
                var aircomp3 = JSON.parse(KY_json.aircomp3);
                var airbottle1 = JSON.parse(KY_json.airbottle1);
                var airbottle2 = JSON.parse(KY_json.airbottle2);
                var airbottle3 = JSON.parse(KY_json.airbottle3);
                var dryer1 = JSON.parse(KY_json.dryer1);
                var dryer2 = JSON.parse(KY_json.dryer2);
                var headerpipe3inch = JSON.parse(KY_json.headerpipe3inch);
                var headerpipe4inch = JSON.parse(KY_json.headerpipe4inch);
                var room = JSON.parse(KY_json.room);



                //空压机1
                $("#airPressure1").html(aircomp1.pressure);
                $("#airTem1").html(aircomp1.temperature);
                $("#airElectricity1").html(aircomp1.current_u);
                $("#airTime1").html(aircomp1.recordingTime.split('T').join(" "));
                air("#airStatus1", aircomp1.pressure, aircomp1.temperature, aircomp1.current_u)
                //空压机2
                $("#airPressure2").html(aircomp2.pressure);
                $("#airTem2").html(aircomp2.temperature);
                $("#airElectricity2").html(aircomp2.current_u);
                $("#airTime2").html(aircomp2.recordingTime.split('T').join(" "));
                air("#airStatus2", aircomp2.pressure, aircomp2.temperature, aircomp2.current_u)
                //空压机3
                $("#airPressure3").html(aircomp3.pressure);
                $("#airTem3").html(aircomp3.temperature);
                $("#airElectricity3").html(aircomp3.current_u);
                $("#airTime3").html(aircomp3.recordingTime.split('T').join(" "));
                air("#airStatus3", aircomp3.pressure, aircomp3.temperature, aircomp3.current_u)
                //空压房温湿度
                $("#airTem4").html(room.temperature);
                $("#airHum4").html(room.humidity);
                $("#airTime4").html(room.recordingTime.split('T').join(" "));

                //气罐1
                $("#bottlePre1").html(airbottle1.pressure);
                $("#bottleTem1").html(airbottle1.temperature);
                $("#bottleTime1").html(airbottle1.recordingTime.split('T').join(" "));
                //气罐2
                $("#bottlePre2").html(airbottle2.pressure);
                $("#bottleTem2").html(airbottle2.temperature);
                $("#bottleTime2").html(airbottle2.recordingTime.split('T').join(" "));
                //气罐3
                $("#bottlePre3").html(airbottle3.pressure);
                $("#bottleTem3").html(airbottle3.temperature);
                $("#bottleTime3").html(airbottle3.recordingTime.split('T').join(" "));

                //冷干机1
                $("#dryerPre1").html(dryer1.pressure);
                $("#dryerTem1").html(dryer1.temperature);
                $("#dryerHum1").html(dryer1.humidity);
                $("#dryerTime1").html(dryer1.recordingTime.split('T').join(" "));
                //冷干机2
                $("#dryerPre2").html(dryer2.pressure);
                $("#dryerTem2").html(dryer2.temperature);
                $("#dryerHum2").html(dryer2.humidity);
                $("#dryerTime2").html(dryer2.recordingTime.split('T').join(" "));

                //3寸管出口
                $("#pipePre3").html(headerpipe3inch.pressure);
                $("#pipeTem3").html(headerpipe3inch.temperature);
                $("#pipeHum3").html(headerpipe3inch.humidity);
                $("#pipeTime3").html(headerpipe3inch.recordingTime.split('T').join(" "));
                //4寸管出口
                $("#pipePre4").html(headerpipe4inch.pressure);
                $("#pipeTem4").html(headerpipe4inch.temperature);
                $("#pipeHum4").html(headerpipe4inch.humidity);
                $("#pipeTime4").html(headerpipe4inch.recordingTime.split('T').join(" "));

            };
            //启动
            $.connection.hub.start();
        });
    </script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                postData: ""
            },
            methods: {
                sendData: function () {
                    //发送 post 请求
                    this.$http.post('/KongYaHT/KongYa/SendEmail', { a: this.postData }, { emulateJSON: true }).then(function (res) {
                        console.log(res.status);
                        console.log(this.$http.post);
                        $("#app").append(res)
                    }, function (res) {
                        console.log(res.status);
                        $("#app").append(res.status)
                    });
                    console.log(this.postData);
                }
            }
        })
    </script>
}
