
<script type="text/template" id="KPI_Honor_Roll_Month_Component">
    <el-row>
        <el-row class="table-top">
            <div class="table-top-left">
            </div>
            <div class="table-top-right">
                <el-button type="primary" @@click="showChange" size="medium" plain>录入数据</el-button>
            </div>
        </el-row>
        <el-row class="table-mid">
        </el-row>
    </el-row>
</script>
<script>
    Vue.component('kpi-honor-roll-month-component', {
        props: [],
        template: document.getElementById("KPI_Honor_Roll_Month_Component"),
        data: function () {
            return {
            }
        },
        methods: {
            showChange() {
                vm.mainLoading = true;
                setTimeout(() => {
                    this.tableList = [];
                    this.$emit("input", true);
                    vm.mainLoading = false;
                }, 300);
            },
        },
    });
</script>

