
<script type="text/template" id="KPI_Honor_Roll_Year_Component">
    <el-row>
        <el-row class="table-top">
            <div class="table-top-left">

            </div>
            <div class="table-top-right">

            </div>
        </el-row>
        <el-row class="table-mid">

        </el-row>
        <el-row class="table-bottom">
            <div class="table-bottom-left">

                <el-button @@click="showChange" size="medium">取消</el-button>
            </div>
            <div class="table-bottom-right">

            </div>
        </el-row>
    </el-row>
</script>
<script>
    Vue.component('kpi-honor-roll-year-component', {
        props: [],
        template: document.getElementById("KPI_Honor_Roll_Year_Component"),
        data: function () {
            return {
            }
        },
        mounted: function () {
        },
        methods: {
            showChange() {
                vm.mainLoading = true;
                setTimeout(() => {
                    this.tableList = [];
                    this.$emit("input", false);
                    vm.mainLoading = false;
                }, 300);
            },
        },
    });
</script>

