
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/styleFile/packaging/index.css" rel="stylesheet" />
<script src="~/Content/styleFile/packaging/index.js"></script>
<script src="~/Scripts/axios.min.js"></script>
<script src="~/Scripts/echarts4.0.4.min.js"></script>

<div id="app">
    <h2 style="text-align:center">首页</h2>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {

        },
        methods: {

        }
    })
    
</script>

