@{
    ViewBag.Title = "光荣榜";
}
@* css放置处 *@
@section cssStyle {
    <link rel="stylesheet/less" type="text/css" href="~/Content/KPI/KPI_TeamEvaluation.less" />
    <link rel="stylesheet/less" type="text/css" href="~/Content/KPI/KPI_HonorRoll.less" />
}

<el-container id="app" v-cloak>
    <el-header>
        <h1 class="title">光荣榜</h1>
        <el-date-picker v-model="honorrolldate"
                        placeholder="请选择时间"
                        :type="show?'year':'month'"
                        size="small">
        </el-date-picker><span>{{show?'年度优秀班组奖':'月度优秀班组奖'}}</span>
    </el-header>
    <el-main>
        <el-row>
            <el-col :span="8" style="margin:0 auto;float:none;">
                <el-card shadow="never" class="card card-one">
                    <div slot="header" class="card-header">
                        第<span class="mcnum">1</span>名
                    </div>
                    <div class="card-content">
                        <el-image class="img"
                                  src="~/Images/aboBan.jpg"
                                  preview-src-list="~/Images/aboBan.jpg"></el-image>
                        <div class="info">
                            <div>配件包装一组</div>
                            <div><span>总分：</span>110.88</div>
                        </div>
                    </div>
                </el-card>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="4">
                <el-card shadow="never" class="card">
                    <div slot="header" class="card-header">
                        第<span class="mcnum">1</span>名
                    </div>
                    <div class="card-content">
                        <el-image class="img"
                                  src="~/Images/aboBan.jpg"
                                  fit="fit"></el-image>
                        <div class="info">
                            <div>配件包装一组</div>
                            <div><span>总分：</span>110.88</div>
                        </div>
                    </div>
                </el-card>
            </el-col>
            <el-col :span="4">
            </el-col>
            <el-col :span="8">
            </el-col>
            <el-col :span="4">
            </el-col>
            <el-col :span="4">
            </el-col>
        </el-row>


        <kpi-honor-roll-year-component v-show="show"
                                       v-model="show">
        </kpi-honor-roll-year-component>
        <kpi-honor-roll-month-component v-show="!show"
                                        v-model="show"></kpi-honor-roll-month-component>
    </el-main>
</el-container>
@* 分部页放置处 *@
@section renderPage {
    @RenderPage("_KPI_HonorRoll_Year.cshtml")
    @RenderPage("_KPI_HonorRoll_Month.cshtml")
}
@* js放置处 *@
@section jsScript {
    <script>
        const app = {
            data: function () {
                return {
                    show: true,
                    honorrolldate: null,
                }
            },
        };
    </script>
}

