@{
    ViewBag.Title = "7S评比得分汇总表";
}
@* css放置处 *@
@section cssStyle {
    <link href="~/Content/vxe.css" rel="stylesheet" />
    <style>
        #app {
            padding: 20px 20px 0 20px;
            font-family: '微软雅黑';
        }

        .title {
            font-weight: 400;
            font-size: 24px;
        }

        .action-box {
            width: 100%;
            padding: 20px 0;
            display: flex;
            align-content: center;
            justify-content: space-between;
        }

        .table-height {
            width: 100%;
            height: 70vh;
        }
        /*        表格*/
        .col-blue {
            background-color: #2db7f5;
            color: #fff;
        }
        .col--gutter {
            background-color: #2db7f5;
        }
        .col-color-red {
            color:red;
        }
    </style>
}

<div id="app">
    <div class="title">
        7S评比得分汇总表
    </div>

    @*操作栏*@
    <div class="action-box">
        <div class="action-box-left">
            <el-select v-model="department" placeholder="请选择部门">
                <el-option v-for="item in department_options"
                           :key="item.value"
                           :label="item.label"
                           :value="item.value">
                </el-option>
            </el-select>
            <el-select v-model="team" placeholder="请选择班组">
                <el-option v-for="item in team_options"
                           :key="item.value"
                           :label="item.label"
                           :value="item.value">
                </el-option>
            </el-select>

        </div>
        <div class="action-box-right">
            <el-button type="primary" plain>日报表汇总</el-button>
            <el-button type="primary" plain>周检表汇总</el-button>
            <el-button type="primary" plain>临检表汇总</el-button>
            <el-button type="success" plain>导出EXCEL表</el-button>
        </div>
    </div>

    @*表格*@
    <div class="table-height">
        <vxe-grid border
                  show-footer
                  stripe
                  size="small"
                  height="auto"
                  align="center"
                  :header-cell-class-name="headerCellClassName"
                  :columns="tableColumn"
                  :data="tableData"></vxe-grid>
    </div>
</div>
@* 分部页放置处 *@
@section renderPage {
}
@* js放置处 *@
@section jsScript {
    <script src="https://cdn.jsdelivr.net/npm/xe-utils"></script>
    <script src="https://cdn.jsdelivr.net/npm/vxe-table"></script>
    <script>
        const app = {
            data: function () {
                return {
                    department: '', //选择部门
                    department_options: [{
                        value: '1',
                        label: '部门1111'
                    }, {
                        value: '2',
                        label: '部门2222'
                    }, {
                        value: '3',
                        label: '部门3333'
                    }],    //部门下拉数据
                    team: '', //选择班组
                    team_options: [{
                        value: '1',
                        label: '班组1111'
                    }, {
                        value: '2',
                        label: '班组2222'
                    }],    //班组下拉数据
                    tableColumn: [
                        { title: '序号', type: 'seq', width: 50 },
                        { title: '部门', field: 'department' },
                        { title: '班组', field: 'team' },
                        { title: '区域', field: 'region' },
                        {
                            title: '扣分类型',
                            children: [
                                { title: '周检扣分', field: 'week_points', className:'col-color-red'},
                                { title: '日报表扣分', field: 'daily_report_points', className: 'col-color-red' },
                                { title: '随机抽查扣分', field: 'random_test_points', className: 'col-color-red' },
                                { title: '限期末整改扣分', field: 'final_changes_points', className: 'col-color-red' },
                                { title: '重复出现扣分', field: 'repeat_points', className: 'col-color-red' }
                            ]
                        },
                        { title: '月末得分', field: 'month_score' }
                    ],
                    tableData: []
                }
            },
            created: function () {
                var list = []
                for (var index = 0; index < 20; index++) {
                    list.push({
                        id: index + 1000,
                        department: '总装' + index + '部',
                        team: '模块' + index + '组',
                        region: index + '#',
                        week_points: index + 1,
                        daily_report_points: index + 2,
                        random_test_points: index + 3,
                        final_changes_points: index + 4,
                        repeat_points: index + 4,
                        month_score: 100 - index
                    })
                }
                this.tableData = list
            },
            mounted: function () {

            },
            //函数方法
            methods: {
                headerCellClassName({ column }) {
                    if (column.property === 'month_score') {
                        return 'col-blue'
                    }
                }
            },
        };
    </script>
}