@{
    ViewBag.Title = "四楼温湿度";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/KongYaHT/Content/css.css" rel="stylesheet" />
@*<script src="~/Scripts/gauge.min.js"></script>*@
<script src="~/Scripts/jquery-1.11.3.js"></script>
<script src="~/Areas/KongYaHT/Script/highcharts.js"></script>
<script src="~/Areas/KongYaHT/Script/highcharts-more.js"></script>
<script src="~/Areas/KongYaHT/Script/meter4.js"></script>
<h2 class="text-center" style="color:#006FBD;font-weight: bold;">@ViewBag.Title</h2>

<style type="text/css">
    #floor4 {
        position: relative;
        width: 1172px;
        height: 18px;
        bottom: 200px;
    }

   #WS1 {
            position: relative;
            margin-left: 105px;
            bottom: -500px;
        }

        #WS2 {
            position: relative;
            margin-left: 440px;
            bottom: -355px;
        }

        #WS3 {
            position: relative;
            margin-left: 575px;
            bottom: -220px;
        }

        #WS4 {
            position: relative;
            margin-left: 760px;
            bottom: -235px;
        }

        #WS5 {
            position: relative;
            margin-left: 1040px;
            bottom: -380px;
        }

    #container, #container3, #container5, #container7, #container9 {
        position: absolute;
        left: -20px;
        bottom: 45px;
    }

    #container2, #container4, #container6, #container8, #container10 {
        position: absolute;
        bottom: 45px;
        left: 35px;
    }

    #hider, #hider2, #hider3, #hider4, #hider5, #hider6,
        #hider7, #hider8, #hider9, #hider10 {
        position: absolute;
        left: -33px;
        bottom: 44px;
    }
            #f1,#f2,#f3,#f4,#f5,#f6,#f7,#f8,#f9,#f10{
            display:none;
        }

    #GJB1,
    #GJB2 {
        color: red;
    }
</style>


<body style="background-color: #9D9D9D;">
    <div class="container body-content">
        <div id="floor4">
            <div id="WS1">
                <div id="container" style="min-width: 70px; max-width: 100px; height: 70px; margin: 0 auto"></div>
                <div id="hider" class="hider" style="min-width: 150px; max-width: 170px; height: 150px; margin: 0px auto; z-index: 1; display: none;"></div>
                <div id="container2" style="min-width: 70px; max-width: 100px; height: 70px; margin: 0 auto"></div>
                <div id="hider2" class="hider2" style="min-width: 150px; max-width: 170px; height: 150px; margin: 0px auto; z-index: 1; display: none;"></div>
                <!--<a href="#" style="color: red">
                        温度<input id="temperature11" disabled="disabled" value="34" style="width:30px;color: black" type="text">℃<br>
                        湿度<input id="humidness11" disabled="disabled" value="30" style="width:30px;color: black" type="text">%RH<br>
                        状态<input id="statu11" disabled="disabled" value="警报" style="width: 30px; color: black; background-color: red;" type="text">
        </a>-->
                <div style="font-size: 13px;font-weight:bolder;">
                    <font>温度：</font><font style="background-color:yellow"><span id="4F_temprature1">#</span> °C</font><br />
                    <font>湿度：</font><font style="background-color:yellow"><span id="4F_humidity1">#</span> %RH</font><br />
                    <font>状态：</font><span style="color:white;font-weight:normal" id="4F_state1">#</span>
                </div>
            </div>
            <div id="WS2">
                <div id="container3" style="min-width: 70px; max-width: 100px; height: 70px; margin: 0 auto"></div>
                <div id="hider3" class="hider3" style="min-width: 150px; max-width: 170px; height: 150px; margin: 0px auto; z-index: 1; display: none;"></div>
                <div id="container4" style="min-width: 70px; max-width: 100px; height: 70px; margin: 0 auto"></div>
                <div id="hider4" class="hider4" style="min-width: 150px; max-width: 170px; height: 150px; margin: 0px auto; z-index: 1; display: none;"></div>
                <div style="font-size: 13px;font-weight:bolder;">
                    <font>温度：</font><font style="background-color:yellow"><span id="4F_temprature2">#</span> °C</font><br />
                    <font>湿度：</font><font style="background-color:yellow"><span id="4F_humidity2">#</span> %RH</font><br />
                    <font>状态：</font><span style="color:white;font-weight:normal" id="4F_state2">#</span>
                </div>
            </div>
            <div id="WS3">
                <div id="container5" style="min-width: 70px; max-width: 100px; height: 70px; margin: 0 auto"></div>
                <div id="hider5" class="hider5" style="min-width: 150px; max-width: 170px; height: 150px; margin: 0px auto; z-index: 1; display: none;"></div>
                <div id="container6" style="min-width: 70px; max-width: 100px; height: 70px; margin: 0 auto"></div>
                <div id="hider6" class="hider6" style="min-width: 150px; max-width: 170px; height: 150px; margin: 0px auto; z-index: 1; display: none;"></div>
                <div style="font-size: 13px;font-weight:bolder;">
                    <font>温度：</font><font style="background-color:yellow"><span id="4F_temprature3">#</span> °C</font><br />
                    <font>湿度：</font><font style="background-color:yellow"><span id="4F_humidity3">#</span> %RH</font><br />
                    <font>状态：</font><span style="color:white;font-weight:normal" id="4F_state3">#</span>
                </div>
            </div>
            <div id="WS4">
                <div id="container7" style="min-width: 70px; max-width: 100px; height: 70px; margin: 0 auto"></div>
                <div id="hider7" class="hider7" style="min-width: 150px; max-width: 170px; height: 150px; margin: 0px auto; z-index: 1; display: none;"></div>
                <div id="container8" style="min-width: 70px; max-width: 100px; height: 70px; margin: 0 auto"></div>
                <div id="hider8" class="hider8" style="min-width: 150px; max-width: 170px; height: 150px; margin: 0px auto; z-index: 1; display: none;"></div>
                <div style="font-size: 13px;font-weight:bolder;">
                    <font>温度：</font><font style="background-color:yellow"><span id="4F_temprature4">#</span> °C</font><br />
                    <font>湿度：</font><font style="background-color:yellow"><span id="4F_humidity4">#</span> %RH</font><br />
                    <font>状态：</font><span style="color:white;font-weight:normal" id="4F_state4">#</span>
                </div>
            </div>
            <div id="WS5">
                <div id="container9" style="min-width: 70px; max-width: 100px; height: 70px; margin: 0 auto"></div>
                <div id="hider9" class="hider9" style="min-width: 150px; max-width: 170px; height: 150px; margin: 0px auto; z-index: 1; display: none;"></div>
                <div id="container10" style="min-width: 70px; max-width: 100px; height: 70px; margin: 0 auto"></div>
                <div id="hider10" class="hider10" style="min-width: 150px; max-width: 170px; height: 150px; margin: 0px auto; z-index: 1; display: none;"></div>
                <div style="font-size: 13px;font-weight:bolder;">
                    <font>温度：</font><font style="background-color:yellow"><span id="4F_temprature5">#</span> °C</font><br />
                    <font>湿度：</font><font style="background-color:yellow"><span id="4F_humidity5">#</span> %RH</font><br />
                    <font>状态：</font><span style="color:white;font-weight:normal" id="4F_state5">#</span>
                </div>
            </div>

        </div>

        <embed src="~/Areas/KongYaHT/image/4s4.svg">

        <div style="font-size:15px">
            根据中华人民共和国国家军用标准GJB 3007A-2009规定，防静电工作区环境条件要求：<br> 1.室温一般维持在
            <span id="GJB1">16℃～28℃</span>范围内，湿度变化率小于5℃/h；<br> 2.室内相对湿度保持在
            <span id="GJB2">45%～70%</span>范围内，并不得结露。
        </div>

    </div>
    <input id="f1" value="" type="text" />
    <input id="f2" value="" type="text" />
    <input id="f3" value="" type="text" />
    <input id="f4" value="" type="text" />
    <input id="f5" value="" type="text" />
    <input id="f6" value="" type="text" />
    <input id="f7" value="" type="text" />
    <input id="f8" value="" type="text" />
    <input id="f9" value="" type="text" />
    <input id="f10" value="" type="text" />

    @section scripts {
        <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
        <script src="~/signalr/hubs"></script>
        <script>
        $(function () {
            var mypush = $.connection.Hub4;
            mypush.client.sendTH4 = function (TH4_json) {
                var TH_40001676_1 = JSON.parse(TH4_json.TH_40001676_1);
                var TH_40001676_2 = JSON.parse(TH4_json.TH_40001676_2);
                var TH_40001676_3 = JSON.parse(TH4_json.TH_40001676_3);
                var TH_40001676_4 = JSON.parse(TH4_json.TH_40001676_4);
                var TH_40001676_5 = JSON.parse(TH4_json.TH_40001676_5);
                $("#f1").val(TH_40001676_1.Tem);
                $("#f2").val(TH_40001676_1.Hum);
                $("#f3").val(TH_40001676_2.Tem);
                $("#f4").val(TH_40001676_2.Hum);
                $("#f5").val(TH_40001676_3.Tem);
                $("#f6").val(TH_40001676_3.Hum);
                $("#f7").val(TH_40001676_4.Tem);
                $("#f8").val(TH_40001676_4.Hum);
                $("#f9").val(TH_40001676_5.Tem);
                $("#f10").val(TH_40001676_5.Hum);

                //4F_点1
                $("#4F_temprature1").html(TH_40001676_1.Tem);
                $("#4F_humidity1").html(TH_40001676_1.Hum);
                if (TH_40001676_1.Tem > 16 && TH_40001676_1.Tem < 28) {
                    if (TH_40001676_1.Hum > 45 && TH_40001676_1.Hum < 70) {
                        $("#4F_state1").html("正常").css("background", "green");
                    } else { $("#4F_state1").html("湿度警报").css("background", "red"); }
                } else {
                    if (TH_40001676_1.Hum > 45 && TH_40001676_1.Hum < 70) {
                        $("#4F_state1").html("温度警报").css("background", "red");
                    } else { $("#4F_state1").html("温湿度警报").css("background", "red"); }
                }

                //4F_点2
                $("#4F_temprature2").html(TH_40001676_2.Tem);
                $("#4F_humidity2").html(TH_40001676_2.Hum);
                if (TH_40001676_2.Tem > 16 && TH_40001676_2.Tem < 28) {
                    if (TH_40001676_2.Hum > 45 && TH_40001676_2.Hum < 70) {
                        $("#4F_state2").html("正常").css("background", "green");
                    } else { $("#4F_state2").html("湿度警报").css("background", "red"); }
                } else {
                    if (TH_40001676_2.Hum > 45 && TH_40001676_2.Hum < 70) {
                        $("#4F_state2").html("温度警报").css("background", "red");
                    } else { $("#4F_state2").html("温湿度警报").css("background", "red"); }
                }

                //4F_点3
                $("#4F_temprature3").html(TH_40001676_3.Tem);
                $("#4F_humidity3").html(TH_40001676_3.Hum);
                if (TH_40001676_3.Tem > 16 && TH_40001676_3.Tem < 28) {
                    if (TH_40001676_3.Hum > 45 && TH_40001676_3.Hum < 70) {
                        $("#4F_state3").html("正常").css("background", "green");
                    } else { $("#4F_state3").html("湿度警报").css("background", "red"); }
                } else {
                    if (TH_40001676_3.Hum > 45 && TH_40001676_3.Hum < 70) {
                        $("#4F_state3").html("温度警报").css("background", "red");
                    } else { $("#4F_state3").html("温湿度警报").css("background", "red"); }
                }

                //4F_点4
                $("#4F_temprature4").html(TH_40001676_4.Tem);
                $("#4F_humidity4").html(TH_40001676_4.Hum);
                if (TH_40001676_4.Tem > 16 && TH_40001676_4.Tem < 28) {
                    if (TH_40001676_4.Hum > 45 && TH_40001676_4.Hum < 70) {
                        $("#4F_state4").html("正常").css("background", "green");
                    } else { $("#4F_state4").html("湿度警报").css("background", "red"); }
                } else {
                    if (TH_40001676_4.Hum > 45 && TH_40001676_4.Hum < 70) {
                        $("#4F_state4").html("温度警报").css("background", "red");
                    } else { $("#4F_state4").html("温湿度警报").css("background", "red"); }
                }

                //4F_点5
                $("#4F_temprature5").html(TH_40001676_5.Tem);
                $("#4F_humidity5").html(TH_40001676_5.Hum);
                if (TH_40001676_5.Tem > 16 && TH_40001676_5.Tem < 28) {
                    if (TH_40001676_5.Hum > 45 && TH_40001676_5.Hum < 70) {
                        $("#4F_state5").html("正常").css("background", "green");
                    } else { $("#4F_state5").html("湿度警报").css("background", "red"); }
                } else {
                    if (TH_40001676_5.Hum > 45 && TH_40001676_5.Hum < 70) {
                        $("#4F_state5").html("温度警报").css("background", "red");
                    } else { $("#4F_state5").html("温湿度警报").css("background", "red"); }
                }

            };
            $.connection.hub.start();
        });
        </script>
    }

</body>