@{
    ViewBag.Title = "三楼温湿度";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/KongYaHT/Content/css.css" rel="stylesheet" />
@*<script src="~/Scripts/gauge.min.js"></script>*@
<script src="~/Scripts/jquery-1.11.3.js"></script>
<script src="~/Areas/KongYaHT/Script/highcharts.js"></script>
<script src="~/Areas/KongYaHT/Script/highcharts-more.js"></script>
<script src="~/Areas/KongYaHT/Script/meter3.js"></script>
<h2 class="text-center" style="color:#006FBD;font-weight: bold;">@ViewBag.Title</h2>

<style type="text/css">
    #floor3 {
        position: relative;
        width: 1172px;
        height: 18px;
        bottom: 200px;
    }

    #WS1{
            position: relative;
            margin-left: 110px;
            bottom: -500px;
        }

        #WS2 {
            position: relative;
            margin-left: 330px;
            bottom: -365px;
        }

        #WS3 {
            position: relative;
            margin-left: 805px;
            bottom: -365px;
        }

    #container, #container3, #container5 {
        position: absolute;
        left: -20px;
        bottom: 45px;
    }

    #container2, #container4, #container6 {
        position: absolute;
        bottom: 45px;
        left: 35px;
    }

   #hider, #hider2, #hider3, #hider4, #hider5, #hider6 {
        position: absolute;
        left: -33px;
        bottom: 44px;
    }

   #f1,#f2,#f3,#f4,#f5,#f6{
            display:none;
        }

    #GJB1,
    #GJB2 {
        color: red;
    }
</style>

<body style="background-color: #9D9D9D;">
    <div class="container body-content">
        <div id="floor3">
            <div id="WS1">
                <div id="container" style="min-width: 70px; max-width: 100px; height: 70px; margin: 0 auto"></div>
                <div id="hider" class="hider" style="min-width: 150px; max-width: 170px; height: 150px; margin: 0px auto; z-index: 1; display: none;"></div>
                <div id="container2" style="min-width: 70px; max-width: 100px; height: 70px; margin: 0 auto"></div>
                <div id="hider2" class="hider2" style="min-width: 150px; max-width: 170px; height: 150px; margin: 0px auto; z-index: 1; display: none;"></div>
                <!--<a href="#" style="color: red">
                        温度<input id="temperature11" disabled="disabled" value="34" style="width:30px;color: black" type="text">℃<br>
                        湿度<input id="humidness11" disabled="disabled" value="30" style="width:30px;color: black" type="text">%RH<br>
                        状态<input id="statu11" disabled="disabled" value="警报" style="width: 30px; color: black; background-color: red;" type="text">
        </a>-->
                <div style="font-size: 13px;font-weight:bolder;">
                    <font>温度：</font><font style="background-color:yellow"><span id="3F_temprature6">#</span> °C</font><br />
                    <font>湿度：</font><font style="background-color:yellow"><span id="3F_humidity6">#</span> %RH</font><br />
                    <font>状态：</font><span style="color:white;font-weight:normal" id="3F_state6">#</span>
                </div>
            </div>
            <div id="WS2">
                <div id="container3" style="min-width: 70px; max-width: 100px; height: 70px; margin: 0 auto"></div>
                <div id="hider3" class="hider3" style="min-width: 150px; max-width: 170px; height: 150px; margin: 0px auto; z-index: 1; display: none;"></div>
                <div id="container4" style="min-width: 70px; max-width: 100px; height: 70px; margin: 0 auto"></div>
                <div id="hider4" class="hider4" style="min-width: 150px; max-width: 170px; height: 150px; margin: 0px auto; z-index: 1; display: none;"></div>
                <div style="font-size: 13px;font-weight:bolder;">
                    <font>温度：</font><font style="background-color:yellow"><span id="3F_temprature9">#</span> °C</font><br />
                    <font>湿度：</font><font style="background-color:yellow"><span id="3F_humidity9">#</span> %RH</font><br />
                    <font>状态：</font><span style="color:white;font-weight:normal" id="3F_state9">#</span>
                </div>
            </div>
            <div id="WS3">
                <div id="container5" style="min-width: 70px; max-width: 100px; height: 70px; margin: 0 auto"></div>
                <div id="hider5" class="hider5" style="min-width: 150px; max-width: 170px; height: 150px; margin: 0px auto; z-index: 1; display: none;"></div>
                <div id="container6" style="min-width: 70px; max-width: 100px; height: 70px; margin: 0 auto"></div>
                <div id="hider6" class="hider6" style="min-width: 150px; max-width: 170px; height: 150px; margin: 0px auto; z-index: 1; display: none;"></div>
                <div style="font-size: 13px;font-weight:bolder;">
                    <font>温度：</font><font style="background-color:yellow"><span id="3F_temprature10">#</span> °C</font><br />
                    <font>湿度：</font><font style="background-color:yellow"><span id="3F_humidity10">#</span> %RH</font><br />
                    <font>状态：</font><span style="color:white;font-weight:normal" id="3F_state10">#</span>
                </div>
            </div>

        </div>

        <embed src="~/Areas/KongYaHT/image/3s3.svg">

        <div style="font-size:15px">
            根据中华人民共和国国家军用标准GJB 3007A-2009规定，防静电工作区环境条件要求：<br> 1.室温一般维持在
            <span id="GJB1">16℃～28℃</span>范围内，湿度变化率小于5℃/h；<br> 2.室内相对湿度保持在
            <span id="GJB2">45%～70%</span>范围内，并不得结露。
        </div>
    </div>

    <input id="f1" value="" type="text" />
    <input id="f2" value="" type="text" />
    <input id="f3" value="" type="text" />
    <input id="f4" value="" type="text" />
    <input id="f5" value="" type="text" />
    <input id="f6" value="" type="text" />






    @section scripts {
        <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
        <script src="~/signalr/hubs"></script>
        <script>
        $(function () {
            var mypush = $.connection.Hub3;
            mypush.client.sendTH3 = function (TH3_json) {
                var TH_40001676_6  = JSON.parse(TH3_json.TH_40001676_6);
                var TH_40001676_9  = JSON.parse(TH3_json.TH_40001676_9);
                var TH_40001676_10 = JSON.parse(TH3_json.TH_40001676_10);
                $("#f1").val(TH_40001676_6.Tem);
                $("#f2").val(TH_40001676_6.Hum);
                $("#f3").val(TH_40001676_9.Tem);
                $("#f4").val(TH_40001676_9.Hum);
                $("#f5").val(TH_40001676_10.Tem);
                $("#f6").val(TH_40001676_10.Hum);

                //3F_点6
                $("#3F_temprature6").html(TH_40001676_6.Tem);
                $("#3F_humidity6").html(TH_40001676_6.Hum);
                if (TH_40001676_6.Tem > 16 && TH_40001676_6.Tem < 28) {
                    if (TH_40001676_6.Hum > 45 && TH_40001676_6.Hum < 70) {
                        $("#3F_state6").html("正常").css("background", "green");
                    } else {$("#3F_state6").html("湿度警报").css("background", "red");}
                } else {
                    if (TH_40001676_6.Hum > 45 && TH_40001676_6.Hum < 70) {
                        $("#3F_state6").html("温度警报").css("background", "red");
                    } else { $("#3F_state6").html("温湿度警报").css("background", "red"); }
                }



                //3F_点9
                $("#3F_temprature9").html(TH_40001676_9.Tem);
                $("#3F_humidity9").html(TH_40001676_9.Hum);
                if (TH_40001676_9.Tem > 16 && TH_40001676_9.Tem < 28) {
                    if (TH_40001676_9.Hum > 45 && TH_40001676_9.Hum < 70) {
                        $("#3F_state9").html("正常").css("background", "green");
                    } else { $("#3F_state9").html("湿度警报").css("background", "red"); }
                } else {
                    if (TH_40001676_9.Hum > 45 && TH_40001676_9.Hum < 70) {
                        $("#3F_state9").html("温度警报").css("background", "red");
                    } else { $("#3F_state9").html("温湿度警报").css("background", "red"); }
                }
                //3F_点10
                $("#3F_temprature10").html(TH_40001676_10.Tem);
                $("#3F_humidity10").html(TH_40001676_10.Hum);
                if (TH_40001676_10.Tem > 16 && TH_40001676_10.Tem < 28) {
                    if (TH_40001676_10.Hum > 45 && TH_40001676_10.Hum < 70) {
                        $("#3F_state10").html("正常").css("background", "green");
                    } else { $("#3F_state10").html("湿度警报").css("background", "red"); }
                } else {
                    if (TH_40001676_10.Hum > 45 && TH_40001676_10.Hum < 70) {
                        $("#3F_state10").html("温度警报").css("background", "red");
                    } else { $("#3F_state10").html("温湿度警报").css("background", "red"); }
                }
            };
            $.connection.hub.start();

        });
        </script>
    }


</body>