
<script type="text/template" id="boardTableComponent">
    <div class="board-table">
        <template v-if="keyname=='Line'">
            <div v-for="(item,index) in data" class="table-line-div">
                {{item[keyname]}}
            </div>
        </template>
        <template v-else>
            <div v-for="(item,index) in data" class="table-other-div"
                 v-bind:class="bgColor(item[keyname+'Rate'].split('%')[0])">
                <span>{{item[keyname+'Rate']}}</span>
                <span>{{item[keyname+'Info']}}</span>
            </div>
        </template>
    </div>
</script>
<script>
    Vue.component('board-table-component', {
        props: ['data', 'keyname'],
        template: document.getElementById("boardTableComponent"),
        methods: { bgColor(v) { if (this.keyname == 'Pass') { return v >= 100 ? 'bggreen' : v < 80 ? 'bgred' : v < 90 ? 'bgyellow' : ''; } else { return v >= 100 ? 'bggreen' : ''; }; } }
    });
</script>

<script type="text/template" id="boardTableBtnComponent">
    <div class="board-table-btn"
         v-bind:class="textColor(state,nametype)"
         @@mouseenter="enterHoverBtn"
         @@mouseleave="leaveHoverBtn">
        {{state}}
        <template v-if="btnShow">
            <template v-if="btnState(state,nametype) && jpg=='true' && pdf=='true'">
                <el-button type="primary" class="btn-show left-btn" @@click="showDialog('img')">IMG</el-button>
                <el-button type="warning" class="btn-show right-btn" @@click="showDialog('pdf')">PDF</el-button>
            </template>
            <template v-else-if="btnState(state,nametype) && jpg=='true' && pdf=='false'">
                <el-button type="primary" class="btn-show one-btn" @@click="showDialog('img')">IMG</el-button>
            </template>
            <template v-else-if="btnState(state,nametype) && jpg=='false' && pdf=='true'">
                <el-button type="warning" class="btn-show one-btn" @@click="showDialog('pdf')">PDF</el-button>
            </template>
            <template v-else-if="nametype=='小样' && xyreport!='false'">
                <el-button type="success" class="btn-show one-btn">完成</el-button>
            </template>
            <template v-else-if="btnState(state,nametype)">
                <el-button type="info" class="btn-show one-btn">未上传</el-button>
            </template>
        </template>
    </div>
</script>
<script>
    Vue.component('board-table-btn-component', {
        props: ['state', 'jpg', 'pdf', 'ordernum', 'nametype', 'xyreport'],
        template: document.getElementById("boardTableBtnComponent"),
        data: function () {
            return { btnShow: false }
        },
        methods: {
            textColor(v, n) { if (n == '首件') { return v == 'OK' ? 'green' : '' } else if (n == '小样') { return v == '未开始' ? '' : 'green' } else { return '' } },
            btnState(v, n) { if (n == '小样') { return v != '未开始' } else { return v } },
            enterHoverBtn() { this.btnShow = true }, leaveHoverBtn() { this.btnShow = false },
            showDialog(type) { vm.openDialog(this.ordernum, type, this.nametype) },
        }

    });
</script>