@{
    ViewBag.Title = "OutputTHDataToExcel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*引用js、加载数据*@
<script src="~/Scripts/vue.js"></script>
<link href="~/Scripts/Bootstraps/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/Scripts/echarts.js"></script>
<script src="~/Scripts/jquery-1.11.3.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/Bootstraps/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/Bootstraps/bootstrap-datetimepicker.zh-CN.js"></script>
<style>
    .color-show {
        flex-wrap: wrap;
        min-height: 50px;
        overflow: auto;
        width: 700px;
        margin: 5px auto;
    }

    .color-box {
        width: 33.3%;
        float: left;
        list-style: none;
        text-align: left;
    }

    .time-box {
        width: 25%;
        float: left;
    }

    .pointCSS {
        float: left;
        text-align: left;
        list-style: none;
        width: 33%;
        line-height: 20px;
        font-size: 12px;
    }

        .pointCSS label {
            font-weight: normal;
        }

    .modal-dialog {
        width: 800px;
        margin: 60px auto;
    }

    .fontsize {
        font-size: 18px;
        margin: 0;
        vertical-align: middle;
    }
</style>
<h3 class="text-center">导出湿湿记录输出Excel表格</h3><hr />
<div id="app" class="container text-center" style="min-height:600px;">
    <div class="row">
        <div class="fontsize" style="margin:0 auto">
            <label>请选择需要记录的信息点👉</label>
            <button class="form-control" style="display:inline;width:60px" data-toggle="modal" data-target="#myModal">选择</button>
        </div>
        <div class="form-group">
            <div class="form-group color-show">
                <template v-for="(point,index) in pointList">
                    <li readonly="readonly" class="color-box">
                        <span>{{point}}</span>
                        <button type="button" v-on:click="removeInfoPoint(point)" title="移除此信息点" style="border: none; float: right;"><span class="glyphicon glyphicon-remove text-danger"></span></button>
                    </li>
                </template>
            </div>
        </div>
        <div class="row"></div>
        <div class="fontsize" style="margin:10px auto">
            <label>是否设置时间点👉</label>
            <select class="form-control" style="display:inline;width:130px" v-model="timepoint">
                <option value="">请选择</option>
                <option value="Timeing">设置时间点</option>
                <option value="Periods">设置时间段</option>
            </select>
        </div>
        <div style="margin:10px auto;height:35px;">
            <div v-show="timepoint=='Timeing'" class="form-group">
                <div style="margin:0 auto;width:300px">
                    <div style="float:left; width:240px;">
                        <div id="selectTime" class="input-group date" data-link-field="selectTime">
                            <label class="input-group-addon">添加时间</label>
                            <input id="addtime" class="form-control" type="text" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                    <button class="btn btn-default" v-on:click="addTimePoint">添加</button>
                </div>
            </div>
        </div>
        <div v-show="timepoint=='Timeing'" class="form-group">
            <div class="form-control color-show">
                <template v-for="item in Time">
                    <li readonly="readonly" class="time-box form-control">
                        <span>{{item}}</span>
                        <button type="button" v-on:click="removeTimePoint(item)" title="移除此时间点" style="border: none; float: right;"><span class="glyphicon glyphicon-remove"></span></button>
                    </li>
                </template>
            </div>
        </div>
        <hr />
        <div v-show="((timepoint=='Timeing'&&Time.length>0)||timepoint=='Periods')&&pointList.length>0">
            <div style="max-width:300px;margin:0 auto">
                <label class="form-control">选择时间段👇</label>
            </div>
            <div class="row form-group" style="margin:10px auto;width:600px;">
                <div style="float:left;width:300px">
                    <div id="start_Date" class="input-group date" data-date="" data-link-field="start_input">
                        <div class="input-group-addon">开始时间</div>
                        <input class="form-control" type="text" value="" readonly>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        <input type="hidden" id="start_input" value="" />
                    </div>
                </div>
                <div style="float:left ;width:300px">
                    <div id="end_Date" class="input-group date" data-date="" data-link-field="end_input">
                        <div class="input-group-addon">结束时间</div>
                        <input class="form-control" type="text" value="" readonly>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        <input type="hidden" id="end_input" value="" />
                    </div>
                </div>
            </div>
            <div v-show="emptyTime" class="row text-center text-danger">时间段不能为空</div>
            <hr />
            <div class="row form-group">
                <input class="btn btn-success" style="margin:0 auto" type="button" v-on:click="submitPost()" value="导出Excel表" />
            </div>
        </div>
    </div>
    <div class="col-md-6">


    </div>
    <form id="setForm" action='OutputTHDataToExcel' @*target='_blank'*@ method='post' style='display:none'></form>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h3 class="modal-title text-center" id="myModalLabel">
                        请选择信息点
                    </h3>
                </div>
                <div class="modal-body">
                    @{int i = 0; }
                    <ul>
                        @foreach (var item in ViewBag.PointList)
                        {
                            <li class="pointCSS">
                                <input id="@i" class="pointValue" value="@item" type="checkbox" v-model="pointList">
                                <label for="@i">@item</label>
                            </li>
                            i++;
                        }
                    </ul>
                    <div class="row"></div>
                </div>
                <div class="modal-footer">
                    <button v-on:click="allcheck" type="button" class="btn btn-default">
                        全选
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        选择完毕
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var app = new Vue({ //创建Vue对象实例
        el: "#app", //挂载DOM元素的ID
        data: {
            pointList: [],
            Time: [],
            timepoint: "",
            emptyTime: false
        },
        methods: {
            allcheck: function (e) {
                if ($(".pointValue").length == this.pointList.length) {
                    app.pointList = [];
                } else {
                    app.pointList = [];
                    $(".pointValue").each(function (index, val) {
                        app.pointList.push($(this).val());
                    });
                };
            },
            removeInfoPoint: function (point) {
                removepoints = this.pointList;
                removepoints.forEach(function (item, index) {
                    if (item == point) {
                        removepoints.splice(index, 1);
                    }
                });
                //console.log(this.pointList); //数组
            },
            removeTimePoint: function (point) {
                removetimes = this.Time;
                removetimes.forEach(function (item, index) {
                    if (item == point) {
                        removetimes.splice(index, 1);
                    }
                });
            },
            submitPost: function (event) {
                //event.preventDefault();
                var begin = $("#start_input").val();
                var end = $("#end_input").val();
                var pointlist = app.pointList;
                var timelist = app.Time;
                if (begin == "" || end == "") {
                    if (app.emptyTime == false) {
                        setTimeout(function () {
                            app.emptyTime = false;
                        }, 3000);
                    };
                    app.emptyTime = true;
                } else {
                    app.emptyTime = false;
                    var setForm = $("#setForm");
                    var newForm = $("<input name='Key' value='" + app.timepoint + "'>" +
                        "<input name='Begin' value='" + begin + "'>" +
                        "<input name='End' value='" + end + "'>");

                    setForm.append(newForm);
                    if (pointlist.length > 0) {
                        if (pointlist.length != 30) {
                            pointlist.forEach(function (item) {
                                setForm.append($("<input name='querylist' value='" + item + "'>"));
                            });
                        }
                    };
                    if (timelist.length > 0) {
                        timelist.forEach(function (item) {
                            setForm.append($("<input name='Time' value='" + item + "'>"));
                        });
                    };
                    setForm.submit();
                    setForm.children().remove();
                };
            },
            addTimePoint: function () {
                var addtime = $("#addtime").val();
                var isok = true;
                if (addtime != "") {
                    app.Time.forEach(function (item, index) {
                        if (addtime == item) {
                            isok = false;
                        };
                    });
                    if (isok == true) {
                        app.Time.push(addtime);
                    };
                };
            }
        },
        watch: {
            timepoint: function (val) {
                cleartime();
                if (val == "Timeing") {
                    $("#start_Date").datetimepicker("remove");
                    $("#end_Date").datetimepicker("remove");
                    $("#start_Date").datetimepicker({
                        language: 'zh-CN',
                        format: 'yyyy-mm-dd 00:00',//显示格式
                        minView: 2,//设置只显示到月份
                        weekStart: 1, //一周从哪一天开始。0（星期日）到6（星期六）
                        todayBtn: 1,
                        autoclose: 1, //当选择一个日期之后是否立即关闭此日期时间选择器。
                        todayHighlight: 1, //今天高亮
                        startView: 2,
                        forceParse: 0,
                        pickerPosition: "bottom-left",
                        showMeridian: 1,
                        endDate: new Date()
                    }).on('changeDate', function (ev) {
                        $("#end_Date").datetimepicker('setStartDate', $("#start_input").val());
                    });
                    $("#end_Date").datetimepicker({
                        language: 'zh-CN',
                        format: 'yyyy-mm-dd 23:59',
                        minView: 2,//设置只显示到月份
                        weekStart: 1,
                        todayBtn: 1,
                        autoclose: 1,
                        todayHighlight: 1,
                        startView: 2,
                        forceParse: 0,
                        pickerPosition: "bottom-left",
                        showMeridian: 1,
                        endDate: new Date()
                    }).on('changeDate', function (ev) {
                        $("#start_Date").datetimepicker('setEndDate', $("#end_input").val());
                    });
                } else if (val == "Periods") {
                    app.Time = [];
                    $("#start_Date").datetimepicker("remove");
                    $("#end_Date").datetimepicker("remove");
                    $("#start_Date").datetimepicker({
                        language: 'zh-CN',
                        format: 'yyyy-mm-dd hh:ii',//显示格式
                        weekStart: 1, //一周从哪一天开始。0（星期日）到6（星期六）
                        todayBtn: 1,
                        autoclose: 1, //当选择一个日期之后是否立即关闭此日期时间选择器。
                        todayHighlight: 1, //今天高亮
                        startView: 2,
                        forceParse: 0,
                        pickerPosition: "bottom-left",
                        showMeridian: 1,
                        endDate: new Date()
                    }).on('changeDate', function (ev) {
                        $("#end_Date").datetimepicker('setStartDate', $("#start_input").val());
                    });
                    $("#end_Date").datetimepicker({
                        language: 'zh-CN',
                        format: 'yyyy-mm-dd hh:ii',
                        weekStart: 1,
                        todayBtn: 1,
                        autoclose: 1,
                        todayHighlight: 1,
                        startView: 2,
                        forceParse: 0,
                        pickerPosition: "bottom-left",
                        showMeridian: 1,
                        endDate: new Date()
                    }).on('changeDate', function (ev) {
                        $("#start_Date").datetimepicker('setEndDate', $("#end_input").val());
                    });
                } else {
                    app.Time = [];
                };
            }
        }
    });
</script>
<script>
    //时间控件
    $("#selectTime").datetimepicker({
        language: 'zh-CN',
        format: 'hh:ii',//显示格式
        maxView: 1,
        //minView: "month",//设置只显示到月份
        autoclose: 1, //当选择一个日期之后是否立即关闭此日期时间选择器。
        startView: 1,
        showMeridian: 1,
        pickerPosition: "bottom-left"
    });
    function cleartime() {
        $($($(".glyphicon-remove").parent()).prev()).val("");
        $("#start_input").val("");
        $("#end_input").val("");
    }
</script>