@{
    ViewBag.Title = "五楼温湿度";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/KongYaHT/Content/css.css" rel="stylesheet" />
<script src="~/Areas/KongYaHT/Script/highcharts.js"></script>
<script src="~/Areas/KongYaHT/Script/highcharts-more.js"></script>
<h2 class="text-center" style="color:#006FBD;font-weight: bold;">@ViewBag.Title</h2>

<style type="text/css">
    .modal-dialog {
        left: 0;
    }

    #floor5 {
        position: relative;
        width: 1172px;
        height: 18px;
        bottom: 200px;
    }

    #WS1 {
        position: relative;
        margin-left: 160px;
        bottom: -420px;
        visibility: hidden;
    }

    #WS2 {
        position: relative;
        margin-left: 0px;
        bottom: -525px;
        visibility: hidden;
    }

    #WS3 {
        position: relative;
        margin-left: 300px;
        bottom: -230px;
        visibility: hidden;
    }

    #WS4 {
        position: relative;
        margin-left: 151px;
        bottom: -195px;
    }

    #WS5 {
        position: relative;
        margin-left: 340px;
        bottom: -160px;
    }

    #WS6 {
        position: relative;
        margin-left: 536px;
        bottom: -68px;
    }

    #WS7 {
        position: relative;
        margin-left: 700px;
        bottom: -15px;
    }

    #WS8 {
        position: relative;
        margin-left: 832px;
        bottom: 0px;
    }

    #WS9 {
        position: relative;
        margin-left: 658px;
        bottom: -31px;
    }

    #WS10 {
        position: relative;
        margin-left: 902px;
        bottom: 50px;
    }

    #WS11 {
        position: relative;
        margin-left: 902px;
        bottom: 33px;
    }

    #WS12 {
        position: relative;
        margin-left: 1040px;
        bottom: 55px;
    }


    #WS1,#WS2,#WS3,#WS4,#WS5,#WS6,#WS7,#WS8,#WS9,#WS10,#WS11,#WS12{
        border:1px dashed #d53737;
        padding:2px;
        width:110px;
        height:59px;
    }


    #GJB1,
    #GJB2 {
        color: red;
    }

    #floor5 a:hover, #floor5 a:active, #floor5 a:visited {
        text-decoration: none;
        color: rgb(51, 51, 51);
    }

    #floor5 a {
        display: block;
        width: 110px;
        color: rgb(51, 51, 51);
    }
</style>

<body style="background-color: #9D9D9D;">
    <div class="container body-content">
        <div>@Html.RouteLink("温湿度数据汇总", "KongYaHT", new { Controller = "KongYa", Action = "FloorDataShow" })</div>
        <div id="floor5">
            <div id="WS1">
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=" title="点击查看温湿度详情" target="_blank">
                        <font>温度1231321：</font><font style="background-color:yellow"><span id="5F_temprature1">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="5F_humidity1">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="5F_state1">#</span>
                    </a>
                </div>
            </div>
            <div id="WS2">
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="5F_temprature2">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="5F_humidity2">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="5F_state2">#</span>
                    </a>
                </div>
            </div>
            <div id="WS3">
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="5F_temprature3">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="5F_humidity3">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="5F_state3">#</span>
                    </a>
                </div>
            </div>
            <div id="WS4">
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=五楼SMT产线4" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="5F_temprature4">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="5F_humidity4">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="5F_state4">#</span>
                    </a>
                </div>
            </div>
            <div id="WS5">
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=五楼SMT产线5" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="5F_temprature5">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="5F_humidity5">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="5F_state5">#</span>
                    </a>
                </div>
            </div>
            <div id="WS6">
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=五楼SMT物料暂存" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="5F_temprature6">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="5F_humidity6">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="5F_state6">#</span>
                    </a>
                </div>
            </div>
            <div id="WS7">
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=五楼电子仓7" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="5F_temprature7">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="5F_humidity7">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="5F_state7">#</span>
                    </a>
                </div>
            </div>
            <div id="WS8">
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=五楼电子仓8" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="5F_temprature8">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="5F_humidity8">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="5F_state8">#</span>
                    </a>
                </div>
            </div>
            <div id="WS9">
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=五楼电子仓9" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="5F_temprature9">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="5F_humidity9">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="5F_state9">#</span>
                    </a>
                </div>
            </div>
            <div id="WS10">
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=五楼电子仓10" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="5F_temprature10">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="5F_humidity10">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="5F_state10">#</span>
                    </a>
                </div>
            </div>
            <div id="WS11">
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=五楼电子仓11" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="5F_temprature11">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="5F_humidity11">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="5F_state11">#</span>
                    </a>
                </div>
            </div>
            <div id="WS12">
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=五楼电子仓12" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="5F_temprature12">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="5F_humidity12">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="5F_state12">#</span>
                    </a>
                </div>
            </div>
        </div>

        <embed src="~/Areas/KongYaHT/image/5s5.svg">


        <div style="font-size:15px">
            根据中华人民共和国国家军用标准GJB 3007A-2009规定，防静电工作区环境条件要求：<br>
            1.室温一般维持在
            <span id="GJB1">16℃～28℃</span>范围内，温度变化率小于5℃/h；<br> 2.室内相对湿度保持在
            <span id="GJB2">45%～70%</span>范围内，并不得结露。
        </div>
    </div>


    @section scripts {
        <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
        <script src="~/signalr/hubs"></script>
        <script>
            $(function () {
                var mypush = $.connection.Hub5;
                mypush.client.sendTH5 = function (TH5_json) {
                    //var TH_40000938_1 = JSON.parse(TH5_json.TH_40000938_1);
                    //var TH_40000938_2 = JSON.parse(TH5_json.TH_40000938_2);
                    //var TH_40000938_3 = JSON.parse(TH5_json.TH_40000938_3);
                    var TH_40000938_4 = JSON.parse(TH5_json.TH_40000938_4);
                    var TH_40000938_5 = JSON.parse(TH5_json.TH_40000938_5);
                    var TH_40000938_6 = JSON.parse(TH5_json.TH_40000938_6);
                    var TH_40000938_7 = JSON.parse(TH5_json.TH_40000938_7);
                    var TH_40000938_8 = JSON.parse(TH5_json.TH_40000938_8);
                    var TH_40000938_9 = JSON.parse(TH5_json.TH_40000938_9);
                    var TH_40000938_10 = JSON.parse(TH5_json.TH_40000938_10);
                    var TH_40000938_11 = JSON.parse(TH5_json.TH_40000938_11);
                    var TH_40000938_12 = JSON.parse(TH5_json.TH_40000938_12);


                    ////5F_点1
                    //$("#5F_temprature1").html(TH_40000938_1.Tem);
                    //$("#5F_humidity1").html(TH_40000938_1.Hum);
                    //if (TH_40000938_1.Tem > 16 && TH_40000938_1.Tem < 28) {
                    //    if (TH_40000938_1.Hum > 45 && TH_40000938_1.Hum < 70) {
                    //        $("#5F_state1").html("正常").css("background", "green");
                    //    } else { $("#5F_state1").html("湿度警报").css("background", "red"); }
                    //} else {
                    //    if (TH_40000938_1.Hum > 45 && TH_40000938_1.Hum < 70) {
                    //        $("#5F_state1").html("温度警报").css("background", "red");
                    //    } else { $("#5F_state1").html("温湿度警报").css("background", "red"); }
                    //}

                    ////5F_点2
                    //$("#5F_temprature2").html(TH_40000938_2.Tem);
                    //$("#5F_humidity2").html(TH_40000938_2.Hum);
                    //if (TH_40000938_2.Tem > 16 && TH_40000938_2.Tem < 28) {
                    //    if (TH_40000938_2.Hum > 45 && TH_40000938_2.Hum < 70) {
                    //        $("#5F_state2").html("正常").css("background", "green");
                    //    } else { $("#5F_state2").html("湿度警报").css("background", "red"); }
                    //} else {
                    //    if (TH_40000938_2.Hum > 45 && TH_40000938_2.Hum < 70) {
                    //        $("#5F_state2").html("温度警报").css("background", "red");
                    //    } else { $("#5F_state2").html("温湿度警报").css("background", "red"); }
                    //}

                    ////5F_点3
                    //$("#5F_temprature3").html(TH_40000938_3.Tem);
                    //$("#5F_humidity3").html(TH_40000938_3.Hum);
                    //if (TH_40000938_3.Tem > 16 && TH_40000938_3.Tem < 28) {
                    //    if (TH_40000938_3.Hum > 45 && TH_40000938_3.Hum < 70) {
                    //        $("#5F_state3").html("正常").css("background", "green");
                    //    } else { $("#5F_state3").html("湿度警报").css("background", "red"); }
                    //} else {
                    //    if (TH_40000938_3.Hum > 45 && TH_40000938_3.Hum < 70) {
                    //        $("#5F_state3").html("温度警报").css("background", "red");
                    //    } else { $("#5F_state3").html("温湿度警报").css("background", "red"); }
                    //}

                    //5F_点4
                    $("#5F_temprature4").html(TH_40000938_4.Tem);
                    $("#5F_humidity4").html(TH_40000938_4.Hum);
                    if (TH_40000938_4.Tem > 16 && TH_40000938_4.Tem < 28) {
                        if (TH_40000938_4.Hum > 45 && TH_40000938_4.Hum < 70) {
                            $("#5F_state4").html("正常").css("background", "green");
                        } else { $("#5F_state4").html("湿度警报").css("background", "red"); }
                    } else {
                        if (TH_40000938_4.Hum > 45 && TH_40000938_4.Hum < 70) {
                            $("#5F_state4").html("温度警报").css("background", "red");
                        } else { $("#5F_state4").html("温湿度警报").css("background", "red"); }
                    }

                    //5F_点5
                    $("#5F_temprature5").html(TH_40000938_5.Tem);
                    $("#5F_humidity5").html(TH_40000938_5.Hum);
                    if (TH_40000938_5.Tem > 16 && TH_40000938_5.Tem < 28) {
                        if (TH_40000938_5.Hum > 45 && TH_40000938_5.Hum < 70) {
                            $("#5F_state5").html("正常").css("background", "green");
                        } else { $("#5F_state5").html("湿度警报").css("background", "red"); }
                    } else {
                        if (TH_40000938_5.Hum > 45 && TH_40000938_5.Hum < 70) {
                            $("#5F_state5").html("温度警报").css("background", "red");
                        } else { $("#5F_state5").html("温湿度警报").css("background", "red"); }
                    }

                    //4F_点6
                    $("#5F_temprature6").html(TH_40000938_6.Tem);
                    $("#5F_humidity6").html(TH_40000938_6.Hum);
                    if (TH_40000938_6.Tem > 16 && TH_40000938_6.Tem < 28) {
                        if (TH_40000938_6.Hum > 45 && TH_40000938_6.Hum < 70) {
                            $("#5F_state6").html("正常").css("background", "green");
                        } else { $("#5F_state6").html("湿度警报").css("background", "red"); }
                    } else {
                        if (TH_40000938_6.Hum > 45 && TH_40000938_6.Hum < 70) {
                            $("#5F_state6").html("温度警报").css("background", "red");
                        } else { $("#5F_state6").html("温湿度警报").css("background", "red"); }
                    }

                    //5F_点7
                    $("#5F_temprature7").html(TH_40000938_7.Tem);
                    $("#5F_humidity7").html(TH_40000938_7.Hum);
                    if (TH_40000938_7.Tem > 16 && TH_40000938_7.Tem < 28) {
                        if (TH_40000938_7.Hum > 45 && TH_40000938_7.Hum < 70) {
                            $("#5F_state7").html("正常").css("background", "green");
                        } else { $("#5F_state7").html("湿度警报").css("background", "red"); }
                    } else {
                        if (TH_40000938_7.Hum > 45 && TH_40000938_7.Hum < 70) {
                            $("#5F_state7").html("温度警报").css("background", "red");
                        } else { $("#5F_state7").html("温湿度警报").css("background", "red"); }
                    }

                    //5F_点8
                    $("#5F_temprature8").html(TH_40000938_8.Tem);
                    $("#5F_humidity8").html(TH_40000938_8.Hum);
                    if (TH_40000938_8.Tem > 16 && TH_40000938_8.Tem < 28) {
                        if (TH_40000938_8.Hum > 45 && TH_40000938_8.Hum < 70) {
                            $("#5F_state8").html("正常").css("background", "green");
                        } else { $("#5F_state8").html("湿度警报").css("background", "red"); }
                    } else {
                        if (TH_40000938_8.Hum > 45 && TH_40000938_8.Hum < 70) {
                            $("#5F_state8").html("温度警报").css("background", "red");
                        } else { $("#5F_state8").html("温湿度警报").css("background", "red"); }
                    }

                    //5F_点9
                    $("#5F_temprature9").html(TH_40000938_9.Tem);
                    $("#5F_humidity9").html(TH_40000938_9.Hum);
                    if (TH_40000938_9.Tem > 16 && TH_40000938_9.Tem < 28) {
                        if (TH_40000938_9.Hum > 45 && TH_40000938_9.Hum < 70) {
                            $("#5F_state9").html("正常").css("background", "green");
                        } else { $("#5F_state9").html("湿度警报").css("background", "red"); }
                    } else {
                        if (TH_40000938_9.Hum > 45 && TH_40000938_9.Hum < 70) {
                            $("#5F_state9").html("温度警报").css("background", "red");
                        } else { $("#5F_state9").html("温湿度警报").css("background", "red"); }
                    }

                    //5F_点10
                    $("#5F_temprature10").html(TH_40000938_10.Tem);
                    $("#5F_humidity10").html(TH_40000938_10.Hum);
                    if (TH_40000938_10.Tem > 16 && TH_40000938_10.Tem < 28) {
                        if (TH_40000938_10.Hum > 45 && TH_40000938_10.Hum < 70) {
                            $("#5F_state10").html("正常").css("background", "green");
                        } else { $("#5F_state10").html("湿度警报").css("background", "red"); }
                    } else {
                        if (TH_40000938_10.Hum > 45 && TH_40000938_10.Hum < 70) {
                            $("#5F_state10").html("温度警报").css("background", "red");
                        } else { $("#5F_state10").html("温湿度警报").css("background", "red"); }
                    }

                    //5F_点11
                    $("#5F_temprature11").html(TH_40000938_11.Tem);
                    $("#5F_humidity11").html(TH_40000938_11.Hum);
                    if (TH_40000938_11.Tem > 16 && TH_40000938_11.Tem < 28) {
                        if (TH_40000938_11.Hum > 45 && TH_40000938_11.Hum < 70) {
                            $("#5F_state11").html("正常").css("background", "green");
                        } else { $("#5F_state11").html("湿度警报").css("background", "red"); }
                    } else {
                        if (TH_40000938_11.Hum > 45 && TH_40000938_11.Hum < 70) {
                            $("#5F_state11").html("温度警报").css("background", "red");
                        } else { $("#5F_state11").html("温湿度警报").css("background", "red"); }
                    }

                    //5F_点12
                    $("#5F_temprature12").html(TH_40000938_12.Tem);
                    $("#5F_humidity12").html(TH_40000938_12.Hum);
                    if (TH_40000938_12.Tem > 16 && TH_40000938_12.Tem < 28) {
                        if (TH_40000938_12.Hum > 45 && TH_40000938_12.Hum < 70) {
                            $("#5F_state12").html("正常").css("background", "green");
                        } else { $("#5F_state12").html("湿度警报").css("background", "red"); }
                    } else {
                        if (TH_40000938_12.Hum > 45 && TH_40000938_12.Hum < 70) {
                            $("#5F_state12").html("温度警报").css("background", "red");
                        } else { $("#5F_state12").html("温湿度警报").css("background", "red"); }
                    }

                };
                $.connection.hub.start();
            });
        </script>
    }

</body>