@{
    ViewBag.Title = "三楼温湿度";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/KongYaHT/Content/css.css" rel="stylesheet" />
@*<script src="~/Scripts/gauge.min.js"></script>*@
<script src="~/Areas/KongYaHT/Script/highcharts.js"></script>
<script src="~/Areas/KongYaHT/Script/highcharts-more.js"></script>
<h2 class="text-center" style="color:#006FBD;font-weight: bold;">@ViewBag.Title</h2>

<style type="text/css">
    .modal-dialog{
        left:0;
    }
    #floor3 {
        position: relative;
        width: 1172px;
        height: 18px;
        bottom: 200px;
    }

    #WS1 {
        position: relative;
        margin-left: 0px;
        bottom: 0px;
        visibility: hidden;
    }

    #WS2 {
        position: relative;
        margin-left: 258px;
        bottom: -305px;
    }

    #WS3 {
        position: relative;
        margin-left: 693px;
        bottom: -232px;
    }

    #WS4 {
        position: relative;
        margin-left: 638px;
        bottom: -410px;
    }

    
    #WS1,#WS2,#WS3,#WS4{
        border:1px dashed #d53737;
        padding:2px;
        width:110px;
        height:59px;
    }
    

    #GJB1,
    #GJB2 {
        color: red;
    }

    #floor3 a:hover, #floor3 a:active, #floor3 a:visited {
        text-decoration: none;
        color: rgb(51, 51, 51);
    }

    #floor3 a {
        display: block;
        width: 110px;
        color: rgb(51, 51, 51);
    }
</style>

<body style="background-color: #9D9D9D;">
    <div class="container body-content">
        <div>@Html.RouteLink("温湿度数据汇总", "KongYaHT", new { Controller = "KongYa", Action = "FloorDataShow" })</div>
        <div id="floor3">
            <div id="WS1">
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=三楼烤箱房" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="3F_temprature6">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="3F_humidity6">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="3F_state6">#</span>
                    </a>
                </div>
            </div>
            <div id="WS2">
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=三楼插件" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="3F_temprature9">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="3F_humidity9">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="3F_state9">#</span>
                    </a>
                </div>


            </div>
            <div id="WS3">
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=三楼面罩" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="3F_temprature10">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="3F_humidity10">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="3F_state10">#</span>
                    </a>
                </div>
            </div>

            <div id="WS4">
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=三楼仓库" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="3F_temprature2">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="3F_humidity2">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="3F_state2">#</span>
                    </a>
                </div>
            </div>

        </div>

        <embed src="~/Areas/KongYaHT/image/3s3.svg">

        <div style="font-size:15px">
            根据中华人民共和国国家军用标准GJB 3007A-2009规定，防静电工作区环境条件要求：<br> 1.室温一般维持在
            <span id="GJB1">16℃～28℃</span>范围内，温度变化率小于5℃/h；<br> 2.室内相对湿度保持在
            <span id="GJB2">45%～70%</span>范围内，并不得结露。
        </div>
    </div>



    @section scripts {
        <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
        <script src="~/signalr/hubs"></script>
        <script>
            $(function () {
                var mypush = $.connection.Hub3;
                mypush.client.sendTH3 = function (TH3_json) {
                    var TH_40001676_9 = JSON.parse(TH3_json.TH_40001676_9);
                    var TH_40004493_2 = JSON.parse(TH3_json.TH_40004493_2);
                    //三楼面罩改动
                    var TH_40021209_1 = JSON.parse(TH3_json.TH_40021209_1);


                    //3F_点9
                    $("#3F_temprature9").html(TH_40001676_9.Tem);
                    $("#3F_humidity9").html(TH_40001676_9.Hum);
                    if (TH_40001676_9.Tem > 16 && TH_40001676_9.Tem < 28) {
                        if (TH_40001676_9.Hum > 45 && TH_40001676_9.Hum < 70) {
                            $("#3F_state9").html("正常").css("background", "green");
                        } else { $("#3F_state9").html("湿度警报").css("background", "red"); }
                    } else {
                        if (TH_40001676_9.Hum > 45 && TH_40001676_9.Hum < 70) {
                            $("#3F_state9").html("温度警报").css("background", "red");
                        } else { $("#3F_state9").html("温湿度警报").css("background", "red"); }
                    }
                    //3F_点10
                    $("#3F_temprature10").html(TH_40021209_1.Tem);
                    $("#3F_humidity10").html(TH_40021209_1.Hum);
                    if (TH_40021209_1.Tem > 16 && TH_40021209_1.Tem < 28) {
                        if (TH_40021209_1.Hum > 45 && TH_40021209_1.Hum < 70) {
                            $("#3F_state10").html("正常").css("background", "green");
                        } else { $("#3F_state10").html("湿度警报").css("background", "red"); }
                    } else {
                        if (TH_40021209_1.Hum > 45 && TH_40021209_1.Hum < 70) {
                            $("#3F_state10").html("温度警报").css("background", "red");
                        } else { $("#3F_state10").html("温湿度警报").css("background", "red"); }
                    }
                    //3F_点2
                    $("#3F_temprature2").html(TH_40004493_2.Tem);
                    $("#3F_humidity2").html(TH_40004493_2.Hum);
                    if (TH_40004493_2.Tem > 16 && TH_40004493_2.Tem < 28) {
                        if (TH_40004493_2.Hum > 45 && TH_40004493_2.Hum < 70) {
                            $("#3F_state2").html("正常").css("background", "green");
                        } else { $("#3F_state2").html("湿度警报").css("background", "red"); }
                    } else {
                        if (TH_40004493_2.Hum > 45 && TH_40004493_2.Hum < 70) {
                            $("#3F_state2").html("温度警报").css("background", "red");
                        } else { $("#3F_state2").html("温湿度警报").css("background", "red"); }
                    }
                };
                $.connection.hub.start();

            });
        </script>
    }
</body>