
@{
    /**/

    ViewBag.Title = "CSVtest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    tr {
        height: 22px;
        font-size: 14px;
        text-align: center;
    }

    td {
        border: 1px solid black;
    }

    .LeftACRe {
        text-align: left;
    }
</style>

<h2>CSVtest</h2>
<form action="" method="post">
    <p>
        <label for="dataFileAddress">文件路径：</label><br>
        <input type="file" name="dataFileAddress" />
    </p>
    <input type="submit" value="确定" />
</form>

@{
    var dataFile = Server.MapPath("/Views/Test/test.CSV");
    var dataFile2 = Request["dataFileAddress"];
    Array testData = null;
    if (dataFile != null)
    {
        testData = File.ReadAllLines(dataFile);
    }
}

<h1>Reading Data from a CSVtest File</h1>
<table>
    @if (testData != null)
    {
        foreach (string dataLine in testData)
        {
            <tr>
                @foreach (string dataItem in dataLine.Split(','))
                {
                    <td>@dataItem</td>
                }
            </tr>
        }
    }
</table>

@*<h2>Grid方法</h2>
    <div id="grid">
        @grid.GetHtml()
    </div>*@

@*@{
        var totalMessage = "";
        if (IsPost)
        {
            var num1 = Request["text1"];
            var num2 = Request["text2"];
            var total = num1.AsInt() + num2.AsInt();
            totalMessage = "Total = " + total;
        }
    }
    <form action="" method="post">
        <p>
            <label for="text1">First Number:</label><br>
            <input type="text" name="text1" />
        </p>
        <p>
            <label for="text2">Second Number:</label><br>
            <input type="text" name="text2" />
        </p>
        <p><input type="submit" value="Add" /></p>
    </form>
    <p>@totalMessage</p>*@

<script type="text/javascript">
    function ReadFile() {
    };

</script>
