@{
    ViewBag.Title = "老化工作";
}
@* css放置处 *@
@section cssStyle {
}
<div id="app" v-cloak>
    <el-container>
        <el-header class="text-center">
            @*菜单*@
            <h1>@ViewBag.Title</h1>
        </el-header>
        <el-main class="main">

        </el-main>
    </el-container>
</div>
@* 分部页放置处 *@
@section renderPage {
}
@* js放置处 *@
@section jsScript {
    <script>
        const app = {
            data: function () {
                return {
                }
            },
            created: function () {
            },
            methods: {
            },
        };
    </script>
}