@{
    ViewBag.Title = "供气系统";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@* css放置处 *@
@section cssStyle {
    <link rel="stylesheet/less" type="text/css" href="~/Content/Equipment/equipment_index.less" />
    <style>
        .content {
            width: 100%;
            height: 75vh;
            border: none;
        }
        .btn-show{
            flex:1;
            position: absolute;
            right:10%;
        }
        .text-title {
            flex:9;
            margin: 2px;
            text-align: center;
            color: #8EA0B8;
            font-size:24px;
            font-weight:bold;
        }
    </style>
}
<el-container id="app" v-cloak>
    <el-header class="text-center">
        @*标题*@
        <eq-header-component :active="active"></eq-header-component>
    </el-header>
    <el-main class="main-box">
        <div style="display:flex;">
            <div class="text-title">空压机房运行情况</div>
            <el-button size="mini" type="primary" @@click="onChange" class="btn-show">{{isTable?'空压机':'汇总表'}}</el-button>
        </div>
        <iframe v-if="!isTable" class="content" src="/KongYaHT/KongYa/KongYaIndex2"></iframe>
        <iframe v-if="isTable" class="content" src="/KongYaHT/KongYa/KYDataShow2"></iframe>
    </el-main>
</el-container>

@* 分部页放置处 *@
@section renderPage {
    @RenderPage("~/Views/Equipment/_Eq_Header.cshtml")
}
@* js放置处 *@
@section jsScript {
    <script src="~/Scripts/echarts4.0.4.min.js"></script>
    <script>
        const app = {
            data: function () {
                return {
                    active: "供气系统",
                    isTable: false,
                }
            },
            created() {
            },
            mounted() {

            },
            //函数方法
            methods: {
                onChange() {
                    if (this.isTable) {
                        this.isTable = false;
                    } else {
                        this.isTable = true;
                    }
                }
            },
        };
    </script>
}
