@{
    ViewBag.Title = "联系我们";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    地址:惠州市大亚湾西区晌水河工业区<br />
    @*<abbr title="Phone">P:</abbr>*@
    程小姐：0755-27385596
</address>

<address>
    <strong>技术支持:</strong>   <a href="mailto:250389538@qq.com">250389538@qq.com</a><br />
</address>