
@{
    ViewBag.Title = "Test1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test1</h2>




<link href="~/Content/mui.min.css" rel="stylesheet" />
<script src="~/Scripts/mui.min.js"></script>
<style type="text/css">
    #bcid {
        width: 100%;
        height: 100%;
        position: absolute;
        background: #000000;
    }

    html, body, div {
        height: 100%;
        width: 100%;
    }

    .fbt {
        color: #0E76E1;
        width: 50%;
        background-color: #ffffff;
        float: left;
        line-height: 44px;
        text-align: center;
    }
</style>



-----------------------------------------------------------------

<script type="text/javascript">
new plus.barcode.Barcode(id,filters,styles);
//string frameColor:null;
//string scanbarColor:break;
//string background:null;
$("#startCan").bind('tap',function(){
    // 扫描二维码
    var barScan = new plus.barcode.Barcode("scanContainer");
    barScan.onmarked = function(type,code,file){
        var result = "type"+type+"<br/>code:"+code+"<br/>file:"+file;
        $("#info").html(result);
    };
    //barScan.start(); 开始扫描
    barScan.start({conserve:true,filename:"_doc/barcode/"});// 可以配置扫描后保存的路径        
});
</script>


<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">扫描二维码</h1>
</header>
<div class="mui-content mui-content-padded">
    <button type="button" class="mui-btn mui-btn-blue mui-btn-block" id="startCan">开始扫描</button>
    <button type="button" class="mui-btn mui-btn-blue mui-btn-block" id="startCanOne">识别本地</button>
    <div id="scanContainer" style="width:300px; height:300px; border:1px solid red; margin:0px auto;"></div>
    <div id="info"></div>
</div>
<script src='http://libs.baidu.com/jquery/1.8.3/jquery.min.js'></script>
<script src="js/mui.min.js"></script>
<script type="text/javascript">
mui.plusReady(function(){
    $("#startCan").bind('tap',function(){
        // 扫描二维码
        var barScan = new plus.barcode.Barcode("scanContainer");
        barScan.onmarked = function(type,code,file){
            var result = "type"+type+"<br/>code:"+code+"<br/>file:"+file;
            $("#info").html(result);
        };
        //barScan.start(); 开始扫描
        barScan.start({conserve:true,filename:"_doc/barcode/"});// 可以配置扫描后保存的路径
    });
    // 如何识别本地的二维码
    $("#startCanOne").bind('tap',function(){
        plus.gallery.pick(function(){
            plus.barcode.scan(Path,function(type,code,file){
                var result = "type"+type+"<br/>code:"+code+"<br/>file:"+file;
                $("#info").html(result);
            },function(error){
                plus.nativeUI.alert('无法识别图片');
            });
        },function(err){
            plus.nativeUI.alert('Failed:'+err.message);
        });
    });
});
</script>



-----------------------------------------------------------------
<style>
    .mui-content section {
        margin: 15px;
        background: #fff;
        padding: 15px;
    }

        .mui-content section span {
            display: block;
            padding-bottom: 10px;
            font-size: 16px;
        }

        .mui-content section input[type=text] {
            background: url(../img/money-ico.png) no-repeat 0 30px;
            background-size: auto 21px;
            padding-left: 30px;
            border: none;
            border-bottom: 1px solid #e0e0e0;
            font-size: 45px;
            color: #42cca2;
            font-weight: bold;
            height: 84px;
            line-height: 84px;
        }

    .button {
        width: 100%;
        margin: 20px auto;
        display: block;
        background: #42cca2;
        color: #fff;
        text-align: center;
        font-size: 16px;
        padding: 15px 0;
        border-radius: 5px;
    }

        .button:hover, .button:active {
            background-color: #84dcc6;
            color: #fff;
        }
</style>

<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">输入二维码</h1>
</header>
<div class="mui-content">
    <section>
        <span>输入二维码</span>
        <input type="text" value="30">
        <a class="button" id="scan">扫一扫支付 扫描二维码</a>
        <a class="button" id="scan2">扫一扫支付 识别本地的二维码</a>
    </section>
</div>
<div style="width:100%; height:100%; margin: auto; top:0; left: 0; position: fixed; display: none; z-index: 10;" id="scanContainer"></div>

<script src="~/Scripts/mui.min.js"></script>
<script type="text/javascript" charset="UTF-8">
mui.init({
 swipeBack: true
});

mui.plusReady(function(){
    mui("#scan")[0].addEventListener('tap',function(){
        // 扫描二维码
        document.getElementById("scanContainer").style.display = "block";
        var barScan = new plus.barcode.Barcode("scanContainer");
        //barScan.start(); 开始扫描
        barScan.start({conserve:true,filename:"_doc/barcode/"});// 可以配置扫描后保存的路径
        //条码扫描成功事件
        barScan.onmarked = function(type,code,file){
            var result = "type"+type+"<br/>code:"+code+"<br/>file:"+file;
            console.log(result);
            //关闭
         barScan.close();
         document.getElementById("scanContainer").style.display = "none";
        };
        barScan.onerror = function(){
         alert("扫描失败");
        }
    });

    // 识别本地的二维码
    mui("#scan2")[0].addEventListener('tap',function(){
        plus.gallery.pick(function(path){
            plus.barcode.scan(path,function(type,code,file){
                var result = "type"+type+"<br/>code:"+code+"<br/>file:"+file;
                console.log(result);
            },function(error){
                plus.nativeUI.alert('无法识别图片');
            });
        },function(err){
            plus.nativeUI.alert('Failed:'+err.message);
        });
    });

    //重写mui.js里面的back方法，安卓点击返回键退出扫描
    var oldBack = mui.back;
	mui.back = function(){
		if(barScan){
	        //关闭barScan
	    	barScan.close();
	    	document.getElementById("scanContainer").style.display = "none";
	    	barScan = null;
			return false;
		}else{
			//如果没有扫描，则返回
			oldBack();
		}
	}

});
</script>



<video id="video" autoplay="" style='width:640px;height:480px'></video>
<button id='picture'>PICTURE</button>
<canvas id="canvas" width="640" height="480"></canvas>

<script>
    var video = document.getElementById("video");
    var context = canvas.getContext("2d")
    var errocb = function () {
        console.log('sth wrong!');
    }

    if (navigator.getUserMedia) { // 标准的API
        navigator.getUserMedia({ "video": true }, function (stream) {
            video.src = stream;
            video.play();
        }, errocb);
    } else if (navigator.webkitGetUserMedia) { // WebKit 核心的API
        navigator.webkitGetUserMedia({ "video": true }, function (stream) {
            video.src = window.webkitURL.createObjectURL(stream);
            video.play();
        }, errocb);
    }

    document.getElementById("picture").addEventListener("click", function () {
        context.drawImage(video, 0, 0, 640, 480);
    });
</script>