
@{
    ViewBag.Title = "SMT生产信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .table > tbody > tr > td, .table > thead > tr > th, .table > tbody > tr > th {
        text-align: center;
        vertical-align: middle;
        font-size: 12px;
        padding: 3px;
        border-color: rgba(35, 35, 35, 0.9);
    }
    /*.table > tbody > tr:nth-child(n+3):hover {
        background-color: rgba(77, 72, 72, 0.15);
    }*/
</style>
<h2 class="text-center">SMT生产信息</h2>

<div id="app" class="form-group">
    @* 新表格表头 *@
    <div id="test" class="form-group">
        <table class="table table-bordered">
            <tr>
                <th colspan="6">PC</th>
                <th rowspan="2">小样进度</th>
                <th rowspan="2">线别</th>
                <th colspan="2">今天产量</th>
                <th colspan="5">统计</th>
            </tr>
            <tr>
                <th>订单号</th>
                <th>平台</th>
                <th>模块数</th>
                <th>制程要求</th>
                <th>标准要求</th>
                <th>产能</th>
                <th>良品(PCS)</th>
                <th>不良品(PCS)</th>
                <th>完成率</th>
                <th>合格率</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>生产用时</th>
            </tr>
            <template v-for="(val,index) in smtLineData_new">
                <template v-for="(v,i) in val">
                    <tr v-if="i==0">
                        <td v-bind:rowspan="val.length" v-for="(item,index) in v" v-if="index>=0&&index<=6">{{item}}</td>
                        <td v-for="(item,index) in v" v-if="index>6&&index<10">{{item}}</td>
                        @*<td v-bind:rowspan="val.length" v-for="(item,index) in v" v-if="index>10">{{item}}</td>*@
                        <td v-bind:rowspan="val.length" v-for="(item,index) in v" v-if="index>10">{{item}}</td>
                        <td v-bind:rowspan="val.length" v-for="(item,index) in v" v-if="index==10">{{item}}</td>
                        <td v-bind:rowspan="val.length"></td>
                        <td v-bind:rowspan="val.length"></td>
                    </tr>
                    <tr v-else>
                        <td v-for="(item,index) in v" v-if="index>6&&index<10">{{item}}</td>
                    </tr>
                </template>
            </template>
        </table>
    </div>
    <hr />

    @*//分割线*@
    <span style="float:right;margin:0 5px 3px 0">{{nowtime}}</span>
    <table class="table table-bordered">
        <colgroup>
            <col width="50 ">
            <col width="80 ">
            <col width="50 ">
            <col width="50 ">
            <col width="50 ">
            <col width="50 ">
            <col width="50 ">
            <col width="50 ">
            <col width="50 ">
            <col width="50 ">
            <col width="50 ">
            <col width="50 ">
            <col width="50 ">
            <col width="50 ">
            <col width="50 ">
            <col width="50 ">
            <col width="50 ">
            <col width="100 ">
        </colgroup>
        <tr>
            <th colspan="5">生产计划信息</th>
            <th colspan="5">订单日生产完成信息</th>
            <th colspan="5">订单生产累计信息</th>
            <th rowspan="2">班组</th>
            <th rowspan="2">组长</th>
            <th rowspan="2">状态</th>
        </tr>
        <tr>
            <th>产线</th>
            <th>订单编号</th>
            <th>平台</th>
            <th>订单数量(PCS)</th>
            <th>日计划数量(PCS)</th>
            <th>日生产完成数量(PCS)</th>
            <th>日生产完成率(%)</th>
            <th>不良品(PCS)</th>
            <th>良品(PCS)</th>
            <th>不良率(%)</th>
            <th>总良品(PCS)</th>
            <th>总不良品(PCS)</th>
            <th>总不良率(%)</th>
            <th>累计数量(PCS)</th>
            <th>订单完成率(%)</th>
        </tr>
        <template v-for="(val,index) in smtLineData">
            <template v-for="(v,i) in val">
                <tr v-if="i==0">
                    <td v-bind:rowspan="val.length">{{v[0]}}</td>
                    <td v-for="(item,index) in v" v-if="index>0&&index<15">{{item}}</td>
                    <td v-bind:rowspan="val.length">{{v[15]}}</td>
                    <td v-bind:rowspan="val.length">{{v[16]}}</td>
                    <td>{{v[17]}}</td>
                </tr>
                <tr v-else>
                    <td v-for="(item,index) in v" v-if="index>0&&index!=15&&index!=16">{{item}}</td>
                </tr>
            </template>
        </template>
    </table>
</div>
<div id="setForm"></div>

@*<input id="smtdata" style="display:none" value="@ViewBag.json" />
    @foreach (var i in ViewBag.json)
    {
        <li>
            <p>@i</p>
        </li>
    }*@

<script>
    var app = new Vue({
        el: "#app",
        data: {
            smtLineData: [],
            smtLineData_new: [],
            nowtime: ""
        },
        created: function () {
            //this.$options.methods.smtProductionInfo();
            setInterval(function () {
                app.nowtime = new Date().Format("yyyy-MM-dd hh:mm:ss");
            }, 1000);
        },
        methods: {
        }
    });
    Date.prototype.Format = function (fmt) {
        var o = {
            "M+": this.getMonth() + 1,
            "d+": this.getDate(),
            "h+": this.getHours(),
            "m+": this.getMinutes(),
            "s+": this.getSeconds(),
            "q+": Math.floor((this.getMonth() + 3) / 3),
            "S": this.getMilliseconds()
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt))
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
</script>
@section scripts {
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var mypush = $.connection.SMT;
            mypush.client.sendSMT_ProductionInfo = function (SMT_ProductionInfo) {
                app.smtLineData = [];
                var linedata = SMT_ProductionInfo;
                for (var line in linedata) {
                    var ordernumdata = JSON.parse(linedata[line]);
                    var lineArr = [];
                    var oneline = [];
                    for (var order in ordernumdata) {
                        oneline = []
                        oneline.push(line);
                        var itemdata = JSON.parse(ordernumdata[order])
                        oneline.push(order);
                        for (var item in itemdata) {
                            oneline.push(itemdata[item]);
                        }
                        lineArr.push(oneline);
                    };
                    app.smtLineData.push(lineArr);
                };
                //console.log(app.smtLineData);
            };

            var mypush2 = $.connection.SMT;
            mypush2.client.sendSMT_ProductionInfo_new = function (SMT_ProductionInfo_new) {
                app.smtLineData_new = [];
                var linedata = SMT_ProductionInfo_new;
                for (var line in linedata) {
                    var ordernumdata = JSON.parse(linedata[line]);
                    var lineArr = [];
                    var oneline = [];
                    var count = 0;//模块数
                    var normal = 0;//良品数
                    var abnormal = 0;//不良品数
                    for (var order in ordernumdata) {
                        oneline = []
                        oneline.push(line);
                        var itemdata = JSON.parse(ordernumdata[order])
                        for (var item in itemdata) {
                            oneline.push(itemdata[item]);
                            if (item == "NormalCount") {
                                normal += itemdata[item];
                            };
                            if (item == "AbnormalCount") {
                                abnormal += itemdata[item];
                            };
                            if (item == "Models") {
                                count == itemdata[item];
                            };
                        };
                        lineArr.push(oneline);
                    };
                    app.smtLineData_new.push(lineArr);
                    app.smtLineData_new[app.smtLineData_new.length - 1][0].push(((normal + abnormal) * 100 / count).toFixed(2) + "%");
                    app.smtLineData_new[app.smtLineData_new.length - 1][0].push((normal * 100 / (normal + abnormal)).toFixed(2) + "%");
                }
                //console.log(app.smtLineData_new);
            };

            //启动
            $.connection.hub.start();
        });
    </script>
}
