@model JianHeMES.Models.SMT_ProductionPlan
@{
}
<link href="~/Scripts/Bootstraps/bootstrap-select.css" rel="stylesheet" />
<script src="~/Scripts/Bootstraps/bootstrap-select.js"></script>
@*引用js、加载数据*@
<link href="~/Scripts/Bootstraps/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/Scripts/Bootstraps/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/Bootstraps/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="~/Scripts/axios.min.js"></script>
<style>
    .table > tbody > tr > th {
        text-align: center;
        vertical-align: middle;
    }

    .table > tbody > tr > td > input {
        text-align: center;
    }

    .table-bordered {
        border: none;
    }

    .selectpicker {
        border: 1px solid #ccc;
    }

    .input-group-addon, .form-control[readonly] {
        background-color: #fff;
    }

    .bootstrap-select > .btn, .bootstrap-select.form-control:not([class*="col-"]), input, select {
        max-width: 200px;
    }

    .borderFlicker {
        animation: myanimate 1s;
    }

    @@keyframes myanimate {
        0% {
            border-color: #ccc;
        }

        25% {
            border-color: red;
        }

        50% {
            border-color: #ccc;
        }

        75% {
            border-color: red;
        }

        100% {
            border-color: #ccc;
        }
    }

    .container {
        width: 1170px;
    }

    .titleul {
        width: 1000px;
    }

    .tdspan {
        font-size: 12px;
        text-align: left;
        vertical-align: middle;
        padding-left: 15px !important;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .form-control {
        padding: 4px;
    }
</style>
<h2>SMT产线信息录入</h2>
<div id="app" class="form-horizontal">
    <hr>
    <table id="para_table" class="table table-bordered">
        <colgroup>
            <col width="80" />
            <col width="180" />
            <col width="200" />
            <col width="90" />
            <col width="90" />
            <col width="160" />
            <col width="160" />
            <col width="150" />
            <col width="60" />
        </colgroup>
        <tr>
            <th>产线号</th>
            <th>订单号</th>
            <th>工作内容</th>
            <th>良品数量</th>
            <th>不良品数量</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>订单已有数量</th>
            <th align="center"><button type="button" class="btn btn-link" v-on:click="emptytable">清空</button></th>
        </tr>
        <tr class="orderNum">
            <td><input class="form-control" type="number" onkeyup="value=value.replace(/[^\d]/g,'')"></td>
            <td>
                @Html.DropDownListFor(model => model.OrderNum, ViewBag.OrderNumList as IEnumerable<SelectListItem>, "选择订单号", new { @class = "form-control selectpicker", data_live_search = "true", data_style = "form-control" })
                @*@Html.DropDownListFor(model => model.OrderNum, ViewBag.OrderNumList as IEnumerable<SelectListItem>, "选择订单号", new { @class = "form-control" })*@
            </td>
            <td><input class="form-control" type="text"></td>
            <td><input class="form-control" type="number" onkeyup="value=value.replace(/[^\d]/g,'')"></td>
            <td><input class="form-control" type="number" onkeyup="value=value.replace(/[^\d]/g,'')"></td>
            <td><input type="text" value="" class="start_datetime form-control"></td>
            <td><input type="text" value="" class="end_datetime form-control"></td>
            <td class="tdspan" id="firstspan"><span></span></td>
            <td align="center"><button type="button" class="btn btn-link" v-on:click="emptytr($event)">清除</button></td>
        </tr>
    </table>
    <table class="table">
        <tr>
            <td colspan="6" style="text-align:center;border-top:none;"><button class="btn btn-primary" v-on:click="newAddtr">增加一行</button></td>
        </tr>
    </table>

    <div class="form-group">
        <div class="col-md-12">
            <input value="输入信息" v-on:click="checkPost" class="btn btn-default" type="button">
        </div>
    </div>
</div>
@{var UserName = Session["User"] == null ? string.Empty : ((JianHeMES.Models.Users)Session["User"]).UserName;}

<script type="text/javascript">
    var app = new Vue({ //创建Vue对象实例
        el: "#app", //挂载DOM元素的ID
        data: {
            okNum: 0,
            emptyNum: 0,
            userName: "@UserName",
        },
        methods: {
            checkPost: function (event) {
                //event.preventDefault();
                var lstmodel = new Array();
                app.emptyNum = 0;
                app.okNum = 0;
                $(".orderNum").each(function (index, val) {
                    if (val.children[0].firstChild.value != ""
                        || val.children[1].firstChild.value != ""
                        || val.children[2].firstChild.value != ""
                        || val.children[3].firstChild.value != ""
                        || val.children[4].firstChild.value != ""
                        || val.children[5].firstChild.value != ""
                        || val.children[6].firstChild.value != "") {
                        if (val.children[0].firstChild.value != ""
                        && val.children[1].firstChild.value != ""
                        && val.children[2].firstChild.value != ""
                        && val.children[3].firstChild.value != ""
                        && val.children[4].firstChild.value != ""
                        && val.children[5].firstChild.value != ""
                        && val.children[6].firstChild.value != "") {
                            lstmodel.push({
                                LineNum: val.children[0].firstChild.value,
                                OrderNum: val.children[1].firstChild.value,
                                JobContent: val.children[2].firstChild.value,
                                NormalCount: val.children[3].firstChild.value,
                                AbnormalCount: val.children[4].firstChild.value,
                                BeginTime: val.children[5].firstChild.value,
                                EndTime: val.children[6].firstChild.value,
                                Operator: app.userName,
                                ProductionDate: "@DateTime.Now",
                            });
                            app.okNum++;
                        } else {
                            $(val.children).each(function (i, v) {
                                if (v.firstChild.value == "" && v.firstChild.type != "button") {
                                    $(v).children("input,select").addClass("borderFlicker");
                                    setTimeout(() =>$(v).children("input,select").removeClass("borderFlicker"), 1000);
                                }
                            });
                        };
                    } else {
                        app.emptyNum++;//空行+1
                    };
                });
                //总行数减去空行，等于数据行，且不为0条，则post内容
                if (($(".orderNum").length - app.emptyNum) == app.okNum && app.okNum != 0) {
                    console.log(JSON.stringify(lstmodel));
                    $.ajax({
                        type: 'post',
                        url: "/SMT/SMT_Operator/",
                        type: 'POST',
                        data: JSON.stringify(lstmodel),
                        contentType: 'application/json;charset=utf-8', //上传后直接是List，不需要反序列化，直接向后台传对象集合
                        async: false,
                        datatype: 'json',
                        cache: false,
                        success: function (data) {
                            if (data == "保存成功") {
                                alert(data);
                                window.location.href = '../SMT/SMT_Operator';
                            } else {
                                alert(data);
                            }
                        },
                        error: function (err) {
                            alert(err);
                        }
                    });
                };
            },
            loadDate: function () {
                $(".start_datetime").datetimepicker({
                    language: 'zh-CN',
                    format: 'yyyy-mm-dd hh:ii',//显示格式
                    todayHighlight: 1,//今天高亮
                    todayBtn: 1,
                    startView: 2,
                    forceParse: 0,
                    showMeridian: 1,
                    autoclose: 1,//选择后自动关闭
                    endDate: new Date()
                }).on('changeDate', function (ev) {
                    $(this).parent().next().children("input").datetimepicker('setStartDate', $(this).val());
                });
                $(".end_datetime").datetimepicker({
                    language: 'zh-CN',
                    format: 'yyyy-mm-dd hh:ii',//显示格式
                    todayHighlight: 1,//今天高亮
                    todayBtn: 1,
                    startView: 2,
                    forceParse: 0,
                    showMeridian: 1,
                    autoclose: 1,//选择后自动关闭
                    endDate: new Date()
                }).on('changeDate', function (ev) {
                    $(this).parent().prev().children("input").datetimepicker('setEndDate', $(this).val());
                });
            },
            emptytable: function () {
                var tr = $(".orderNum")
                tr.each(function (index, val) {
                    $(val).children("td").each(function (i, v) {
                        v.firstChild.value = "";
                    })
                });
            },
            emptytr: function (event) {
                var td = $(event.target);
                td.parents("tr").children("td").each(function (index, val) {
                    val.firstChild.value = "";
                })
            },
            addtr: function () {
                let tr = $("<tr class=\"orderNum\">" +
                    "<td><input class=\"form-control\" type=\"number\" onkeyup=\"value=value.replace(/[^\\d]/g,'')\"></td>" +
                    "<td><select data-live-search=\"true\" data-style=\"form-control\" class=\"form-control selectpicker\">" + $("#OrderNum").html() + "</select></td>" +
                    //"<td><select class=\"form-control\">" + $("#OrderNum").html() + "</select></td>" +
                    "<td><input class=\"form-control\" type=\"text\"></td>" +
                    "<td><input class=\"form-control\" type=\"number\" onkeyup=\"value=value.replace(/[^\\d]/g,'')\"></td>" +
                    "<td><input class=\"form-control\" type=\"number\" onkeyup=\"value=value.replace(/[^\\d]/g,'')\"></td>" +
                    "<td><input type=\"text\" value=\"\" class=\"start_datetime form-control\"></td>" +
                    "<td><input type=\"text\" value=\"\" class=\"end_datetime form-control\"></td>" +
                    "<td class=\"tdspan\"><span></span></td>" +
                    "<td align=\"center\"><button type=\"button\" class=\"btn btn-link\" onclick=\"deleteParentTr(this)\">移除</button></td></tr>");
                $("#para_table").append(tr);
                $('.selectpicker').selectpicker();

                //console.log(tr.children());
                $(tr.children()[1].firstChild).change(function (value) {
                    //console.log(value.target.value);
                    getOrderQuantityCount(value.target.value, tr.children()[7]);
                });
            },
            newAddtr: function () {
                this.$options.methods.addtr();
                this.$options.methods.loadDate();
            }
        },
        mounted: function () {
            $("#OrderNum").change(function (value) {
                getOrderQuantityCount(value.target.value, document.getElementById("firstspan"));
            });
            for (var i = 1; i < 8; i++) {
                this.$options.methods.addtr();
            };
            this.$options.methods.loadDate();
        }
    });
    function deleteParentTr(tdobject) {
        var td = $(tdobject);
        td.parents("tr").remove();
    };
    function getOrderQuantityCount(order, thistr) {
        axios.post("/SMT/GetOrderQuantityCount", {
            ordernum: order
        }).then(response=> {
            console.log(response.data);
            if (response.data == "") { return false; };

            if (response.data.result == "此订单无生产记录") {
                thistr.firstChild.innerText = `此订单无生产记录`;
            } else {
                let text = '';
                for (let i in response.data) {
                    text += `${i}${response.data[i]}\n`
                }
                thistr.firstChild.innerText = text;
            };
        }).catch(error=> {
            console.log(error);
        });
    };
</script>
