@*
    表格内格子的触摸三角组件
    鼠标移至三角形上，可显示出具体信息
*@
<script type="text/template" id="hoverDiv">
    <div v-if="ispower" :class="[{ hoverShow: true, hoverEdit: isfix },color]" @@mouseenter='hoverSlotShow =true' @@mouseleave='hoverSlotShow = false'>
        <transition name="fade">
            <slot v-show="hoverSlotShow"></slot>
        </transition>
    </div>
</script>
<script>
    Vue.component('hover-div', {
        /* 组件接收的参数
         * touchtype ：用于控制三角形颜色
         * isfix ：用于控制三角形是否固定在左上角
         * ispower ：是否有显示三角形的权限
         */
        props: ['touchtype', 'isfix', 'ispower'],
        template: document.getElementById("hoverDiv"),
        data: function () {
            return {
                hoverSlotShow: false,
            }
        },
        computed: {
            //若this.touchtype为edit值，为绿色
            //若this.touchtype为popover值，为蓝色
            color() {
                return { 'edit': 'green', 'popover': 'blue' }[this.touchtype];
            }
        }
    });
</script>
