@*触摸三角*@
<script type="text/template" id="hoverDiv">
    <div :class="[{ hoverShow: true, hoverEdit: isfix },color]" @@mouseenter='hoverSlotShow =true' @@mouseleave='hoverSlotShow = false'>
        <transition name="fade">
            <slot v-show="hoverSlotShow"></slot>
        </transition>
    </div>
</script>
<script>
    Vue.component('hover-div', {
        props: ['touchtype', 'isfix'],
        template: document.getElementById("hoverDiv"),
        data: function () {
            return {
                hoverSlotShow: false,
            }
        },
        computed: {
            color() {
                return this.touchtype == "edit" ? "green" : "blue";
            }
        }
    });
</script>
