
@{
    ViewBag.Title = "BarCodePrintTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 class="text-center">BarCodePrintTest</h2>

<input type="text" id="barcode" />

<img id="barcodeP" src="/Test/BarCodeImg?code=1234567890&width=305&height=100" />

<img id="two-dimensioncode" src="/Test/QRCodeImg?code=122121&width=50&height=50" />

<script>
    $(function () {
        $('#barcode').on({
            change: function () {
                var bc = $('#barcode').val();
                bc = "/Test/BarCodeImg?code=" + bc + "&width=305&height=100";
                console.log(bc);
                //$('#barcodeP').attr('src', "/Test/BarCodeImg?code=" + $('#barcode').val() + "&width=305&height=100");
                document.getElementById('barcodeP').src = bc;
                console.log($('#barcodeP')[0].src);
            }
        }).on({
            compositionend: function () {
                document.getElementById('barcodeP').src = bc;
                console.log($('#barcodeP')[0].src);
            }
        });
    });
    
</script>
