
@{
    ViewBag.Title = "printTest";
}
<script src="~/Scripts/printJS/JsBarcode.all.min.js"></script>
<style>
    * {
        margin: 0;
        padding: 0;
    }

    #app {
        margin: 50px;
        padding: 20px 0;
    }
</style>


<div id="app" class="text-center">
    <div class="printhide">
        <input v-model.trim="printVal" onKeyUp="value = value.replace(/[^A-Za-z0-9]/g, '')" class="form-control" style="display:inline-block;text-transform:uppercase" />
        <button v-on:click="print" class="btn btn-primary">打印pdf</button>
    </div>
    <div class="printContent">
        <svg id="barcode"></svg>
        @*<canvas id="barcode"></canvas>
            <img id="barcode" />*@
    </div>
</div>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            printVal: "",
        },
        watch: {
            printVal: (val) => {
                if (val != "") {
                    JsBarcode("#barcode", val.toUpperCase(), {
                        format: "code128",
                        lineColor: "#000",
                    });
                } else {
                    $(".printContent").html('<svg id="barcode"></svg>');
                };
            }
        },
        mounted: function () {

        },
        methods: {
            print: () => {
                $(".printhide").hide();
                window.print();
                $(".printhide").show();
            }
        }
    });
</script>
