/*基础样式*/
.container, .body-content {
    padding-left: 0px;
    padding-right: 0px;
}

.el-header {
    height: auto !important;
}

.el-header, .el-main {
    padding: 10px;
}

[v-cloak] {
    display: none;
}

.cell {
    text-align: center;
}

.el-table__body .cell {
    line-height: 20px;
}

h2 {
    margin: 0;
}

.el-main {
    padding-top: 0;
}

.el-form-item--small.el-form-item {
    margin-bottom: 10px;
}

.el-link {
    font-size: 12px;
}

/*表格*/
.el-table .cell /*, .el-table th, .el-table td*/, .el-table th div {
    padding: 0;
}

.el-table__body tr:hover > td {
    background-color: initial !important;
}

.el-divider--horizontal {
    margin: 0;
}

.el-upload__input {
    display: none !important;
}

.green {
    color: #33CC33;
    border-top-color: #33CC33 !important;
}

.red {
    color: #FF9999;
    border-top-color: #FF9999 !important;
}

.blue {
    color: #3399FF;
    border-top-color: #3399FF !important;
}

.examinanMessage {
    font-size: 11px;
    line-height: 11px;
    padding-bottom: 5px;
}

.miniBtn {
    padding: 6px !important;
    font-size: 11px;
    margin-left: 0 !important;
}

.el-table tbody tr td {
    position: relative;
    padding: 0;
    width: 100%;
    height: 100%;
}

.cellParent .cell {
    height: auto;
}

.equalTd {
    position: relative;
    min-height: 60px;
    display: flex;
    flex-direction: column-reverse;
}

.hoverShow {
    position: absolute;
    cursor: pointer;
    overflow: auto;
    z-index: 1;
    left: 0;
    top: 0;
    width: 0px;
    height: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 10px;
    border-top: 15px solid #aaa3a3;
    border-right: 15px solid transparent;
    transition: all 0.5s ease,border-top 0.5s linear 0.1s,border-right 0.5s linear 0.1s;
}

.hoverEdit {
    width: 100%;
    height: 30px;
    border-top-width: 0px;
    border-right-width: 0px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    padding: 2px;
}

.hoverShow:hover {
    width: 100%;
    height: 30px;
    border-top-width: 0px;
    border-right-width: 0px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    padding: 2px;
}

.fade-enter-active {
    transition: all 0.5s ease 0.8s;
}

.fade-leave-active {
    transition: all 0.1s ease;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    display: none;
}

.uploadStyle {
    max-width: 300px;
}

.el-upload__tip:before {
    content: "上传";
}

.el-upload__tip:after {
    content: "文件";
}

.el-input--medium {
    text-align: left;
}

.el-textarea__inner:focus {
    border-color: #33CC33;
}

.pcbInput input {
    padding: 0 5px;
}
