@*
    打印功能
*@
<script type="text/template" id="printComponent">
    <div class="print">
        <div class="el-form-item el-form-item--medium">
            <label class="el-form-item__label" style="width: 25%;">选打印机</label>
            <div class="el-form-item__content" style="margin-left: 25%;">
                <el-select v-model="printSelect" clearable placeholder="选择打印机" size="medium">
                    <el-option v-for="item in printOptions"
                               :key="item.value"
                               :label="item.label"
                               :value="item.value">
                    </el-option>
                </el-select>
            </div>
        </div>
        <div class="el-form-item el-form-item--medium" v-show="printSelect!='0'&&printSelect!=''">
            <label class="el-form-item__label" style="width: 25%;">打印浓度</label>
            <div class="el-form-item__content" style="margin-left: 25%;">
                <el-slider :max="30"
                           :min="-30"
                           size="medium"
                           class="nongduSlider"
                           v-model="nongDu"></el-slider>
            </div>
        </div>
        <div class="el-form-item el-form-item--medium" v-show="printSelect!='0'&&printSelect!=''">
            <label class="el-form-item__label" style="width: 25%;">打印数量</label>
            <div class="el-form-item__content" style="margin-left: 25%;">
                <el-input-number v-model.trim="pageCount"
                                 size="medium"
                                 :min="1"
                                 :max="5"
                                 clearable>
                </el-input-number>
            </div>
        </div>
        <div class="el-form-item el-form-item--medium" v-show="printSelect!='0'&&printSelect!=''">
            <label class="el-form-item__label" style="width: 25%;">左偏移量</label>
            <div class="el-form-item__content" style="margin-left: 25%;">
                <el-input-number v-model.trim="leftdissmenion"
                                 size="medium"
                                 clearable>
                </el-input-number>
            </div>
        </div>
    </div>
</script>
<script>
    Vue.component('print-component', {
        //props: ['info'],
        template: document.getElementById("printComponent"),
        data: function () {
            return {
                printSelect: '',
                printOptions: printIpAddress,
                pageCount: 1,
                nongDu: 30,
                leftdissmenion: 100,// 左偏移量
            }
        },
        mounted: function () {
            let printIP = localStorage.getItem('printIP');
            if (printIP != null) {
                this.printSelect = printIP;
            };
            let localpage = localStorage.getItem('printPageCount');
            if (localpage != null) {
                this.pageCount = localpage;
            };
            let localnongdu = localStorage.getItem('printNongDuCount');
            if (localnongdu != null) {
                this.nongDu = +localnongdu;
            };

            let localleftyl = localStorage.getItem('cassoadd_leftdissmenion');
            if (localleftyl != null) {
                this.leftdissmenion = +localleftyl;
            };
            //localStorage.setItem('printPageCount', this.pageCount);
            //localStorage.setItem('printNongDuCount', this.nongDu);
            //localStorage.setItem('cassoadd_leftdissmenion', this.leftdissmenion)
        },
        methods: {

        },
        watch: {
            printSelect: (v) => {
                localStorage.setItem('printIP', v);
            }
        },
        updated: function () {
            this.$emit("input", {
                ip: this.printSelect,
                pagecount: this.pageCount,
                port: 9101,
                concentration: this.nongDu,
                leftdissmenion: this.leftdissmenion
            });
        }
    });
</script>
