@*
    异常列表
*@
<script type="text/template" id="abnormalComponent">
    <el-card class="abnormalCard">
        <div slot="header">
            <span>异常列表</span>
        </div>
        <div v-for="(item,index) in checkboxOptions">
            <div>{{item.title}}</div>
            <el-checkbox-group v-model="checkboxGroup" size="mini" @@change="checkChange">
                <el-checkbox v-for="i in item.nameVal" :label="'('+item.title+')-'+i" :key="item.title+i">{{i}}</el-checkbox>
            </el-checkbox-group>
            <el-divider v-if="index<checkboxOptions.length-1"></el-divider>
        </div>
    </el-card>
</script>
<script>
    const abnormalOptions = [
        {
            title: "螺丝",
            nameVal: ["漏打", "不到位", "打滑", "用错"]
        }, {
            title: "标识/铭牌/唛头",
            nameVal: ["漏贴", "贴歪", "贴错", "翘角"]
        },
        {
            title: "R/G/B/W/扫描确认",
            nameVal: ["扫描不良", "掉灯", "瞎灯", "偏色"
                , "暗斑", "瞎条", "亮点", "亮条", "色块"]
        },
        {
            title: "电源线/信号线",
            nameVal: ["扎线不一致", "未插到位", "破损", "端子脱落", "错材"]
        },
        {
            title: "门锁/箱门",
            nameVal: ["方向不一致", "锁不牢", "漏装"]
        },
        {
            title: "胶条/胶垫",
            nameVal: ["没装到位", "错材", "漏装"]
        },
        {
            title: "LOGO",
            nameVal: ["刮花", "丝印错误", "丝印不良", "颜色错误"]
        },
        {
            title: "清洁",
            nameVal: ["内部异物", "外部异物"]
        },
        {
            title: "三防",
            nameVal: ["漏刷", "气泡"]
        },
        {
            title: "电源/系统卡",
            nameVal: ["错材", "松动", "死卡"]
        },
        {
            title: "磁环",
            nameVal: ["漏装", "错材", "脱落"]
        },
        {
            title: "指示灯",
            nameVal: ["不一致", "破损", "灯扭"]
        },
        {
            title: "定位销",
            nameVal: ["漏装", "未装到位", "错材"]
        },
        {
            title: "钢丝绳",
            nameVal: ["漏装", "未装到位", "错材"]
        },
        {
            title: "安装板/挡板",
            nameVal: ["漏装", "错材", "松动"]
        },
        {
            title: "其它",
            nameVal: ["扫码显示箱体编号与实贴箱体编号不符", "划痕", "模块方向错误", "后盖压线"
                , "灯面防护不良", "零器件脱落", "内外箱体编号不一致", "高低差/亮暗线/错误超标"]
        }
    ];
    Vue.component('abnormal-component', {
        props: ['value'],
        template: document.getElementById("abnormalComponent"),
        data: function () {
            return {
                checkboxGroup: [],
                checkboxOptions: abnormalOptions,
            }
        },
        methods: {
            checkChange(v) {
                this.$emit("input", v);
            }
        },
        watch: {
            value(v) {
                this.checkboxGroup = v;
            }
        }
    });
</script>
