@*
    条码状态列表
*@
<script type="text/template" id="barcodeStateComponent">
    <el-row class="barcodeStateCard">
        <el-col :xs="24" :sm="24" :md="12" :lg="8" :xl="8">
            <el-card class="notDo">
                <div slot="header">
                    <span>未开始 {{notDoList.length}}个 </span>
                </div>
                <ul>
                    <li v-for="item in notDoList">{{item}}</li>
                </ul>
            </el-card>
        </el-col>
        @*<el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
                <el-card class="notFinish">
                    <div slot="header">
                        <span>进行中 {{notFinishList.length}}个 </span>
                    </div>
                    <ul>
                        <li v-for="item in notFinishList">{{item}}</li>
                    </ul>
                </el-card>
            </el-col>*@
        <el-col :xs="24" :sm="24" :md="12" :lg="8" :xl="8">
            <el-card class="finish">
                <div slot="header">
                    <span>已完成 {{finishList.length}}个 </span>
                </div>
                <ul>
                    <li v-for="item in finishList">{{item}}</li>
                </ul>
            </el-card>
        </el-col>
    </el-row>
</script>
<script>
    Vue.component('barcode-state-component', {
        props: ['value'],
        template: document.getElementById("barcodeStateComponent"),
        data: function () {
            return {
                notDoList: [],
                //notFinishList: [],
                finishList: []
            }
        },
        watch: {
            value(v) {
                this.notDoList = v.NotDoList == null ? [] : v.NotDoList;
                //this.notFinishList = v.NeverFinish == null ? [] : v.NeverFinish;
                this.finishList = v.FinishList == null ? [] : v.FinishList;
            }
        }
    });
</script>
