@*
    模块菜单
*@
<script type="text/template" id="moduleMenuComponent">
    <el-row class="moduleMenu">
        <h3 style="margin:0">{{title}}</h3>
        <el-menu v-show="screenSize>=768"
                 :default-active="name"
                 @@select="handleSelect"
                 mode="horizontal">
            <el-menu-item index="Index">看板首页</el-menu-item>
            <el-menu-item index="normalCheck">模块产线</el-menu-item>
            <el-menu-item index="spotCheck">模块抽检</el-menu-item>
            <el-menu-item index="Burnin">模块老化</el-menu-item>
            <el-menu-item index="Rule">装箱规则</el-menu-item>
            <el-menu-item index="Inside">内箱装箱</el-menu-item>
            <el-menu-item index="Outside">外箱装箱</el-menu-item>
            <el-menu-item index="Again_Print">查看标签</el-menu-item>
            <el-menu-item index="Delete_Tag">删除标签</el-menu-item>
        </el-menu>
        <el-dropdown v-show="screenSize<768" placement="bottom" @@command="handleSelect" style="margin-top:5px;">
            <el-button size="small">
                更多菜单<i class="el-icon-arrow-down el-icon--right"></i>
            </el-button>
            <el-dropdown-menu slot="dropdown">
                <el-dropdown-item command="Index">看板首页</el-dropdown-item>
                <el-dropdown-item command="normalCheck">模块产线</el-dropdown-item>
                <el-dropdown-item command="spotCheck">模块抽检</el-dropdown-item>
                <el-dropdown-item command="Burnin">模块老化</el-dropdown-item>
                <el-dropdown-item command="Rule">装箱规则</el-dropdown-item>
                <el-dropdown-item command="Inside">内箱装箱</el-dropdown-item>
                <el-dropdown-item command="Outside">外箱装箱</el-dropdown-item>
                <el-dropdown-item command="Again_Print">查看标签</el-dropdown-item>
                <el-dropdown-item command="Delete_Tag">删除标签</el-dropdown-item>
            </el-dropdown-menu>
        </el-dropdown>
    </el-row>
</script>
<script>
    Vue.component('module-menu-component', {
        props: ['name', 'title'],
        template: document.getElementById("moduleMenuComponent"),
        data: function () {
            return {
                screenSize: document.body.clientWidth,//屏幕宽度
            }
        },
        methods: {
            handleSelect(key, keyPath) {
                location.href = `/ModuleManagement/${key}`;
            }
        }
    });
</script>

