@model IEnumerable<JianHeMES.Models.Personnel_of_Contrast>

@{
    ViewBag.Title = "周对比表输入";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Scripts/easyui/easyui.css" rel="stylesheet" />
<link href="~/Scripts/easyui/icon.css" rel="stylesheet" />
<script src="~/Scripts/easyui/jquery.easyui.min.js"></script>
<style>
    .datagrid-cell {
        height: 33px !important;
        line-height: 33px;
        padding: 0;
    }

    #title {
        border-bottom: 1px solid #95B8E7;
        background: linear-gradient(to bottom,#eff5ff 0,#e0ecff 100%);
        height: 43px;
        padding: 5px;
        position:relative;
        text-align:center;
    }
    .pasteDiv{
        color:green;
        position:absolute;
        vertical-align:middle;
        height:100%;
    }

    .datagrid {
        margin: 0 auto;
        width: 1002px;
    }
    /*表头，底部颜色*/
    .datagrid-header-row,
    .datagrid-view1 > .datagrid-body > .datagrid-body-inner > .datagrid-btable > tbody > .datagrid-row:last-child td,
    .datagrid-view2 > .datagrid-body > .datagrid-btable > tbody > .datagrid-row:last-child td {
        background-color: orange !important;
    }

    #yearVal, #monthVal, #weekVal {
        width: 30px;
        height: 24px;
        text-align: center;
    }
</style>

<div id="app">
    <h3 class="text-center">周对比表输入</h3>
    <div id="title">
        <div class="pasteDiv">
            <textarea v-model="pasteExcel" class="form-control" style="width:160px;height:32px;resize: none;" placeholder="Excel内容粘贴在此处"></textarea>
        </div>
        <div style="font-size:18px;height:32px;line-height:32px;">
            <span>
                <select id="yearVal" style="width:65px;">
                    <option></option>
                    <option>2019</option>
                    <option>2020</option>
                    <option>2021</option>
                    <option>2022</option>
                    <option>2023</option>
                    <option>2024</option>
                    <option>2025</option>
                </select>
            </span>&nbsp;年
            <span>
                <select id="monthVal" style="width:52px;">
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
            </span>&nbsp;月&nbsp;第
            <span>
                <select id="weekVal" style="width:52px;">
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </span>&nbsp;周各部门汇总
        </div>
    </div>
    <table id="tableData" class="easyui-datagrid" toolbar="#title"></table>
    <div>
        @Html.ActionLink("返回", "Contrast")
    </div>
</div>
<script type="text/javascript">
    var app = new Vue({
        el: "#app",
        data: {
            pasteExcel: "",
        },
        mounted: function () {
            //初始值
            var data = {
                rows: [
                    { "Department": "MC部", "Number": "", "Zhang_WorkingHour": "", "Zhang_Pay": "", "Total_Staff": "", "Overtime_Total": "", "Pay_Total": "", "Daily_Pay": "", "operation": "编辑" },
                    { "Department": "PC部", "Number": "", "Zhang_WorkingHour": "", "Zhang_Pay": "", "Total_Staff": "", "Overtime_Total": "", "Pay_Total": "", "Daily_Pay": "", "operation": "编辑" },
                    { "Department": "SMT部", "Number": "", "Zhang_WorkingHour": "", "Zhang_Pay": "", "Total_Staff": "", "Overtime_Total": "", "Pay_Total": "", "Daily_Pay": "", "operation": "编辑" },
                    { "Department": "配套加工部", "Number": "", "Zhang_WorkingHour": "", "Zhang_Pay": "", "Total_Staff": "", "Overtime_Total": "", "Pay_Total": "", "Daily_Pay": "", "operation": "编辑" },
                    { "Department": "装配1部", "Number": "", "Zhang_WorkingHour": "", "Zhang_Pay": "", "Total_Staff": "", "Overtime_Total": "", "Pay_Total": "", "Daily_Pay": "", "operation": "编辑" },
                    { "Department": "装配2部", "Number": "", "Zhang_WorkingHour": "", "Zhang_Pay": "", "Total_Staff": "", "Overtime_Total": "", "Pay_Total": "", "Daily_Pay": "", "operation": "编辑" },
                    { "Department": "制造中心", "Number": "", "Zhang_WorkingHour": "", "Zhang_Pay": "", "Total_Staff": "", "Overtime_Total": "", "Pay_Total": "", "Daily_Pay": "", "operation": "编辑" },
                    { "Department": "技术部", "Number": "", "Zhang_WorkingHour": "", "Zhang_Pay": "", "Total_Staff": "", "Overtime_Total": "", "Pay_Total": "", "Daily_Pay": "", "operation": "编辑" },
                    { "Department": "品质部", "Number": "", "Zhang_WorkingHour": "", "Zhang_Pay": "", "Total_Staff": "", "Overtime_Total": "", "Pay_Total": "", "Daily_Pay": "", "operation": "编辑" },
                    { "Department": "总经办", "Number": "", "Zhang_WorkingHour": "", "Zhang_Pay": "", "Total_Staff": "", "Overtime_Total": "", "Pay_Total": "", "Daily_Pay": "", "operation": "编辑" },
                    { "Department": "财务部", "Number": "", "Zhang_WorkingHour": "", "Zhang_Pay": "", "Total_Staff": "", "Overtime_Total": "", "Pay_Total": "", "Daily_Pay": "", "operation": "编辑" },
                    { "Department": "人力资源部", "Number": "", "Zhang_WorkingHour": "", "Zhang_Pay": "", "Total_Staff": "", "Overtime_Total": "", "Pay_Total": "", "Daily_Pay": "", "operation": "编辑" },
                    { "Department": "行政后勤部", "Number": "", "Zhang_WorkingHour": "", "Zhang_Pay": "", "Total_Staff": "", "Overtime_Total": "", "Pay_Total": "", "Daily_Pay": "", "operation": "完成编辑" },
                ]
            };
            //datagrid 初始化
            $('#tableData').datagrid({
                singleSelect: true,
                checkOnSelect: false,
                //nowrap: false,
                striped: true,
                frozenColumns: [[
                    {
                        field: 'Department', title: '部门', align: 'center', width: 110,
                        formatter: function (value, row, index) {
                            return value;
                        }
                    }
                ]],
                columns: [[
                    { field: 'Number', title: '人数', align: 'center', width: 110, editor: 'numberbox'},
                    { field: 'Zhang_WorkingHour', title: '正班工时', align: 'center', width: 110, editor: { type: 'numberbox', options: { precision: 1 } } },
                    { field: 'Zhang_Pay', title: '正班工资', align: 'center', width: 110, editor: { type: 'numberbox', options: { precision: 2 } } },
                    { field: 'Total_Staff', title: '人员加班总值（H)', align: 'center', width: 120, editor: { type: 'numberbox', options: { precision: 1 } } },
                    { field: 'Overtime_Total', title: '加班工资合计', align: 'center', width: 110, editor: { type: 'numberbox', options: { precision: 2 } } },
                    { field: 'Pay_Total', title: '工资合计', align: 'center', width: 110, editor: { type: 'numberbox', options: { precision: 2 } } },
                    { field: 'Daily_Pay', title: '日人均工资', align: 'center', width: 110, editor: { type: 'numberbox', options: { precision: 2 } } },
                    {
                        field: 'operation', title: '操作', align: 'center', width: 110,
                        formatter: function (value, row, index) {
                            if (value == "完成编辑") {
                                if (isExistEditRow()) {
                                    return '<a href="#" onclick="allEditrow(this)">编辑全部</a> ';
                                } else {
                                    return '<a href="#" onclick="allSaverow(this)">填写完成</a>';
                                }
                            } else if (value == "合计") {
                                return '<a href="#" onclick="postJson(this)">提交</a> ';
                            }else{
                                if (row.editing) {
                                    return '<a href="#" onclick="saverow(this)">保存</a>';
                                } else {
                                    return '<a href="#" onclick="editrow(this)">编辑</a> ';
                                }
                            }

                        }
                    }
                ]],
                onLoadSuccess: function (data) {
                    var rows = $('#tableData').datagrid('getRows');//返回当前页的行
                    for (var i = 0; i < rows.length; i++) {
                        $('#tableData').datagrid('beginEdit', i);
                    };
                    //添加“合计”列
                    $('#tableData').datagrid('appendRow', {
                        Department: '总计',
                        Number: '<span>' + compute("Number") + '</span>',
                        Zhang_WorkingHour: '<span>' + compute("Zhang_WorkingHour") + '</span>',
                        Zhang_Pay: '<span>' + compute("Zhang_Pay") + '</span>',
                        Total_Staff: '<span>' + compute("Total_Staff") + '</span>',
                        Overtime_Total: '<span>' + compute("Overtime_Total") + '</span>',
                        Pay_Total: '<span>' + compute("Pay_Total") + '</span>',
                        Daily_Pay: '<span>' + compute("Daily_Pay") + '</span>',
                        operation: '合计',
                    });
                },
                onBeforeEdit: function (rowIndex, rowData) {
                    rowData.editing = true;
                    $(this).datagrid('refreshRow', rowIndex);
                },
                onAfterEdit: function (rowIndex, rowData) {
                    rowData.editing = false;
                    $(this).datagrid('refreshRow', rowIndex);
                }
            });
            $('#tableData').datagrid('loadData', data);//加载数据
        },
        watch: {
            //处理粘贴数据
            pasteExcel: function (val) {
                if (val == "") {
                    return false;
                };
                var pasteQuantity = val.split("\n");
                pasteQuantity.pop();
                pasteQuantity.forEach(function (value, index) {
                    var cutPasteQuantity = value.split("\t")
                    pasteQuantity[index] = cutPasteQuantity;
                    //console.log(cutPasteQuantity);
                });
                //console.log(pasteQuantity);
                var rows = $('#tableData').datagrid('getRows');//返回当前页的行
                for (var i = 0; i < 13; i++) {
                    if (rows[i].editing == true) {
                        var rd = $('#tableData').datagrid('getEditors', i);
                        for (var j = 0; j < 7; j++) {
                            rd[j].target.numberbox('setValue', pasteQuantity[i][j]);
                        };
                    };
                };
                app.pasteExcel = "";
            }
        }
    });
    //发送post
    function postJson() {
        var tableData = $('#tableData').datagrid('getData').rows;
        for (var i = 0; i < tableData.length - 1; i++) {
            if (tableData[i].editing == true) {
                alert("还存在编辑中的行！");
                return false;
            };
        };
        var Y = $("#yearVal").val();
        var M = $("#monthVal").val();
        var W = $("#weekVal").val();
        if (Y == "" || M == "" || W == "") {
            alert("请选择年/月/周！");
            return false;
        };
        for (var i = 0; i < tableData.length - 1; i++) {
            tableData[i].Year = Y;
            tableData[i].Month = M;
            tableData[i].Week = W;
            //delete tableData[i].editing;
            //delete tableData[i].operation;
        };
        tableData.pop();
        //console.log(tableData);
        $.ajax({
            type: 'post',
            url: "/Personnel_of_Contrast/ContrastInput/",
            data: JSON.stringify(tableData),
            contentType: 'application/json;charset=utf-8', //上传后直接是List，不需要反序列化，直接向后台传对象集合
            async: false,
            datatype: 'json',
            cache: false,
            success: function (data) {
                if (data == "保存成功") {
                    alert(data);
                    window.location.href = '../Personnel_of_Contrast/Contrast/';
                } else {
                    alert(data);
                }
            },
            error: function (err) {
                alert(err);
            }
        });
    };
    
    //获取点击行索引
    function getRowIndex(target) {
        var tr = $(target).closest('tr.datagrid-row');
        return parseInt(tr.attr('datagrid-row-index'));
    };
    //行编辑
    function editrow(target) {
        $('#tableData').datagrid('beginEdit', getRowIndex(target));
    };
    //打开全部编辑
    function allEditrow(target) {
        for (var i = 0; i < 13; i++) {
            $('#tableData').datagrid('beginEdit', i);
        };
    };
    //单行保存
    function saverow(target) {
        var rowIndex = getRowIndex(target);
        if (isExistEmpty(rowIndex)) {
            $('#tableData').datagrid('endEdit', rowIndex);
            updateTotal();
        } else {
            alert('行内容未填写完整!');
            return false;
        };
    };
    //全部行保存
    function allSaverow(target) {
        $('#tableData').datagrid('beginEdit', getRowIndex(target));
        var rows = $('#tableData').datagrid('getRows');//返回当前页的行
        var notComplete = 0;
        for (var i = 0; i < rows.length - 1; i++) {
            if (rows[i].editing == true) {
                if (isExistEmpty(i)) {
                    $('#tableData').datagrid('endEdit', i);
                } else {
                    notComplete++;
                };
            };
        };
        updateTotal();
        if (notComplete != 0) {
            alert("还有" + notComplete + "行未填写完整!");
        };
    };
    //判断一行中是否存在空值
    function isExistEmpty(rowIndex) {
        var rowData = $('#tableData').datagrid('getEditors', rowIndex);
        for (var i = 0; i < rowData.length; i++) {
            if (rowData[i].target[0].value == "") {
                return false;
            };
        };
        return true;
    };
    //判断是否还存在编辑行
    function isExistEditRow() {
        var tableData = $('#tableData').datagrid('getData').rows;
        for (var i = 0; i < tableData.length - 1; i++) {
            if (tableData[i].editing == true) {
                return false;
            };
        };
        return true;
    };

    //计算合计行数值
    function compute(colName) {
        var rows = $('#tableData').datagrid('getRows');//返回当前页的行
        var total = 0;
        for (var i = 0; i < rows.length - 1; i++) {
            var thisVal = rows[i][colName] == "" ? 0 : rows[i][colName];
            total += (parseFloat(thisVal) <= 0 ? 0 : parseFloat(rows[i][colName]));
        };
        return isNaN(total) ? 0 : total;
    };
    //更新合计行数据
    function updateTotal() {
        $('#tableData').datagrid('updateRow', {
            index: 13,
            row: {
                Number: '<span>' + compute("Number") + '</span>',
                Zhang_WorkingHour: '<span>' + compute("Zhang_WorkingHour") + '</span>',
                Zhang_Pay: '<span>' + compute("Zhang_Pay") + '</span>',
                Total_Staff: '<span>' + compute("Total_Staff") + '</span>',
                Overtime_Total: '<span>' + compute("Overtime_Total") + '</span>',
                Pay_Total: '<span>' + compute("Pay_Total") + '</span>',
                Daily_Pay: '<span>' + compute("Daily_Pay") + '</span>',
            }
        });
    }
</script>