@{
    ViewBag.Title = "一楼温湿度";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Areas/KongYaHT/Content/css.css" rel="stylesheet" />
@*<script src="~/Scripts/gauge.min.js"></script>*@
<script src="~/Areas/KongYaHT/Script/highcharts.js"></script>
<script src="~/Areas/KongYaHT/Script/highcharts-more.js"></script>
<h2 class="text-center" style="color:#006FBD;font-weight: bold;">@ViewBag.Title</h2>

<style type="text/css">
    .modal-dialog {
        left: 0;
    }

    #floor1 {
        position: relative;
        width: 1172px;
        height: 18px;
        bottom: 200px;
    }

    #WS1 {
        position: relative;
        margin-left:262px;
        bottom: -312px;
    }

    #WS2 {
        position: relative;
        margin-left: 680px;
        bottom: -316px;
    }

    #WS3 {
        position: relative;
        margin-left: 336px;
        bottom: -333px;
    }

    #WS4 {
        position: relative;
        margin-left: 402px;
        bottom: -109px;
    }

    #WS5 {
        position: relative;
        margin-left: 42px;
        bottom: -237px;
    }

    #WS6 {
        position: relative;
        margin-left: 890px;
        bottom: -354px;
    }


   #WS1,#WS2,#WS3,#WS4,#WS5,#WS6{
        border:1px dashed #d53737;
        padding:2px;
        width:110px;
        height:59px;
    }

    #GJB1,
    #GJB2 {
        color: red;
    }

    #floor1 a:hover, #floor1 a:active, #floor1 a:visited {
        text-decoration: none;
        color: rgb(51, 51, 51);
    }

    #floor1 a {
        display: block;
        width: 110px;
        color: rgb(51, 51, 51);
    }
</style>

<body style="background-color: #9D9D9D;z-index:2">
    <div class="container body-content">
        <div>@Html.RouteLink("温湿度数据汇总", "KongYaHT", new { Controller = "KongYa", Action = "FloorDataShow" })</div>
        <div id="floor1">
            <div id="WS1">
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=一楼配套加工(1)" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="1F_temprature1">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="1F_humidity1">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="1F_state1">#</span>
                    </a>
                </div>
            </div>
            <div id="WS2">
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=一楼配套加工(2)" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="1F_temprature2">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="1F_humidity2">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="1F_state2">#</span>
                    </a>
                </div>
            </div>
            <div id="WS3">
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=一楼配套加工(6)" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="1F_temprature3">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="1F_humidity3">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="1F_state3">#</span>
                    </a>
                </div>
            </div>
            <div id="WS4">
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=一楼配套加工(4)" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="1F_temprature4">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="1F_humidity4">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="1F_state4">#</span>
                    </a>
                </div>
            </div>
            <div id="WS5">
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=一楼配套加工(5)" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="1F_temprature5">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="1F_humidity5">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="1F_state5">#</span>
                    </a>
                </div>
            </div>
            <div id="WS6">
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=一楼篮球场" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="1F_temprature6">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="1F_humidity6">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="1F_state6">#</span>
                    </a>
                </div>
            </div>
        </div>
        <embed src="~/Areas/KongYaHT/Image/1s1.svg">

        <div style="font-size:15px">
            根据中华人民共和国国家军用标准GJB 3007A-2009规定，防静电工作区环境条件要求：<br> 1.室温一般维持在
            <span id="GJB1">16℃～28℃</span>范围内，温度变化率小于5℃/h；<br> 2.室内相对湿度保持在
            <span id="GJB2">45%～70%</span>范围内，并不得结露。
        </div>
    </div>



    @section scripts {
        <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
        <script src="~/signalr/hubs"></script>
        <script>
            $(function () {
                var mypush = $.connection.Hub1;
                mypush.client.sendTH1 = function (TH1_json) {
                    var TH_40004493_1 = JSON.parse(TH1_json.TH_40004493_1);
                    var TH_40004518_1 = JSON.parse(TH1_json.TH_40004518_1);
                    var TH_40004518_2 = JSON.parse(TH1_json.TH_40004518_2);
                    var TH_40004518_6 = JSON.parse(TH1_json.TH_40004518_6);
                    var TH_40004518_4 = JSON.parse(TH1_json.TH_40004518_4);
                    var TH_40004518_5 = JSON.parse(TH1_json.TH_40004518_5);

                    

                    //点1
                    $("#1F_temprature1").html(TH_40004518_1.Tem);
                    $("#1F_humidity1").html(TH_40004518_1.Hum);
                    if (TH_40004518_1.Tem > 16 && TH_40004518_1.Tem < 28) {
                        if (TH_40004518_1.Hum > 45 && TH_40004518_1.Hum < 70) {
                            $("#1F_state1").html("正常").css("background", "green");
                        } else { $("#1F_state1").html("湿度警报").css("background", "red"); }
                    } else {
                        if (TH_40004518_1.Hum > 45 && TH_40004518_1.Hum < 70) {
                            $("#1F_state1").html("温度警报").css("background", "red");
                        } else { $("#1F_state1").html("温湿度警报").css("background", "red"); }
                    }

                    //点2
                    $("#1F_temprature2").html(TH_40004518_2.Tem);
                    $("#1F_humidity2").html(TH_40004518_2.Hum);
                    if (TH_40004518_2.Tem > 16 && TH_40004518_2.Tem < 28) {
                        if (TH_40004518_2.Hum > 45 && TH_40004518_2.Hum < 70) {
                            $("#1F_state2").html("正常").css("background", "green");
                        } else { $("#1F_state2").html("湿度警报").css("background", "red"); }
                    } else {
                        if (TH_40004518_2.Hum > 45 && TH_40004518_2.Hum < 70) {
                            $("#1F_state2").html("温度警报").css("background", "red");
                        } else { $("#1F_state2").html("温湿度警报").css("background", "red"); }
                    }
                    //点3
                    $("#1F_temprature3").html(TH_40004518_6.Tem);
                    $("#1F_humidity3").html(TH_40004518_6.Hum);
                    if (TH_40004518_6.Tem > 16 && TH_40004518_6.Tem < 28) {
                        if (TH_40004518_6.Hum > 45 && TH_40004518_6.Hum < 70) {
                            $("#1F_state3").html("正常").css("background", "green");
                        } else { $("#1F_state3").html("湿度警报").css("background", "red"); }
                    } else {
                        if (TH_40004518_6.Hum > 45 && TH_40004518_6.Hum < 70) {
                            $("#1F_state3").html("温度警报").css("background", "red");
                        } else { $("#1F_state3").html("温湿度警报").css("background", "red"); }
                    }
                    //点4
                    $("#1F_temprature4").html(TH_40004518_4.Tem);
                    $("#1F_humidity4").html(TH_40004518_4.Hum);
                    if (TH_40004518_4.Tem > 16 && TH_40004518_4.Tem < 28) {
                        if (TH_40004518_4.Hum > 45 && TH_40004518_4.Hum < 70) {
                            $("#1F_state4").html("正常").css("background", "green");
                        } else { $("#1F_state4").html("湿度警报").css("background", "red"); }
                    } else {
                        if (TH_40004518_4.Hum > 45 && TH_40004518_4.Hum < 70) {
                            $("#1F_state4").html("温度警报").css("background", "red");
                        } else { $("#1F_state4").html("温湿度警报").css("background", "red"); }
                    }
                    //点5
                    $("#1F_temprature5").html(TH_40004518_5.Tem);
                    $("#1F_humidity5").html(TH_40004518_5.Hum);
                    if (TH_40004518_5.Tem > 16 && TH_40004518_5.Tem < 28) {
                        if (TH_40004518_5.Hum > 45 && TH_40004518_5.Hum < 70) {
                            $("#1F_state5").html("正常").css("background", "green");
                        } else { $("#1F_state5").html("湿度警报").css("background", "red"); }
                    } else {
                        if (TH_40004518_5.Hum > 45 && TH_40004518_5.Hum < 70) {
                            $("#1F_state5").html("温度警报").css("background", "red");
                        } else { $("#1F_state5").html("温湿度警报").css("background", "red"); }
                    }

                    //3F_点6
                    $("#1F_temprature6").html(TH_40004493_1.Tem);
                    $("#1F_humidity6").html(TH_40004493_1.Hum);
                    if (TH_40004493_1.Tem > 16 && TH_40004493_1.Tem < 28) {
                        if (TH_40004493_1.Hum > 45 && TH_40004493_1.Hum < 70) {
                            $("#1F_state6").html("正常").css("background", "green");
                        } else { $("#1F_state6").html("湿度警报").css("background", "red"); }
                    } else {
                        if (TH_40004493_1.Hum > 45 && TH_40004493_1.Hum < 70) {
                            $("#1F_state6").html("温度警报").css("background", "red");
                        } else { $("#1F_state6").html("温湿度警报").css("background", "red"); }
                    }
                };
                $.connection.hub.start();

            });
        </script>
    }
</body>