@{
    ViewBag.Title = "四楼温湿度";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/KongYaHT/Content/css.css" rel="stylesheet" />
@*<script src="~/Scripts/gauge.min.js"></script>*@
<script src="~/Areas/KongYaHT/Script/highcharts.js"></script>
<script src="~/Areas/KongYaHT/Script/highcharts-more.js"></script>
<h2 class="text-center" style="color:#006FBD;font-weight: bold;">@ViewBag.Title</h2>

<style type="text/css">
    .modal-dialog{
        left:0;
    }
    #floor4 {
        position: relative;
        width: 1172px;
        height: 18px;
        bottom: 200px;
    }

    #WS1 {
        position: relative;
        margin-left: 0px;
        bottom: 0px;
        visibility: hidden;
    }

    #WS2 {
        position: relative;
        margin-left: 160px;
        bottom: -269px;
    }

    #WS3 {
        position: relative;
        margin-left: 93px;
        bottom: -309px;
    }

    #WS4 {
        position: relative;
        margin-left: 573px;
        bottom: -119px;
    }

    #WS5 {
        position: relative;
        margin-left: 512px;
        bottom: -233px;
    }

    #WS6 {
        position: relative;
        margin-left: 522px;
        bottom: -282px;
    }

    #WS7 {
        position: relative;
        margin-left: 649px;
        bottom: -18px;
    }

    #WS8 {
        position: relative;
        margin-left: 830px;
        bottom: -176px;
    }
    #WS9 {
        position: relative;
        margin-left: 420px;
        bottom: 195px;
    }
    #WS10 {
        position: relative;
        margin-left: 335px;
        bottom: 161px;
    }

    #WS1,#WS2,#WS3,#WS4,#WS5,#WS6,#WS7,#WS8,#WS9,#WS10{
        border:1px dashed #d53737;
        padding:2px;
        width:110px;
        height:59px;
    }

    #GJB1,
    #GJB2 {
        color: red;
    }

    #floor4 a:hover, #floor4 a:active, #floor4 a:visited {
        text-decoration: none;
        color: rgb(51, 51, 51);
    }

    #floor4 a {
        display: block;
        width: 110px;
        color: rgb(51, 51, 51);
    }
</style>


<body style="background-color: #9D9D9D;">
    <div class="container body-content">
        <div>@Html.RouteLink("温湿度数据汇总", "KongYaHT", new { Controller = "KongYa", Action = "FloorDataShow" })</div>
        <div id="floor4">
            <div id="WS1">
                <!--<a href="#" style="color: red">
                                温度<input id="temperature11" disabled="disabled" value="34" style="width:30px;color: black" type="text">℃<br>
                                湿度<input id="humidness11" disabled="disabled" value="30" style="width:30px;color: black" type="text">%RH<br>
                                状态<input id="statu11" disabled="disabled" value="警报" style="width: 30px; color: black; background-color: red;" type="text">
                </a>-->
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=四楼烤箱房" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="4F_temprature1">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="4F_humidity1">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="4F_state1">#</span>
                    </a>
                </div>
            </div>
            <div id="WS2">
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=四楼喷墨房1号" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="4F_temprature2">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="4F_humidity2">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="4F_state2">#</span>
                    </a>
                </div>
            </div>
            <div id="WS3">
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=四楼喷墨房2号" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="4F_temprature3">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="4F_humidity3">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="4F_state3">#</span>
                    </a>
                </div>
            </div>
            <div id="WS4">
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=四楼线材" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="4F_temprature4">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="4F_humidity4">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="4F_state4">#</span>
                    </a>
                </div>
            </div>
            <div id="WS5">
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=四楼老化调试" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="4F_temprature5">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="4F_humidity5">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="4F_state5">#</span>
                    </a>
                </div>
            </div>
            <div id="WS6">
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=四楼老化调试2号" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="4F_temprature6">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="4F_humidity6">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="4F_state6">#</span>
                    </a>
                </div>
            </div>
            <div id="WS7">
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=四楼老化调试3号" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="4F_temprature7">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="4F_humidity7">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="4F_state7">#</span>
                    </a>
                </div>
            </div>
            <div id="WS8">
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=四楼仓库" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="4F_temprature8">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="4F_humidity8">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="4F_state8">#</span>
                    </a>
                </div>
            </div>
            <div id="WS9">
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=四楼组装线1号" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="4F_temprature9">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="4F_humidity9">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="4F_state9">#</span>
                    </a>
                </div>
            </div>
            <div id="WS10">
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=四楼组装线2号" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="4F_temprature10">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="4F_humidity10">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="4F_state10">#</span>
                    </a>
                </div>
            </div>

        </div>

        <embed src="~/Areas/KongYaHT/image/4s4.svg">

        <div style="font-size:15px">
            根据中华人民共和国国家军用标准GJB 3007A-2009规定，防静电工作区环境条件要求：<br> 1.室温一般维持在
            <span id="GJB1">16℃～28℃</span>范围内，温度变化率小于5℃/h；<br> 2.室内相对湿度保持在
            <span id="GJB2">45%～70%</span>范围内，并不得结露。
        </div>

    </div>


    @section scripts {
        <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
        <script src="~/signalr/hubs"></script>
        <script>
            $(function () {
                var mypush = $.connection.Hub4;
                mypush.client.sendTH4 = function (TH4_json) {
                    //console.log(TH4_json);

                    var TH_40001676_4 = JSON.parse(TH4_json.TH_40001676_4);
                    var TH_40004493_6 = JSON.parse(TH4_json.TH_40004493_6);
                    var TH_40004493_3 = JSON.parse(TH4_json.TH_40004493_3);
                    var TH_40004493_4 = JSON.parse(TH4_json.TH_40004493_4);
                    var TH_40004493_5 = JSON.parse(TH4_json.TH_40004493_5);
                    //新增组装线点
                    var TH_40021216_1 = JSON.parse(TH4_json.TH_40021216_1);
                    var TH_40021216_2 = JSON.parse(TH4_json.TH_40021216_2);
                    //四楼喷墨房改动
                    var TH_40021216_3 = JSON.parse(TH4_json.TH_40021216_3);
                    var TH_40021216_4 = JSON.parse(TH4_json.TH_40021216_4);


                    //4F_点2 
                    $("#4F_temprature2").html(TH_40021216_3.Tem);
                    $("#4F_humidity2").html(TH_40021216_3.Hum);
                    if (TH_40021216_3.Tem > 16 && TH_40021216_3.Tem < 28) {
                        if (TH_40021216_3.Hum > 45 && TH_40021216_3.Hum < 70) {
                            $("#4F_state2").html("正常").css("background", "green");
                        } else { $("#4F_state2").html("湿度警报").css("background", "red"); }
                    } else {
                        if (TH_40021216_3.Hum > 45 && TH_40021216_3.Hum < 70) {
                            $("#4F_state2").html("温度警报").css("background", "red");
                        } else { $("#4F_state2").html("温湿度警报").css("background", "red"); }
                    }

                    //4F_点3
                    $("#4F_temprature3").html(TH_40021216_4.Tem);
                    $("#4F_humidity3").html(TH_40021216_4.Hum);
                    if (TH_40021216_4.Tem > 16 && TH_40021216_4.Tem < 28) {
                        if (TH_40021216_4.Hum > 45 && TH_40021216_4.Hum < 70) {
                            $("#4F_state3").html("正常").css("background", "green");
                        } else { $("#4F_state3").html("湿度警报").css("background", "red"); }
                    } else {
                        if (TH_40021216_4.Hum > 45 && TH_40021216_4.Hum < 70) {
                            $("#4F_state3").html("温度警报").css("background", "red");
                        } else { $("#4F_state3").html("温湿度警报").css("background", "red"); }
                    }

                    //4F_点4
                    $("#4F_temprature4").html(TH_40001676_4.Tem);
                    $("#4F_humidity4").html(TH_40001676_4.Hum);
                    if (TH_40001676_4.Tem > 16 && TH_40001676_4.Tem < 28) {
                        if (TH_40001676_4.Hum > 45 && TH_40001676_4.Hum < 70) {
                            $("#4F_state4").html("正常").css("background", "green");
                        } else { $("#4F_state4").html("湿度警报").css("background", "red"); }
                    } else {
                        if (TH_40001676_4.Hum > 45 && TH_40001676_4.Hum < 70) {
                            $("#4F_state4").html("温度警报").css("background", "red");
                        } else { $("#4F_state4").html("温湿度警报").css("background", "red"); }
                    }

                    //4F_点5
                    $("#4F_temprature5").html(TH_40004493_6.Tem);
                    $("#4F_humidity5").html(TH_40004493_6.Hum);
                    if (TH_40004493_6.Tem > 16 && TH_40004493_6.Tem < 28) {
                        if (TH_40004493_6.Hum > 45 && TH_40004493_6.Hum < 70) {
                            $("#4F_state5").html("正常").css("background", "green");
                        } else { $("#4F_state5").html("湿度警报").css("background", "red"); }
                    } else {
                        if (TH_40004493_6.Hum > 45 && TH_40004493_6.Hum < 70) {
                            $("#4F_state5").html("温度警报").css("background", "red");
                        } else { $("#4F_state5").html("温湿度警报").css("background", "red"); }
                    }

                    //4F_点6
                    $("#4F_temprature6").html(TH_40004493_4.Tem);
                    $("#4F_humidity6").html(TH_40004493_4.Hum);
                    if (TH_40004493_4.Tem > 16 && TH_40004493_4.Tem < 28) {
                        if (TH_40004493_4.Hum > 45 && TH_40004493_4.Hum < 70) {
                            $("#4F_state6").html("正常").css("background", "green");
                        } else { $("#4F_state6").html("湿度警报").css("background", "red"); }
                    } else {
                        if (TH_40004493_4.Hum > 45 && TH_40004493_4.Hum < 70) {
                            $("#4F_state6").html("温度警报").css("background", "red");
                        } else { $("#4F_state6").html("温湿度警报").css("background", "red"); }
                    }

                    //4F_点7
                    $("#4F_temprature7").html(TH_40004493_5.Tem);
                    $("#4F_humidity7").html(TH_40004493_5.Hum);
                    if (TH_40004493_5.Tem > 16 && TH_40004493_5.Tem < 28) {
                        if (TH_40004493_5.Hum > 45 && TH_40004493_5.Hum < 70) {
                            $("#4F_state7").html("正常").css("background", "green");
                        } else { $("#4F_state7").html("湿度警报").css("background", "red"); }
                    } else {
                        if (TH_40004493_5.Hum > 45 && TH_40004493_5.Hum < 70) {
                            $("#4F_state7").html("温度警报").css("background", "red");
                        } else { $("#4F_state7").html("温湿度警报").css("background", "red"); }
                    }

                    //4F_点8
                    $("#4F_temprature8").html(TH_40004493_3.Tem);
                    $("#4F_humidity8").html(TH_40004493_3.Hum);
                    if (TH_40004493_3.Tem > 16 && TH_40004493_3.Tem < 28) {
                        if (TH_40004493_3.Hum > 45 && TH_40004493_3.Hum < 70) {
                            $("#4F_state8").html("正常").css("background", "green");
                        } else { $("#4F_state8").html("湿度警报").css("background", "red"); }
                    } else {
                        if (TH_40004493_3.Hum > 45 && TH_40004493_3.Hum < 70) {
                            $("#4F_state8").html("温度警报").css("background", "red");
                        } else { $("#4F_state8").html("温湿度警报").css("background", "red"); }
                    }


                    //4F_点9
                    $("#4F_temprature9").html(TH_40021216_1.Tem);
                    $("#4F_humidity9").html(TH_40021216_1.Hum);
                    if (TH_40021216_1.Tem > 16 && TH_40021216_1.Tem < 28) {
                        if (TH_40021216_1.Hum > 45 && TH_40021216_1.Hum < 70) {
                            $("#4F_state9").html("正常").css("background", "green");
                        } else { $("#4F_state9").html("湿度警报").css("background", "red"); }
                    } else {
                        if (TH_40021216_1.Hum > 45 && TH_40021216_1.Hum < 70) {
                            $("#4F_state9").html("温度警报").css("background", "red");
                        } else { $("#4F_state9").html("温湿度警报").css("background", "red"); }
                    }


                    //4F_点10
                    $("#4F_temprature10").html(TH_40021216_2.Tem);
                    $("#4F_humidity10").html(TH_40021216_2.Hum);
                    if (TH_40021216_2.Tem > 16 && TH_40021216_2.Tem < 28) {
                        if (TH_40021216_2.Hum > 45 && TH_40021216_2.Hum < 70) {
                            $("#4F_state10").html("正常").css("background", "green");
                        } else { $("#4F_state10").html("湿度警报").css("background", "red"); }
                    } else {
                        if (TH_40021216_2.Hum > 45 && TH_40021216_2.Hum < 70) {
                            $("#4F_state10").html("温度警报").css("background", "red");
                        } else { $("#4F_state10").html("温湿度警报").css("background", "red"); }
                    }

                };
                $.connection.hub.start();
            });
        </script>
    }

</body>