@{
    ViewBag.Title = "四楼温湿度";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/KongYaHT/Content/css.css" rel="stylesheet" />
@*<script src="~/Scripts/gauge.min.js"></script>*@
<script src="~/Scripts/jquery-1.11.3.js"></script>
<script src="~/Areas/KongYaHT/Script/highcharts.js"></script>
<script src="~/Areas/KongYaHT/Script/highcharts-more.js"></script>
<script src="~/Areas/KongYaHT/Script/meter4.js"></script>
<h2 class="text-center" style="color:#006FBD;font-weight: bold;">@ViewBag.Title</h2>

<style type="text/css">
    #floor4 {
        position: relative;
        width: 1172px;
        height: 18px;
        bottom: 200px;
    }

    #WS1 {
        position: relative;
        margin-left: 80px;
        bottom: -400px;
    }

    #WS2 {
        position: relative;
        margin-left: 290px;
        bottom: -285px;
    }

    #WS3 {
        position: relative;
        margin-left: 400px;
        bottom: -175px;
    }

    #WS4 {
        position: relative;
        margin-left: 520px;
        bottom: -170px;
    }

    #WS5 {
        position: relative;
        margin-left: 550px;
        bottom: -340px;
    }

    #WS6 {
        position: relative;
        margin-left: 700px;
        bottom: -370px;
    }

    #WS7 {
        position: relative;
        margin-left: 640px;
        bottom: -75px;
    }

    #WS8 {
        position: relative;
        margin-left: 900px;
        bottom: -325px;
    }

    #container, #container3, #container5, #container7, #container9,#container11, #container13, #container15 {
        position: absolute;
        left: -20px;
        bottom: 45px;
    }

    #container2, #container4, #container6, #container8, #container10,#container12, #container14, #container16 {
        position: absolute;
        bottom: 45px;
        left: 35px;
    }

    #hider, #hider2, #hider3, #hider4, #hider5, #hider6,
    #hider7, #hider8, #hider9, #hider10,#hider11, #hider12,
    #hider13, #hider14, #hider15, #hider16 {
        position: absolute;
        left: -33px;
        bottom: 44px;
    }

    #f1, #f2, #f3, #f4, #f5, #f6, #f7, #f8, #f9, #f10, #f11, #f12, #f13, #f14, #f15, #f16 {
        display: none;
    }

    #GJB1,
    #GJB2 {
        color: red;
    }

    #floor4 a:hover, #floor4 a:active, #floor4 a:visited {
        text-decoration: none;
        color: rgb(51, 51, 51);
    }

    #floor4 a {
        display: block;
        width: 110px;
        color: rgb(51, 51, 51);
    }
</style>


<body style="background-color: #9D9D9D;">
    <div class="container body-content">
        <div>@Html.RouteLink("温湿度数据汇总", "KongYaHT", new { Controller = "KongYa", Action = "FloorDataShow" })</div>
        <div id="floor4">
            <div id="WS1">
                <div id="container" style="min-width: 70px; max-width: 100px; height: 70px; margin: 0 auto"></div>
                <div id="hider" class="hider" style="min-width: 150px; max-width: 170px; height: 150px; margin: 0px auto; z-index: 1; display: none;"></div>
                <div id="container2" style="min-width: 70px; max-width: 100px; height: 70px; margin: 0 auto"></div>
                <div id="hider2" class="hider2" style="min-width: 150px; max-width: 170px; height: 150px; margin: 0px auto; z-index: 1; display: none;"></div>
                <!--<a href="#" style="color: red">
                                温度<input id="temperature11" disabled="disabled" value="34" style="width:30px;color: black" type="text">℃<br>
                                湿度<input id="humidness11" disabled="disabled" value="30" style="width:30px;color: black" type="text">%RH<br>
                                状态<input id="statu11" disabled="disabled" value="警报" style="width: 30px; color: black; background-color: red;" type="text">
                </a>-->
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=四楼烤箱房" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="4F_temprature1">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="4F_humidity1">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="4F_state1">#</span>
                    </a>
                </div>
            </div>
            <div id="WS2">
                <div id="container3" style="min-width: 70px; max-width: 100px; height: 70px; margin: 0 auto"></div>
                <div id="hider3" class="hider3" style="min-width: 150px; max-width: 170px; height: 150px; margin: 0px auto; z-index: 1; display: none;"></div>
                <div id="container4" style="min-width: 70px; max-width: 100px; height: 70px; margin: 0 auto"></div>
                <div id="hider4" class="hider4" style="min-width: 150px; max-width: 170px; height: 150px; margin: 0px auto; z-index: 1; display: none;"></div>
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=四楼老化" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="4F_temprature2">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="4F_humidity2">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="4F_state2">#</span>
                    </a>
                </div>
            </div>
            <div id="WS3">
                <div id="container5" style="min-width: 70px; max-width: 100px; height: 70px; margin: 0 auto"></div>
                <div id="hider5" class="hider5" style="min-width: 150px; max-width: 170px; height: 150px; margin: 0px auto; z-index: 1; display: none;"></div>
                <div id="container6" style="min-width: 70px; max-width: 100px; height: 70px; margin: 0 auto"></div>
                <div id="hider6" class="hider6" style="min-width: 150px; max-width: 170px; height: 150px; margin: 0px auto; z-index: 1; display: none;"></div>
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=四楼组装" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="4F_temprature3">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="4F_humidity3">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="4F_state3">#</span>
                    </a>
                </div>
            </div>
            <div id="WS4">
                <div id="container7" style="min-width: 70px; max-width: 100px; height: 70px; margin: 0 auto"></div>
                <div id="hider7" class="hider7" style="min-width: 150px; max-width: 170px; height: 150px; margin: 0px auto; z-index: 1; display: none;"></div>
                <div id="container8" style="min-width: 70px; max-width: 100px; height: 70px; margin: 0 auto"></div>
                <div id="hider8" class="hider8" style="min-width: 150px; max-width: 170px; height: 150px; margin: 0px auto; z-index: 1; display: none;"></div>
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=四楼线材" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="4F_temprature4">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="4F_humidity4">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="4F_state4">#</span>
                    </a>
                </div>
            </div>
            <div id="WS5">
                <div id="container9" style="min-width: 70px; max-width: 100px; height: 70px; margin: 0 auto"></div>
                <div id="hider9" class="hider9" style="min-width: 150px; max-width: 170px; height: 150px; margin: 0px auto; z-index: 1; display: none;"></div>
                <div id="container10" style="min-width: 70px; max-width: 100px; height: 70px; margin: 0 auto"></div>
                <div id="hider10" class="hider10" style="min-width: 150px; max-width: 170px; height: 150px; margin: 0px auto; z-index: 1; display: none;"></div>
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=四楼老化调试" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="4F_temprature5">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="4F_humidity5">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="4F_state5">#</span>
                    </a>
                </div>
            </div>
            <div id="WS6">
                <div id="container11" style="min-width: 70px; max-width: 100px; height: 70px; margin: 0 auto"></div>
                <div id="hider11" class="hider11" style="min-width: 150px; max-width: 170px; height: 150px; margin: 0px auto; z-index: 1; display: none;"></div>
                <div id="container12" style="min-width: 70px; max-width: 100px; height: 70px; margin: 0 auto"></div>
                <div id="hider12" class="hider12" style="min-width: 150px; max-width: 170px; height: 150px; margin: 0px auto; z-index: 1; display: none;"></div>
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=四楼老化调试2号" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="4F_temprature6">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="4F_humidity6">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="4F_state6">#</span>
                    </a>
                </div>
            </div>
            <div id="WS7">
                <div id="container13" style="min-width: 70px; max-width: 100px; height: 70px; margin: 0 auto"></div>
                <div id="hider13" class="hider13" style="min-width: 150px; max-width: 170px; height: 150px; margin: 0px auto; z-index: 1; display: none;"></div>
                <div id="container14" style="min-width: 70px; max-width: 100px; height: 70px; margin: 0 auto"></div>
                <div id="hider14" class="hider14" style="min-width: 150px; max-width: 170px; height: 150px; margin: 0px auto; z-index: 1; display: none;"></div>
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=四楼老化调试3号" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="4F_temprature7">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="4F_humidity7">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="4F_state7">#</span>
                    </a>
                </div>
            </div>
            <div id="WS8">
                <div id="container15" style="min-width: 70px; max-width: 100px; height: 70px; margin: 0 auto"></div>
                <div id="hider15" class="hider15" style="min-width: 150px; max-width: 170px; height: 150px; margin: 0px auto; z-index: 1; display: none;"></div>
                <div id="container16" style="min-width: 70px; max-width: 100px; height: 70px; margin: 0 auto"></div>
                <div id="hider16" class="hider16" style="min-width: 150px; max-width: 170px; height: 150px; margin: 0px auto; z-index: 1; display: none;"></div>
                <div style="font-size: 13px;font-weight:bolder;">
                    <a href="~/KongYaHT/KongYa/HTCharts?point=四楼仓库" title="点击查看温湿度详情" target="_blank">
                        <font>温度：</font><font style="background-color:yellow"><span id="4F_temprature8">#</span> °C</font><br />
                        <font>湿度：</font><font style="background-color:yellow"><span id="4F_humidity8">#</span> %RH</font><br />
                        <font>状态：</font><span style="color:white;font-weight:normal" id="4F_state8">#</span>
                    </a>
                </div>
            </div>

        </div>

        <embed src="~/Areas/KongYaHT/image/4s4.svg">

        <div style="font-size:15px">
            根据中华人民共和国国家军用标准GJB 3007A-2009规定，防静电工作区环境条件要求：<br> 1.室温一般维持在
            <span id="GJB1">16℃～28℃</span>范围内，温度变化率小于5℃/h；<br> 2.室内相对湿度保持在
            <span id="GJB2">45%～70%</span>范围内，并不得结露。
        </div>

    </div>
    <input id="f1" value="" type="text" />
    <input id="f2" value="" type="text" />
    <input id="f3" value="" type="text" />
    <input id="f4" value="" type="text" />
    <input id="f5" value="" type="text" />
    <input id="f6" value="" type="text" />
    <input id="f7" value="" type="text" />
    <input id="f8" value="" type="text" />
    <input id="f9" value="" type="text" />
    <input id="f10" value="" type="text" />
    <input id="f11" value="" type="text" />
    <input id="f12" value="" type="text" />
    <input id="f13" value="" type="text" />
    <input id="f14" value="" type="text" />
    <input id="f15" value="" type="text" />
    <input id="f16" value="" type="text" />

    @section scripts {
        <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
        <script src="~/signalr/hubs"></script>
        <script>
            $(function () {
                var mypush = $.connection.Hub4;
                mypush.client.sendTH4 = function (TH4_json) {
                    var TH_40001676_1 = JSON.parse(TH4_json.TH_40001676_1);
                    var TH_40001676_2 = JSON.parse(TH4_json.TH_40001676_2);
                    var TH_40001676_3 = JSON.parse(TH4_json.TH_40001676_3);
                    var TH_40001676_4 = JSON.parse(TH4_json.TH_40001676_4);
                    var TH_40001676_5 = JSON.parse(TH4_json.TH_40001676_5);
                    var TH_40004493_4 = JSON.parse(TH4_json.TH_40004493_4);
                    var TH_40004493_5 = JSON.parse(TH4_json.TH_40004493_5);
                    var TH_40004493_3 = JSON.parse(TH4_json.TH_40004493_3);
                    $("#f1").val(TH_40001676_1.Tem);
                    $("#f2").val(TH_40001676_1.Hum);
                    $("#f3").val(TH_40001676_2.Tem);
                    $("#f4").val(TH_40001676_2.Hum);
                    $("#f5").val(TH_40001676_3.Tem);
                    $("#f6").val(TH_40001676_3.Hum);
                    $("#f7").val(TH_40001676_4.Tem);
                    $("#f8").val(TH_40001676_4.Hum);
                    $("#f9").val(TH_40001676_5.Tem);
                    $("#f10").val(TH_40001676_5.Hum);
                    $("#f11").val(TH_40004493_4.Tem);
                    $("#f12").val(TH_40004493_4.Hum);
                    $("#f13").val(TH_40004493_5.Tem);
                    $("#f14").val(TH_40004493_5.Hum);
                    $("#f15").val(TH_40004493_3.Tem);
                    $("#f16").val(TH_40004493_3.Hum);

                    //4F_点1
                    $("#4F_temprature1").html(TH_40001676_1.Tem);
                    $("#4F_humidity1").html(TH_40001676_1.Hum);
                    if (TH_40001676_1.Tem > 16 && TH_40001676_1.Tem < 28) {
                        if (TH_40001676_1.Hum > 45 && TH_40001676_1.Hum < 70) {
                            $("#4F_state1").html("正常").css("background", "green");
                        } else { $("#4F_state1").html("湿度警报").css("background", "red"); }
                    } else {
                        if (TH_40001676_1.Hum > 45 && TH_40001676_1.Hum < 70) {
                            $("#4F_state1").html("温度警报").css("background", "red");
                        } else { $("#4F_state1").html("温湿度警报").css("background", "red"); }
                    }

                    //4F_点2
                    $("#4F_temprature2").html(TH_40001676_2.Tem);
                    $("#4F_humidity2").html(TH_40001676_2.Hum);
                    if (TH_40001676_2.Tem > 16 && TH_40001676_2.Tem < 28) {
                        if (TH_40001676_2.Hum > 45 && TH_40001676_2.Hum < 70) {
                            $("#4F_state2").html("正常").css("background", "green");
                        } else { $("#4F_state2").html("湿度警报").css("background", "red"); }
                    } else {
                        if (TH_40001676_2.Hum > 45 && TH_40001676_2.Hum < 70) {
                            $("#4F_state2").html("温度警报").css("background", "red");
                        } else { $("#4F_state2").html("温湿度警报").css("background", "red"); }
                    }

                    //4F_点3
                    $("#4F_temprature3").html(TH_40001676_3.Tem);
                    $("#4F_humidity3").html(TH_40001676_3.Hum);
                    if (TH_40001676_3.Tem > 16 && TH_40001676_3.Tem < 28) {
                        if (TH_40001676_3.Hum > 45 && TH_40001676_3.Hum < 70) {
                            $("#4F_state3").html("正常").css("background", "green");
                        } else { $("#4F_state3").html("湿度警报").css("background", "red"); }
                    } else {
                        if (TH_40001676_3.Hum > 45 && TH_40001676_3.Hum < 70) {
                            $("#4F_state3").html("温度警报").css("background", "red");
                        } else { $("#4F_state3").html("温湿度警报").css("background", "red"); }
                    }

                    //4F_点4
                    $("#4F_temprature4").html(TH_40001676_4.Tem);
                    $("#4F_humidity4").html(TH_40001676_4.Hum);
                    if (TH_40001676_4.Tem > 16 && TH_40001676_4.Tem < 28) {
                        if (TH_40001676_4.Hum > 45 && TH_40001676_4.Hum < 70) {
                            $("#4F_state4").html("正常").css("background", "green");
                        } else { $("#4F_state4").html("湿度警报").css("background", "red"); }
                    } else {
                        if (TH_40001676_4.Hum > 45 && TH_40001676_4.Hum < 70) {
                            $("#4F_state4").html("温度警报").css("background", "red");
                        } else { $("#4F_state4").html("温湿度警报").css("background", "red"); }
                    }

                    //4F_点5
                    $("#4F_temprature5").html(TH_40001676_5.Tem);
                    $("#4F_humidity5").html(TH_40001676_5.Hum);
                    if (TH_40001676_5.Tem > 16 && TH_40001676_5.Tem < 28) {
                        if (TH_40001676_5.Hum > 45 && TH_40001676_5.Hum < 70) {
                            $("#4F_state5").html("正常").css("background", "green");
                        } else { $("#4F_state5").html("湿度警报").css("background", "red"); }
                    } else {
                        if (TH_40001676_5.Hum > 45 && TH_40001676_5.Hum < 70) {
                            $("#4F_state5").html("温度警报").css("background", "red");
                        } else { $("#4F_state5").html("温湿度警报").css("background", "red"); }
                    }

                    //4F_点6
                    $("#4F_temprature6").html(TH_40004493_4.Tem);
                    $("#4F_humidity6").html(TH_40004493_4.Hum);
                    if (TH_40004493_4.Tem > 16 && TH_40004493_4.Tem < 28) {
                        if (TH_40004493_4.Hum > 45 && TH_40004493_4.Hum < 70) {
                            $("#4F_state6").html("正常").css("background", "green");
                        } else { $("#4F_state6").html("湿度警报").css("background", "red"); }
                    } else {
                        if (TH_40004493_4.Hum > 45 && TH_40004493_4.Hum < 70) {
                            $("#4F_state6").html("温度警报").css("background", "red");
                        } else { $("#4F_state6").html("温湿度警报").css("background", "red"); }
                    }

                    //4F_点7
                    $("#4F_temprature7").html(TH_40004493_5.Tem);
                    $("#4F_humidity7").html(TH_40004493_5.Hum);
                    if (TH_40004493_5.Tem > 16 && TH_40004493_5.Tem < 28) {
                        if (TH_40004493_5.Hum > 45 && TH_40004493_5.Hum < 70) {
                            $("#4F_state7").html("正常").css("background", "green");
                        } else { $("#4F_state7").html("湿度警报").css("background", "red"); }
                    } else {
                        if (TH_40004493_5.Hum > 45 && TH_40004493_5.Hum < 70) {
                            $("#4F_state7").html("温度警报").css("background", "red");
                        } else { $("#4F_state7").html("温湿度警报").css("background", "red"); }
                    }

                    //4F_点8
                    $("#4F_temprature8").html(TH_40004493_3.Tem);
                    $("#4F_humidity8").html(TH_40004493_3.Hum);
                    if (TH_40004493_3.Tem > 16 && TH_40004493_3.Tem < 28) {
                        if (TH_40004493_3.Hum > 45 && TH_40004493_3.Hum < 70) {
                            $("#4F_state8").html("正常").css("background", "green");
                        } else { $("#4F_state8").html("湿度警报").css("background", "red"); }
                    } else {
                        if (TH_40004493_3.Hum > 45 && TH_40004493_3.Hum < 70) {
                            $("#4F_state8").html("温度警报").css("background", "red");
                        } else { $("#4F_state8").html("温湿度警报").css("background", "red"); }
                    }

                };
                $.connection.hub.start();
            });
        </script>
    }

</body>