@{
    ViewBag.Title = "人事日报表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Scripts/easyui/easyui.css" rel="stylesheet" />
<link href="~/Scripts/easyui/icon.css" rel="stylesheet" />
<script src="~/Scripts/easyui/jquery.easyui.min.js"></script>
<style>
    /*更改表格标题文字大小*/
    .datagrid-header span, .datagrid-cell, .datagrid-cell-group {
        font-size: 12px !important;
    }

    .datagrid-header-row { /* background-color: #e3e3e3; */ /* color: #111 */
    }

    /*//更改表格中单元格行间距*/
    #app .datagrid-btable tr {
    }

    /*//更改表格标题的行间距*/
    .panel-title {
        font-size: 20px;
        color: inherit;
        text-align: center;
        height: 26px;
        font-weight: 500;
    }

    .datagrid-header-row {
        background-color: rgba(252, 213, 180, 0.8);
    }

    /*.datagrid-view1 > .datagrid-body > .datagrid-body-inner > .datagrid-btable > tbody > .datagrid-row td:nth-child(4) {
        background-color: rgba(255, 255, 0, 0.8);
    }*/

    .datagrid-view2 > .datagrid-body > .datagrid-btable > tbody > .datagrid-row td:nth-child(3) {
        background-color: rgba(255, 255, 0, 0.8);
    }

    .datagrid-view2 > .datagrid-body > .datagrid-btable > tbody > .datagrid-row td:nth-child(17) {
        background-color: rgba(255, 255, 0, 0.8);
    }

    .datagrid-view2 > .datagrid-body > .datagrid-btable > tbody > .datagrid-row td:nth-child(18) {
        background-color: rgba(255, 255, 0, 0.8);
    }

    #title {
        border-bottom: 1px solid #95B8E7;
        background: linear-gradient(to bottom,#eff5ff 0,#e0ecff 100%);
        height: 38px;
        padding: 5px;
    }

    .datagrid-row {
        height: 32px;
    }
</style>
<div id="app">
    <br />
    <div id="title" class="text-center" style="">
        <span style="font-size:20px">人事日报</span>
        <span style="float:right;">日期：<input type="date" name="date" v-model="SearchDate" /></span>
    </div>
    <table id="tableData" class="easyui-datagrid" toolbar="#title" style="width:100%;min-width:600px;">
        @*<thead data-options="frozen:true" style="display:none">
                <tr>
                    <th data-options="field:'Department',align:'center'">部门</th>
                    <th data-options="field:'Principal',align:'center'">负责人</th>
                    <th data-options="field:'Aurhorized_personnel',align:'center'">编制</th>
                    <th data-options="field:'Need_personnel',align:'center'">刚需<br />人数</th>
                    <th data-options="field:'Employees_personnel',align:'center'">正式<br />人数</th>
                    <th data-options="field:'Workers_personnel',align:'center'">劳务<br />工人数</th>
                </tr>
            </thead>
            <thead style="display:none">
                <tr>
                    <th rowspan="3" data-options="field:'Today_on_board_employees',align:'center'">当日入职<br />正式工人数</th>
                    <th rowspan="3" data-options="field:'Today_on_board_workers',align:'center'">当日入职<br />临时工人数</th>
                    <th rowspan="3" data-options="field:'Huizong',align:'center'">汇总<br />人数</th>
                    <th rowspan="3" data-options="field:'Dangqian_que',align:'center'">当前缺<br />口人数</th>
                    <th rowspan="3" data-options="field:'Interview',align:'center'">预填表人数</th>
                    <th colspan="10" data-options="align:'center'">实际每日<br />入职人数</th>
                    <th rowspan="3" data-options="field:'Week_total',align:'center'">本周入职<br />人数合计</th>
                    <th rowspan="3" data-options="field:'Month_on_board',align:'center'">当月入<br />职人数</th>
                    <th rowspan="3" data-options="field:'Month_dimission',align:'center'">当月离<br />职人数</th>
                    <th rowspan="3" data-options="field:'Resigned_that_month',align:'center'">当月待<br />离职人数</th>
                    <th rowspan="3" data-options="field:'Date',align:'center'">时间</th>
                    <th rowspan="3" data-options="field:'Reporter',align:'center'">上报人</th>
                </tr>
                <tr>
                    <th colspan="2" data-options="align:'center'" class="week"></th>
                    <th colspan="2" data-options="align:'center'" class="week"></th>
                    <th colspan="2" data-options="align:'center'" class="week"></th>
                    <th colspan="2" data-options="align:'center'" class="week"></th>
                    <th colspan="2" data-options="align:'center'" class="week"></th>
                </tr>
                <tr style="text-align:center;">
                    <th data-options="field:'Mon_workers',align:'center'">劳务</th>
                    <th data-options="field:'Mon_employees',align:'center'">正式</th>
                    <th data-options="field:'Tues_workers',align:'center'">劳务</th>
                    <th data-options="field:'Tues_employees',align:'center'">正式</th>
                    <th data-options="field:'Wednes_workers',align:'center'">劳务</th>
                    <th data-options="field:'Wednes_employees',align:'center'">正式</th>
                    <th data-options="field:'Thurs_workers',align:'center'">劳务</th>
                    <th data-options="field:'Thurs_employees',align:'center'">正式</th>
                    <th data-options="field:'Fri_workers',align:'center'">劳务</th>
                    <th data-options="field:'Fri_employees',align:'center'">正式</th>
                </tr>
            </thead>*@
    </table>
</div>
<script type="text/javascript">
    var app = new Vue({
        el: "#app",
        data: {
            SearchDate: "",
        },
        created: function () {
            //日期格式化
            Date.prototype.Format = function (fmt) {
                var o = {
                    "M+": this.getMonth() + 1, //月份
                    "d+": this.getDate(), //日
                    "H+": this.getHours(), //小时
                    "m+": this.getMinutes(), //分
                    "s+": this.getSeconds(), //秒
                    "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                    "S": this.getMilliseconds() //毫秒
                };
                if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
                for (var k in o)
                    if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
                return fmt;
            };
        },
        mounted: function () {
            this.SearchDate = new Date().Format("yyyy-MM-dd");
            //this.$options.methods.weekdate(selectDate);
            //var weekDataJson = JSON.parse($("#viewbagjson").val());
            //$(".rowdata").each(function (index, val) {
            //    var department = $(this).children("td")[0].innerText;
            //    for (var i in weekDataJson) {
            //        var weekDataArray = JSON.parse(weekDataJson[i])
            //        if (i == department) {
            //            $(this).children(".coldata").each(function (index, val) {
            //                $(this).text(weekDataArray[index] == 0 ? "" : weekDataArray[index])
            //            });
            //        };
            //    };
            //});
            //$(".totaldata").each(function (index) {
            //    var totalDataArray = JSON.parse(weekDataJson.合计);
            //    $(this).text(totalDataArray[index]);
            //});
            //$(".week").each(function (index) {
            //    var dateDataArray = JSON.parse(weekDataJson.日期);
            //    $(this).text(dateDataArray[index].split('年')[1]);
            //});
            //$(".zerodata").each(function (index, val) {
            //    $(this).text($(this).text() == 0 ? "" : $(this).text());
            //});
        },
        updated: function () {
            this.$nextTick(function () {
                //此处填每次渲染完后执行的代码
            });
        },
        watch: {
            SearchDate: function (selectDate) {
                if (selectDate != "") {
                    this.$options.methods.weekdate(selectDate);
                    this.$options.methods.postJson(selectDate);
                }
            }
        },
        methods: {
            weekdate: function (selectDate) {
                var dt = new Date(selectDate);
                var selectTime = dt.getTime();
                var weekDay = dt.getDay();
                var oneDayTime = 24 * 60 * 60 * 1000;
                $(".week").each(function (index) {
                    if (weekDay == 0) {
                        var weekTime = new Date(selectTime - ((6 - index) * oneDayTime));//周
                        $(this).text((weekTime.getMonth() + 1) + "月" + weekTime.getDate() + "日");
                        $('#dg').datagrid('reload');
                    } else {
                        var weekTime = new Date(selectTime - (weekDay - 1 - index) * oneDayTime);//周
                        $(this).text((weekTime.getMonth() + 1) + "月" + weekTime.getDate() + "日")
                        $('#dg').datagrid('reload');
                    };
                });
            },
            postJson: function (selectDate) {
                $.ajax({
                    url: "/Personnel/getjsondata",
                    type: "post",
                    dataType: "json",
                    data: {
                        date: selectDate
                    },
                    success: function (returnVal) {
                        console.log(returnVal)
                        var data = {
                            total: 28,
                            rows: returnVal
                        }
                        $('#tableData').datagrid('loadData', data);
                    },
                    error: function (err) {
                        alert("读取日期“" + selectDate + "”数据失败");
                    }
                });
            }
        }
    });
    $(function () {
        $('#tableData').datagrid({
            singleSelect: true,
            collapsible: true,
            nowrap: false,
            striped: true,
            frozenColumns: [[
                { field: 'Department', title: '部门', align: 'center', width: 81 },
                { field: 'Principal', title: '负责人', align: 'center', width: 45 },
                { field: 'Aurhorized_personnel', title: '编制', align: 'center', width: 32 },
                {
                    field: 'Need_personnel', title: '刚需<br />人数', align: 'center', width: 32,
                    formatter: function (value, row, index) {
                        if (row.user) {
                            return row.user.name;
                        } else {
                            return value;
                        }
                    },
                    styler: function (value, row, index) {
                        return 'background-color: rgba(255, 255, 0, 0.8);'
                        if (value < 20) {
                            //return 'background-color:#ffee00;color:red;';
                            // the function can return predefined css class and inline style
                            // return {class:'c1',style:'color:red'}
                        }
                    }
                },
                { field: 'Employees_personnel', title: '正式<br />人数', align: 'center', width: 32 },
                { field: 'Workers_personnel', title: '劳务<br />工人数', align: 'center', width: 42 }
            ]],
            columns: [[
                { field: 'Today_on_board_employees', title: '当日入职<br />正式工人数', align: 'center', rowspan: 3, width: 68 },
                { field: 'Today_on_board_workers', title: '当日入职<br />临时工人数', align: 'center', rowspan: 3, width: 68 },
                { field: 'Huizong', title: '汇总<br />人数', align: 'center', rowspan: 3, width: 32 },
                { field: 'Dangqian_que', title: '当前<br />缺口人数', align: 'center', rowspan: 3, width: 56 },
                { field: 'Interview', title: '预填表<br />人数', align: 'center', rowspan: 3, width: 42 },
                { title: '实际每日<br />入职人数', colspan: 10, },
                { field: 'Week_total', title: '本周入职<br />人数合计', align: 'center', rowspan: 3, width: 56 },
                { field: 'Month_on_board', title: '当月<br />入职人数', align: 'center', rowspan: 3, width: 56 },
                { field: 'Month_dimission', title: '当月<br />离职人数', align: 'center', rowspan: 3, width: 56 },
                { field: 'Resigned_that_month', title: '当月<br />待离职人数', align: 'center', rowspan: 3, width: 68 },
                { field: 'Date', title: '时间', align: 'center', rowspan: 3, width: 80 },
                { field: 'Reporter', title: '上报人', align: 'center', rowspan: 3, width: 45 },
            ], [
                { title: '', colspan: 2, align: 'center' },
                { title: '', colspan: 2, align: 'center' },
                { title: '', colspan: 2, align: 'center' },
                { title: '', colspan: 2, align: 'center' },
                { title: '', colspan: 2, align: 'center' },
            ], [
                { field: 'Mon_workers', title: '劳务', align: 'center', width: 32 },
                { field: 'Mon_employees', title: '正式', align: 'center', width: 32 },
                { field: 'Tues_workers', title: '劳务', align: 'center', width: 32 },
                { field: 'Tues_employees', title: '正式', align: 'center', width: 32 },
                { field: 'Wednes_workers', title: '劳务', align: 'center', width: 32 },
                { field: 'Wednes_employees', title: '正式', align: 'center', width: 32 },
                { field: 'Thurs_workers', title: '劳务', align: 'center', width: 32 },
                { field: 'Thurs_employees', title: '正式', align: 'center', width: 32 },
                { field: 'Fri_workers', title: '劳务', align: 'center', width: 32 },
                { field: 'Fri_employees', title: '正式', align: 'center', width: 32 },
            ]]
            //columns: [[
            //    {
            //        field: 'time', title: '', align: 'center', width: 250,
            //        formatter: function (value, row, index) {
            //            return '<span style="font-size:20px">' + value + '</span>';//改变表格中内容字体的大小
            //        }
            //    }
            //]]
            //columns: [[
            //    { title: '一组', colspan: 3 },
            //    {
            //        field: 'opt', title: 'Operation', width: 100, align: 'center', rowspan: 2,
            //        formatter: function (value, rec) {
            //            return '<span style="color:red">Edit Delete</span>';
            //        }
            //    },
            //    { title: '二组', colspan: 3 }
            //], [
            //    { field: 'name', title: 'Name', width: 120, rowspan: 1 },
            //    {
            //        field: 'addr', title: 'Address', width: 220, rowspan: 1, sortable: true,
            //        sorter: function (a, b) {
            //            return (a > b ? 1 : -1);
            //        }
            //    },
            //    { field: 'col4', title: 'Col41', width: 150, rowspan: 1 },
            //        { field: 'name1', title: 'Name1', width: 120, rowspan: 1 },
            //    {
            //        field: 'addr1', title: 'Address1', width: 220, rowspan: 1, sortable: true,
            //        sorter: function (a, b) {
            //            return (a > b ? 1 : -1);
            //        }
            //    },
            //    { field: 'col41', title: 'Col411', width: 150, rowspan: 1 }
            //]]
        });
    });
</script>