@{
    ViewBag.Title = "查看模组号使用情况";
}
<link href="~/Content/styleFile/packaging/index.css" rel="stylesheet" />
<script src="~/Content/styleFile/packaging/index.js"></script>
<link href="~/Content/styleFile/packaging/stockStyle.css" rel="stylesheet" />
<style>
    .grid-card {
        margin-bottom: 10px;
    }

    .el-card {
        border: 1px solid #9C9791;
    }

    .el-main, .el-aside {
        padding: 8px 15px;
    }

    .el-main {
        min-height: 0;
    }

    .el-header {
        padding: 0 15px;
        height: auto !important;
    }

    .el-card__header {
        text-align: center;
        border-bottom: 1px solid #9C9791;
        padding: 8px 15px;
    }

    .cardbody {
        border: 1px solid #D2CFCF;
        margin: -1px;
    }

    .el-card__body {
        height: 250px;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 0px;
    }

    .cardbody-right {
        padding: 5px;
        text-align: center
    }

    .cardbody-left {
        padding: 5px 0px;
        border-right: 1px solid #D2CFCF;
        text-align: center;
        vertical-align: middle;
        align-items: center;
        justify-content: center;
    }

    .el-divider--horizontal {
        margin: 5px 0;
    }
</style>
<div id="app" v-cloak>
    <el-container>
        <el-header class="text-center">
            <div v-show="screenSize>=768">
                <h2 class="text-center">@ViewBag.Title</h2>
            </div>
            <div v-show="screenSize<768">
                <h3>@ViewBag.Title</h3>
            </div>
        </el-header>
        <el-main v-loading="loading">
            <el-row :gutter="10">
                <template v-for="item in jsonList">
                    <el-col :xs="24" :sm="12" :md="8" :lg="6" :xl="6">
                        <el-card shadow="hover" class="grid-card">
                            <div slot="header">
                                <span>{{'订单:'+item.ordernum+' 模组号使用情况'}}</span>
                            </div>
                            <el-container class="cardbody">
                                <el-aside style="width:80px;" class="cardbody-left">
                                    <div>未使用</div>
                                    <el-divider></el-divider>
                                    <div v-for="notuser in item.notuser">
                                        {{notuser}}
                                    </div>
                                </el-aside>
                                <el-main class="cardbody-right">
                                    <div>已使用（条码号：模组号）</div>
                                    <el-divider></el-divider>
                                    <template v-for="user in item.user">
                                        <div>{{user}}</div>
                                    </template>
                                </el-main>
                            </el-container>
                        </el-card>
                    </el-col>
                </template>
            </el-row>
        </el-main>
    </el-container>
</div>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            screenSize: document.body.clientWidth,
            loading: false,
            jsonList: []
        },
        created: function () {
            window.onresize = function () {
                app.screenSize = document.body.clientWidth;
            };
        },
        mounted: function () {
            axios.post('/Packagings/DiaplayMuduleUserMessage').then(res => {
                //console.log(res.data)
                this.jsonList = res.data;
            }).catch(err => {
                console.warn("获取数据失败")
            });
        }
    });
</script>